Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  # Basic file checks (run on all files)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
        files: \.(py|js|ts)$
      - id: mixed-line-ending
        args: ['--fix=lf']
      # Additional checks from suggestions
      - id: check-docstring-first
        files: \.py$
      - id: check-executables-have-shebangs
      - id: check-case-conflict

  # Python code formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter - only on Python directories
      - id: ruff
        args: [--fix]
        files: ^(src/|tests/|scripts/|migrations/|sdks/python/).*\.py$
      # Formatter - only on Python directories
      - id: ruff-format
        files: ^(src/|tests/|scripts/|migrations/|sdks/python/).*\.py$

  # Security checks - only on main src code (not tests/scripts)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ['-r']
        files: ^(src/|sdks/python/src/).*\.py$

  # Local hooks using your uv environment
  - repo: local
    hooks:
      # TypeScript linting with biome
      - id: biome-check
        name: biome check and format
        entry: bash -c 'cd sdks/typescript && bun run lint:fix'
        language: system
        files: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
        pass_filenames: false

      # Type checking with basedpyright - only on main Python code
      - id: basedpyright
        name: basedpyright
        entry: uv run basedpyright
        language: system
        files: ^(src/|tests/|sdks/python/|scripts/).*\.py$
        require_serial: true
        pass_filenames: false

      # Run main application tests
      - id: pytest-main
        name: pytest (main app)
        entry: uv run pytest tests/
        language: system
        files: ^(src/|tests/).*\.py$
        stages: [pre-push]
        pass_filenames: false

      # Run Python SDK tests (if they exist)
      - id: pytest-python-sdk
        name: pytest (Python SDK)
        entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
        language: system
        files: ^sdks/python/.*\.py$
        stages: [pre-push]
        pass_filenames: false

      # TypeScript build/test with bun
      - id: typescript-check
        name: TypeScript build and test
        entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
        language: system
        files: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
        stages: [pre-push]
        pass_filenames: false

      # TypeScript type checking with bun
      - id: typescript-typecheck
        name: TypeScript type check
        entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run typecheck; fi'
        language: system
        files: ^sdks/typescript/.*\.(ts|tsx)$
        pass_filenames: false

  # Documentation linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: ['--fix']
        files: \.(md|mdx)$

  # Commit message linting
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.13.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

chore: update version
  sdks/python/pyproject.toml
  sdks/typescript/package.json
  uv.lock
Due: biome-check, typescript-check

fix: cleanup, coderabbit, wrap delete op in try/except
  sdks/python/src/honcho/async_client/client.py
  sdks/python/src/honcho/client.py
  sdks/typescript/src/client.ts
  src/crud/session.py
  src/crud/webhook.py
  src/crud/workspace.py
  src/routers/messages.py
  src/routers/sessions.py
  tests/bench/longmem.py
  tests/crud/test_workspace.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

Misc: bug fixes, multi-db test harness, DELETE workspace (#230)
  sdks/python/pyproject.toml
  sdks/python/src/honcho/async_client/client.py
  sdks/python/src/honcho/client.py
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  sdks/typescript/src/client.ts
  src/crud/__init__.py
  src/crud/peer.py
  src/crud/representation.py
  src/crud/session.py
  src/crud/webhook.py
  src/crud/workspace.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/dialectic/chat.py
  src/dialectic/prompts.py
  src/embedding_client.py
  src/routers/messages.py
  src/routers/sessions.py
  src/routers/workspaces.py
  src/utils/clients.py
  src/utils/logging.py
  src/utils/summarizer.py
  src/webhooks/webhook_delivery.py
  tests/bench/harness.py
  tests/bench/longmem.py
  tests/conftest.py
  tests/crud/test_workspace.py
  tests/routes/test_workspaces.py
  tests/utils/test_clients.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

feat: Release PR for v2.4.0 (#229)
  .github/workflows/fly-deploy-prod.yml
  .github/workflows/fly-deploy.yml
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v2/api-reference/endpoint/metrics.mdx
  docs/v2/openapi.documented.json
  docs/v2/openapi.documented.yml
  pyproject.toml
  sdks/python/CHANGELOG.md
  sdks/python/src/honcho/__init__.py
  sdks/typescript/CHANGELOG.md
  sdks/typescript/__tests__/session_context.test.ts
  src/main.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

chore: Update Docs
  docs/docs.json
  docs/v2/api-reference/endpoint/workspaces/delete-workspace.mdx
  docs/v2/openapi.documented.json
  docs/v2/openapi.documented.yml
Due: none

chore: Changelog Updates
  CHANGELOG.md
  docs/changelog/introduction.mdx
  sdks/python/CHANGELOG.md
  sdks/typescript/CHANGELOG.md
Due: none

fix: [hotfix] return schemas, not models
  src/routers/sessions.py
  tests/bench/longmem.py
Due: basedpyright, pytest-main

fix: properly handle documents with very old session/peer setups from previous versions of internal_metadata
  migrations/versions/08894082221a_replace_collection_name_with_observer_.py
Due: none

fix: properly handle documents with very old session/peer setups from previous versions of internal_metadata (#233)
  migrations/versions/08894082221a_replace_collection_name_with_observer_.py
Due: none

fix: add is_active to generated sessions
  migrations/versions/08894082221a_replace_collection_name_with_observer_.py
Due: none

feat: fix race condition in message sequence batching
  migrations/versions/bb6fb3a7a643_add_message_seq_in_session_column.py
  src/crud/message.py
  src/crud/session.py
  src/deriver/enqueue.py
  src/models.py
  src/routers/messages.py
  tests/crud/test_workspace.py
  tests/deriver/conftest.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_queue_processing.py
  tests/integration/test_enqueue.py
  tests/routes/test_messages.py
Due: basedpyright, pytest-main

fix: remove default max_distance from get_working_rep, get token count from gemini client properly, log summaries better
  src/crud/representation.py
  src/utils/clients.py
  src/utils/summarizer.py
Due: basedpyright, pytest-main

fix: defensively get message public id (new field)
  src/utils/summarizer.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

fix: add defensive check to to_schema_summary
  src/utils/summarizer.py
Due: basedpyright, pytest-main

fix: defensively get summary, better summary logging, gemini client token count (#236)
  src/crud/representation.py
  src/utils/clients.py
  src/utils/summarizer.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

fix: CodeRabbit comments; commit early to release the advisory lock before generating embeddings
  src/crud/message.py
  tests/deriver/test_deriver_processing.py
Due: basedpyright, pytest-main

fix: use index + rm unused method
  src/crud/__init__.py
  src/crud/message.py
Due: basedpyright, pytest-main

feat: init redis cache
  .cursor/commands/metrics.md
  config.toml.example
  pyproject.toml
  src/cache/__init__.py
  src/config.py
  src/deriver/queue_manager.py
  src/main.py
  uv.lock
Due: basedpyright, pytest-main

feat: initialize redis client
  src/cache/__init__.py
  src/cache/client.py
  src/cache/model_cache.py
  src/crud/peer.py
  src/crud/session.py
  src/crud/workspace.py
  src/deriver/queue_manager.py
  src/main.py
Due: basedpyright, pytest-main

fix: add fakeredis client
  pyproject.toml
  src/cache/model_cache.py
  src/config.py
  src/crud/peer.py
  src/crud/peer_card.py
  src/crud/session.py
  src/crud/workspace.py
  src/prometheus.py
  tests/conftest.py
  uv.lock
Due: basedpyright, pytest-main

fix: update docker compose
  docker-compose.yml.example
Due: none

fix: PR comments
  migrations/versions/bb6fb3a7a643_add_message_seq_in_session_column.py
  src/crud/message.py
  src/crud/session.py
  src/deriver/enqueue.py
  src/models.py
  src/routers/messages.py
  tests/crud/test_workspace.py
  tests/deriver/conftest.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_queue_processing.py
  tests/integration/test_enqueue.py
  tests/routes/test_messages.py
Due: basedpyright, pytest-main

fix: various coderabbit comments
  .env.template
  config.toml.example
  pyproject.toml
  src/cache/__init__.py
  src/cache/client.py
  src/cache/constants.py
  src/cache/model_cache.py
  src/config.py
  src/crud/peer.py
  src/crud/workspace.py
  src/deriver/queue_manager.py
  src/main.py
  tests/conftest.py
  uv.lock
Due: basedpyright, pytest-main

fix: update docker-compose.yml.example
  docker-compose.yml.example
Due: none

fix: bug in lock timeout
  migrations/versions/bb6fb3a7a643_add_message_seq_in_session_column.py
  src/crud/message.py
Due: basedpyright, pytest-main

fix: CR comments 2
  docker-compose.yml.example
  pyproject.toml
  src/crud/workspace.py
  uv.lock
Due: basedpyright, pytest-main

feat: introducer migration verification checks
  migrations/README
  migrations/env.py
  migrations/script.py.mako
  migrations/verification.py
Due: none

feat: filter validation error from sentry. centralize config
  src/deriver/queue_manager.py
  src/main.py
  src/sentry.py
Due: basedpyright, pytest-main

fix: add integration type
  src/sentry.py
Due: basedpyright, pytest-main

fix: filter out fastapi validation error from sentry
  src/sentry.py
Due: basedpyright, pytest-main

fix: add log for sentry filters for debugging
  src/sentry.py
Due: basedpyright, pytest-main

fix: keep internal validation errors
  src/main.py
  src/sentry.py
Due: basedpyright, pytest-main

Update src/sentry.py
  src/sentry.py
Due: basedpyright, pytest-main

fix: WIP Restructure
  docs/docs.json
  docs/images/overview/honcho-overview-dark.svg
  docs/images/overview/honcho-overview-light.png
  docs/images/overview/honcho-overview-light.svg
  docs/images/overview/honcho-overview-no-background.png
  docs/images/overview/honcho-overview.svg
  docs/snippets/overview-shields.mdx
  docs/v2/documentation/core-concepts/configuration.mdx
  docs/v2/documentation/core-concepts/features/dialectic-endpoint.mdx
  docs/v2/documentation/core-concepts/features/file-uploads.mdx
  docs/v2/documentation/core-concepts/features/get-context.mdx
  docs/v2/documentation/core-concepts/features/search.mdx
  docs/v2/documentation/core-concepts/features/streaming-response.mdx
  docs/v2/documentation/core-concepts/features/using-filters.mdx
  docs/v2/documentation/core-concepts/features/working-rep.mdx
  docs/v2/documentation/introduction/overview.mdx
  docs/v2/guides/overview.mdx
Due: none

fix: move verification to tests/alembic
  migrations/README
  migrations/env.py
  migrations/script.py.mako
  migrations/verification.py
  pyproject.toml
  uv.lock
Due: none

feat: add verification steps for all alembic migrations
  migrations/versions/08894082221a_replace_collection_name_with_observer_.py
  migrations/versions/d429de0e5338_adopt_peer_paradigm.py
  src/models.py
  tests/alembic/__init__.py
  tests/alembic/conftest.py
  tests/alembic/constants.py
  tests/alembic/registry.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_05486ce795d5_make_session_name_required_on_messages.py
  tests/alembic/revisions/test_08894082221a_replace_collection_name_with_observer_.py
  tests/alembic/revisions/test_20f89a421aff_rename_metamessage_type_to_label.py
  tests/alembic/revisions/test_556a16564f50_add_user_id_and_app_id_to_tables.py
  tests/alembic/revisions/test_564ba40505c5_add_session_name_column_to_documents.py
  tests/alembic/revisions/test_66e63cf2cf77_add_indexes_to_documents_table.py
  tests/alembic/revisions/test_76ffba56fe8c_add_error_field_to_queueitem.py
  tests/alembic/revisions/test_88b0fb10906f_add_webhooks_table.py
  tests/alembic/revisions/test_917195d9b5e9_add_messageembedding_table.py
  tests/alembic/revisions/test_a1b2c3d4e5f6_initial_schema.py
  tests/alembic/revisions/test_b765d82110bd_change_metamessages_to_user_level_with_.py
  tests/alembic/revisions/test_c3828084f472_add_indexes_for_messages_and_.py
  tests/alembic/revisions/test_d429de0e5338_adopt_peer_paradigm.py
  tests/alembic/test_pipeline.py
  tests/alembic/verifier.py
Due: basedpyright, pytest-main

fix: docs introduction section
  docs/v2/documentation/core-concepts/configuration.mdx
  docs/v2/documentation/introduction/overview.mdx
  docs/v2/documentation/introduction/quickstart.mdx
  docs/v2/documentation/introduction/vibecoding.mdx
Due: none

fix: patch tracked_db for peers route within conftest.py
  tests/conftest.py
  tests/routes/test_peers.py
Due: basedpyright, pytest-main

feat: local trace making for deriver
  src/deriver/deriver.py
  src/utils/clients.py
  src/utils/metrics_collector.py
  tests/bench/longmem.py
Due: basedpyright, pytest-main

feat: fix race condition in message sequence batching (#235)
  migrations/versions/bb6fb3a7a643_add_message_seq_in_session_column.py
  src/crud/__init__.py
  src/crud/message.py
  src/crud/session.py
  src/deriver/enqueue.py
  src/models.py
  src/routers/messages.py
  tests/conftest.py
  tests/crud/test_workspace.py
  tests/deriver/conftest.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_queue_processing.py
  tests/integration/test_enqueue.py
  tests/routes/test_messages.py
  tests/routes/test_peers.py
Due: basedpyright, pytest-main
