Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

feat(llm): drop per-attempt LLM outage events from Sentry's SDK integrations (#1242)
  src/telemetry/sentry.py
  tests/telemetry/test_sentry_before_send.py
Due: basedpyright, pytest-main

chore: add changelog and version updates
  .env.template
  CHANGELOG.md
  README.md
  config.toml.example
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v3/openapi.json
  mcp/CHANGELOG.md
  mcp/package.json
  mcp/server.json
  pyproject.toml
  uv.lock
Due: none

docs(mcp): move scope read options entry from 0.1.1 to 3.0.2
  mcp/CHANGELOG.md
Due: none

review: attribute reconciler re-embeds, keep the Sentry tag for the error handler, gate the untenanted zero-init
  CLAUDE.md
  src/reconciler/sync_vectors.py
  src/security.py
  src/telemetry/emitter.py
  src/telemetry/prometheus/metrics.py
  tests/deriver/test_vector_reconciliation.py
  tests/telemetry/test_metric_zero_init.py
  tests/telemetry/test_tenant_identity.py
Due: basedpyright, pytest-main

feat(a8): resolve the vector namespace prefix per tenant, not per process
  scripts/configure_embeddings.py
  src/crud/document.py
  src/crud/message.py
  src/crud/session.py
  src/crud/workspace.py
  src/deriver/scope_backfill.py
  src/reconciler/embed_now.py
  src/reconciler/sync_vectors.py
  src/startup/embedding_validator.py
  src/utils/search.py
  src/vector_store/__init__.py
  src/vector_store/tenant_namespace.py
Due: basedpyright, pytest-main

test(a8): vector namespace isolation receipts
  tests/conftest.py
  tests/crud/test_workspace.py
  tests/deriver/test_vector_reconciliation.py
  tests/startup/test_embedding_validator.py
  tests/vector_store/test_tenant_namespace.py
Due: basedpyright, pytest-main

docs(a8): CLAUDE.md — the per-tenant vector namespace contract
  CLAUDE.md
Due: none

review: give a missing namespace key its own exception, and contain it per row
  CLAUDE.md
  src/crud/document.py
  src/exceptions.py
  src/reconciler/embed_now.py
  src/reconciler/sync_vectors.py
  src/vector_store/tenant_namespace.py
  tests/conftest.py
  tests/crud/test_session.py
  tests/crud/test_workspace.py
  tests/deriver/test_vector_reconciliation.py
  tests/vector_store/test_tenant_namespace.py
Due: basedpyright, pytest-main

fix(a8): read the tenant's namespace key inside the service_db block
  src/vector_store/tenant_namespace.py
Due: basedpyright, pytest-main

test(a8): adapt A7's re-embed attribution tests to the async, per-tenant namespace
  tests/deriver/test_vector_reconciliation.py
Due: basedpyright, pytest-main

chore: add changelog and version updates (#1259)
  .env.template
  CHANGELOG.md
  README.md
  config.toml.example
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v3/openapi.json
  mcp/CHANGELOG.md
  mcp/package.json
  mcp/server.json
  pyproject.toml
  uv.lock
Due: none

fix: mark permanent embedding validation failures immediately
  src/reconciler/sync_vectors.py
Due: basedpyright, pytest-main

fix: isolate per-text embedding failures in reconciler
  src/reconciler/sync_vectors.py
Due: basedpyright, pytest-main

fix(reconciler): release DB session before embedding in message sync
  src/reconciler/sync_vectors.py
  tests/deriver/test_vector_reconciliation.py
Due: basedpyright, pytest-main

review: ground A8's prefix cache on set-once, and add the no-eviction receipt
  src/vector_store/tenant_namespace.py
  tests/vector_store/test_tenant_namespace.py
Due: basedpyright, pytest-main

fix(mcp): add explicit read only false hints to tools
  mcp/src/server.test.ts
  mcp/src/tools/conclusions.ts
  mcp/src/tools/peers.ts
  mcp/src/tools/scopes.ts
  mcp/src/tools/sessions.ts
  mcp/src/tools/system.ts
  mcp/src/tools/workspace.ts
Due: none

fix(mcp): add explicit read only false hints to tools (#1262)
  mcp/src/server.test.ts
  mcp/src/tools/conclusions.ts
  mcp/src/tools/peers.ts
  mcp/src/tools/scopes.ts
  mcp/src/tools/sessions.ts
  mcp/src/tools/system.ts
  mcp/src/tools/workspace.ts
Due: none

fix(deriver): drop few-shot facts from the prompt and schema, state rules that match the action judge
  src/deriver/prompts.py
  src/utils/representation.py
  tests/conftest.py
  tests/deriver/test_prompts.py
Due: basedpyright, pytest-main

fix(deriver): drop few-shot facts from the prompt and schema, state rules that match the action judge (#1263)
  src/deriver/prompts.py
  src/utils/representation.py
  tests/conftest.py
  tests/deriver/test_prompts.py
Due: basedpyright, pytest-main

fix(search_messages): truncate at whole-snippet boundaries and surface the signal
  src/utils/agent_tools.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

fix(search_messages): size the omission-notice reserve per retained prefix
  src/utils/agent_tools.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

feat: add ChromaDB vector store backend (#868)
  .env.template
  config.toml.example
  docs/v3/contributing/changing-embeddings.mdx
  docs/v3/contributing/configuration.mdx
  pyproject.toml
  src/config.py
  src/startup/embedding_validator.py
  src/vector_store/__init__.py
  src/vector_store/chroma.py
  tests/crud/test_deriver_metrics_query.py
  tests/startup/test_embedding_validator.py
  tests/vector_store/conftest.py
  tests/vector_store/test_chroma.py
  tests/vector_store/test_chroma_config.py
  tests/vector_store/test_chroma_dependency.py
  tests/vector_store/test_chroma_http.py
  tests/vector_store/test_namespace_dim_probes.py
  uv.lock
Due: basedpyright, pytest-main

fix(deps): bump starlette, python-multipart, anyio, idna in uv.lock
  uv.lock
Due: none

ci: fail PRs whose migrations create a second alembic head
  .github/workflows/staticanalysis.yml
  .pre-commit-config.yaml
  scripts/check_alembic_heads.py
  tests/scripts/test_check_alembic_heads.py
Due: basedpyright, pytest-main

feat(migrations): serialize migrators with an advisory lock and retry on lock_timeout
  .env.template
  README.md
  config.toml.example
  docs/v3/contributing/configuration.mdx
  docs/v3/contributing/self-hosting.mdx
  migrations/env.py
  scripts/migrate_db.py
  scripts/provision_db.py
  src/config.py
  src/db.py
  src/migrate.py
  tests/alembic/test_migration_lock.py
Due: basedpyright, pytest-main, pytest-alembic

fix(tests): stop masking the DB password when building test engines
  tests/alembic/conftest.py
  tests/conftest.py
Due: basedpyright, pytest-main, pytest-alembic

ci: fail PRs whose migrations create a second alembic head (#1267)
  .github/workflows/staticanalysis.yml
  .pre-commit-config.yaml
  scripts/check_alembic_heads.py
  tests/scripts/test_check_alembic_heads.py
Due: basedpyright, pytest-main

fix(mcp): declare destructive and open-world hints on every tool (DEV-2963)
  mcp/src/server.test.ts
  mcp/src/tools/conclusions.ts
  mcp/src/tools/peers.ts
  mcp/src/tools/scopes.ts
  mcp/src/tools/sessions.ts
  mcp/src/tools/system.ts
  mcp/src/tools/workspace.ts
Due: none

feat(mcp): serve the OpenAI plugin domain challenge from the Worker (DEV-2963)
  mcp/src/config.ts
  mcp/src/index.ts
Due: none

feat(mcp): add the OpenAI plugin package for ChatGPT, Codex and dots (DEV-2963)
  mcp/plugin/README.md
  mcp/plugin/assets/logo.svg
  mcp/plugin/mcp.json
  mcp/plugin/plugin.json
Due: none

fix(migrations): namespace the lock key and commit between session lock polls
  src/migrate.py
  tests/alembic/test_migration_lock.py
Due: basedpyright, pytest-main, pytest-alembic

fix(tests): stop masking the DB password when building test engines (#1269)
  tests/alembic/conftest.py
  tests/conftest.py
Due: basedpyright, pytest-main, pytest-alembic

feat(migrations): add migration entrypoint and lock on migration (#1268)
  .env.template
  README.md
  config.toml.example
  docs/v3/contributing/configuration.mdx
  docs/v3/contributing/self-hosting.mdx
  migrations/env.py
  scripts/migrate_db.py
  scripts/provision_db.py
  src/config.py
  src/db.py
  src/migrate.py
  tests/alembic/test_migration_lock.py
Due: basedpyright, pytest-main, pytest-alembic

show the peer id in the subject instruction
  src/deriver/prompts.py
  tests/deriver/test_prompts.py
Due: basedpyright, pytest-main

show the peer id in the subject instruction (#1273)
  src/deriver/prompts.py
  tests/deriver/test_prompts.py
Due: basedpyright, pytest-main

docs: backfill 3.2.2 and MCP changelog entries
  CHANGELOG.md
  docs/changelog/introduction.mdx
  mcp/CHANGELOG.md
Due: none

docs: backfill 3.2.2 and MCP changelog entries (#1274)
  CHANGELOG.md
  docs/changelog/introduction.mdx
  mcp/CHANGELOG.md
Due: none

track with langfuse
  CLAUDE.md
  src/dreamer/specialists.py
  src/llm/api.py
  src/llm/capture.py
  src/llm/runtime.py
  src/llm/tool_loop.py
  src/llm/types.py
  src/telemetry/langfuse_exporter.py
  src/utils/agent_tools.py
  tests/llm/test_tool_loop_run_fallback.py
  tests/telemetry/test_langfuse_exporter.py
Due: basedpyright, pytest-main

feat(reconciler): generic predicate-driven backfill task
  src/deriver/consumer.py
  src/reconciler/backfill.py
  src/reconciler/backfill_document_sources.py
  src/reconciler/scheduler.py
  src/schemas/internal.py
  src/telemetry/events/__init__.py
  src/telemetry/events/reconciliation.py
  src/telemetry/prometheus/metrics.py
  src/utils/queue_payload.py
  tests/conftest.py
  tests/reconciler/test_backfill.py
  tests/reconciler/test_backfill_document_sources.py
  tests/telemetry/test_events.py
  tests/telemetry/test_metric_zero_init.py
Due: basedpyright, pytest-main

fix(typing): alias httpx2 to httpx for starlette's TestClient
  typings/httpx2/__init__.pyi
Due: none
