Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

chore: more tweaks
  src/dialectic/prompts.py
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

fix: only run on main
  .github/workflows/unified-tests.yml
Due: none

fix: force redirect on docs homepage
  docs/docs.json
Due: none

docs: fix blog link in Dialectic endpoint documentation
  docs/v2/documentation/core-concepts/features/dialectic-endpoint.mdx
Due: none

Add explicit benchmark tests
  tests/bench/explicit.py
  tests/bench/explicit_common.py
  tests/bench/explicit_judge.py
Due: basedpyright, pytest-main

Update classic NLP and NLI modules to utilize llm as judge calls instead
  tests/bench/explicit_common.py
  tests/bench/explicit_judge.py
Due: basedpyright, pytest-main

chore: update dashboard overview
  docs/images/app-screenshots/api-playground.png
  docs/v2/documentation/reference/platform.mdx
Due: none

feat: dream with subagents
  migrations/versions/f1a2b3c4d5e6_add_reasoning_tree_columns.py
  pyproject.toml
  src/config.py
  src/crud/__init__.py
  src/crud/document.py
  src/deriver/agent/prompts.py
  src/deriver/enqueue.py
  src/dialectic/core.py
  src/dialectic/prompts.py
  src/dreamer/agent.py
  src/dreamer/clustering.py
  src/dreamer/coordinator.py
  src/dreamer/knowledge_updates.py
  src/dreamer/orchestrator.py
  src/dreamer/prescan.py
  src/dreamer/specialists.py
  src/models.py
  src/routers/workspaces.py
  src/schemas.py
  src/utils/agent_tools.py
  src/utils/clients.py
  src/utils/logging.py
  src/utils/queue_payload.py
  src/utils/representation.py
  src/utils/types.py
  tests/bench/beam.py
  tests/bench/harness.py
  tests/bench/longmem.py
  tests/deriver/test_representation_crud.py
  tests/utils/test_agent_tools.py
  uv.lock
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

fix: links due to other branches
  docs/v2.6.0-alpha/documentation/reference/platform.mdx
  docs/v2.6.0-alpha/documentation/scratch/working-rep.mdx
Due: none

fix: proof
  docs/v2.6.0-alpha/documentation/reference/platform.mdx
Due: none

docs: fix blog link in Dialectic endpoint documentation (#297)
  docs/v2/documentation/core-concepts/features/dialectic-endpoint.mdx
Due: none

fix: make dream trigger override scheduled, play around with dream agents
  src/config.py
  src/deriver/agent/prompts.py
  src/deriver/enqueue.py
  src/dreamer/clustering.py
  src/dreamer/coordinator.py
  src/dreamer/knowledge_updates.py
  src/dreamer/prescan.py
  src/dreamer/specialists.py
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

chore: cleanup deriver
  src/config.py
  src/crud/representation.py
  src/deriver/non_agent/deriver.py
  src/deriver/non_agent/prompts.py
  src/deriver/queue_manager.py
  src/utils/representation.py
Due: basedpyright, pytest-main

chore: cleanup dialectic
  src/dialectic/core.py
  src/dreamer/agent.py
  src/utils/agent_tools.py
  src/utils/logging.py
  src/utils/representation.py
  tests/bench/longmem.py
Due: basedpyright, pytest-main

dashboard overview docs updates (#298)
  docs/docs.json
  docs/images/app-screenshots/api-playground.png
  docs/v2.6.0-alpha/documentation/features/advanced/reasoning-configuration.mdx
  docs/v2.6.0-alpha/documentation/features/advanced/streaming-response.mdx
  docs/v2.6.0-alpha/documentation/features/advanced/summarizer.mdx
  docs/v2.6.0-alpha/documentation/features/get-context.mdx
  docs/v2.6.0-alpha/documentation/reference/platform.mdx
  docs/v2.6.0-alpha/documentation/scratch/working-rep.mdx
  docs/v2/documentation/reference/platform.mdx
Due: none

chore: cleanup orchestrator
  src/config.py
  src/deriver/enqueue.py
  src/deriver/non_agent/deriver.py
  src/dreamer/agent.py
  src/dreamer/clustering.py
  src/dreamer/consolidate.py
  src/dreamer/coordinator.py
  src/dreamer/dreamer.py
  src/dreamer/orchestrator.py
  src/dreamer/prescan.py
  src/dreamer/specialists.py
  src/schemas.py
  src/utils/clients.py
  src/utils/representation.py
  tests/bench/beam.py
  tests/bench/longmem.py
Due: basedpyright, pytest-main

chore: comment out dream stuff, WIPing
  src/dialectic/core.py
  src/dialectic/prompts.py
  src/dreamer/clustering.py
  src/dreamer/orchestrator.py
  src/dreamer/specialists.py
  src/utils/agent_tools.py
  src/utils/representation.py
  src/utils/types.py
Due: basedpyright, pytest-main

Append arceus benchmark
  tests/bench/arceus/.env.example
  tests/bench/arceus/README.md
  tests/bench/arceus/__init__.py
  tests/bench/arceus/airv_augmentation.py
  tests/bench/arceus/code_executor.py
  tests/bench/arceus/code_generation.py
  tests/bench/arceus/cognitive_layers.py
  tests/bench/arceus/config.py
  tests/bench/arceus/docs/ALGORITHM.md
  tests/bench/arceus/docs/ARCEUS_DEVELOPMENT_LOG.md
  tests/bench/arceus/docs/ARCHITECTURE.md
  tests/bench/arceus/docs/CLAUDE.md
  tests/bench/arceus/docs/FEATURES.md
  tests/bench/arceus/docs/FIXES.md
  tests/bench/arceus/docs/QUICK_REFERENCE.md
  tests/bench/arceus/docs/README.md
  tests/bench/arceus/docs/REFACTORING_SUMMARY.md
  tests/bench/arceus/docs/SESSION_TEMPLATE.md
  tests/bench/arceus/docs/USER_GUIDE.md
  tests/bench/arceus/ensemble.py
  tests/bench/arceus/logger.py
  tests/bench/arceus/main.py
  tests/bench/arceus/metrics.py
  tests/bench/arceus/pattern_learning.py
  tests/bench/arceus/prepare_memory.py
  tests/bench/arceus/primitive_discovery.py
  tests/bench/arceus/primitives.py
  tests/bench/arceus/requirements.txt
  tests/bench/arceus/scripts/demo_visualization.py
  tests/bench/arceus/scripts/run_arceus.sh
  tests/bench/arceus/scripts/run_prepare_memory.sh
  tests/bench/arceus/self_play.py
  tests/bench/arceus/solver.py
  tests/bench/arceus/test_time_training.py
  tests/bench/arceus/tests/test_basic.py
  tests/bench/arceus/tests/test_enhancements.py
  tests/bench/arceus/tests/test_honcho_integration.py
  tests/bench/arceus/tests/test_time_training.py
  tests/bench/arceus/tests/test_tui_header.py
  tests/bench/arceus/tui.py
Due: basedpyright, pytest-main

fix: inc temp on retry, typechecking
  src/dreamer/clustering.py
  src/dreamer/orchestrator.py
  src/dreamer/specialists.py
  src/routers/workspaces.py
  src/utils/agent_tools.py
  src/utils/clients.py
  src/utils/representation.py
  tests/bench/obex.py
  tests/deriver/test_representation_crud.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

fix: documents message_ids validation error
  src/dreamer/consolidate.py
  src/utils/representation.py
Due: basedpyright, pytest-main

feat: version bump to 2.5.1
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v2/openapi.json
  pyproject.toml
  src/main.py
  uv.lock
Due: basedpyright, pytest-main

chore: bump core dependencies to 1.8.0
  sdks/python/pyproject.toml
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  uv.lock
Due: biome-check, typescript-check

feat: tweak dreaming
  src/dialectic/core.py
  src/dreamer/clustering.py
  src/dreamer/orchestrator.py
  src/dreamer/prescan.py
  src/dreamer/specialists.py
  src/utils/agent_tools.py
  src/utils/representation.py
  src/utils/types.py
Due: basedpyright, pytest-main

Update explicit bench V2
  tests/bench/.gitignore
  tests/bench/explicit.py
  tests/bench/explicit_common.py
  tests/bench/explicit_judge.py
Due: basedpyright, pytest-main

feat: contradiction obs
  src/dialectic/core.py
  src/dreamer/orchestrator.py
  src/dreamer/specialists.py
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

Update model provider and support multibatch processing
  tests/bench/explicit.py
Due: basedpyright, pytest-main

fix message id range validation error (#300)
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v2/openapi.json
  pyproject.toml
  sdks/python/pyproject.toml
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  src/dreamer/consolidate.py
  src/main.py
  src/utils/representation.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, typescript-check

Update json data format
  tests/bench/explicit.py
Due: basedpyright, pytest-main

Add dream trees
  .env.template
  src/config.py
  src/dreamer/orchestrator.py
  src/dreamer/surprisal.py
  src/dreamer/trees/__init__.py
  src/dreamer/trees/base.py
  src/dreamer/trees/covertree.py
  src/dreamer/trees/graph.py
  src/dreamer/trees/lsh.py
  src/dreamer/trees/prototype.py
  src/dreamer/trees/rptree.py
  src/dreamer/trees/sklearn_wrapper.py
Due: basedpyright, pytest-main

chore: preserve reasoning_details from openrouter in client
  src/utils/clients.py
Due: basedpyright, pytest-main

fix: get_observation_context correct params
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

fix: use correct message id in tool
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

chore: cleanup longmem runner
  tests/bench/longmem_baseline.py
  tests/bench/longmem_common.py
Due: basedpyright, pytest-main

chore: clean up tests, remove dream tests for now as rearchitecting around trees
  tests/conftest.py
  tests/deriver/test_queue_processing.py
  tests/deriver/test_representation_crud.py
  tests/dreamer/__init__.py
  tests/dreamer/test_dream_scheduler.py
  tests/dreamer/test_queue_manager_singleton.py
  tests/integration/test_representation.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

chore: update stainless deps
  sdks/python/pyproject.toml
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  uv.lock
Due: biome-check, typescript-check

chore: bump redis
  pyproject.toml
  uv.lock
Due: none

Update threholding mechanism
  .env.template
  src/config.py
  src/dreamer/orchestrator.py
  src/dreamer/surprisal.py
Due: basedpyright, pytest-main

chore: pre-commit hooks whitespace
  docs/v2.6.0-alpha/documentation/reference/platform.mdx
  docs/v2/documentation/reference/platform.mdx
Due: none
