Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

fix: cleanup existing docker run
  .github/workflows/unified-tests.yml
Due: none

docs: removing deriver ref in toggle-reasoning
  docs/v2/documentation/features/advanced/toggle-reasoning.mdx
Due: none

fix: rm docker db
  .github/workflows/unified-tests.yml
Due: none

fix: add config for vllm, better client
  .env.template
  config.toml.example
  src/config.py
  src/deriver/non_agent/deriver.py
  src/utils/clients.py
Due: basedpyright, pytest-main

chore: clean up clients.py a bit
  src/utils/clients.py
Due: basedpyright, pytest-main

fix: update reasoning, various other tweaks
  docs/images/alice-bob.png
  docs/images/observe_config.png
  docs/v2/documentation/core-concepts/architecture.mdx
  docs/v2/documentation/core-concepts/reasoning.mdx
  docs/v2/documentation/core-concepts/representation.mdx
  docs/v2/documentation/introduction/overview.mdx
  docs/v2/documentation/introduction/quickstart.mdx
Due: none

fix: various tweaks, another plan
  docs/v2/documentation/core-concepts/representation.mdx
  docs/v2/documentation/features/advanced/representation-scopes.mdx
  docs/v2/documentation/features/advanced/toggle-reasoning.mdx
  docs/v2/guides/discord.mdx
  docs/v2/guides/file-uploads.mdx
  docs/v2/guides/overview.mdx
Due: none

fix: another pass, todos
  docs/v2/documentation/core-concepts/architecture.mdx
  docs/v2/documentation/core-concepts/reasoning.mdx
  docs/v2/documentation/core-concepts/representation.mdx
  docs/v2/documentation/features/advanced/overview.mdx
  docs/v2/documentation/features/advanced/queue-status.mdx
  docs/v2/documentation/features/advanced/representation-scopes.mdx
  docs/v2/documentation/features/chat.mdx
  docs/v2/documentation/features/get-context.mdx
  docs/v2/documentation/introduction/overview.mdx
  docs/v2/documentation/introduction/quickstart.mdx
Due: none

fix: use environment secrets in script
  .github/workflows/unified-tests.yml
Due: none

chore: move magic numbers to config, add tests for agent tools
  .env.template
  config.toml.example
  src/config.py
  src/utils/agent_tools.py
  src/utils/clients.py
  tests/conftest.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

fix: wrong mock in dialectic tests, make ToolContext a dataclass
  src/utils/agent_tools.py
  tests/conftest.py
Due: basedpyright, pytest-main

fix: add s3 upload for unified tests
  .github/workflows/unified-tests.yml
  pyproject.toml
  tests/unified/runner.py
  uv.lock
Due: basedpyright, pytest-main

fix: don't fail step on test failure
  tests/unified/runner.py
Due: basedpyright, pytest-main

fix conditional
  tests/unified/runner.py
Due: basedpyright, pytest-main

fix: discord
  .github/workflows/unified-tests.yml
  tests/unified/runner.py
Due: basedpyright, pytest-main

fix: use IAM Role in test
  .github/workflows/unified-tests.yml
  tests/unified/runner.py
Due: basedpyright, pytest-main

fix: switch arn
  .github/workflows/unified-tests.yml
Due: none

fix: no local vs global
  docs/v2/documentation/features/advanced/representation-scopes.mdx
Due: none

attempt send url in discord
  .github/workflows/README.md
  tests/unified/runner.py
Due: basedpyright, pytest-main

feat: tweak prompts, make deriver explicit-only
  src/crud/workspace.py
  src/deriver/non_agent/deriver.py
  src/deriver/non_agent/prompts.py
  src/dialectic/prompts.py
  src/dreamer/agent.py
  src/utils/clients.py
  src/utils/representation.py
  tests/bench/obex.py
  tests/conftest.py
  tests/deriver/test_representation_crud.py
  tests/integration/test_representation.py
Due: basedpyright, pytest-main

fix: clean URL + shorten expiry
  tests/unified/runner.py
Due: basedpyright, pytest-main

feat: run unified tests in CI
  .github/workflows/start-fly-runner.yml
  .github/workflows/unified-tests.yml
  pyproject.toml
  tests/unified/runner.py
  uv.lock
Due: basedpyright, pytest-main

feat: draft ready for review
  docs/v2/documentation/core-concepts/reasoning.mdx
  docs/v2/documentation/core-concepts/representation.mdx
  docs/v2/documentation/features/advanced/representation-scopes.mdx
  docs/v2/documentation/introduction/overview.mdx
  docs/v2/documentation/introduction/vibecoding.mdx
Due: none

fix: description
  docs/v2/documentation/features/advanced/representation-scopes.mdx
Due: none

fix: links
  docs/v2/documentation/features/advanced/overview.mdx
Due: none

fix: upgrade to stainless core 1.7.0
  sdks/python/pyproject.toml
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  sdks/typescript/src/validation.ts
  uv.lock
Due: biome-check, typescript-check

chore: docs TODOs cleanup
  docs/v2/documentation/core-concepts/architecture.mdx
  docs/v2/documentation/features/advanced/toggle-reasoning.mdx
  docs/v2/documentation/features/chat.mdx
  docs/v2/documentation/features/get-context.mdx
  docs/v2/documentation/introduction/quickstart.mdx
Due: none

fix: attempt use aws secrets manager
  .github/workflows/unified-tests.yml
Due: none

fix: temp add verification workflow
  .github/workflows/unified-tests.yml
Due: none

fix: update dialectic to chat
  docs/v2.6.0-alpha/documentation/features/advanced/streaming-response.mdx
Due: none

fix: reasoning configuration
  docs/docs.json
  docs/v2.6.0-alpha/documentation/features/advanced/reasoning-configuration.mdx
Due: none

fix: backlink get_context in summarizer
  docs/v2.6.0-alpha/documentation/features/advanced/summarizer.mdx
Due: none

fix: renaming working_rep to just get_representation in all client facing methods (python & typescript SDKs and API) and thier associated tests.
  pyproject.toml
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/typescript/__tests__/integration.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/bun.lock
  sdks/typescript/examples/get_representation.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
  sdks/typescript/tsconfig.json
  src/routers/peers.py
  tests/sdk/test_peer.py
  tests/sdk/test_session.py
  tests/unified/runner.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

feat: more prompt & tool tweaks
  src/dialectic/prompts.py
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

fix: error handling
  docs/v2.6.0-alpha/documentation/features/get-context.mdx
Due: none

fix: update alpha doc references to working_rep
  README.md
  docs/v2.6.0-alpha/documentation/features/advanced/representation-scopes.mdx
  docs/v2.6.0-alpha/documentation/reference/sdk.mdx
  docs/v2.6.0-alpha/guides/migrations/mem0.mdx
  docs/v2.6.0-alpha/migrations/from-mem0.mdx
  docs/v2.6.0-alpha/openapi.json
  mcp/README.md
  mcp/worker.ts
Due: none

fix: remove mistaken updates to internal SDK workingRepresentation methods.
  sdks/typescript/__tests__/integration.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/session.test.ts
Due: biome-check, typescript-check

fix: CodeRabbit comments
  .github/workflows/start-fly-runner.yml
  .github/workflows/unified-tests.yml
  pyproject.toml
  tests/unified/runner.py
  uv.lock
Due: basedpyright, pytest-main

fix: remove debugging step
  .github/workflows/unified-tests.yml
Due: none
