Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

Guard OpenAI backend response handling
  src/llm/backends/openai.py
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

docs: add changing-embeddings operations page
  docs/docs.json
  docs/v3/contributing/changing-embeddings.mdx
  docs/v3/contributing/configuration.mdx
Due: none

chore(rust-sdk): upgrade dev-deps, add strict lints, fix all clippy errors (#6)
  sdks/rust/Cargo.lock
  sdks/rust/Cargo.toml
  sdks/rust/examples/blocking.rs
  sdks/rust/examples/blocking_upload_file.rs
  sdks/rust/examples/conclusions.rs
  sdks/rust/examples/context_with_options.rs
  sdks/rust/examples/messages_with_options.rs
  sdks/rust/examples/multi_peer.rs
  sdks/rust/examples/queue_status.rs
  sdks/rust/examples/quickstart.rs
  sdks/rust/examples/search_with_options.rs
  sdks/rust/examples/streaming.rs
  sdks/rust/examples/typed_configuration.rs
  sdks/rust/examples/upload.rs
  sdks/rust/tests/blocking_runtime_guard.rs
  sdks/rust/tests/common/mod.rs
  sdks/rust/tests/integration/common.rs
  sdks/rust/tests/integration/streaming.rs
  sdks/rust/tests/integration/upload.rs
  sdks/rust/tests/pagination.rs
  sdks/rust/tests/sse_cancel.rs
Due: none

docs(readme): add "Why Honcho" capability table + agent-skill onboarding
  README.md
Due: none

docs(CLAUDE.md): align "Dialectic API" with README's "Chat Endpoint" rename
  CLAUDE.md
Due: none

feat: stop fetching embedding vectors on vector store query
  src/crud/document.py
  src/crud/message.py
  src/utils/search.py
  src/vector_store/__init__.py
  src/vector_store/lancedb.py
  src/vector_store/turbopuffer.py
  tests/vector_store/test_turbopuffer.py
Due: basedpyright, pytest-main

fix(embedding): correct turbopuffer regex + tighten DIMENSIONS_MODE docs
  .env.template
  config.toml.example
  docs/v3/contributing/configuration.mdx
  scripts/configure_embeddings.py
  src/startup/embedding_validator.py
  src/vector_store/__init__.py
  src/vector_store/lancedb.py
  src/vector_store/turbopuffer.py
  tests/vector_store/__init__.py
  tests/vector_store/test_namespace_dim_probes.py
Due: basedpyright, pytest-main

feat(telemetry): inject honcho_version + emitter health metrics
  src/_version.py
  src/config.py
  src/telemetry/emitter.py
  src/telemetry/prometheus/metrics.py
  tests/telemetry/test_emitter.py
Due: basedpyright, pytest-main

feat(telemetry): per-LLM-call event with try/finally emission + sampler
  src/config.py
  src/llm/api.py
  src/llm/executor.py
  src/llm/runtime.py
  src/llm/tool_loop.py
  src/llm/types.py
  src/telemetry/emitter.py
  src/telemetry/events/__init__.py
  src/telemetry/events/base.py
  src/telemetry/events/llm.py
  tests/llm/test_telemetry_llm_call.py
  tests/telemetry/conftest.py
  tests/telemetry/test_events.py
Due: basedpyright, pytest-main

Address OpenAI fallback review feedback
  src/llm/backends/openai.py
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

Enhance error handling and introduce typed configurations in rust-sdk (#7)
  sdks/rust/CHANGELOG.md
  sdks/rust/LICENSE
  sdks/rust/MIGRATION.md
  sdks/rust/examples/blocking_upload_file.rs
  sdks/rust/src/blocking/client.rs
  sdks/rust/src/blocking/iter.rs
  sdks/rust/src/blocking/mod.rs
  sdks/rust/src/blocking/peer.rs
  sdks/rust/src/blocking/session.rs
  sdks/rust/src/client.rs
  sdks/rust/src/conclusion.rs
  sdks/rust/src/dialectic_stream.rs
  sdks/rust/src/http/client.rs
  sdks/rust/src/lib.rs
  sdks/rust/src/message.rs
  sdks/rust/src/peer.rs
  sdks/rust/src/session.rs
  sdks/rust/src/types/common.rs
  sdks/rust/src/types/dream.rs
  sdks/rust/src/types/message.rs
  sdks/rust/src/types/pagination.rs
  sdks/rust/src/types/peer.rs
  sdks/rust/src/types/session.rs
  sdks/rust/src/types/workspace.rs
  sdks/rust/tests/blocking_smoke.rs
  sdks/rust/tests/client_operations.rs
  sdks/rust/tests/integration/lifecycle.rs
  sdks/rust/tests/pagination.rs
  sdks/rust/tests/peer_core.rs
  sdks/rust/tests/peer_methods.rs
  sdks/rust/tests/session_core.rs
  sdks/rust/tests/session_methods.rs
  sdks/rust/tests/sse_cancel.rs
Due: none

ci(rust-sdk): consolidate Rust workflows into one
  .github/workflows/rust-sdk.yml
  .github/workflows/rust.yml
Due: none

feat: Adds Qdrant Vector Search
  .env.template
  CHANGELOG.md
  README.md
  config.toml.example
  docs/changelog/introduction.mdx
  docs/v3/contributing/configuration.mdx
  pyproject.toml
  src/config.py
  src/vector_store/__init__.py
  src/vector_store/qdrant.py
  uv.lock
Due: basedpyright, pytest-main

feat(telemetry): emit agent.iteration on every LLM response + synthesis
  src/dialectic/core.py
  src/dreamer/specialists.py
  src/llm/tool_loop.py
  src/telemetry/events/agent.py
  tests/llm/test_telemetry_agent_iteration.py
Due: basedpyright, pytest-main

chore: nits in CLAUDE.md
  CLAUDE.md
Due: none

Kass/claudemd staleness (#680)
  CLAUDE.md
Due: none

fix: add similar filtering for lancedb
  src/vector_store/lancedb.py
Due: basedpyright, pytest-main

feat(telemetry): agent.tool.call.completed event + ToolResult metadata
  src/llm/tool_loop.py
  src/telemetry/events/__init__.py
  src/telemetry/events/agent.py
  src/utils/agent_tools.py
  src/utils/types.py
  tests/llm/test_telemetry_agent_tool_call.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

feat(telemetry): RepresentationCompletedEvent v2 token breakdown + tool-less truncation
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/llm/api.py
  src/llm/types.py
  src/telemetry/events/representation.py
  tests/deriver/test_queue_processing.py
  tests/telemetry/conftest.py
  tests/telemetry/test_representation_v2_fields.py
Due: basedpyright, pytest-main

fix(embedding): address PR #678 review comments
  docs/v3/contributing/changing-embeddings.mdx
  scripts/configure_embeddings.py
  src/deriver/__main__.py
  src/startup/embedding_validator.py
  src/vector_store/lancedb.py
  src/vector_store/turbopuffer.py
  tests/llm/test_model_config.py
Due: basedpyright, pytest-main

docs: split contributor-only sections out of README; trust auth for local postgres
  CONTRIBUTING.md
  README.md
  docker-compose.yml.example
  docs/v3/contributing/self-hosting.mdx
Due: none

fix: add lancedb tests
  tests/vector_store/test_lancedb.py
Due: basedpyright, pytest-main

fix: (docs) update docs and evals urls and split pre-commit into contributing docs
  .claude/skills/honcho-integration/SKILL.md
  README.md
  docs/v2/documentation/introduction/vibecoding.mdx
  docs/v2/integrations/crewai.mdx
  docs/v3/documentation/introduction/overview.mdx
  docs/v3/documentation/introduction/quickstart.mdx
  docs/v3/documentation/introduction/vibecoding.mdx
  docs/v3/guides/integrations/crewai.mdx
  examples/crewai/python/README.md
  examples/crewai/python/pyproject.toml
  examples/crewai/python/src/honcho_crewai/storage.py
  sdks/python/README.md
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/typescript/src/client.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check

feat: stop fetching embedding vectors on vector store query - DEV-1727 (#682)
  src/crud/document.py
  src/crud/message.py
  src/utils/search.py
  src/vector_store/__init__.py
  src/vector_store/lancedb.py
  src/vector_store/turbopuffer.py
  tests/vector_store/test_lancedb.py
  tests/vector_store/test_turbopuffer.py
Due: basedpyright, pytest-main

Kass/readme refresh (#681)
  .claude/skills/honcho-integration/SKILL.md
  CONTRIBUTING.md
  README.md
  docker-compose.yml.example
  docs/v2/documentation/introduction/vibecoding.mdx
  docs/v2/integrations/crewai.mdx
  docs/v3/contributing/self-hosting.mdx
  docs/v3/documentation/introduction/overview.mdx
  docs/v3/documentation/introduction/quickstart.mdx
  docs/v3/documentation/introduction/vibecoding.mdx
  docs/v3/guides/integrations/crewai.mdx
  examples/crewai/python/README.md
  examples/crewai/python/pyproject.toml
  examples/crewai/python/src/honcho_crewai/storage.py
  sdks/python/README.md
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/typescript/src/client.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check

feat(telemetry): DreamRunEvent v2 scheduler reasons + DreamSpecialistEvent v2 rollups
  src/deriver/enqueue.py
  src/dreamer/dream_scheduler.py
  src/dreamer/orchestrator.py
  src/dreamer/specialists.py
  src/telemetry/events/dream.py
  src/utils/queue_payload.py
  tests/dreamer/test_dream_v2_rollups.py
  tests/dreamer/test_dreamer_integration.py
  tests/telemetry/conftest.py
  tests/telemetry/test_events.py
Due: basedpyright, pytest-main

feat(telemetry): AgentToolSummaryCreatedEvent v2 token breakdown
  src/telemetry/events/agent.py
  src/utils/summarizer.py
  tests/telemetry/conftest.py
  tests/telemetry/test_events.py
  tests/telemetry/test_summary_v2_fields.py
Due: basedpyright, pytest-main

fix(registry): use public genai.Client instead of genai.client.Client
  src/llm/registry.py
Due: basedpyright, pytest-main

fix(llm): pass base_url to default provider clients from LLMSettings (#643)
  src/config.py
  src/llm/registry.py
Due: basedpyright, pytest-main

feat(telemetry): embedding.call.completed event + call-purpose ContextVar
  src/crud/message.py
  src/crud/representation.py
  src/embedding_client.py
  src/telemetry/events/__init__.py
  src/telemetry/events/llm.py
  src/utils/agent_tools.py
  src/utils/types.py
  tests/telemetry/test_embedding_call_event.py
Due: basedpyright, pytest-main

fix: modify conftest to fix ci
  tests/conftest.py
Due: basedpyright, pytest-main

chore: fix tests
  src/telemetry/emitter.py
Due: basedpyright, pytest-main

fix: ci tests for typescript server
  tests/sdk_typescript/conftest.py
Due: basedpyright, pytest-main

Make embeddings configurable (#678)
  .env.template
  config.toml.example
  docs/docs.json
  docs/v3/contributing/changing-embeddings.mdx
  docs/v3/contributing/configuration.mdx
  pyproject.toml
  scripts/configure_embeddings.py
  sdks/python/src/honcho/http/async_client.py
  sdks/python/src/honcho/http/client.py
  src/config.py
  src/deriver/__main__.py
  src/embedding_client.py
  src/main.py
  src/models.py
  src/startup/__init__.py
  src/startup/embedding_validator.py
  src/vector_store/__init__.py
  src/vector_store/lancedb.py
  src/vector_store/turbopuffer.py
  tests/conftest.py
  tests/deriver/test_vector_reconciliation.py
  tests/llm/test_embedding_client.py
  tests/llm/test_model_config.py
  tests/scripts/__init__.py
  tests/scripts/test_configure_embeddings.py
  tests/sdk_typescript/conftest.py
  tests/startup/__init__.py
  tests/startup/test_embedding_validator.py
  tests/test_datetime_parsing.py
  tests/test_models_vector_dim.py
  tests/vector_store/__init__.py
  tests/vector_store/test_namespace_dim_probes.py
  uv.lock
Due: basedpyright, pytest-main, pytest-python-sdk

fix: update api schema to support full 512 ids
  sdks/python/src/honcho/api_types.py
  sdks/typescript/src/validation.ts
  src/schemas/api.py
  tests/routes/test_validation_api.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

fix: update tests and increment docs version
  docs/docs.json
  tests/test_schema_validations.py
Due: basedpyright, pytest-main

fix(telemetry): address review findings on stream events, context propagation, and cap detection
  src/crud/message.py
  src/crud/representation.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/embedding_client.py
  src/llm/executor.py
  src/utils/agent_tools.py
  src/utils/summarizer.py
  src/utils/types.py
Due: basedpyright, pytest-main

Align API contract with DB contract for IDs (#684)
  docs/docs.json
  sdks/python/src/honcho/api_types.py
  sdks/typescript/src/validation.ts
  src/schemas/api.py
  tests/routes/test_validation_api.py
  tests/test_schema_validations.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
