Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

fix(docker): use built venv at runtime
  Dockerfile
  docker-compose.yml.example
  docker/entrypoint.sh
Due: none

docs: minor updates to message batching
  docs/v3/documentation/core-concepts/design-patterns.mdx
  docs/v3/guides/gmail.mdx
  docs/v3/guides/granola.mdx
  examples/gmail/honcho_gmail.py
Due: none

fix: final fix
  docs/v3/guides/gmail.mdx
  docs/v3/guides/granola.mdx
  examples/gmail/honcho_gmail.py
Due: none

Adding granola integration (#417)
  docs/docs.json
  docs/v2/guides/n8n.mdx
  docs/v3/guides/gmail.mdx
  docs/v3/guides/granola.mdx
  examples/gmail/honcho_gmail.py
  examples/granola/honcho_granola.py
Due: none

fix: add observability to docker compose + get docker compose into a usable state (#429)
  .env.template
  Dockerfile
  docker-compose.yml.example
  docker/entrypoint.sh
  docker/grafana-datasource.yml
  docker/prometheus.yml
Due: none

fix: Code Rabbit Comments
  src/schemas/api.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

Sanitization and Memory Bug Fixes (#419)
  CHANGELOG.md
  docs/changelog/introduction.mdx
  src/dependencies.py
  src/schemas/__init__.py
  src/schemas/api.py
  src/schemas/configuration.py
  src/schemas/internal.py
  src/utils/agent_tools.py
  src/utils/filter.py
  tests/test_dependencies.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

fix(files): handle empty json uploads safely (#434)
  src/utils/files.py
  tests/routes/test_files.py
  tests/utils/test_files.py
Due: basedpyright, pytest-main

chore: Update Changelog
  CHANGELOG.md
Due: none

fix: populate test harness DB config from docker compose
  tests/bench/README.md
  tests/bench/harness.py
Due: basedpyright, pytest-main

fix: populate test harness DB config from docker compose (#435)
  tests/bench/README.md
  tests/bench/harness.py
Due: basedpyright, pytest-main

docs: trim Hermes guide, remove CLI/gateway mode section
  docs/v3/guides/integrations/hermes.mdx
Due: none

docs: update Hermes guide description
  docs/v3/guides/integrations/hermes.mdx
Due: none

docs: move Hermes from community to integrations in sidebar nav
  docs/docs.json
Due: none

docs: delete old community hermes stub
  docs/v3/guides/community/hermes.mdx
Due: none

feat: add Voyage AI embedding provider with configurable dimensions
  .env.template
  migrations/versions/c92bda362202_configurable_embedding_dimensions.py
  pyproject.toml
  src/config.py
  src/embedding_client.py
  src/models.py
  tests/test_embedding_client.py
  uv.lock
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

fix: adding pagnation
  mcp/src/tools/conclusions.ts
  mcp/src/tools/peers.ts
  mcp/src/tools/sessions.ts
  mcp/src/tools/workspace.ts
Due: none

fix: use nanoid to match Honcho's server-side ID format
  mcp/package.json
  mcp/src/tools/bespoke.ts
Due: none

fix: simplified tool list. 10 removed, in favor of more unified tools
  mcp/bun.lock
  mcp/src/config.ts
  mcp/src/tools/bespoke.ts
  mcp/src/tools/peers.ts
  mcp/src/tools/sessions.ts
  mcp/src/tools/workspace.ts
Due: none

docs: clarifying language
  mcp/README.md
  mcp/src/config.ts
  mcp/src/server.ts
  mcp/src/tools/bespoke.ts
Due: none

docs: comprehensive overview guide with all recent integrations
  docs/v3/guides/overview.mdx
Due: none

docs: update overview guide to match dev-1372-new format
  docs/v3/guides/overview.mdx
Due: none

docs: clean up Platform Connectors section description
  docs/v3/guides/overview.mdx
Due: none

Fix typos
  .github/PULL_REQUEST_TEMPLATE/release.md
  CHANGELOG.md
  docs/changelog/introduction.mdx
  docs/images/overview/honcho-overview-dark.svg
  docs/images/overview/honcho-overview-light.svg
  docs/v3/documentation/introduction/vibecoding.mdx
  docs/v3/guides/granola.mdx
  docs/v3/guides/integrations/reachy-mini.mdx
  examples/granola/honcho_granola.py
Due: none

Abigail/dev 1436 (#438)
  docs/v3/guides/overview.mdx
Due: none

Fix typos (#440)
  .github/PULL_REQUEST_TEMPLATE/release.md
  CHANGELOG.md
  docs/changelog/introduction.mdx
  docs/images/overview/honcho-overview-dark.svg
  docs/images/overview/honcho-overview-light.svg
  docs/v3/documentation/introduction/vibecoding.mdx
  docs/v3/guides/granola.mdx
  docs/v3/guides/integrations/reachy-mini.mdx
  examples/granola/honcho_granola.py
Due: none

fix(deriver): reduce ephemeral explicit observations
  src/deriver/prompts.py
  tests/deriver/test_prompts.py
Due: basedpyright, pytest-main

Add MiniMax integration patches
  src/config.py
  src/embedding_client.py
  src/utils/clients.py
Due: basedpyright, pytest-main

test(deriver): clarify prompt module load failure
  tests/deriver/test_prompts.py
Due: basedpyright, pytest-main

docs(self-hosting): fix database name in connection URI
  docs/v2/contributing/self-hosting.mdx
  docs/v3/contributing/self-hosting.mdx
Due: none

docs(self-hosting): fix database name in connection URI (#448)
  docs/v2/contributing/self-hosting.mdx
  docs/v3/contributing/self-hosting.mdx
Due: none

Fix Gemini streaming and deriver cacheability
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/utils/clients.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

fix: Address Code Rabit Comments
  sdks/python/src/honcho/api_types.py
  sdks/typescript/package.json
  sdks/typescript/src/validation.ts
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check

fix: duplicate searchQuery param in typescript session.context()
  sdks/typescript/src/conclusions.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/types/api.ts
  sdks/typescript/src/validation.ts
Due: biome-check, typescript-check

feat: add created_at, is_active fields, and get_message method
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/v2/documentation/core-concepts/configuration.mdx
  docs/v3/documentation/features/advanced/representation-scopes.mdx
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/typescript/CHANGELOG.md
  sdks/typescript/__tests__/messages.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/__tests__/validation.test.ts
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  sdks/typescript/src/client.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
  uv.lock
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check

feat: Add pagintion params to sdk
  docs/changelog/introduction.mdx
  docs/v3/documentation/features/get-context.mdx
  docs/v3/documentation/reference/sdk.mdx
  sdks/python/CHANGELOG.md
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/conclusions.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/typescript/CHANGELOG.md
  sdks/typescript/__tests__/messages.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/src/client.ts
  sdks/typescript/src/conclusions.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check

fix: Remove lazy initalization behavior from sdks
  docs/changelog/introduction.mdx
  docs/v3/documentation/reference/sdk.mdx
  sdks/python/CHANGELOG.md
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/typescript/CHANGELOG.md
  sdks/typescript/__tests__/client.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/src/client.ts
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check

fix: test unified
  .github/workflows/unified-tests.yml
Due: none

Fix deriver -- switch to Bedrock via LiteLLM proxy, update vector dimensions to 1024
  src/config.py
  src/embedding_client.py
  src/models.py
Due: basedpyright, pytest-main

Add LiteLLM config, OpenWebUI integration, and KlimaShift filter test
  litellm-config.yaml
  openwebui-config/hermes_pipeline.py
  openwebui-config/honcho_memory.py
  openwebui-config/klimashift_filter.py
  openwebui-config/requirements.txt
  test_klimashift_filter.py
Due: none

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
