Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

docs(telemetry): make the bucket-3 aggregation rule precise
  src/telemetry/prometheus/metrics.py
Due: basedpyright, pytest-main

refactor(bench): import REASONING_LEVELS from config instead of re-listing
  tests/bench/runner_common.py
Due: basedpyright, pytest-main

test(telemetry): pin the METRICS.ENABLED guard on the per-emitter initializer
  tests/telemetry/test_metric_zero_init.py
Due: basedpyright, pytest-main

fix: address review comments
  scripts/dialectic_cost_calculator.py
  scripts/test_reasoning_levels.py
  src/vector_store/__init__.py
  tests/conftest.py
  tests/test_cache_redaction.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

fix: increase throughput of unit tests by changing behavior db teardown (#949)
  scripts/dialectic_cost_calculator.py
  scripts/test_reasoning_levels.py
  src/vector_store/__init__.py
  tests/conftest.py
  tests/test_cache_redaction.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

fix(scopes): make scope identity unforgeable, unblock non-pattern peer names
  src/crud/__init__.py
  src/crud/document.py
  src/crud/message.py
  src/crud/peer.py
  src/crud/peer_card.py
  src/crud/scope.py
  src/crud/session.py
  src/dialectic/chat.py
  src/dreamer/specialists.py
  src/routers/peers.py
  src/routers/scopes.py
  src/routers/sessions.py
  src/schemas/__init__.py
  src/schemas/api.py
  src/utils/scopes.py
  tests/crud/test_get_or_create_retry_invalidation.py
  tests/routes/test_scopes.py
Due: basedpyright, pytest-main

fix(scopes): validate peer names on create, close namespace squatting and upsert race
  src/crud/peer.py
  src/crud/session.py
  src/routers/peers.py
  tests/routes/test_scopes.py
Due: basedpyright, pytest-main

fix(scopes): guard scope membership config, move checks to the mutation point
  src/crud/peer.py
  src/crud/scope.py
  src/crud/session.py
  src/routers/peers.py
  src/schemas/api.py
  tests/routes/test_scopes.py
Due: basedpyright, pytest-main

test(scopes): enumerate every peer-touching route against a scope policy
  tests/routes/test_scope_route_policy.py
Due: basedpyright, pytest-main

fix(scopes): refuse a scope in every observed position; enumerate per position
  src/crud/document.py
  src/crud/peer.py
  src/crud/session.py
  src/dialectic/chat.py
  src/routers/peers.py
  src/routers/sessions.py
  src/routers/workspaces.py
  tests/conftest.py
  tests/routes/test_scope_route_policy.py
Due: basedpyright, pytest-main

Store resolved source_message_ids instead of full batch ID list
  src/crud/representation.py
  src/deriver/deriver.py
  src/schemas/internal.py
  src/utils/representation.py
  tests/crud/test_representation_manager.py
  tests/deriver/test_representation_crud.py
  tests/integration/test_representation.py
Due: basedpyright, pytest-main

fix(scopes): refuse future scopes in observed positions, preserve scope membership
  src/crud/__init__.py
  src/crud/peer.py
  src/crud/peer_card.py
  src/crud/scope.py
  src/crud/session.py
  src/deriver/enqueue.py
  src/routers/peers.py
  src/routers/workspaces.py
  tests/conftest.py
  tests/routes/test_scope_route_policy.py
  tests/routes/test_scopes.py
Due: basedpyright, pytest-main

feat: exposing conclusion attribution (source & times derived)
  docs/v3/openapi.json
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/api_types.py
  sdks/python/src/honcho/conclusions.py
  src/models.py
  src/routers/conclusions.py
  src/schemas/api.py
  tests/routes/test_conclusions.py
  tests/sdk/test_conclusions.py
Due: basedpyright, pytest-main, pytest-python-sdk

fix(scopes): exclude scope memberships from the session observer limit
  src/crud/peer.py
  src/crud/scope.py
  src/crud/session.py
  src/schemas/api.py
  tests/routes/test_scopes.py
Due: basedpyright, pytest-main

fix(scopes): skip semantic retrieval when the embedding precompute failed
  src/routers/peers.py
  tests/routes/test_scopes.py
Due: basedpyright, pytest-main

chore: silence unused db_session fixture warnings (basedpyright failOnWarnings)
  tests/test_workspace_chat.py
Due: basedpyright, pytest-main

fix: type SSE stream wrapper as AsyncIterator (basedpyright)
  src/routers/workspaces.py
Due: basedpyright, pytest-main

fix: workspace message tools deny-all under rebased session scoping
  src/crud/workspace.py
  src/dialectic/workspace.py
  src/utils/agent_tools.py
  tests/test_workspace_chat.py
Due: basedpyright, pytest-main

docs: drop docs changes from this PR (defer to follow-up)
  docs/v3/documentation/features/chat.mdx
Due: none

Add workspace-level chat (DEV-1326)
  docs/v3/documentation/features/chat.mdx
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/http/routes.py
  sdks/typescript/src/client.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/types/api.ts
  src/crud/__init__.py
  src/crud/workspace.py
  src/dialectic/chat.py
  src/dialectic/core.py
  src/dialectic/prompts.py
  src/dialectic/workspace.py
  src/routers/workspaces.py
  src/schemas/__init__.py
  src/schemas/api.py
  src/utils/agent_tools.py
  src/utils/representation.py
  tests/conftest.py
  tests/test_workspace_chat.py
  tests/unified/test_cases/peer_isolation_test.json
  tests/unified/test_cases/workspace_chat_cross_peer.json
  tests/unified/test_cases/workspace_chat_from_messages.json
  tests/unified/test_cases/workspace_chat_from_observations.json
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

test: terminate leaked backend if the real-DB cancellation test fails
  tests/test_dependencies.py
Due: basedpyright, pytest-main

fix: resolve tiktoken encoding without constructing the embedding client
  src/embedding_client.py
Due: basedpyright, pytest-main

fix(embedding): add none transport + EMBED_OBSERVATIONS gate and default-mismatch warning
  CHANGELOG.md
  config.toml.example
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/deriver/__main__.py
  src/embedding_client.py
  src/main.py
  src/startup/__init__.py
  src/startup/embedding_validator.py
  src/utils/agent_tools.py
  tests/llm/test_embedding_client.py
  tests/startup/test_embedding_validator.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

perf(search): materialise message tsvector so ts_rank stops re-parsing content
  migrations/versions/a1c0ffee5eed_materialise_message_content_tsvector.py
  src/models.py
  src/utils/search.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

test(llm): live per-request timeout coverage for all providers
  tests/live_llm/test_live_timeouts.py
Due: basedpyright, pytest-main

style(tests): drop extra blank line in anthropic backend test
  tests/llm/test_backends/test_anthropic.py
Due: basedpyright, pytest-main

fix(deriver): healthcheck queue progress
  scripts/deriver-healthcheck.py
Due: basedpyright

fix(deriver): quarantine malformed work units
  src/deriver/queue_manager.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

fix(api): make the conclusions semantic-search validation error actionable
  src/routers/conclusions.py
Due: basedpyright, pytest-main

fix(deriver): address review feedback on healthcheck + quarantine logging
  scripts/deriver-healthcheck.py
  src/deriver/queue_manager.py
Due: basedpyright, pytest-main

feat(telemetry): OpenTelemetry instrumentation for memory operations
  pyproject.toml
  src/config.py
  src/crud/document.py
  src/deriver/__main__.py
  src/deriver/queue_manager.py
  src/main.py
  src/telemetry/otel.py
  tests/conftest.py
  tests/telemetry/test_otel.py
  uv.lock
Due: basedpyright, pytest-main

fix: guard against top_k=0 reaching the vector store
  src/crud/document.py
  src/crud/representation.py
  tests/crud/test_representation_manager.py
Due: basedpyright, pytest-main

fix: comments
  src/crud/document.py
  src/crud/representation.py
Due: basedpyright, pytest-main

Fix: vector query top k zero (#970)
  src/crud/document.py
  src/crud/representation.py
  tests/crud/test_representation_manager.py
Due: basedpyright, pytest-main

fix(llm): validate provider_params.timeout at config load
  src/config.py
  src/llm/backend.py
  tests/test_config.py
Due: basedpyright, pytest-main

docs: document provider_params.timeout load-time validation and gotchas
  docs/v3/contributing/configuration.mdx
Due: none

docs: update verify/SKILL.md
  .claude/skills/verify/SKILL.md
Due: none

docs: fold verification-run feedback into verify skill
  .claude/skills/verify/SKILL.md
Due: none

docs: add verify skill for testing (#972)
  .claude/skills/verify/SKILL.md
Due: none

refactor(llm): address review nits on timeout plumbing
  src/config.py
  src/llm/backend.py
  src/llm/backends/anthropic.py
  src/llm/backends/gemini.py
  src/llm/backends/openai.py
  src/llm/request_builder.py
Due: basedpyright, pytest-main

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
