Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

fix: use COALESCE bind param instead of f-string in migration SQL
  migrations/versions/Nj-2KD-Cc2XG_alter_vector_dimensions.py
Due: pytest-alembic, ensure-alembic-coverage

fix(migration): replace invalid revision ID with Alembic-compatible format
  migrations/versions/9022e755ae21_alter_vector_dimensions.py
Due: pytest-alembic, ensure-alembic-coverage

fix: fail early if custom embedding endpoint and variables are None
  src/config.py
Due: basedpyright, pytest-main

fix: (agent) pre-compute embeddings for agent tools
  src/crud/message.py
  src/routers/peers.py
  src/utils/agent_tools.py
  tests/integration/test_token_metrics.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

feat: (embed) Add configurability for embedding model
  .env.template
  config.toml.example
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/crud/document.py
  src/crud/representation.py
  src/embedding_client.py
  src/schemas/api.py
  src/utils/agent_tools.py
  src/utils/search.py
  src/vector_store/lancedb.py
  tests/conftest.py
  tests/integration/test_message_embeddings.py
  tests/unit/llm/test_embedding_client.py
  tests/unit/llm/test_model_config.py
Due: basedpyright, pytest-main

fix: tests for embedding provider
  tests/conftest.py
Due: basedpyright, pytest-main

fix: (tests) refactor tests to use smaller test db connections
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

fix: Add retry parity to typescript and update docs
  docs/changelog/introduction.mdx
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/typescript/CHANGELOG.md
  sdks/typescript/package.json
  sdks/typescript/src/http/client.ts
Due: biome-check, typescript-check

chore: (skills) update skills to match latest state of the sdk
  .claude/skills/honcho-integration/SKILL.md
  .claude/skills/honcho-integration/references/bot-frameworks/nanobot/session.py
  .claude/skills/migrate-honcho-py/DETAILED-CHANGES.md
  .claude/skills/migrate-honcho-py/MIGRATION-CHECKLIST.md
  .claude/skills/migrate-honcho-py/SKILL.md
  .claude/skills/migrate-honcho-ts/DETAILED-CHANGES.md
  .claude/skills/migrate-honcho-ts/MIGRATION-CHECKLIST.md
  .claude/skills/migrate-honcho-ts/SKILL.md
Due: none

chore: (docs) update stale sdk code
  CONTRIBUTING.md
  README.md
  docs/changelog/introduction.mdx
  docs/v1/contributing/guidelines.mdx
  docs/v1/guides/honcho-mcp.mdx
  docs/v2/contributing/guidelines.mdx
  docs/v2/contributing/self-hosting.mdx
  docs/v2/documentation/introduction/overview.mdx
  docs/v2/documentation/reference/guided-tutorial.mdx
  docs/v2/documentation/reference/platform.mdx
  docs/v2/integrations/mcp.mdx
  docs/v3/contributing/guidelines.mdx
  docs/v3/contributing/self-hosting.mdx
  docs/v3/documentation/core-concepts/design-patterns.mdx
  docs/v3/documentation/core-concepts/reasoning.mdx
  docs/v3/documentation/features/advanced/representation-scopes.mdx
  docs/v3/documentation/reference/platform.mdx
  docs/v3/documentation/reference/sdk.mdx
  docs/v3/guides/integrations/mcp.mdx
  sdks/python/README.md
  sdks/typescript/README.md
Due: none

fix: Embedding client to branch depending on vector store
  src/crud/__init__.py
  src/crud/document.py
  src/dialectic/core.py
  src/dreamer/surprisal.py
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

chore: (docs) clean up inconsistencies in docs
  .claude/skills/migrate-honcho-py/SKILL.md
  docs/changelog/introduction.mdx
  sdks/python/CHANGELOG.md
  sdks/typescript/src/http/client.ts
Due: biome-check, typescript-check

fix: reflect dedup-skipped observations in created counts and isolate DB sessions in extract_preferences
  src/crud/document.py
  src/crud/representation.py
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

fix: (tests) update tests to match changes
  tests/crud/test_document.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

fix: Address Review Comments
  .env.template
  config.toml.example
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/llm/backends/anthropic.py
  src/llm/backends/gemini.py
  src/llm/backends/openai.py
  src/llm/caching.py
  src/llm/structured_output.py
  src/utils/clients.py
  tests/unit/llm/test_model_config.py
Due: basedpyright, pytest-main

fix: expunge docs + don't pass in db to query_documents
  src/crud/document.py
  src/utils/agent_tools.py
  tests/conftest.py
Due: basedpyright, pytest-main

fix dialectic held connection (#477)
  src/crud/__init__.py
  src/crud/document.py
  src/crud/message.py
  src/crud/representation.py
  src/dialectic/chat.py
  src/dialectic/core.py
  src/dreamer/orchestrator.py
  src/dreamer/specialists.py
  src/dreamer/surprisal.py
  src/routers/peers.py
  src/utils/agent_tools.py
  tests/conftest.py
  tests/crud/test_document.py
  tests/integration/test_token_metrics.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

docs: add Docker build troubleshooting for permission errors
  docs/v3/contributing/self-hosting.mdx
  docs/v3/contributing/troubleshooting.mdx
Due: none

fix(tools): add strict=True to created_ids/created_levels zip
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

docs: reframe self-hosting as contributor/dev path, point to cloud service
  docs/v3/contributing/self-hosting.mdx
Due: none

Revert "docs: reframe self-hosting as contributor/dev path, point to cloud service"
  docs/v3/contributing/self-hosting.mdx
Due: none

feat(config): make embedding vector dimensions and model configurable
  config.toml.example
  migrations/versions/a3f7b8c9d0e1_make_embedding_dimensions_configurable.py
  src/config.py
  src/embedding_client.py
  src/models.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

fix: (search) add logic to use external vectore store for message search
  src/crud/message.py
Due: basedpyright, pytest-main

fix: (search) oversample to reduce duplicate errors
  src/crud/message.py
Due: basedpyright, pytest-main

fix: (search) add logic to use external vectore store for message search (#479)
  src/crud/message.py
Due: basedpyright, pytest-main

chore: (docs) v3.0.4 Release Candidate
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  pyproject.toml
  src/main.py
  uv.lock
Due: basedpyright, pytest-main

chore: (docs) v3.0.4 Release Candidate (#480)
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  pyproject.toml
  src/main.py
  uv.lock
Due: basedpyright, pytest-main

feat(embedding): make embedding model and dimensions configurable
  src/config.py
  src/embedding_client.py
  src/models.py
Due: basedpyright, pytest-main

fix(embedding): add API key fallback and dimension migration
  migrations/versions/a3c7f8e91d02_configurable_embedding_dimensions.py
  src/embedding_client.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

fix: stabilize docker compose restarts for self-hosting
  docker-compose.yml.example
Due: none

feat: add observation categories for scoped memory retrieval
  migrations/versions/a2b3c4d5e6f7_add_category_column_to_documents.py
  src/crud/document.py
  src/deriver/prompts.py
  src/dialectic/prompts.py
  src/models.py
  src/schemas/api.py
  src/schemas/internal.py
  src/utils/agent_tools.py
  src/utils/filter.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

fix: Explicit Rollback in Transaction
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  pyproject.toml
  src/dependencies.py
  src/main.py
  uv.lock
Due: basedpyright, pytest-main

chore: update tests
  tests/test_dependencies.py
Due: basedpyright, pytest-main

fix: address review feedback for observation categories
  migrations/versions/a2b3c4d5e6f7_add_category_column_to_documents.py
  src/crud/document.py
  src/reconciler/sync_vectors.py
  src/utils/agent_tools.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

Vineeth/force rollback (#486)
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  pyproject.toml
  src/dependencies.py
  src/main.py
  tests/test_dependencies.py
  uv.lock
Due: basedpyright, pytest-main

chore: Rebuild Package
  uv.lock
Due: none

feat: retry on more httpx exceptions (#467)
  .claude/skills/honcho-integration/SKILL.md
  .claude/skills/honcho-integration/references/bot-frameworks/nanobot/session.py
  .claude/skills/migrate-honcho-py/DETAILED-CHANGES.md
  .claude/skills/migrate-honcho-py/MIGRATION-CHECKLIST.md
  .claude/skills/migrate-honcho-py/SKILL.md
  .claude/skills/migrate-honcho-ts/DETAILED-CHANGES.md
  .claude/skills/migrate-honcho-ts/MIGRATION-CHECKLIST.md
  .claude/skills/migrate-honcho-ts/SKILL.md
  CONTRIBUTING.md
  README.md
  docs/changelog/introduction.mdx
  docs/v1/contributing/guidelines.mdx
  docs/v1/guides/honcho-mcp.mdx
  docs/v2/contributing/guidelines.mdx
  docs/v2/contributing/self-hosting.mdx
  docs/v2/documentation/introduction/overview.mdx
  docs/v2/documentation/reference/guided-tutorial.mdx
  docs/v2/documentation/reference/platform.mdx
  docs/v2/integrations/mcp.mdx
  docs/v3/contributing/guidelines.mdx
  docs/v3/contributing/self-hosting.mdx
  docs/v3/documentation/core-concepts/design-patterns.mdx
  docs/v3/documentation/core-concepts/reasoning.mdx
  docs/v3/documentation/features/advanced/representation-scopes.mdx
  docs/v3/documentation/reference/platform.mdx
  docs/v3/documentation/reference/sdk.mdx
  sdks/python/CHANGELOG.md
  sdks/python/README.md
  sdks/python/pyproject.toml
  sdks/python/src/honcho/http/async_client.py
  sdks/python/src/honcho/http/client.py
  sdks/typescript/CHANGELOG.md
  sdks/typescript/README.md
  sdks/typescript/package.json
  sdks/typescript/src/http/client.ts
  uv.lock
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check

docs: improve OpenClaw integration page (#462)
  docs/v3/guides/integrations/openclaw.mdx
Due: none

fix: make reasoning effort configurable
  src/config.py
  src/deriver/deriver.py
  src/dialectic/core.py
  src/utils/clients.py
Due: basedpyright, pytest-main

docs: add production compose, model guidance, thinking budget docs
  docker-compose.prod.yml
  docs/v3/contributing/configuration.mdx
  docs/v3/contributing/self-hosting.mdx
  docs/v3/contributing/troubleshooting.mdx
Due: none
