Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

fix: add 'minimax' back to SupportedProviders enum
  src/utils/types.py
Due: basedpyright, pytest-main

fix: re-add full MiniMax support to Honcho 2.x
  src/config.py
  src/utils/clients.py
Due: basedpyright, pytest-main

fix(surprisal): use correct filter format for level observations
  src/dreamer/surprisal.py
Due: basedpyright, pytest-main

feat: add custom embedding provider for local models (vLLM/TEI)
  src/config.py
  src/embedding_client.py
Due: basedpyright, pytest-main

feat(utils): add NmxrGroundedRepresentation schema for Neuromancer training
  src/utils/representation.py
  tests/unit/__init__.py
  tests/unit/test_nmxr_representation.py
Due: basedpyright, pytest-main

feat(embedding): tune custom provider batch and token limits
  src/config.py
  src/embedding_client.py
Due: basedpyright, pytest-main

refactor(llm): wire ModelConfig knobs through, prune clients.py migration leftovers
  src/llm/backends/gemini.py
  src/llm/request_builder.py
  src/telemetry/reasoning_traces.py
  src/utils/clients.py
  src/utils/types.py
  tests/llm/test_model_config.py
  tests/utils/test_clients.py
  tests/utils/test_length_finish_reason.py
Due: basedpyright, pytest-main

refactor(llm): finish the src/utils/clients.py → src/llm/ migration
  src/config.py
  src/llm/__init__.py
  src/llm/caching.py
  src/llm/credentials.py
  src/utils/clients.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

fix(embedding): custom provider uses model's real tokenizer + bounded pool + startup dim assert
  pyproject.toml
  src/config.py
  src/embedding_client.py
  src/main.py
  uv.lock
Due: basedpyright, pytest-main

refactor(llm): move all LLM orchestration into src/llm/ and delete clients.py
  src/deriver/deriver.py
  src/dialectic/core.py
  src/dreamer/specialists.py
  src/llm/__init__.py
  src/llm/api.py
  src/llm/backend.py
  src/llm/backends/anthropic.py
  src/llm/backends/gemini.py
  src/llm/backends/openai.py
  src/llm/conversation.py
  src/llm/executor.py
  src/llm/registry.py
  src/llm/request_builder.py
  src/llm/runtime.py
  src/llm/tool_loop.py
  src/llm/types.py
  src/utils/clients.py
  src/utils/summarizer.py
  tests/conftest.py
  tests/deriver/test_deriver_processing.py
  tests/dialectic/test_model_config_usage.py
  tests/dreamer/test_model_config_usage.py
  tests/integration/test_token_metrics.py
  tests/utils/test_clients.py
  tests/utils/test_length_finish_reason.py
  tests/utils/test_summarizer.py
Due: basedpyright, pytest-main

fix(llm): sanitize tool schemas for Gemini's function_declarations validator
  src/llm/backends/gemini.py
  tests/llm/test_backends/test_gemini.py
Due: basedpyright, pytest-main

fix: fix tool calling syntax for gemini
  src/deriver/deriver.py
  src/dreamer/specialists.py
  src/llm/conversation.py
  src/utils/agent_tools.py
  tests/conftest.py
  tests/deriver/test_deriver_processing.py
  tests/llm/test_agent_tool_schemas.py
  tests/llm/test_conversation.py
Due: basedpyright, pytest-main

refactor(llm): normalize defaults, widen OpenAI reasoning-model routing
  .env.template
  README.md
  config.toml.example
  docs/v3/contributing/configuration.mdx
  docs/v3/contributing/self-hosting.mdx
  docs/v3/contributing/troubleshooting.mdx
  src/config.py
  src/llm/backends/openai.py
  tests/bench/harness.py
  tests/live_llm/README.md
  tests/live_llm/model_matrix.py
  tests/llm/test_backends/test_openai.py
  tests/llm/test_model_config.py
Due: basedpyright, pytest-main

chore: fix test
  tests/llm/test_model_config.py
Due: basedpyright, pytest-main

fix(llm): address post-migration review feedback
  src/llm/api.py
  src/llm/backends/openai.py
  src/llm/conversation.py
  src/llm/registry.py
  src/llm/tool_loop.py
  tests/deriver/test_queue_processing.py
  tests/integration/test_enqueue.py
  tests/llm/test_conversation.py
  tests/llm/test_model_config.py
  tests/routes/test_peers.py
  tests/routes/test_queue_status.py
  tests/routes/test_scoped_api.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

fix(llm): gemini robustness + dreamer specialist ergonomics
  docs/v3/contributing/troubleshooting.mdx
  src/dreamer/specialists.py
  src/llm/backends/gemini.py
  src/llm/caching.py
Due: basedpyright, pytest-main

chore: addres review comments
  src/llm/registry.py
  src/llm/tool_loop.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

chore: (docs) unrelease changelog addition
  CHANGELOG.md
Due: none

chore: (docs) merge commit changes
  docs/v3/guides/integrations/paperclip.mdx
Due: none

feat: workspace-level chat -- sdk routes -- docs -- update openapi.json
  docs/docs.json
  docs/v3/api-reference/endpoint/workspaces/chat.mdx
  docs/v3/documentation/features/chat.mdx
  docs/v3/documentation/reference/sdk.mdx
  docs/v3/openapi.json
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/http/routes.py
  sdks/typescript/src/client.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/types/api.ts
  src/crud/__init__.py
  src/crud/document.py
  src/dialectic/chat.py
  src/dialectic/prompts.py
  src/dialectic/workspace.py
  src/routers/workspaces.py
  src/schemas/api.py
  src/utils/agent_tools.py
  src/utils/representation.py
  tests/conftest.py
  tests/test_workspace_chat.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

Potential fix for code scanning alert no. 26: Information exposure through an exception
  src/routers/workspaces.py
Due: basedpyright, pytest-main

chore: code review & cleanup
  docs/v3/documentation/reference/sdk.mdx
  src/dialectic/base.py
  src/dialectic/core.py
  src/dialectic/workspace.py
  src/routers/workspaces.py
  src/utils/agent_tools.py
  tests/integration/test_token_metrics.py
Due: basedpyright, pytest-main

refactor: deduplicate code in agent_tools
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

chore: cleanup
  docs/v3/documentation/features/chat.mdx
  docs/v3/documentation/reference/sdk.mdx
  src/dialectic/base.py
  src/dialectic/chat.py
  src/dialectic/core.py
  src/routers/workspaces.py
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

feat: adjust workspace-level chat to scope by representation and fit honcho's data model -- add unified tests to confirm behaviors
  src/crud/__init__.py
  src/crud/document.py
  src/dialectic/prompts.py
  src/dialectic/workspace.py
  src/utils/agent_tools.py
  tests/test_workspace_chat.py
  tests/unified/runner.py
  tests/unified/schema.py
  tests/unified/test_cases/workspace_chat_cross_peer.json
  tests/unified/test_cases/workspace_chat_from_messages.json
  tests/unified/test_cases/workspace_chat_from_observations.json
Due: basedpyright, pytest-main

fix: wrap single embed() input in array for OpenAI-compatible provider compatibility
  src/embedding_client.py
Due: basedpyright, pytest-main

Fix input format in embedding test assertion
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

Simplify model configuration in deriver.py
  src/deriver/deriver.py
Due: basedpyright, pytest-main

feat: customize honcho for gooseware use
  mcp/bun.lock
  mcp/package-lock.json
  mcp/src/config.ts
Due: none

scope peer dialectic call (#387)
  src/crud/message.py
  src/dialectic/base.py
  src/dialectic/core.py
  src/schemas/__init__.py
  src/utils/agent_tools.py
  src/utils/search.py
  tests/crud/test_message_perspective.py
  tests/dialectic/test_core.py
  tests/integration/test_message_embeddings.py
  tests/test_search.py
  tests/unified/test_cases/peer_isolation_test.json
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

feat: replace list_peers with analytics-first peer discovery for workspace chat (#397)
  src/crud/__init__.py
  src/crud/workspace.py
  src/dialectic/prompts.py
  src/dialectic/workspace.py
  src/utils/agent_tools.py
  tests/test_workspace_chat.py
Due: basedpyright, pytest-main

fix: Code Rabbit Comments
  src/crud/workspace.py
  src/routers/peers.py
  src/routers/workspaces.py
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

chore: Update Changelog
  CHANGELOG.md
Due: none

fix: test compatibility after rebase
  src/dialectic/base.py
  src/dialectic/chat.py
  src/dialectic/core.py
  src/dreamer/specialists.py
  src/utils/agent_tools.py
  tests/dialectic/test_model_config_usage.py
  tests/integration/test_token_metrics.py
Due: basedpyright, pytest-main

chore: ruff fixes
  src/crud/__init__.py
Due: basedpyright, pytest-main

fix: changing package name to honcho-cli
  honcho-cli/README.md
  honcho-cli/pyproject.toml
  pyproject.toml
  sdks/python/pyproject.toml
  uv.lock
Due: none

fix: removing pixel face
  honcho-cli/src/honcho_cli/branding.py
Due: none

feat: adding honcho-cli package (#424)
  .claude/skills/honcho-integration/SKILL.md
  .gitignore
  honcho-cli/README.md
  honcho-cli/pyproject.toml
  honcho-cli/src/honcho_cli/__init__.py
  honcho-cli/src/honcho_cli/_help.py
  honcho-cli/src/honcho_cli/branding.py
  honcho-cli/src/honcho_cli/commands/__init__.py
  honcho-cli/src/honcho_cli/commands/conclusion.py
  honcho-cli/src/honcho_cli/commands/config_cmd.py
  honcho-cli/src/honcho_cli/commands/message.py
  honcho-cli/src/honcho_cli/commands/peer.py
  honcho-cli/src/honcho_cli/commands/session.py
  honcho-cli/src/honcho_cli/commands/setup.py
  honcho-cli/src/honcho_cli/commands/workspace.py
  honcho-cli/src/honcho_cli/common.py
  honcho-cli/src/honcho_cli/config.py
  honcho-cli/src/honcho_cli/main.py
  honcho-cli/src/honcho_cli/output.py
  honcho-cli/src/honcho_cli/skills/CONTEXT.md
  honcho-cli/src/honcho_cli/skills/honcho-debug.md
  honcho-cli/src/honcho_cli/skills/honcho-inspect.md
  honcho-cli/src/honcho_cli/validation.py
  honcho-cli/tests/__init__.py
  honcho-cli/tests/test_commands.py
  honcho-cli/tests/test_config.py
  honcho-cli/tests/test_validation.py
  honcho-cli/uv.lock
  pyproject.toml
  sdks/python/pyproject.toml
  uv.lock
Due: none

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
