Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

fix(deriver): accumulate usage across inline empty-parse retries
  src/deriver/deriver.py
Due: basedpyright, pytest-main

fix(deriver): tag batch messages with peer and target attributes (#1192)
  src/deriver/deriver.py
  src/deriver/prompts.py
  tests/deriver/test_prompts.py
Due: basedpyright, pytest-main

fix(llm): treat message.content as optional in every response path
  src/llm/backends/openai.py
  tests/llm/test_backends/test_openai_malformed_responses.py
Due: basedpyright, pytest-main

fix(llm): default absent finish_reason to the stop fallback
  src/llm/backends/openai.py
  tests/llm/test_backends/test_openai_malformed_responses.py
Due: basedpyright, pytest-main

docs(a8): CLAUDE.md — the per-tenant vector namespace contract
  CLAUDE.md
Due: none

test(a8): vector namespace isolation receipts
  tests/conftest.py
  tests/crud/test_workspace.py
  tests/deriver/test_vector_reconciliation.py
  tests/startup/test_embedding_validator.py
  tests/vector_store/test_tenant_namespace.py
Due: basedpyright, pytest-main

feat(a8): resolve the vector namespace prefix per tenant, not per process
  scripts/configure_embeddings.py
  src/crud/document.py
  src/crud/message.py
  src/crud/session.py
  src/crud/workspace.py
  src/deriver/scope_backfill.py
  src/reconciler/embed_now.py
  src/reconciler/sync_vectors.py
  src/startup/embedding_validator.py
  src/utils/search.py
  src/vector_store/__init__.py
  src/vector_store/tenant_namespace.py
Due: basedpyright, pytest-main

review: give a missing namespace key its own exception, and contain it per row
  CLAUDE.md
  src/crud/document.py
  src/exceptions.py
  src/reconciler/embed_now.py
  src/reconciler/sync_vectors.py
  src/vector_store/tenant_namespace.py
  tests/conftest.py
  tests/crud/test_session.py
  tests/crud/test_workspace.py
  tests/deriver/test_vector_reconciliation.py
  tests/vector_store/test_tenant_namespace.py
Due: basedpyright, pytest-main

fix(tests): pin CACHE_CLUSTER off in the bench harness
  src/cache/client.py
  tests/bench/harness.py
Due: basedpyright, pytest-main

feat: add hermes honcho plugin
  hermes-plugin-honcho/.gitignore
  hermes-plugin-honcho/HANDOFF.md
  hermes-plugin-honcho/LICENSE
  hermes-plugin-honcho/README.md
  hermes-plugin-honcho/__init__.py
  hermes-plugin-honcho/_shared_query_rewrite.py
  hermes-plugin-honcho/cli.py
  hermes-plugin-honcho/client.py
  hermes-plugin-honcho/client_cache.py
  hermes-plugin-honcho/config_schema.py
  hermes-plugin-honcho/dialectic.py
  hermes-plugin-honcho/oauth.py
  hermes-plugin-honcho/oauth_flow.py
  hermes-plugin-honcho/plugin.yaml
  hermes-plugin-honcho/pyproject.toml
  hermes-plugin-honcho/recall_sync.py
  hermes-plugin-honcho/session.py
  hermes-plugin-honcho/session_auth.py
  hermes-plugin-honcho/session_context.py
  hermes-plugin-honcho/session_migration.py
  hermes-plugin-honcho/session_peers.py
  hermes-plugin-honcho/tool_schemas.py
Due: none

fix(cache): release the idle connection the startup PING leaves behind
  src/cache/client.py
  tests/test_cache_default_node_connection.py
Due: basedpyright, pytest-main

feat: add hermes honcho plugin (#1197)
  hermes-plugin-honcho/.gitignore
  hermes-plugin-honcho/HANDOFF.md
  hermes-plugin-honcho/LICENSE
  hermes-plugin-honcho/README.md
  hermes-plugin-honcho/__init__.py
  hermes-plugin-honcho/_shared_query_rewrite.py
  hermes-plugin-honcho/cli.py
  hermes-plugin-honcho/client.py
  hermes-plugin-honcho/client_cache.py
  hermes-plugin-honcho/config_schema.py
  hermes-plugin-honcho/dialectic.py
  hermes-plugin-honcho/oauth.py
  hermes-plugin-honcho/oauth_flow.py
  hermes-plugin-honcho/plugin.yaml
  hermes-plugin-honcho/pyproject.toml
  hermes-plugin-honcho/recall_sync.py
  hermes-plugin-honcho/session.py
  hermes-plugin-honcho/session_auth.py
  hermes-plugin-honcho/session_context.py
  hermes-plugin-honcho/session_migration.py
  hermes-plugin-honcho/session_peers.py
  hermes-plugin-honcho/tool_schemas.py
Due: none

feat(mcp): support Honcho 3.2.0 conclusion attribution and chat evidence
  mcp/CHANGELOG.md
  mcp/bun.lock
  mcp/instructions.md
  mcp/package.json
  mcp/src/server.ts
  mcp/src/tools/chat-evidence.test.ts
  mcp/src/tools/conclusions.test.ts
  mcp/src/tools/conclusions.ts
  mcp/src/tools/peers.ts
  mcp/src/tools/workspace.ts
  mcp/src/types.ts
Due: none

feat(mcp): support Honcho 3.2.0 conclusion attribution and chat evidence (#1199)
  mcp/CHANGELOG.md
  mcp/bun.lock
  mcp/instructions.md
  mcp/package.json
  mcp/src/server.ts
  mcp/src/tools/chat-evidence.test.ts
  mcp/src/tools/conclusions.test.ts
  mcp/src/tools/conclusions.ts
  mcp/src/tools/peers.ts
  mcp/src/tools/workspace.ts
  mcp/src/types.ts
Due: none

feat(cli): support Honcho 3.2.0 conclusion attribution and chat evidence
  docs/snippets/cli-commands.mdx
  honcho-cli/CHANGELOG.md
  honcho-cli/pyproject.toml
  honcho-cli/src/honcho_cli/commands/conclusion.py
  honcho-cli/src/honcho_cli/commands/peer.py
  honcho-cli/src/honcho_cli/commands/workspace.py
  honcho-cli/src/honcho_cli/common.py
  honcho-cli/tests/test_conclusion_attribution.py
Due: none

chore(deps): shrink the runtime dependency footprint
  .env.template
  docs/v3/contributing/configuration.mdx
  pyproject.toml
  src/dreamer/trees/base.py
  src/dreamer/trees/graph.py
  src/dreamer/trees/prototype.py
  src/dreamer/trees/sklearn_wrapper.py
  src/llm/backends/__init__.py
  src/utils/files.py
  tests/routes/test_files.py
  uv.lock
Due: basedpyright, pytest-main

fix(tests): pin CACHE_CLUSTER off in the bench harness (#1196)
  src/cache/client.py
  tests/bench/harness.py
Due: basedpyright, pytest-main

perf(deriver): batch semantic dedup candidate lookups
  src/crud/document.py
  tests/crud/test_document.py
Due: basedpyright, pytest-main

chore(lint): fix basedpyright errors
  src/embedding_client.py
Due: basedpyright, pytest-main

feat(cli): support Honcho 3.2.0 conclusion attribution and chat evidence (#1200)
  docs/snippets/cli-commands.mdx
  honcho-cli/CHANGELOG.md
  honcho-cli/pyproject.toml
  honcho-cli/src/honcho_cli/commands/conclusion.py
  honcho-cli/src/honcho_cli/commands/peer.py
  honcho-cli/src/honcho_cli/commands/workspace.py
  honcho-cli/src/honcho_cli/common.py
  honcho-cli/tests/test_conclusion_attribution.py
Due: none

feat(hermes-plugin): send Honcho telemetry headers (host, plugin)
  hermes-plugin-honcho/client.py
Due: none

review: charge tenants for work in flight, split excluded backlog off the gauges
  migrations/versions/c4e8a2b91d57_queue_workspace_reconciler_check.py
  src/backlog.py
  src/crud/deriver.py
  src/models.py
  src/schemas/internal.py
  src/telemetry/prometheus/metrics.py
  tests/alembic/revisions/test_c4e8a2b91d57_queue_workspace_reconciler_check.py
  tests/deriver/test_fair_scheduling.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

feat(hermes-plugin): send Honcho telemetry headers (host, plugin) (#1203)
  hermes-plugin-honcho/client.py
Due: none

review: validate the lane CHECK unattended, via autocommit blocks
  migrations/versions/c4e8a2b91d57_queue_workspace_reconciler_check.py
  tests/alembic/revisions/test_c4e8a2b91d57_queue_workspace_reconciler_check.py
  tests/alembic/test_pipeline.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

fix(cache): release the idle connection the startup PING leaves behind (#1198)
  src/cache/client.py
  tests/test_cache_default_node_connection.py
Due: basedpyright, pytest-main

test(document): pin the batched candidate query to the per-document one
  tests/crud/test_document.py
Due: basedpyright, pytest-main

test(document): cover skipped documents in the candidate equivalence check
  tests/crud/test_document.py
Due: basedpyright, pytest-main

fix(crud): stop loading embedding content when deleting a session
  src/crud/session.py
Due: basedpyright, pytest-main

chore(cli): release 0.2.0
  honcho-cli/CHANGELOG.md
  honcho-cli/pyproject.toml
  honcho-cli/src/honcho_cli/__init__.py
  uv.lock
Due: none

chore(cli): release 0.2.0 (#1207)
  honcho-cli/CHANGELOG.md
  honcho-cli/pyproject.toml
  honcho-cli/src/honcho_cli/__init__.py
  uv.lock
Due: none

fix(crud): stop loading embedding content when deleting a session (#1206)
  src/crud/session.py
Due: basedpyright, pytest-main

feat(a6): refuse boot when MULTI_TENANT is on without auth
  CLAUDE.md
  src/startup/tenant_isolation_validator.py
  tests/startup/__init__.py
  tests/startup/test_tenant_isolation_validator.py
Due: basedpyright, pytest-main

docs(a7): CLAUDE.md — the tenant-in-telemetry contract
  CLAUDE.md
Due: none

feat(a7): tenant identity in telemetry under MULTI_TENANT
  src/deriver/queue_manager.py
  src/llm/runtime.py
  src/security.py
  src/telemetry/emitter.py
  src/telemetry/langfuse_exporter.py
  src/telemetry/prometheus/metrics.py
  src/telemetry/tenant.py
Due: basedpyright, pytest-main

review: pair the Sentry tag with its cleanup, mark the why-comments, drop a downstream product name
  CLAUDE.md
  src/deriver/queue_manager.py
  src/security.py
  src/telemetry/events/base.py
  src/telemetry/prometheus/metrics.py
  src/telemetry/tenant.py
  tests/telemetry/test_metric_zero_init.py
  tests/telemetry/test_tenant_identity.py
Due: basedpyright, pytest-main

review: rename the process-role setting to INSTANCE_TYPE
  .env.template
  CLAUDE.md
  config.toml.example
  docker-compose.yml.example
  src/config.py
  src/startup/tenant_isolation_validator.py
  tests/startup/test_tenant_isolation_validator.py
Due: basedpyright, pytest-main

docs(a6): MULTI_TENANT in both config templates, commented, master only
  .env.template
  config.toml.example
Due: none

test(a6): fresh single-tenant deploy gate + one-switch invariance
  tests/startup/test_fresh_single_tenant_deploy.py
  tests/test_single_tenant_mode.py
Due: basedpyright, pytest-main

test(a7): tenant identity receipts
  tests/telemetry/test_langfuse_exporter.py
  tests/telemetry/test_metric_zero_init.py
  tests/telemetry/test_tenant_identity.py
  tests/test_single_tenant_mode.py
Due: basedpyright, pytest-main

review: role-gate the auth check, sweepable test DB, four-state docstring
  .env.template
  CLAUDE.md
  config.toml.example
  docker-compose.yml.example
  src/config.py
  src/dependencies.py
  src/deriver/__main__.py
  src/main.py
  src/startup/tenant_isolation_validator.py
  tests/conftest.py
  tests/startup/__init__.py
  tests/startup/test_fresh_single_tenant_deploy.py
  tests/startup/test_tenant_isolation_validator.py
  tests/test_single_tenant_mode.py
Due: basedpyright, pytest-main
