Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  # Basic file checks (run on all files)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
        files: \.(py|js|ts)$
      - id: mixed-line-ending
        args: ['--fix=lf']
      # Additional checks from suggestions
      - id: check-docstring-first
        files: \.py$
      - id: check-executables-have-shebangs
      - id: check-case-conflict

  # Python code formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter - only on Python directories
      - id: ruff
        args: [--fix]
        files: ^(src/|tests/|scripts/|migrations/|sdks/python/).*\.py$
      # Formatter - only on Python directories
      - id: ruff-format
        files: ^(src/|tests/|scripts/|migrations/|sdks/python/).*\.py$

  # Security checks - only on main src code (not tests/scripts)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ['-r']
        files: ^(src/|sdks/python/src/).*\.py$

  # Local hooks using your uv environment
  - repo: local
    hooks:
      # TypeScript linting with biome
      - id: biome-check
        name: biome check and format
        entry: bash -c 'cd sdks/typescript && bun run lint:fix'
        language: system
        files: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
        pass_filenames: false

      # Type checking with basedpyright - only on main Python code
      - id: basedpyright
        name: basedpyright
        entry: uv run basedpyright
        language: system
        files: ^(src/|tests/|sdks/python/|scripts/).*\.py$
        require_serial: true
        pass_filenames: false

      # Run main application tests
      - id: pytest-main
        name: pytest (main app)
        entry: uv run pytest tests/
        language: system
        files: ^(src/|tests/).*\.py$
        stages: [pre-push]
        pass_filenames: false

      # Run Python SDK tests (if they exist)
      - id: pytest-python-sdk
        name: pytest (Python SDK)
        entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
        language: system
        files: ^sdks/python/.*\.py$
        stages: [pre-push]
        pass_filenames: false

      # TypeScript build/test with bun
      - id: typescript-check
        name: TypeScript build and test
        entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
        language: system
        files: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
        stages: [pre-push]
        pass_filenames: false

      # TypeScript type checking with bun
      - id: typescript-typecheck
        name: TypeScript type check
        entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run typecheck; fi'
        language: system
        files: ^sdks/typescript/.*\.(ts|tsx)$
        pass_filenames: false

  # Documentation linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: ['--fix']
        files: \.(md|mdx)$

  # Commit message linting
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.13.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

feat: separate deriver input / output tokens
  src/deriver/deriver.py
  src/prometheus.py
Due: basedpyright, pytest-main

fix: track dialectic input / output tokens
  src/dialectic/chat.py
  src/dialectic/prompts.py
  src/prometheus.py
  tests/test_llm_mock.py
Due: basedpyright, pytest-main

docs: first draft of langchain integration
  examples/langchain_integration.py
Due: none

[wip] build unified testing harness
  sdks/python/honcho_core-1.5.1-py3-none-any.whl
  sdks/python/pyproject.toml
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  src/utils/config_helpers.py
  tests/bench/harness.py
  tests/unified/README.md
  tests/unified/run.py
  tests/unified/runner.py
  tests/unified/schema.py
  tests/unified/test_cases/config_deriver_hierarchy.json
  tests/unified/test_cases/config_dream_control.json
  tests/unified/test_cases/config_message_positive_override.json
  tests/unified/test_cases/config_peercard_control.json
  tests/unified/test_cases/config_summary_control.json
  tests/unified/test_cases/config_summary_control_deriver_off.json
  tests/unified/test_cases/message_deriver_disabled.json
  tests/unified/test_cases/observation_2peer_bidirectional.json
  tests/unified/test_cases/observation_2peer_both_observe_me_false.json
  tests/unified/test_cases/observation_2peer_default.json
  tests/unified/test_cases/observation_2peer_observe_me_false_blocks_observation.json
  tests/unified/test_cases/observation_2peer_observe_me_false_but_can_still_observe_others.json
  tests/unified/test_cases/observation_2peer_unidirectional_alice_observes_bob.json
  tests/unified/test_cases/observation_2peer_unidirectional_bob_observes_alice.json
  tests/unified/test_cases/observation_3peer_all_observe_each_other.json
  tests/unified/test_cases/observation_3peer_circular.json
  tests/unified/test_cases/observation_3peer_multiple_observers_one_observed.json
  tests/unified/test_cases/observation_3peer_one_observer_multiple_observed.json
  tests/unified/test_cases/observation_3peer_selective_observation.json
  tests/unified/test_cases/observation_4peer_complex_matrix.json
  tests/unified/test_cases/observation_asymmetric_visibility.json
  tests/unified/test_cases/observation_isolation_between_sessions.json
  tests/unified/test_cases/session_deriver_disabled.json
  tests/unified/test_cases/workspace_deriver_disabled.json
  uv.lock
Due: basedpyright, pytest-main, pytest-python-sdk

chore: lint
  tests/unified/README.md
  tests/unified/runner.py
  tests/unified/test_cases/config_deriver_hierarchy.json
  tests/unified/test_cases/config_dream_control.json
  tests/unified/test_cases/config_message_positive_override.json
  tests/unified/test_cases/config_peercard_control.json
  tests/unified/test_cases/config_summary_control.json
  tests/unified/test_cases/config_summary_control_deriver_off.json
  tests/unified/test_cases/message_deriver_disabled.json
  tests/unified/test_cases/session_deriver_disabled.json
  tests/unified/test_cases/workspace_deriver_disabled.json
Due: basedpyright, pytest-main

feat: track dialectic output tokens in streaming API
  src/dialectic/chat.py
  src/utils/clients.py
Due: basedpyright, pytest-main

fix: update code to handle 10M
  tests/bench/beam.py
Due: basedpyright, pytest-main

fix: add component to metric ad change critical_analysis -> representation
  src/deriver/deriver.py
  src/prometheus.py
Due: basedpyright, pytest-main

docs: Simplification and additional clarity in honcho demo. Adding additional folder for integrations.
  docs/docs.json
  docs/v2/guides/overview.mdx
  docs/v2/integrations/langgraph.mdx
  docs/v2/integrations/mcp.mdx
  examples/langgraph_integration.py
Due: none

feat: track summary metrics in prometheus
  src/prometheus.py
  src/utils/summarizer.py
Due: basedpyright, pytest-main

test: fix client streaming mocks
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

docs: reformatting the order and adding clarity to instructions.
  docs/v2/guides/overview.mdx
  docs/v2/integrations/langgraph.mdx
  examples/langgraph_integration.py
Due: none

docs: adding additional context to function calls.
  docs/images/langgraph.png
  docs/v2/integrations/langgraph.mdx
Due: none

fix: update tokenizer
  src/schemas.py
  src/utils/tokens.py
Due: basedpyright, pytest-main

fix: cache invalidation, naming things, etc
  migrations/versions/121203eca967_merge_migration_heads.py
  src/config.py
  src/deriver/deriver.py
  src/utils/clients.py
  src/utils/summarizer.py
  tests/unified/runner.py
  tests/unified/schema.py
  tests/unified/test_cases/config_deriver_hierarchy.json
  tests/unified/test_cases/config_dream_control.json
  tests/unified/test_cases/config_message_positive_override.json
  tests/unified/test_cases/config_peercard_control.json
  tests/unified/test_cases/config_summary_control.json
  tests/unified/test_cases/config_summary_control_deriver_off.json
  tests/unified/test_cases/message_deriver_disabled.json
  tests/unified/test_cases/observation_2peer_bidirectional.json
  tests/unified/test_cases/observation_2peer_both_observe_me_false.json
  tests/unified/test_cases/observation_2peer_default.json
  tests/unified/test_cases/observation_2peer_observe_me_false_blocks_observation.json
  tests/unified/test_cases/observation_2peer_observe_me_false_but_can_still_observe_others.json
  tests/unified/test_cases/observation_2peer_unidirectional_alice_observes_bob.json
  tests/unified/test_cases/observation_2peer_unidirectional_bob_observes_alice.json
  tests/unified/test_cases/observation_3peer_all_observe_each_other.json
  tests/unified/test_cases/observation_3peer_circular.json
  tests/unified/test_cases/observation_3peer_multiple_observers_one_observed.json
  tests/unified/test_cases/observation_3peer_one_observer_multiple_observed.json
  tests/unified/test_cases/observation_3peer_selective_observation.json
  tests/unified/test_cases/observation_4peer_complex_matrix.json
  tests/unified/test_cases/observation_asymmetric_visibility.json
  tests/unified/test_cases/observation_isolation_between_sessions.json
  tests/unified/test_cases/session_deriver_disabled.json
  tests/unified/test_cases/workspace_deriver_disabled.json
Due: basedpyright, pytest-main

docs: final structural and grammatical modifications
  docs/v2/integrations/langgraph.mdx
Due: none

feat: longmem tests
  tests/bench/harness.py
  tests/unified/runner.py
  tests/unified/test_cases/config_dream_control.json
  tests/unified/test_cases/longmem_ancash.json
  tests/unified/test_cases/longmem_ancash_directional.json
  tests/unified/test_cases/longmem_giftcard.json
  tests/unified/test_cases/longmem_plank.json
  tests/unified/test_cases/longmem_triple_7161e7e2_single-session-assistant.json
  tests/unified/test_cases/longmem_triple_e47becba_single-session-user.json
  tests/unified/test_cases/longmem_triple_gpt4_59149c77_temporal-reasoning.json
Due: basedpyright, pytest-main

chore: peer config refactor
  src/deriver/enqueue.py
  src/schemas.py
Due: basedpyright, pytest-main

fix: timeout transparency
  tests/bench/beam.py
Due: basedpyright, pytest-main

docs: Adding Peer Session type hints
  docs/v2/integrations/langgraph.mdx
  examples/langgraph_integration.py
Due: none

docs: expanding the examples folder.
  examples/langchain/python/main.py
  examples/langchain/python/pyproject.toml
  examples/langchain/python/uv.lock
  examples/langchain/typescript/bun.lock
  examples/langchain/typescript/main.ts
  examples/langchain/typescript/package.json
  examples/langchain_integration.py
Due: none

fix: add helper method; instrument peer card
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/dialectic/chat.py
  src/dialectic/prompts.py
  src/prometheus.py
  src/utils/summarizer.py
  src/utils/tokens.py
Due: basedpyright, pytest-main

fix: count previous summary if not fallback
  src/utils/summarizer.py
Due: basedpyright, pytest-main

docs: Renaming example repo
  examples/langgraph/python/main.py
  examples/langgraph/python/pyproject.toml
  examples/langgraph/python/uv.lock
  examples/langgraph/typescript/bun.lock
  examples/langgraph/typescript/main.ts
  examples/langgraph/typescript/package.json
Due: none

docs: adding token limit, and initial discussion of peer cards
  docs/v2/integrations/langgraph.mdx
Due: none

feat: consolidate dream working, refactor representation
  sdks/python/honcho_core-1.5.1-py3-none-any.whl
  sdks/python/src/honcho/async_client/client.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/session.py
  sdks/python/src/honcho/types.py
  src/config.py
  src/crud/__init__.py
  src/crud/deriver.py
  src/crud/document.py
  src/crud/representation.py
  src/deriver/deriver.py
  src/deriver/enqueue.py
  src/dreamer/agent.py
  src/dreamer/consolidate.py
  src/dreamer/dream_scheduler.py
  src/dreamer/dreamer.py
  src/dreamer/prompts.py
  src/routers/observations.py
  src/routers/workspaces.py
  src/schemas.py
  src/utils/filter.py
  src/utils/queue_payload.py
  src/utils/representation.py
  tests/bench/peer_card_bench.py
  tests/conftest.py
  tests/crud/test_document.py
  tests/deriver/test_representation_crud.py
  tests/integration/test_representation.py
  tests/routes/test_observations.py
  tests/test_llm_mock.py
  tests/test_schema_validations.py
  tests/unified/runner.py
  tests/unified/schema.py
  tests/unified/test_cases/dream_consolidate_reduces_documents.json
  uv.lock
Due: basedpyright, pytest-main, pytest-python-sdk

docs: updating links
  docs/v2/integrations/langgraph.mdx
Due: none

Add LangGraph integration guide (#271)
  docs/docs.json
  docs/v2/guides/overview.mdx
  docs/v2/integrations/langgraph.mdx
  docs/v2/integrations/mcp.mdx
  examples/langgraph/python/main.py
  examples/langgraph/python/pyproject.toml
  examples/langgraph/python/uv.lock
  examples/langgraph/typescript/bun.lock
  examples/langgraph/typescript/main.ts
  examples/langgraph/typescript/package.json
Due: none

chore: fix up beam script
  pyproject.toml
  tests/bench/.gitignore
  tests/bench/beam.py
  uv.lock
Due: basedpyright, pytest-main

docs: removing honcho_core imports in SDK documentation where implemented by the honcho-ai package.
  docs/v2/openapi.documented.yml
  docs/v2/openapi.json
Due: none

docs: updating json import
  docs/docs.json
Due: none

metrics for deriver / dialectic input + output tokens (#274)
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/dialectic/chat.py
  src/dialectic/prompts.py
  src/prometheus.py
  src/schemas.py
  src/utils/clients.py
  src/utils/summarizer.py
  src/utils/tokens.py
  tests/test_llm_mock.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

fix: Various CR Comment Fixes
  migrations/versions/110bdf470272_rename_deriver_disabled_to_deriver_.py
  migrations/versions/121203eca967_merge_migration_heads.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/session.py
  sdks/typescript/src/session.ts
  src/crud/session.py
  src/main.py
  src/routers/sessions.py
  src/utils/summarizer.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_121203eca967_merge_migration_heads.py
  tests/routes/test_observations.py
  tests/routes/test_sessions.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

feat: re-org, overview, quickstart drafts
  docs/bun.lock
  docs/docs.json
  docs/package.json
  docs/pnpm-lock.yaml
  docs/v2/cookbooks/placeholder.mdx
  docs/v2/documentation/honcho-context/quickstart.mdx
  docs/v2/documentation/honcho-context/retrieval/overview.mdx
  docs/v2/documentation/honcho-memory/advanced-retrieval/get-context.mdx
  docs/v2/documentation/honcho-memory/quickstart.mdx
  docs/v2/documentation/introduction/overview.mdx
Due: none

fix: invalidate cache when creating summaries
  src/utils/summarizer.py
Due: basedpyright, pytest-main

chore: (docs) update changelog and version number
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  pyproject.toml
  src/main.py
  uv.lock
Due: basedpyright, pytest-main

chore: Code Review Comments
  migrations/utils.py
  migrations/versions/baa22cad81e2_standardize_constraint_names.py
  tests/alembic/revisions/test_baa22cad81e2_standardize_constraint_names.py
Due: basedpyright, pytest-main

chore: update for new downstream pr
  CHANGELOG.md
  docs/changelog/introduction.mdx
Due: none

fix: (db) fix remaining inconsistent index
  migrations/versions/baa22cad81e2_standardize_constraint_names.py
  src/models.py
  tests/alembic/revisions/test_baa22cad81e2_standardize_constraint_names.py
Due: basedpyright, pytest-main

Standardize DB Constraint Conventions (#272)
  database/init.sql
  migrations/env.py
  migrations/utils.py
  migrations/versions/05486ce795d5_make_session_name_required_on_messages.py
  migrations/versions/20f89a421aff_rename_metamessage_type_to_label.py
  migrations/versions/29ade7350c19_remove_document_level_valid_constraint.py
  migrations/versions/b765d82110bd_change_metamessages_to_user_level_with_.py
  migrations/versions/b8183c5ffb48_codify_document_level_and_times_derived.py
  migrations/versions/baa22cad81e2_standardize_constraint_names.py
  src/db.py
  src/models.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_20f89a421aff_rename_metamessage_type_to_label.py
  tests/alembic/revisions/test_baa22cad81e2_standardize_constraint_names.py
Due: basedpyright, pytest-main
