Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  # Basic file checks (run on all files)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
        files: \.(py|js|ts)$
      - id: mixed-line-ending
        args: ['--fix=lf']
      # Additional checks from suggestions
      - id: check-docstring-first
        files: \.py$
      - id: check-executables-have-shebangs
      - id: check-case-conflict

  # Python code formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter - only on Python directories
      - id: ruff
        args: [--fix]
        files: ^(src/|tests/|scripts/|migrations/|sdks/python/).*\.py$
      # Formatter - only on Python directories
      - id: ruff-format
        files: ^(src/|tests/|scripts/|migrations/|sdks/python/).*\.py$

  # Security checks - only on main src code (not tests/scripts)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ['-r']
        files: ^(src/|sdks/python/src/).*\.py$

  # Local hooks using your uv environment
  - repo: local
    hooks:
      # TypeScript linting with biome
      - id: biome-check
        name: biome check and format
        entry: bash -c 'cd sdks/typescript && bun run lint:fix'
        language: system
        files: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
        pass_filenames: false

      # Type checking with basedpyright - only on main Python code
      - id: basedpyright
        name: basedpyright
        entry: uv run basedpyright
        language: system
        files: ^(src/|tests/|sdks/python/|scripts/).*\.py$
        require_serial: true
        pass_filenames: false

      # Run main application tests
      - id: pytest-main
        name: pytest (main app)
        entry: uv run pytest tests/
        language: system
        files: ^(src/|tests/).*\.py$
        stages: [pre-push]
        pass_filenames: false

      # Run Python SDK tests (if they exist)
      - id: pytest-python-sdk
        name: pytest (Python SDK)
        entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
        language: system
        files: ^sdks/python/.*\.py$
        stages: [pre-push]
        pass_filenames: false

      # TypeScript build/test with bun
      - id: typescript-check
        name: TypeScript build and test
        entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
        language: system
        files: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
        stages: [pre-push]
        pass_filenames: false

      # TypeScript type checking with bun
      - id: typescript-typecheck
        name: TypeScript type check
        entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run typecheck; fi'
        language: system
        files: ^sdks/typescript/.*\.(ts|tsx)$
        pass_filenames: false

  # Documentation linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: ['--fix']
        files: \.(md|mdx)$

  # Commit message linting
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.13.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

fix: make workspace optional
  migrations/versions/88b0fb10906f_add_webhooks_table.py
  src/config.py
  src/crud/__init__.py
  src/crud/webhook.py
  src/models.py
  src/routers/webhooks.py
  src/schemas.py
  src/webhooks/webhook_delivery.py
  tests/routes/test_webhooks.py
Due: basedpyright, pytest-main

feat: document summarizer, change configuration, make default behavior exhaustive
  .env.template
  config.toml.example
  docs/v2/contributing/configuration.mdx
  docs/v2/documentation/core-concepts/summarizer.mdx
  src/config.py
  src/crud/message.py
  src/routers/sessions.py
  src/utils/summarizer.py
Due: basedpyright, pytest-main

feat: adjust summarizer prompts, add more benchmarks, fix small bugs
  src/crud/message.py
  src/routers/sessions.py
  src/utils/summarizer.py
  tests/bench/run_tests.py
  tests/bench/tests/long_summary.json
  tests/bench/tests/summary_and_query.json
  tests/bench/tests/summary_multi_session.json
Due: basedpyright, pytest-main

feat: prompt engineering + benchmarking
  src/config.py
  src/utils/summarizer.py
  tests/bench/tests/summary_long_messages.json
  tests/bench/tests/summary_short_messages.json
Due: basedpyright, pytest-main

chore (docs): Update Versions and Changelogs (#172)
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  pyproject.toml
  src/main.py
  uv.lock
Due: basedpyright, pytest-main

chore: fix tests and types
  src/crud/message.py
  src/dialectic/chat.py
Due: basedpyright, pytest-main

chore: coderabbit review
  docs/v2/documentation/core-concepts/summarizer.mdx
  src/crud/message.py
Due: basedpyright, pytest-main

fix: comments
  migrations/versions/88b0fb10906f_add_webhooks_table.py
  src/config.py
  src/crud/webhook.py
  src/models.py
  src/routers/webhooks.py
  src/schemas.py
  src/webhooks/webhook_delivery.py
  tests/routes/test_webhooks.py
Due: basedpyright, pytest-main

refactor: add webhook secret
  scripts/generate_jwt_secret.py
  src/config.py
  src/webhooks/webhook_delivery.py
Due: basedpyright, pytest-main

fix: CR comments
  src/crud/webhook.py
  src/routers/webhooks.py
  src/webhooks/webhook_delivery.py
Due: basedpyright, pytest-main

chore: add explanatory comments to summary prompts
  src/utils/summarizer.py
Due: basedpyright, pytest-main

fix (queue): Add explicit rollback on integrity error
  src/deriver/queue_manager.py
Due: basedpyright, pytest-main

Summarizer improvements (#173)
  .env.template
  config.toml.example
  docs/v2/contributing/configuration.mdx
  docs/v2/documentation/core-concepts/summarizer.mdx
  src/config.py
  src/crud/message.py
  src/dialectic/chat.py
  src/routers/sessions.py
  src/utils/summarizer.py
  tests/bench/run_tests.py
  tests/bench/tests/long_summary.json
  tests/bench/tests/summary_and_query.json
  tests/bench/tests/summary_long_messages.json
  tests/bench/tests/summary_multi_session.json
  tests/bench/tests/summary_short_messages.json
Due: basedpyright, pytest-main

feat: use deriver for webhooks
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/deriver/queue_payload.py
  src/main.py
  src/webhooks/event_emitter.py
  src/webhooks/webhook_delivery.py
Due: basedpyright, pytest-main

fix: make get_or_create routes more resilien
  src/crud/collection.py
  src/crud/peer.py
  src/crud/session.py
  src/crud/workspace.py
Due: basedpyright, pytest-main

fix: standardize retry
  src/crud/collection.py
  src/crud/peer.py
  src/crud/session.py
  src/crud/workspace.py
Due: basedpyright, pytest-main

fix: resolve get_effective_observe me race condition, default peer config
  src/deriver/enqueue.py
Due: basedpyright, pytest-main

fix: make get_or_create routes more resilient (#175)
  src/crud/collection.py
  src/crud/peer.py
  src/crud/session.py
  src/crud/workspace.py
Due: basedpyright, pytest-main

fix (queue): Add explicit rollback on integrity error (#174)
  src/deriver/queue_manager.py
Due: basedpyright, pytest-main

fix: preserve custom config even after leaving
  src/crud/session.py
  src/deriver/enqueue.py
Due: basedpyright, pytest-main

chore: test cases, enqueue types
  src/deriver/enqueue.py
  tests/integration/test_enqueue.py
Due: basedpyright, pytest-main

use key-value approach
  migrations/versions/88b0fb10906f_add_webhooks_table.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/deriver/queue_payload.py
  src/deriver/queue_work_unit.py
  src/models.py
  src/webhooks/event_emitter.py
Due: basedpyright, pytest-main

fix (deriver): Add Sentry decorators and some additional tests
  src/deriver/deriver.py
  tests/routes/test_messages.py
  tests/routes/test_peers.py
Due: basedpyright, pytest-main

feat (test): Deriver Fixtures for Testing
  tests/conftest.py
  tests/crud/test_session.py
  tests/deriver/README.md
  tests/deriver/__init__.py
  tests/deriver/conftest.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_queue_operations.py
  tests/deriver/test_queue_processing.py
  tests/test_llm_mock.py
Due: basedpyright, pytest-main

feat: add work unit key to deriver
  migrations/versions/88b0fb10906f_add_webhooks_table.py
  src/deriver/deriver.py
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/deriver/queue_work_unit.py
  src/deriver/utils.py
  src/models.py
  src/webhooks/event_emitter.py
  src/webhooks/event_publisher.py
  src/webhooks/events.py
Due: basedpyright, pytest-main

chore: fill out missing metadata inputs in python sdk
  sdks/python/src/honcho/async_client/client.py
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/py.typed
  sdks/python/src/honcho/session.py
  sdks/python/src/honcho/session_context.py
Due: basedpyright, pytest-python-sdk

fix: add work unit key to webhooks
  src/deriver/consumer.py
  src/webhooks/event_publisher.py
Due: basedpyright, pytest-main

fix: tests
  docs/v2/documentation/core-concepts/summarizer.mdx
  migrations/versions/88b0fb10906f_add_webhooks_table.py
  src/crud/deriver.py
  src/deriver/queue_payload.py
  src/models.py
  tests/routes/test_queue_status.py
Due: basedpyright, pytest-main

feat: add get_peer_config to python sdk, thoroughly document ts sdk and remove bad client usage
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/peer.py
  sdks/typescript/src/client.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/session_context.ts
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check, typescript-typecheck

fix: cr comments #2
  pyproject.toml
  src/config.py
  src/crud/webhook.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/deriver/utils.py
  src/models.py
  src/webhooks/event_publisher.py
  src/webhooks/webhook_delivery.py
  uv.lock
Due: basedpyright, pytest-main

feat: zod chore: update tests chore: bump version, changelog
  sdks/typescript/CHANGELOG.md
  sdks/typescript/__tests__/__mocks__/@honcho-ai/core.ts
  sdks/typescript/__tests__/client.test.ts
  sdks/typescript/__tests__/integration.test.ts
  sdks/typescript/__tests__/pagination.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/__tests__/session_context.test.ts
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  sdks/typescript/src/client.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/validation.ts
Due: biome-check, typescript-check, typescript-typecheck

chore: python sdk version bump and changelog
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/python/uv.lock
Due: none

[WIP] feat: combine search methods and rework endpoint to include limit param
  sdks/python/src/honcho/async_client/client.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/session.py
  sdks/typescript/src/client.ts
  sdks/typescript/src/session.ts
  src/crud/__init__.py
  src/crud/message.py
  src/routers/peers.py
  src/routers/sessions.py
  src/routers/workspaces.py
  src/schemas.py
  src/utils/search.py
  tests/integration/test_message_embeddings.py
  tests/routes/test_peers.py
  tests/routes/test_sessions.py
  tests/routes/test_workspaces.py
  tests/sdk/test_client.py
  tests/sdk/test_session.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

chore: test new stainless config with library
  sdks/python/pyproject.toml
  sdks/python/src/honcho/async_client/client.py
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/python/uv.lock
  sdks/typescript/bun.lock
  sdks/typescript/package.json
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check

nits: coderabbit
  sdks/python/CHANGELOG.md
  sdks/typescript/CHANGELOG.md
Due: none

Merge branch 'ben/sdk-improvements' into ben/search-rrf
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/python/src/honcho/async_client/client.py
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/py.typed
  sdks/python/src/honcho/session.py
  sdks/python/src/honcho/session_context.py
  sdks/python/uv.lock
  sdks/typescript/CHANGELOG.md
  sdks/typescript/__tests__/__mocks__/@honcho-ai/core.ts
  sdks/typescript/__tests__/client.test.ts
  sdks/typescript/__tests__/integration.test.ts
  sdks/typescript/__tests__/pagination.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/__tests__/session_context.test.ts
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  sdks/typescript/src/client.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/session_context.ts
  sdks/typescript/src/validation.ts
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check, typescript-typecheck

fix: endpoint structure; make webhook delivery into a function; add tests; other general comments
  src/crud/webhook.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/deriver/queue_payload.py
  src/routers/webhooks.py
  src/schemas.py
  src/webhooks/README.md
  src/webhooks/event_publisher.py
  src/webhooks/events.py
  src/webhooks/webhook_delivery.py
  tests/routes/test_webhooks.py
Due: basedpyright, pytest-main

chore: change webhook secret, fix test event and workspace_id, use async with
  src/config.py
  src/crud/webhook.py
  src/deriver/queue_manager.py
  src/routers/webhooks.py
  src/webhooks/README.md
  src/webhooks/events.py
  src/webhooks/webhook_delivery.py
  tests/routes/test_webhooks.py
Due: basedpyright, pytest-main

fix: resolve get_effective_observe me race condition, default peer config (#176)
  src/crud/session.py
  src/deriver/enqueue.py
  tests/integration/test_enqueue.py
Due: basedpyright, pytest-main

chore: pre-commit hooks cleanup
  docs/v2/documentation/core-concepts/glossary.mdx
  docs/v2/documentation/core-concepts/summarizer.mdx
  docs/v2/openapi.documented.yml
  mcp/.gitignore
  mcp/README.md
  mcp/instructions.md
  mcp/tsconfig.json
  mcp/worker.ts
  mcp/wrangler.toml
  migrations/versions/05486ce795d5_make_session_name_required_on_messages.py
  pyproject.toml
  scripts/update_version.py
  sdks/typescript/__tests__/client.test.ts
  sdks/typescript/__tests__/integration.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  sdks/typescript/src/client.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/session_context.ts
  sdks/typescript/src/validation.ts
  sdks/typescript/tsconfig.json
  tests/routes/test_peers.py
  tests/routes/test_sessions.py
  tests/routes/test_workspaces.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, typescript-check, typescript-typecheck
