Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

feat(api-rs): port summarizer decision helpers
  api-rs/src/summarizer.rs
Due: none

feat(api-rs): port summary orchestrator (create_and_save_summary)
  api-rs/src/db.rs
  api-rs/src/summarizer.rs
  api-rs/tests/db.rs
Due: none

feat(api-rs): port summarize_if_needed gating wrapper
  api-rs/src/summarizer.rs
  api-rs/tests/db.rs
Due: none

test(messages): await sync TestClient in breadcrumb tests; annotate route return (#10)
  src/routers/messages.py
  tests/test_tool_breadcrumb_filtering.py
Due: basedpyright, pytest-main

ci(deploy): trigger rebuild+redeploy on push to main
  .github/workflows/rebuild.yaml
Due: none

feat(deriver): DERIVER_UNOBSERVED_PEERS — deployment-level observe_me opt-out
  .github/workflows/rebuild.yaml
  rebuild.sh
  src/config.py
  src/crud/document.py
  src/deriver/enqueue.py
Due: basedpyright, pytest-main

Skip persisting [Tool] Ran: breadcrumb messages at ingestion (#7)
  src/config.py
  src/routers/messages.py
  src/utils/message_filter.py
  tests/test_tool_breadcrumb_filtering.py
Due: basedpyright, pytest-main

feat(deriver): per-session observation cap on representation contributions (#9)
  src/config.py
  src/crud/__init__.py
  src/crud/document.py
  src/crud/representation.py
  tests/crud/test_document.py
  tests/crud/test_representation_manager.py
Due: basedpyright, pytest-main

feat(dreamer): biographical-refresh pass to reconcile stale peer-card facts (#8)
  src/config.py
  src/dreamer/biographical_refresh.py
  src/dreamer/orchestrator.py
  src/telemetry/events/llm.py
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

Point Honcho embeddings at MBP Ollama
  config.toml
Due: none

dreamer: nudge deduction/induction prompts toward durable, deduplicated conclusions
  src/dreamer/specialists.py
Due: basedpyright, pytest-main

deriver: curb fabrication and hedging in explicit extraction
  src/deriver/prompts.py
Due: basedpyright, pytest-main

Add Honcho embedding fallback watchdog
  config.toml
  scripts/honcho_embedding_endpoint_watchdog.py
  systemd/honcho-embedding-endpoint-watchdog.service
  systemd/honcho-embedding-endpoint-watchdog.timer
Due: basedpyright

feat(api-rs): wire summary task type into deriver worker
  api-rs/src/bin/deriver.rs
  api-rs/src/db.rs
  api-rs/src/deriver/queue_manager.rs
  api-rs/src/summarizer.rs
  api-rs/tests/db.rs
Due: none

feat(api-rs): port reconciler telemetry events
  api-rs/src/telemetry/events.rs
Due: none

feat(api-rs): port reconciler cleanup DB crud
  api-rs/src/db.rs
  api-rs/tests/db.rs
Due: none

feat(api-rs): wire reconciler task type into deriver worker
  api-rs/src/db.rs
  api-rs/src/deriver/queue_manager.rs
  api-rs/src/deriver/settings.rs
  api-rs/src/lib.rs
  api-rs/src/reconciler/mod.rs
  api-rs/tests/db.rs
Due: none

feat(api-rs): port ReconcilerScheduler + wire into worker binary
  api-rs/src/bin/deriver.rs
  api-rs/src/db.rs
  api-rs/src/reconciler/mod.rs
  api-rs/src/reconciler/scheduler.rs
  api-rs/tests/db.rs
Due: none

feat(api-rs): port webhook delivery module + endpoint-URL crud
  api-rs/src/db.rs
  api-rs/src/lib.rs
  api-rs/src/webhooks/mod.rs
Due: none

feat(api-rs): wire webhook task type into deriver worker
  api-rs/src/bin/deriver.rs
  api-rs/src/config.rs
  api-rs/src/deriver/queue_manager.rs
  api-rs/tests/db.rs
Due: none

docs(env): add Dialectic base URL override examples to .env.template
  .env.template
Due: none

docs(env): add Dialectic base URL override examples to .env.template (#833)
  .env.template
Due: none

feat(api-rs): port DreamRunEvent + DreamSpecialistEvent telemetry
  api-rs/src/telemetry/events.rs
Due: none

feat(api-rs): port dreamer specialist prompt builders
  api-rs/src/dreamer/fixtures/ded_sys_nopc.txt
  api-rs/src/dreamer/fixtures/ded_sys_pc.txt
  api-rs/src/dreamer/fixtures/ded_user_hints_card.txt
  api-rs/src/dreamer/fixtures/ded_user_nohints_nocard.txt
  api-rs/src/dreamer/fixtures/ind_sys.txt
  api-rs/src/dreamer/fixtures/ind_user_hints.txt
  api-rs/src/dreamer/fixtures/ind_user_nohints.txt
  api-rs/src/dreamer/mod.rs
  api-rs/src/dreamer/specialists.rs
  api-rs/src/lib.rs
Due: none

fix(llm): record effective prompt-only input on run span
  src/llm/api.py
Due: basedpyright, pytest-main

feat(api-rs): port dreamer tool schemas + peer-card validator
  api-rs/src/dreamer/fixtures/deduction_tools.json
  api-rs/src/dreamer/fixtures/induction_tools.json
  api-rs/src/dreamer/mod.rs
  api-rs/src/dreamer/tools.rs
Due: none

feat(api-rs): port agent-tool write telemetry events
  api-rs/src/telemetry/events.rs
Due: none

feat(api-rs): port delete_documents crud (multi-id scoped soft-delete)
  api-rs/src/db.rs
  api-rs/tests/db.rs
Due: none

feat(api-rs): add create_documents_returning_levels + query_documents_recent_full
  api-rs/src/db.rs
  api-rs/tests/db.rs
Due: none

feat(api-rs): port dreamer create_observations + observation validation
  api-rs/src/dreamer/handlers.rs
  api-rs/src/dreamer/mod.rs
Due: none

test(api-rs): gated DB test for dreamer create_observations
  api-rs/tests/db.rs
Due: none

feat(api-rs): port DreamerToolExecutor (write/read tool dispatch + rollups)
  api-rs/src/dreamer/executor.rs
  api-rs/src/dreamer/handlers.rs
  api-rs/src/dreamer/mod.rs
  api-rs/src/telemetry/events.rs
  api-rs/tests/db.rs
Due: none

feat(api-rs): port dreamer specialist run() assembly
  api-rs/src/dreamer/specialists.rs
  api-rs/tests/db.rs
Due: none

feat(api-rs): port dreamer orchestrator (run_dream + process_dream)
  api-rs/src/db.rs
  api-rs/src/deriver/payload.rs
  api-rs/src/dreamer/executor.rs
  api-rs/src/dreamer/mod.rs
  api-rs/src/dreamer/orchestrator.rs
  api-rs/src/dreamer/specialists.rs
  api-rs/tests/db.rs
Due: none

chore: address coderabbit docs nitpicks
  docs/v3/contributing/configuration.mdx
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

Forward provider_params to underlying transport (#821)
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/llm/backends/anthropic.py
  src/llm/backends/gemini.py
  src/llm/backends/openai.py
  src/llm/request_builder.py
  tests/llm/test_backends/test_anthropic.py
  tests/llm/test_backends/test_gemini.py
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

fix: authorize JWTs by narrowest scope and gate member reads
  CHANGELOG.md
  CLAUDE.md
  docs/v3/documentation/reference/platform.mdx
  src/routers/keys.py
  src/routers/peers.py
  src/routers/sessions.py
  src/security.py
  tests/routes/test_auth_route_policy.py
  tests/routes/test_messages.py
  tests/routes/test_peers.py
Due: basedpyright, pytest-main

Fix scoped JWTs (#679)
  CHANGELOG.md
  CLAUDE.md
  docs/v3/documentation/reference/platform.mdx
  src/crud/session.py
  src/routers/keys.py
  src/routers/messages.py
  src/routers/peers.py
  src/routers/sessions.py
  src/routers/webhooks.py
  src/security.py
  tests/conftest.py
  tests/routes/test_auth_route_policy.py
  tests/routes/test_messages.py
  tests/routes/test_peers.py
  tests/routes/test_scoped_api.py
  tests/test_security.py
Due: basedpyright, pytest-main

fix(llm): harden structured_output_mode json_object path
  .env.template
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/llm/backends/openai.py
  src/llm/runtime.py
  tests/llm/test_backends/test_openai.py
  tests/llm/test_model_config.py
Due: basedpyright, pytest-main

feat(deriver): age-flush stalled representation batches (#826)
  .env.template
  CHANGELOG.md
  config.toml.example
  docs/v3/contributing/configuration.mdx
  docs/v3/contributing/troubleshooting.mdx
  docs/v3/documentation/core-concepts/design-patterns.mdx
  docs/v3/guides/recipes/unified-memory-setup.mdx
  src/config.py
  src/deriver/queue_manager.py
  tests/deriver/test_queue_processing.py
  tests/test_config.py
Due: basedpyright, pytest-main
