Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  # Basic file checks (run on all files)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
        files: \.(py|js|ts)$
      - id: mixed-line-ending
        args: ['--fix=lf']
      # Additional checks from suggestions
      - id: check-docstring-first
        files: \.py$
      - id: check-executables-have-shebangs
      - id: check-case-conflict

  # Python code formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter - only on Python directories
      - id: ruff
        args: [--fix]
        files: ^(src/|tests/|scripts/|migrations/|sdks/python/).*\.py$
      # Formatter - only on Python directories
      - id: ruff-format
        files: ^(src/|tests/|scripts/|migrations/|sdks/python/).*\.py$

  # Security checks - only on main src code (not tests/scripts)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ['-r']
        files: ^(src/|sdks/python/src/).*\.py$

  # Local hooks using your uv environment
  - repo: local
    hooks:
      # TypeScript linting with biome
      - id: biome-check
        name: biome check and format
        entry: bash -c 'cd sdks/typescript && bun run lint:fix'
        language: system
        files: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
        pass_filenames: false

      # Type checking with basedpyright - only on main Python code
      - id: basedpyright
        name: basedpyright
        entry: uv run basedpyright
        language: system
        files: ^(src/|tests/|sdks/python/|scripts/).*\.py$
        require_serial: true
        pass_filenames: false

      # Run main application tests
      - id: pytest-main
        name: pytest (main app)
        entry: uv run pytest tests/
        language: system
        files: ^(src/|tests/).*\.py$
        stages: [pre-push]
        pass_filenames: false

      # Run Python SDK tests (if they exist)
      - id: pytest-python-sdk
        name: pytest (Python SDK)
        entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
        language: system
        files: ^sdks/python/.*\.py$
        stages: [pre-push]
        pass_filenames: false

      # TypeScript build/test with bun
      - id: typescript-check
        name: TypeScript build and test
        entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
        language: system
        files: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
        stages: [pre-push]
        pass_filenames: false

      # TypeScript type checking with bun
      - id: typescript-typecheck
        name: TypeScript type check
        entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run typecheck; fi'
        language: system
        files: ^sdks/typescript/.*\.(ts|tsx)$
        pass_filenames: false

  # Documentation linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: ['--fix']
        files: \.(md|mdx)$

  # Commit message linting
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.13.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

fix: rename + commit
  src/deriver/queue_manager.py
  src/main.py
Due: basedpyright, pytest-main

feat: Modify the Summary BaseModel to use public_id of message rather than internal ID (#224)
  sdks/python/src/honcho/session_context.py
  sdks/typescript/src/session_context.ts
  src/deriver/consumer.py
  src/deriver/queue_payload.py
  src/routers/messages.py
  src/schemas.py
  src/utils/summarizer.py
  tests/deriver/conftest.py
  tests/deriver/test_queue_processing.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

chore: update migration to non-null session param in documents, general review and cleanup
  migrations/versions/08894082221a_replace_collection_name_with_observer_.py
  src/crud/__init__.py
  src/crud/document.py
  src/crud/peer_card.py
  src/crud/representation.py
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/dialectic/chat.py
  src/dreamer/dreamer.py
  src/models.py
  src/routers/sessions.py
  src/schemas.py
  src/utils/representation.py
  src/utils/tokens.py
  src/utils/work_unit.py
  tests/bench/peer_card_bench.py
  tests/crud/test_peer_card.py
  tests/deriver/test_representation_crud.py
  tests/integration/test_representation.py
  tests/test_schema_validations.py
Due: basedpyright, pytest-main

feat: add MESSAGE_INPUT_TOKENS and DERIVER_TOKENS_PROCESSED counters
  src/deriver/deriver.py
  src/prometheus.py
  src/routers/messages.py
  tests/test_llm_mock.py
Due: basedpyright, pytest-main

fix: rm apscheduler
  pyproject.toml
  uv.lock
Due: none

fix: add default for created_at in migration
  migrations/versions/ddf7b217ca3e_add_error_field_to_queueitem.py
Due: none

feat: multi-db longmem harness
  tests/bench/harness.py
  tests/bench/longmem.py
Due: basedpyright, pytest-main

fix: consolidate error handling and only throw away first message of an errored batch
  src/deriver/queue_manager.py
Due: basedpyright, pytest-main

chore: merge branch 'main' into ben/deriver-tidy
  CHANGELOG.md
  docs/changelog/introduction.mdx
  sdks/python/CHANGELOG.md
  sdks/python/src/honcho/session_context.py
  sdks/typescript/CHANGELOG.md
  sdks/typescript/src/session_context.ts
  src/deriver/consumer.py
  src/routers/messages.py
  src/schemas.py
  src/utils/queue_payload.py
  src/utils/summarizer.py
  tests/deriver/conftest.py
  tests/deriver/test_queue_processing.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

fix: move processing to within queue manager
  src/config.py
  src/deriver/queue_manager.py
  src/main.py
  tests/conftest.py
Due: basedpyright, pytest-main

chore: review fixes
  sdks/python/CHANGELOG.md
  sdks/typescript/CHANGELOG.md
  sdks/typescript/src/session_context.ts
  src/crud/document.py
  src/crud/representation.py
  src/utils/clients.py
Due: biome-check, basedpyright, pytest-main, typescript-check, typescript-typecheck

fix: rm message input tokens
  src/routers/messages.py
Due: basedpyright, pytest-main

fix: regen migration
  migrations/versions/76ffba56fe8c_add_error_field_to_queueitem.py
Due: none

Merge branch 'main' into ben/multi-db-harness
  CHANGELOG.md
  docs/changelog/introduction.mdx
  migrations/versions/08894082221a_replace_collection_name_with_observer_.py
  sdks/python/CHANGELOG.md
  sdks/python/src/honcho/session_context.py
  sdks/typescript/CHANGELOG.md
  sdks/typescript/src/session_context.ts
  src/crud/__init__.py
  src/crud/document.py
  src/crud/peer_card.py
  src/crud/representation.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/dialectic/chat.py
  src/dreamer/dreamer.py
  src/models.py
  src/routers/messages.py
  src/routers/sessions.py
  src/schemas.py
  src/utils/clients.py
  src/utils/queue_payload.py
  src/utils/representation.py
  src/utils/summarizer.py
  src/utils/tokens.py
  src/utils/work_unit.py
  tests/bench/peer_card_bench.py
  tests/crud/test_peer_card.py
  tests/deriver/conftest.py
  tests/deriver/test_queue_processing.py
  tests/deriver/test_representation_crud.py
  tests/integration/test_representation.py
  tests/test_schema_validations.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

fix: CR comment
  migrations/versions/76ffba56fe8c_add_error_field_to_queueitem.py
Due: none

fix: rename message -> queue_item when dealing with queue_item in the queue manager
  src/deriver/queue_manager.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

Add QueueItem cleanup logic (#228)
  migrations/versions/76ffba56fe8c_add_error_field_to_queueitem.py
  src/config.py
  src/deriver/queue_manager.py
  src/main.py
  src/models.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

fix: PR comments; docstrings; error handle metrics exposing endpoint
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/prometheus.py
Due: basedpyright, pytest-main

chore: Code Rabbit
  src/main.py
Due: basedpyright, pytest-main

Integrate prometheus into Honcho (#226)
  .env.template
  config.toml.example
  fly.toml
  pyproject.toml
  src/config.py
  src/deriver/__main__.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/main.py
  src/prometheus.py
  src/routers/messages.py
  src/routers/peers.py
  src/utils/logging.py
  tests/test_llm_mock.py
  uv.lock
Due: basedpyright, pytest-main

feat: Release PR for v2.4.0
  .github/workflows/fly-deploy-prod.yml
  .github/workflows/fly-deploy.yml
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v2/api-reference/endpoint/metrics.mdx
  docs/v2/openapi.documented.json
  docs/v2/openapi.documented.yml
  pyproject.toml
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/python/src/honcho/__init__.py
  sdks/typescript/CHANGELOG.md
  sdks/typescript/__tests__/session_context.test.ts
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  src/main.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

chore: initial re-organization pass
  docs/changelog/compatibility-guide.mdx
  docs/docs.json
  docs/v2/documentation/reference/platform.mdx
  docs/v2/guides/overview.mdx
Due: none

[WIP] feat: add delete workspace endpoint, use in bench
  sdks/python/src/honcho/async_client/client.py
  sdks/python/src/honcho/client.py
  sdks/typescript/src/client.ts
  src/crud/__init__.py
  src/crud/workspace.py
  src/deriver/deriver.py
  src/deriver/enqueue.py
  src/dialectic/chat.py
  src/routers/workspaces.py
  tests/bench/harness.py
  tests/bench/longmem.py
  tests/crud/test_workspace.py
  tests/routes/test_workspaces.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

chore: in progress edits
  docs/docs.json
  docs/v2/documentation/core-concepts/architecture.mdx
  docs/v2/documentation/introduction/overview.mdx
Due: none

chore: update honcho-ai/core, remove WIPs
  pyproject.toml
  sdks/python/pyproject.toml
  sdks/python/src/honcho/session.py
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  sdks/typescript/src/session.ts
  src/config.py
  tests/bench/deriver_status_tui.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

chore: move excess logging to debug
  src/crud/peer.py
  src/crud/representation.py
  src/crud/session.py
  src/crud/webhook.py
  src/crud/workspace.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/dialectic/chat.py
  src/dialectic/prompts.py
  src/embedding_client.py
  src/routers/messages.py
  src/routers/sessions.py
  src/utils/logging.py
  src/utils/summarizer.py
  src/webhooks/webhook_delivery.py
  tests/bench/longmem.py
Due: basedpyright, pytest-main

fix: consistent ordering, comment nits, removed excess dreamer init
  sdks/python/src/honcho/session.py
  sdks/python/src/honcho/session_context.py
  src/crud/document.py
  src/deriver/queue_manager.py
Due: basedpyright, pytest-main, pytest-python-sdk

fix: test int->str
  sdks/typescript/__tests__/session_context.test.ts
Due: biome-check, typescript-check, typescript-typecheck

fix: Add validation and update async python client
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/session.py
Due: basedpyright, pytest-python-sdk

fix: add validation for last_user_message as well
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/session.py
Due: basedpyright, pytest-python-sdk

fix: add deeper validation to getContext in typescript sdk
  sdks/typescript/src/session.ts
  sdks/typescript/src/validation.ts
Due: biome-check, typescript-check, typescript-typecheck

fix: [CRITICAL] use async genai client
  src/deriver/deriver.py
  src/dialectic/chat.py
  src/utils/clients.py
Due: basedpyright, pytest-main

fix: let session context take a Message object for lastUserMessage to match python sdk behavior
  sdks/typescript/src/session.ts
  sdks/typescript/src/validation.ts
Due: biome-check, typescript-check, typescript-typecheck

fix: use PeerIdSchema
  sdks/typescript/src/session.ts
  sdks/typescript/src/validation.ts
Due: biome-check, typescript-check, typescript-typecheck

fix: allow peer object as argument
  sdks/typescript/src/session.ts
Due: biome-check, typescript-check, typescript-typecheck

fix: lastUserMessage min length 1
  sdks/typescript/src/validation.ts
Due: biome-check, typescript-check, typescript-typecheck

Add updated get_context to SDKs (#231)
  sdks/python/pyproject.toml
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/session.py
  sdks/python/src/honcho/session_context.py
  sdks/typescript/__tests__/session_context.test.ts
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  sdks/typescript/src/session.ts
  sdks/typescript/src/session_context.ts
  sdks/typescript/src/validation.ts
  tests/bench/harness.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

chore: update core sdk, fix tests to use aio as well
  sdks/python/pyproject.toml
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  tests/conftest.py
  tests/utils/test_clients.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, typescript-check

fix: rollback prompt changes
  src/dialectic/prompts.py
Due: basedpyright, pytest-main
