Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  # Basic file checks (run on all files)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
        files: \.(py|js|ts)$
      - id: mixed-line-ending
        args: ['--fix=lf']
      # Additional checks from suggestions
      - id: check-docstring-first
        files: \.py$
      - id: check-executables-have-shebangs
      - id: check-case-conflict

  # Python code formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter - only on Python directories
      - id: ruff
        args: [--fix]
        files: ^(src/|tests/|scripts/|migrations/|sdks/python/).*\.py$
      # Formatter - only on Python directories
      - id: ruff-format
        files: ^(src/|tests/|scripts/|migrations/|sdks/python/).*\.py$

  # Security checks - only on main src code (not tests/scripts)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ['-r']
        files: ^(src/|sdks/python/src/).*\.py$

  # Local hooks using your uv environment
  - repo: local
    hooks:
      # TypeScript linting with biome
      - id: biome-check
        name: biome check and format
        entry: bash -c 'cd sdks/typescript && bun run lint:fix'
        language: system
        files: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
        pass_filenames: false

      # Type checking with basedpyright - only on main Python code
      - id: basedpyright
        name: basedpyright
        entry: uv run basedpyright
        language: system
        files: ^(src/|tests/|sdks/python/|scripts/).*\.py$
        require_serial: true
        pass_filenames: false

      # Run main application tests
      - id: pytest-main
        name: pytest (main app)
        entry: uv run pytest tests/
        language: system
        files: ^(src/|tests/).*\.py$
        stages: [pre-push]
        pass_filenames: false

      # Run Python SDK tests (if they exist)
      - id: pytest-python-sdk
        name: pytest (Python SDK)
        entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
        language: system
        files: ^sdks/python/.*\.py$
        stages: [pre-push]
        pass_filenames: false

      # TypeScript build/test with bun
      - id: typescript-check
        name: TypeScript build and test
        entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
        language: system
        files: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
        stages: [pre-push]
        pass_filenames: false

      # TypeScript type checking with bun
      - id: typescript-typecheck
        name: TypeScript type check
        entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run typecheck; fi'
        language: system
        files: ^sdks/typescript/.*\.(ts|tsx)$
        pass_filenames: false

  # Documentation linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: ['--fix']
        files: \.(md|mdx)$

  # Commit message linting
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.13.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

fix: set redis once but clear cache in between every test
  tests/conftest.py
Due: basedpyright, pytest-main

fix: attempt fix contextvar error
  src/cache/client.py
Due: basedpyright, pytest-main

feat: introduce alembic migration verification (#238)
  .pre-commit-config.yaml
  migrations/versions/08894082221a_replace_collection_name_with_observer_.py
  migrations/versions/556a16564f50_add_user_id_and_app_id_to_tables.py
  migrations/versions/88b0fb10906f_add_webhooks_table.py
  migrations/versions/917195d9b5e9_add_messageembedding_table.py
  migrations/versions/a1b2c3d4e5f6_initial_schema.py
  migrations/versions/d429de0e5338_adopt_peer_paradigm.py
  pyproject.toml
  scripts/ensure_alembic_tests.py
  scripts/generate_jwt_secret.py
  scripts/generate_message_embeddings.py
  src/models.py
  tests/alembic/README.md
  tests/alembic/__init__.py
  tests/alembic/conftest.py
  tests/alembic/registry.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_05486ce795d5_make_session_name_required_on_messages.py
  tests/alembic/revisions/test_08894082221a_replace_collection_name_with_observer_.py
  tests/alembic/revisions/test_20f89a421aff_rename_metamessage_type_to_label.py
  tests/alembic/revisions/test_556a16564f50_add_user_id_and_app_id_to_tables.py
  tests/alembic/revisions/test_564ba40505c5_add_session_name_column_to_documents.py
  tests/alembic/revisions/test_66e63cf2cf77_add_indexes_to_documents_table.py
  tests/alembic/revisions/test_76ffba56fe8c_add_error_field_to_queueitem.py
  tests/alembic/revisions/test_88b0fb10906f_add_webhooks_table.py
  tests/alembic/revisions/test_917195d9b5e9_add_messageembedding_table.py
  tests/alembic/revisions/test_a1b2c3d4e5f6_initial_schema.py
  tests/alembic/revisions/test_b765d82110bd_change_metamessages_to_user_level_with_.py
  tests/alembic/revisions/test_bb6fb3a7a643_add_message_seq_in_session_column.py
  tests/alembic/revisions/test_c3828084f472_add_indexes_for_messages_and_.py
  tests/alembic/revisions/test_d429de0e5338_adopt_peer_paradigm.py
  tests/alembic/scaffold.py
  tests/alembic/test_pipeline.py
  tests/alembic/verifier.py
  tests/conftest.py
  tests/sdk/test_pagination.py
Due: basedpyright, pytest-main

feat: batch large operations in recent migrations (#242)
  migrations/versions/05486ce795d5_make_session_name_required_on_messages.py
  migrations/versions/08894082221a_replace_collection_name_with_observer_.py
  migrations/versions/564ba40505c5_add_session_name_column_to_documents.py
Due: none

chore: v2.4.1 Release Notes
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  pyproject.toml
  src/main.py
  uv.lock
Due: basedpyright, pytest-main

fix: make TestClient rely on redis patch
  tests/conftest.py
Due: basedpyright, pytest-main

Update trace generation for all derivations
  src/crud/representation.py
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/dialectic/prompts.py
  src/schemas.py
  src/utils/clients.py
  src/utils/logging.py
  src/utils/metrics_collector.py
  src/utils/representation.py
  tests/bench/README.md
  tests/bench/longmem.py
Due: basedpyright, pytest-main

Add modified deriver setup
  prompts/deriver/deductive/system.jinja
  prompts/deriver/deductive/user.jinja
  prompts/deriver/explicit/system.jinja
  prompts/deriver/explicit/user.jinja
  prompts/deriver/xr/user.jinja
  prompts/peer_card/user.jinja
  src/config.py
  src/deriver/deriver.py
  src/deriver/reasoner/__init__.py
  src/deriver/reasoner/base.py
  src/deriver/reasoner/explicit.py
  src/deriver/reasoner/xr.py
  src/utils/clients.py
  src/utils/files.py
  src/utils/representation.py
Due: basedpyright, pytest-main

feat: add better params to working representation fetch in SDKs, return messages when added
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
  src/routers/peers.py
  src/schemas.py
  tests/sdk/test_peer.py
  tests/sdk/test_session.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

feat: align DB schema with sqlalchemy model definitions
  migrations/script.py.mako
  migrations/utils.py
  migrations/versions/066e87ca5b07_align_schema_with_declarative_models.py
  src/models.py
Due: basedpyright, pytest-main

test: add test for new migration file
  migrations/utils.py
  migrations/versions/066e87ca5b07_align_schema_with_declarative_models.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_066e87ca5b07_align_schema_with_declarative_models.py
Due: basedpyright, pytest-main

fix: working representation routes now accepting all parameters properly, with tests
  sdks/typescript/src/peer.ts
  sdks/typescript/src/representation.ts
  sdks/typescript/src/session.ts
  src/routers/peers.py
  src/routers/sessions.py
  src/schemas.py
  tests/routes/test_peers.py
  tests/routes/test_sessions.py
Due: biome-check, basedpyright, pytest-main, typescript-check, typescript-typecheck

feat: add metadata/config fields to SDK objects where viable
  sdks/python/src/honcho/async_client/client.py
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/typescript/src/client.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check, typescript-typecheck

fix: tests
  sdks/typescript/__tests__/client.test.ts
  sdks/typescript/__tests__/metadata_caching.test.ts
  sdks/typescript/__tests__/peer.test.ts
  tests/sdk/test_metadata_caching.py
Due: biome-check, basedpyright, pytest-main, typescript-check, typescript-typecheck

fix: Improve alembic migration reliability
  migrations/env.py
Due: none

fix: potential working fix
  src/cache/client.py
  tests/conftest.py
Due: basedpyright, pytest-main

feat: refactor SDKs to use representation config; [TEMP STAINLESS BUILD] update API
  sdks/python/pyproject.toml
  sdks/python/src/honcho/__init__.py
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/python/src/honcho/types.py
  sdks/python/uv.lock
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/bun.lock
  sdks/typescript/dist.tar.gz
  sdks/typescript/package.json
  sdks/typescript/src/peer.ts
  sdks/typescript/src/representation.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/validation.ts
  src/routers/sessions.py
  tests/routes/test_sessions.py
  tests/sdk/test_peer.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

feat: add representation object to sdks
  sdks/python/examples/get_representation.py
  sdks/python/src/honcho/__init__.py
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/python/src/honcho/types.py
  sdks/typescript/__tests__/integration.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/representation.ts
  sdks/typescript/src/session.ts
  tests/sdk/test_peer.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

fix: use stainless sdk on branch
  sdks/python/pyproject.toml
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  uv.lock
Due: biome-check, typescript-check

fix: update TypeScript SDK tsconfig to use node16 module resolution
  sdks/typescript/tsconfig.json
Due: biome-check, typescript-check

fix: add isolatedModules = true to tsconfig
  sdks/typescript/tsconfig.json
Due: biome-check, typescript-check

fix: lol
  sdks/typescript/src/index.ts
Due: biome-check, typescript-check, typescript-typecheck

chore: coderabbit review
  sdks/typescript/src/peer.ts
  sdks/typescript/src/representation.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/validation.ts
Due: biome-check, typescript-check, typescript-typecheck

feat: make delete session real
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/session.py
  sdks/typescript/src/session.ts
  src/crud/session.py
  src/routers/sessions.py
  tests/sdk/test_session.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

fix: add pk for message embeddings table
  migrations/versions/066e87ca5b07_align_schema_with_declarative_models.py
Due: none

fix: Ensure alembic migrations use a session pooler
  migrations/env.py
Due: none

feat: add observations routes with delete endpoints for documents. make session deletion real.
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/session.py
  sdks/typescript/bun.lock
  sdks/typescript/src/index.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/types.ts
  sdks/typescript/src/validation.ts
  src/crud/__init__.py
  src/crud/document.py
  src/dreamer/dreamer.py
  src/main.py
  src/routers/observations.py
  src/schemas.py
  tests/crud/test_document.py
  tests/routes/test_observations.py
  tests/routes/test_sessions.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

fix: bump batch size; fix document delete in 08894082221a
  migrations/versions/08894082221a_replace_collection_name_with_observer_.py
  migrations/versions/564ba40505c5_add_session_name_column_to_documents.py
Due: none

chore: type cleanup
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
Due: biome-check, typescript-check, typescript-typecheck

fix: bump batch size; fix document delete in 08894082221a (#249)
  migrations/versions/08894082221a_replace_collection_name_with_observer_.py
  migrations/versions/564ba40505c5_add_session_name_column_to_documents.py
Due: none

chore: add alembic logging
  migrations/env.py
Due: none

fix: tests
  sdks/typescript/__tests__/integration.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/session.test.ts
Due: biome-check, typescript-check, typescript-typecheck

fix (alembic): remove order by in batches
  migrations/versions/08894082221a_replace_collection_name_with_observer_.py
  migrations/versions/564ba40505c5_add_session_name_column_to_documents.py
Due: none

Update explicit derivation modules
  prompts/deriver/explicit/system.jinja
  prompts/deriver/explicit/user.jinja
  src/crud/representation.py
  src/deriver/deriver.py
  src/deriver/reasoner/explicit.py
  src/dialectic/chat.py
  src/dialectic/prompts.py
  src/schemas.py
  src/utils/clients.py
  src/utils/logging.py
  src/utils/representation.py
Due: basedpyright, pytest-main

chore: coderabbit review
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/session.py
  sdks/typescript/src/session.ts
  sdks/typescript/src/validation.ts
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check, typescript-typecheck

fix: namespace by workspace
  src/crud/session.py
Due: basedpyright, pytest-main

fix: fkey -> fk
  migrations/versions/08894082221a_replace_collection_name_with_observer_.py
  tests/alembic/revisions/test_08894082221a_replace_collection_name_with_observer_.py
Due: basedpyright, pytest-main

chore: code rabbit
  migrations/env.py
  migrations/versions/08894082221a_replace_collection_name_with_observer_.py
  migrations/versions/564ba40505c5_add_session_name_column_to_documents.py
Due: none

fix: add naming constraint
  src/db.py
Due: basedpyright, pytest-main

fix: Ensure alembic migrations use a session pooler (#247)
  migrations/env.py
  migrations/versions/08894082221a_replace_collection_name_with_observer_.py
  migrations/versions/564ba40505c5_add_session_name_column_to_documents.py
  tests/alembic/revisions/test_08894082221a_replace_collection_name_with_observer_.py
Due: basedpyright, pytest-main
