Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  # Basic file checks (run on all files)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
        files: \.(py|js|ts)$
      - id: mixed-line-ending
        args: ['--fix=lf']
      # Additional checks from suggestions
      - id: check-docstring-first
        files: \.py$
      - id: check-executables-have-shebangs
      - id: check-case-conflict

  # Python code formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter - only on Python directories
      - id: ruff
        args: [--fix]
        files: ^(src/|tests/|scripts/|migrations/|sdks/python/).*\.py$
      # Formatter - only on Python directories
      - id: ruff-format
        files: ^(src/|tests/|scripts/|migrations/|sdks/python/).*\.py$

  # Security checks - only on main src code (not tests/scripts)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ['-r']
        files: ^(src/|sdks/python/src/).*\.py$

  # Local hooks using your uv environment
  - repo: local
    hooks:
      # TypeScript linting with biome
      - id: biome-check
        name: biome check and format
        entry: bash -c 'cd sdks/typescript && bun run lint:fix'
        language: system
        files: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
        pass_filenames: false

      # Type checking with basedpyright - only on main Python code
      - id: basedpyright
        name: basedpyright
        entry: uv run basedpyright
        language: system
        files: ^(src/|tests/|sdks/python/|scripts/).*\.py$
        require_serial: true
        pass_filenames: false

      # Run main application tests
      - id: pytest-main
        name: pytest (main app)
        entry: uv run pytest tests/
        language: system
        files: ^(src/|tests/).*\.py$
        stages: [pre-push]
        pass_filenames: false

      # Run Python SDK tests (if they exist)
      - id: pytest-python-sdk
        name: pytest (Python SDK)
        entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
        language: system
        files: ^sdks/python/.*\.py$
        stages: [pre-push]
        pass_filenames: false

      # TypeScript build/test with bun
      - id: typescript-check
        name: TypeScript build and test
        entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
        language: system
        files: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
        stages: [pre-push]
        pass_filenames: false

      # TypeScript type checking with bun
      - id: typescript-typecheck
        name: TypeScript type check
        entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run typecheck; fi'
        language: system
        files: ^sdks/typescript/.*\.(ts|tsx)$
        pass_filenames: false

  # Documentation linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: ['--fix']
        files: \.(md|mdx)$

  # Commit message linting
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.13.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

fix: cleanup merge
  src/deriver/consumer.py
Due: basedpyright, pytest-main

chore: (typos) Clarify Changelog
  CHANGELOG.md
  docs/changelog/introduction.mdx
  pyproject.toml
Due: none

chore: Readme & Changelog Updates (#263)
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  pyproject.toml
  src/main.py
  uv.lock
Due: basedpyright, pytest-main

fix: down revision
  migrations/versions/ec8f94139b02_codify_workspace_name_and_message_id_in_.py
Due: none

fix: batch delete in migration
  migrations/versions/ec8f94139b02_codify_workspace_name_and_message_id_in_.py
Due: none

feat: only run alembic tests for changed migration / test
  .pre-commit-config.yaml
  scripts/run_alembic_tests.py
Due: basedpyright

fix: Run full test suite if alembic testing infra changes
  scripts/run_alembic_tests.py
Due: basedpyright

feat: only run alembic tests for changed migration / test (#264)
  .pre-commit-config.yaml
  scripts/run_alembic_tests.py
Due: basedpyright

feat: codify times_derived + level on Document (#260)
  migrations/versions/b8183c5ffb48_codify_document_level_and_times_derived.py
  src/crud/document.py
  src/crud/representation.py
  src/dreamer/dreamer.py
  src/models.py
  src/schemas.py
  src/utils/representation.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_b8183c5ffb48_codify_document_level_and_times_derived.py
  tests/integration/test_representation.py
  tests/test_schema_validations.py
Due: basedpyright, pytest-main

fix: CodeRabbit comments
  .pre-commit-config.yaml
  scripts/run_alembic_tests.py
  src/deriver/consumer.py
  src/deriver/enqueue.py
Due: basedpyright, pytest-main

fix: Code Rabbit grammatical catches
  docs/v2/documentation/core-concepts/architecture.mdx
  docs/v2/documentation/core-concepts/features/local-vs-global.mdx
  docs/v2/documentation/core-concepts/features/queue-status.mdx
  docs/v2/documentation/core-concepts/features/storing-data.mdx
  docs/v2/documentation/introduction/overview.mdx
  docs/v2/documentation/introduction/quickstart.mdx
  docs/v2/documentation/introduction/vibecoding.mdx
Due: none

chore: make system diagram visible by default
  docs/v2/documentation/introduction/overview.mdx
Due: none

Step Function Improvement on Docs (#241)
  docs/changelog/compatibility-guide.mdx
  docs/docs.json
  docs/images/overview/honcho-overview-dark.svg
  docs/images/overview/honcho-overview-light.png
  docs/images/overview/honcho-overview-light.svg
  docs/images/overview/honcho-overview-no-background.png
  docs/images/overview/honcho-overview.svg
  docs/snippets/overview-shields.mdx
  docs/v2/documentation/core-concepts/architecture.mdx
  docs/v2/documentation/core-concepts/configuration.mdx
  docs/v2/documentation/core-concepts/features.mdx
  docs/v2/documentation/core-concepts/features/dialectic-endpoint.mdx
  docs/v2/documentation/core-concepts/features/file-uploads.mdx
  docs/v2/documentation/core-concepts/features/get-context.mdx
  docs/v2/documentation/core-concepts/features/local-vs-global.mdx
  docs/v2/documentation/core-concepts/features/queue-status.mdx
  docs/v2/documentation/core-concepts/features/search.mdx
  docs/v2/documentation/core-concepts/features/storing-data.mdx
  docs/v2/documentation/core-concepts/features/streaming-response.mdx
  docs/v2/documentation/core-concepts/features/using-filters.mdx
  docs/v2/documentation/core-concepts/features/working-rep.mdx
  docs/v2/documentation/introduction/overview.mdx
  docs/v2/documentation/introduction/quickstart.mdx
  docs/v2/documentation/introduction/vibecoding.mdx
  docs/v2/documentation/reference/platform.mdx
  docs/v2/guides/overview.mdx
Due: none

fix: batch migrations; move types; remove fields from payload
  migrations/versions/b8183c5ffb48_codify_document_level_and_times_derived.py
  migrations/versions/ec8f94139b02_codify_workspace_name_and_message_id_in_.py
  src/deriver/consumer.py
  src/dreamer/dreamer.py
  src/models.py
  src/utils/queue_payload.py
  src/utils/types.py
  src/webhooks/webhook_delivery.py
Due: basedpyright, pytest-main

fix: rm duplicate table args
  src/models.py
Due: basedpyright, pytest-main

fix: namespace inheritance; address comments
  .env.template
  src/cache/client.py
  src/config.py
  src/crud/peer.py
  src/crud/session.py
  src/crud/workspace.py
Due: basedpyright, pytest-main

fix: namespace inheritance; address comments
  src/cache/client.py
  src/config.py
  src/prometheus.py
Due: basedpyright, pytest-main

fix: add messages.id FK
  migrations/versions/ec8f94139b02_codify_workspace_name_and_message_id_in_.py
  src/models.py
  tests/alembic/revisions/test_ec8f94139b02_codify_workspace_name_and_message_id_in_.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

chore: docs formatting
  docs/v2/documentation/core-concepts/architecture.mdx
Due: none

feat: add caching (redis) (#265)
  .env.template
  .gitignore
  README.md
  config.toml.example
  docker-compose.yml.example
  docs/v2/contributing/configuration.mdx
  pyproject.toml
  src/cache/__init__.py
  src/cache/client.py
  src/config.py
  src/crud/peer.py
  src/crud/peer_card.py
  src/crud/session.py
  src/crud/workspace.py
  src/deriver/queue_manager.py
  src/main.py
  src/prometheus.py
  tests/bench/harness.py
  tests/conftest.py
  uv.lock
Due: basedpyright, pytest-main

feat: codify queue columns (#254)
  .pre-commit-config.yaml
  migrations/versions/b8183c5ffb48_codify_document_level_and_times_derived.py
  migrations/versions/ec8f94139b02_codify_workspace_name_and_message_id_in_.py
  scripts/run_alembic_tests.py
  src/crud/document.py
  src/crud/representation.py
  src/deriver/consumer.py
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/dreamer/dream_scheduler.py
  src/dreamer/dreamer.py
  src/models.py
  src/schemas.py
  src/utils/queue_payload.py
  src/utils/representation.py
  src/utils/types.py
  src/utils/work_unit.py
  src/webhooks/events.py
  src/webhooks/webhook_delivery.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_b8183c5ffb48_codify_document_level_and_times_derived.py
  tests/alembic/revisions/test_ec8f94139b02_codify_workspace_name_and_message_id_in_.py
  tests/crud/test_workspace.py
  tests/deriver/conftest.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_queue_processing.py
  tests/integration/test_representation.py
  tests/routes/test_queue_status.py
  tests/test_schema_validations.py
Due: basedpyright, pytest-main

feat: add jinja templating for prompts
  .env.template
  config.toml.example
  pyproject.toml
  src/config.py
  src/deriver/prompts.py
  src/dialectic/prompts.py
  src/dreamer/prompts.py
  src/templates/deriver/critical_analysis.jinja
  src/templates/deriver/peer_card.jinja
  src/templates/dialectic/dialectic.jinja
  src/templates/dialectic/query_generation.jinja
  src/templates/dreamer/consolidation.jinja
  src/utils/templates.py
  uv.lock
Due: basedpyright, pytest-main

fix: add jinja error handling
  src/utils/templates.py
Due: basedpyright, pytest-main

fix: enhance tests
  tests/utils/test_templates.py
Due: basedpyright, pytest-main

test: prompt templates
  tests/utils/test_templates.py
Due: basedpyright, pytest-main

rm: level_valid constraint
  migrations/versions/b8183c5ffb48_codify_document_level_and_times_derived.py
  src/models.py
  src/schemas.py
  tests/alembic/revisions/test_b8183c5ffb48_codify_document_level_and_times_derived.py
Due: basedpyright, pytest-main

fix: pin cashews version to 7.4.1
  pyproject.toml
  uv.lock
Due: none

fix: pin cashews version to 7.4.1 (#267)
  pyproject.toml
  uv.lock
Due: none

fix: create new migration
  migrations/versions/29ade7350c19_remove_document_level_valid_constraint.py
  migrations/versions/b8183c5ffb48_codify_document_level_and_times_derived.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_29ade7350c19_remove_document_level_valid_constraint.py
  tests/alembic/revisions/test_b8183c5ffb48_codify_document_level_and_times_derived.py
Due: basedpyright, pytest-main

fix: normalize data before enforcing check constraint again
  migrations/versions/29ade7350c19_remove_document_level_valid_constraint.py
Due: none

fix: batch and merge migration steps
  migrations/versions/110bdf470272_rename_deriver_disabled_to_deriver_.py
Due: none

chore: code review
  .env.template
  config.toml.example
  src/config.py
  src/utils/clients.py
Due: basedpyright, pytest-main

fix: add local tracing
  src/deriver/deriver.py
  src/deriver/reasoners/deductive.py
  src/deriver/reasoners/explicit.py
  src/utils/logging.py
Due: basedpyright, pytest-main

fix: guard against empty inputs
  src/templates/deriver/deductive.jinja
  src/templates/deriver/explicit.jinja
Due: none

fix: align templates + flatten params
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/deriver/reasoners/deductive.py
  src/templates/deriver/deductive.jinja
  src/templates/deriver/explicit.jinja
Due: basedpyright, pytest-main

feat: make deriver modular
  scripts/backfill_data_2.3.2.py
  scripts/backfill_data_2.4.0.py
  src/config.py
  src/crud/representation.py
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/deriver/reasoners/__init__.py
  src/deriver/reasoners/base.py
  src/deriver/reasoners/deductive.py
  src/deriver/reasoners/explicit.py
  src/schemas.py
  src/templates/deriver/deductive.jinja
  src/templates/deriver/explicit.jinja
  src/utils/representation.py
  src/utils/types.py
Due: basedpyright, pytest-main
