Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

(fix) Replace huggingface data loading to local filesystem-based
  pyproject.toml
  tests/bench/oolong_common.py
  uv.lock
Due: basedpyright, pytest-main

chore: update changelogs
  CHANGELOG.md
  sdks/python/CHANGELOG.md
  sdks/typescript/CHANGELOG.md
Due: none

feat: add tool_choice to dialectic level settings, fix: `extra-high` label to `max` (#326)
  .env.template
  .github/workflows/unittest.yml
  config.toml.example
  sdks/python/pyproject.toml
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/peer.py
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  sdks/typescript/src/peer.ts
  sdks/typescript/src/validation.ts
  src/config.py
  src/dialectic/core.py
  src/schemas.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

(fix) Address coderabbit issues regarding data paths
  tests/bench/oolong.py
  tests/bench/oolong_common.py
Due: basedpyright, pytest-main

fix: code review
  README.md
  docs/v2/documentation/introduction/quickstart.mdx
  docs/v2/documentation/reference/sdk.mdx
Due: none

chore: more docs nits
  docs/v2/documentation/introduction/quickstart.mdx
  docs/v2/documentation/reference/sdk.mdx
Due: none

feat: implement forced batching for representation tasks and adjust max tokens
  src/config.py
  src/deriver/queue_manager.py
  src/utils/clients.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

chore: update queue-status docs to match new behavior
  docs/v2.6.0-alpha/documentation/features/advanced/queue-status.mdx
Due: none

fix: make workspace_name nullable
  migrations/versions/119a52b73c60_support_external_embeddings.py
  src/deriver/consumer.py
  src/deriver/queue_manager.py
  src/models.py
  src/reconciler/scheduler.py
  src/schemas.py
  src/utils/work_unit.py
  tests/alembic/revisions/test_119a52b73c60_support_external_embeddings.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

fix: make representation work query efficient
  src/deriver/queue_manager.py
Due: basedpyright, pytest-main

fix: clean up sync vectors
  src/reconciler/sync_vectors.py
Due: basedpyright, pytest-main

fix: keep backwards compatibility for message creation endpoint
  src/routers/messages.py
Due: basedpyright, pytest-main

fix: Align alembic models and force dreams on for tests
  src/models.py
  tests/dreamer/test_dream_scheduler.py
Due: basedpyright, pytest-main

fix: keep backwards compatibility for message creation endpoint (#328)
  src/routers/messages.py
Due: basedpyright, pytest-main

fix: delete syntax
  migrations/versions/119a52b73c60_support_external_embeddings.py
Due: pytest-alembic, ensure-alembic-coverage

fix: clean queue between tests
  tests/deriver/conftest.py
Due: basedpyright, pytest-main

feat: message ingestion forced-batching (#327)
  docs/v2.6.0-alpha/documentation/features/advanced/queue-status.mdx
  src/config.py
  src/deriver/queue_manager.py
  src/models.py
  src/utils/clients.py
  tests/deriver/conftest.py
  tests/deriver/test_queue_processing.py
  tests/dreamer/test_dream_scheduler.py
Due: basedpyright, pytest-main

chore: 3.0 honcho and 2.0 sdks changelog
  CHANGELOG.md
  sdks/python/CHANGELOG.md
  sdks/typescript/CHANGELOG.md
  sdks/typescript/src/index.ts
  sdks/typescript/src/peer.ts
Due: biome-check, typescript-check

chore: code review
  CHANGELOG.md
  docs/v3/contributing/self-hosting.mdx
Due: none

docs: fix typo "dependant" → "dependent"
  docs/v2/documentation/reference/platform.mdx
Due: none

fix: formatting toolkits to be more structural and come specifically from the perspective of the agent using it.
  examples/agno/python/examples/multi_peer_example.py
  examples/agno/python/examples/multi_tool_example.py
  examples/agno/python/examples/simple_example.py
  examples/agno/python/pyproject.toml
  examples/agno/python/src/honcho_agno/__init__.py
  examples/agno/python/src/honcho_agno/tools.py
  examples/agno/python/tests/test_tools.py
  examples/agno/python/uv.lock
Due: none

fix: focusing on prod env
  examples/agno/python/examples/multi_peer_example.py
  examples/agno/python/examples/multi_tool_example.py
  examples/agno/python/examples/simple_example.py
  examples/agno/python/src/honcho_agno/tools.py
Due: none

feat: [WIP] migrate away from stainless in typescript sdk
  README.md
  sdks/typescript/__tests__/README.md
  sdks/typescript/__tests__/__mocks__/@honcho-ai/core.ts
  sdks/typescript/__tests__/client.test.ts
  sdks/typescript/__tests__/conclusions.test.ts
  sdks/typescript/__tests__/errors.test.ts
  sdks/typescript/__tests__/helpers.ts
  sdks/typescript/__tests__/integration.test.ts
  sdks/typescript/__tests__/messages.test.ts
  sdks/typescript/__tests__/metadata_caching.test.ts
  sdks/typescript/__tests__/pagination.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/__tests__/session_context.test.ts
  sdks/typescript/__tests__/setup.ts
  sdks/typescript/__tests__/streaming.test.ts
  sdks/typescript/jest.config.js
  sdks/typescript/package.json
  sdks/typescript/src/client.ts
  sdks/typescript/src/conclusions.ts
  sdks/typescript/src/http/client.ts
  sdks/typescript/src/http/errors.ts
  sdks/typescript/src/http/index.ts
  sdks/typescript/src/http/streaming.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/pagination.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/session_context.ts
  sdks/typescript/src/types.ts
  sdks/typescript/src/types/api.ts
  sdks/typescript/src/types/index.ts
  sdks/typescript/src/validation.ts
Due: biome-check, typescript-check

chore: move api from /v2/ to /v3/
  README.md
  docs/SKILL.md
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/package.json
  docs/v3/openapi.json
  examples/crewai/python/README.md
  examples/crewai/python/pyproject.toml
  examples/crewai/python/src/honcho_crewai/storage.py
  examples/n8n/n8n.json
  sdks/python/src/honcho/async_client/client.py
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  src/main.py
  src/prometheus.py
  tests/bench/beam.py
  tests/bench/locomo.py
  tests/bench/longmem.py
  tests/routes/test_conclusions.py
  tests/routes/test_files.py
  tests/routes/test_keys.py
  tests/routes/test_messages.py
  tests/routes/test_peers.py
  tests/routes/test_queue_status.py
  tests/routes/test_scoped_api.py
  tests/routes/test_sessions.py
  tests/routes/test_validation_api.py
  tests/routes/test_webhooks.py
  tests/routes/test_workspaces.py
  tests/sdk/test_client.py
  tests/test_advanced_filters.py
Due: basedpyright, pytest-main, pytest-python-sdk

fix: adding tools, changing init, general cleanup
  examples/agno/python/examples/multi_peer_example.py
  examples/agno/python/examples/multi_tool_example.py
  examples/agno/python/examples/simple_example.py
  examples/agno/python/src/honcho_agno/tools.py
Due: none

fix: making things consistent
  examples/agno/python/README.md
  examples/agno/python/src/honcho_agno/__init__.py
  examples/agno/python/src/honcho_agno/exceptions.py
  examples/agno/python/src/honcho_agno/tools.py
  examples/agno/python/tests/test_tools.py
Due: none

feat: no-stainless typescript with real tests
  sdks/typescript/__tests__/client.test.ts
  sdks/typescript/__tests__/conclusions.test.ts
  sdks/typescript/__tests__/messages.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/src/client.ts
  sdks/typescript/src/conclusions.ts
  sdks/typescript/src/http/client.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/session_context.ts
  sdks/typescript/src/types/index.ts
  tests/conftest.py
  tests/sdk_typescript/__init__.py
  tests/sdk_typescript/conftest.py
  tests/sdk_typescript/test_sdk.py
Due: biome-check, basedpyright, pytest-main, typescript-check

fix: cleaning up app_id and other terminology
  examples/agno/python/README.md
  examples/agno/python/examples/multi_peer_example.py
  examples/agno/python/examples/multi_tool_example.py
  examples/agno/python/examples/simple_example.py
  examples/agno/python/pyproject.toml
  examples/agno/python/src/honcho_agno/__init__.py
  examples/agno/python/src/honcho_agno/py.typed
  examples/agno/python/src/honcho_agno/tools.py
  examples/agno/python/uv.lock
Due: none

fix: more clean up
  examples/agno/python/.env.template
  examples/agno/python/README.md
  examples/agno/python/examples/multi_peer_example.py
  examples/agno/python/examples/multi_tool_example.py
  examples/agno/python/examples/simple_example.py
  examples/agno/python/pyproject.toml
  examples/agno/python/src/honcho_agno/tools.py
  examples/agno/python/tests/test_tools.py
  examples/agno/python/uv.lock
Due: none

fix: use unique session ID and update agno to 2.3.26
  examples/agno/python/examples/multi_tool_example.py
  examples/agno/python/pyproject.toml
  examples/agno/python/uv.lock
Due: none

feat: migrate python sdk off of stainless
  .github/workflows/unittest.yml
  .pre-commit-config.yaml
  docs/v3/api-reference/endpoint/workspaces/trigger-dream.mdx
  docs/v3/openapi.json
  sdks/python/pyproject.toml
  sdks/python/src/honcho/__init__.py
  sdks/python/src/honcho/api_types.py
  sdks/python/src/honcho/async_client/client.py
  sdks/python/src/honcho/async_client/pagination.py
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/conclusions.py
  sdks/python/src/honcho/http/__init__.py
  sdks/python/src/honcho/http/async_client.py
  sdks/python/src/honcho/http/client.py
  sdks/python/src/honcho/http/exceptions.py
  sdks/python/src/honcho/http/routes.py
  sdks/python/src/honcho/pagination.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/python/src/honcho/session_context.py
  sdks/typescript/src/client.ts
  src/crud/workspace.py
  src/dialectic/prompts.py
  tests/bench/beam.py
  tests/bench/locomo.py
  tests/bench/longmem.py
  tests/sdk/conftest.py
  tests/sdk/test_client.py
  tests/sdk/test_conclusions.py
  tests/sdk/test_file_uploads.py
  tests/sdk/test_peer.py
  tests/sdk/test_session.py
  tests/sdk_typescript/test_sdk.py
  tests/unified/runner.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

feat: clean typescript sdk
  CLAUDE.md
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/typescript/CHANGELOG.md
  sdks/typescript/README.md
  sdks/typescript/__tests__/client.test.ts
  sdks/typescript/__tests__/conclusions.test.ts
  sdks/typescript/__tests__/errors.test.ts
  sdks/typescript/__tests__/helpers.ts
  sdks/typescript/__tests__/messages.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/__tests__/streaming.test.ts
  sdks/typescript/package.json
  sdks/typescript/src/api-version.ts
  sdks/typescript/src/client.ts
  sdks/typescript/src/conclusions.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/message.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/representation.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/session_context.ts
  sdks/typescript/src/types.ts
  sdks/typescript/src/types/api.ts
  sdks/typescript/src/types/index.ts
  sdks/typescript/src/utils.ts
  sdks/typescript/src/validation.ts
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check

fix: hash namespace
  src/config.py
  src/vector_store/__init__.py
  src/vector_store/lancedb.py
  src/vector_store/turbopuffer.py
  tests/conftest.py
  tests/deriver/test_vector_reconciliation.py
Due: basedpyright, pytest-main

chore: add tests for ts http client
  sdks/typescript/__tests__/http-client.test.ts
  sdks/typescript/__tests__/http-streaming.test.ts
Due: biome-check, typescript-check

fix: Migration naming and long held connection
  migrations/versions/119a52b73c60_support_external_embeddings.py
  migrations/versions/7c0d9a4e3b1f_add_unique_index_for_pending_dreams.py
  src/crud/document.py
  src/models.py
  src/reconciler/sync_vectors.py
  tests/alembic/revisions/test_119a52b73c60_support_external_embeddings.py
  tests/alembic/revisions/test_7c0d9a4e3b1f_add_unique_index_for_pending_dreams.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

chore: Comment for potential debt
  src/reconciler/sync_vectors.py
Due: basedpyright, pytest-main

External Vector Store Nits (#332)
  migrations/versions/119a52b73c60_support_external_embeddings.py
  migrations/versions/7c0d9a4e3b1f_add_unique_index_for_pending_dreams.py
  src/crud/document.py
  src/models.py
  src/reconciler/sync_vectors.py
  tests/alembic/revisions/test_119a52b73c60_support_external_embeddings.py
  tests/alembic/revisions/test_7c0d9a4e3b1f_add_unique_index_for_pending_dreams.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage
