Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

fix(llm): forward provider_params.timeout to the OpenAI-compatible embedding client (#1024)
  config.toml.example
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/embedding_client.py
  tests/live_llm/README.md
  tests/live_llm/conftest.py
  tests/live_llm/test_live_embeddings.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

feat(vector-store): add Milvus backend
  .env.template
  README.md
  config.toml.example
  docs/v3/contributing/configuration.mdx
  pyproject.toml
  src/config.py
  src/startup/embedding_validator.py
  src/vector_store/__init__.py
  src/vector_store/milvus.py
  tests/conftest.py
  tests/llm/test_model_config.py
  tests/vector_store/test_milvus.py
  uv.lock
Due: basedpyright, pytest-main

fix(vector-store): address Milvus review feedback
  .env.template
  CHANGELOG.md
  CLAUDE.md
  config.toml.example
  docs/changelog/introduction.mdx
  docs/v3/contributing/changing-embeddings.mdx
  docs/v3/contributing/configuration.mdx
  scripts/configure_embeddings.py
  src/config.py
  src/vector_store/milvus.py
  tests/conftest.py
  tests/llm/test_model_config.py
  tests/vector_store/test_milvus.py
Due: basedpyright, pytest-main

fix(vector-store): normalize Milvus cosine scores
  src/vector_store/milvus.py
  tests/vector_store/test_milvus.py
Due: basedpyright, pytest-main

fix(vector-store): preserve Milvus server metadata
  src/vector_store/milvus.py
  tests/vector_store/test_milvus.py
Due: basedpyright, pytest-main

fix(deriver): eliminate create_documents deadlock and stop silently burning batches on transient errors
  src/crud/document.py
  src/deriver/queue_manager.py
  src/utils/retryable_errors.py
  tests/crud/test_document.py
  tests/deriver/test_queue_processing.py
  tests/utils/test_retryable_errors.py
Due: basedpyright, pytest-main

feat(sdk): add workspace-wide conclusions list/get
  sdks/python/src/honcho/__init__.py
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/conclusions.py
  sdks/typescript/__tests__/conclusions.test.ts
  sdks/typescript/src/client.ts
  sdks/typescript/src/conclusions.ts
  sdks/typescript/src/index.ts
  tests/sdk/test_conclusions.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

feat(sdk): removing parent_id in favor of source_id since a conclusion can have many parents
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/conclusions.py
  sdks/typescript/__tests__/conclusions.test.ts
  sdks/typescript/src/conclusions.ts
  src/utils/filter.py
  tests/routes/test_conclusions.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

fix: cascade scope removal through document_sources
  src/deriver/queue_manager.py
  src/deriver/scope_backfill.py
  tests/deriver/test_scope_backfill.py
Due: basedpyright, pytest-main

feat: restore GET /conclusions/{conclusion_id}
  docs/docs.json
  docs/v3/api-reference/endpoint/conclusions/get-conclusion.mdx
  docs/v3/openapi.json
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/conclusions.py
  sdks/typescript/__tests__/conclusions.test.ts
  sdks/typescript/src/conclusions.ts
  src/routers/conclusions.py
  tests/routes/test_conclusions.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

fix(deriver): replace create_documents advisory lock with id-ordered row locks
  src/crud/document.py
  tests/crud/test_document.py
Due: basedpyright, pytest-main

Scopes SDK Changes (#1030)
  sdks/python/src/honcho/__init__.py
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/api_types.py
  sdks/python/src/honcho/base.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/conclusions.py
  sdks/python/src/honcho/http/routes.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/scope.py
  sdks/python/src/honcho/session.py
  sdks/python/src/honcho/utils/__init__.py
  sdks/python/src/honcho/utils/resolve.py
  sdks/python/src/honcho/utils/scopes.py
  sdks/typescript/__tests__/conclusions.test.ts
  sdks/typescript/__tests__/http-client.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/scope.unit.test.ts
  sdks/typescript/src/client.ts
  sdks/typescript/src/conclusions.ts
  sdks/typescript/src/http/client.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/scope.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/types/api.ts
  sdks/typescript/src/validation.ts
  src/deriver/queue_manager.py
  src/routers/sessions.py
  src/utils/filter.py
  tests/sdk/test_conclusions.py
  tests/sdk/test_scope_options.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

fix(deriver): harden create_documents candidate hoist and test isolation
  src/crud/document.py
  tests/crud/test_document.py
Due: basedpyright, pytest-main

fix: force LF line endings for shell scripts (#1017)
  .gitattributes
Due: none

fix: honor DERIVER_DEDUPLICATE in create_observations (#1018)
  src/utils/agent_tools.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

chore: add pr template and pre-pre skill (#1031)
  .github/pull_request_template.md
  skills/pre-pr/SKILL.md
Due: none

fix(embedding): run warmup in a worker thread to avoid blocking the event loop
  src/deriver/__main__.py
  src/main.py
Due: basedpyright, pytest-main

fix(embedding): pre-warm embedding client at startup
  src/deriver/__main__.py
  src/embedding_client.py
  src/main.py
Due: basedpyright, pytest-main

fix(embedding): configurable tokenizer for non-OpenAI embedding models
  .env.template
  config.toml.example
  docs/v3/contributing/changing-embeddings.mdx
  docs/v3/contributing/configuration.mdx
  pyproject.toml
  src/config.py
  src/embedding_client.py
  tests/llm/test_embedding_client.py
  uv.lock
Due: basedpyright, pytest-main

fix(embedding): make warmup best-effort so a keyless config doesn't fail startup
  src/embedding_client.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

fix(llm): preserve reasoning content across tool turns
  src/llm/history_adapters.py
  src/llm/tool_loop.py
  tests/llm/test_history_adapters.py
  tests/llm/test_tool_loop_reasoning_content.py
Due: basedpyright, pytest-main

feat(config): make representation order configurable
  .env.template
  config.toml.example
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/utils/representation.py
  tests/utils/test_representation_order.py
Due: basedpyright, pytest-main

ignore
  .gitignore
Due: none

fix(filter): make ne on jsonb metadata keys null-safe
  src/utils/filter.py
Due: basedpyright, pytest-main

test(filter): cover null-safe ne on nested metadata keys
  tests/utils/test_filter.py
Due: basedpyright, pytest-main

feat(conclusions): support cross-peer semantic query on pgvector
  src/crud/document.py
  src/routers/conclusions.py
  tests/crud/test_document.py
  tests/routes/test_conclusions.py
Due: basedpyright, pytest-main

netra init
  .env.template
  pyproject.toml
  src/deriver/__main__.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/dialectic/chat.py
  src/dialectic/core.py
  src/dreamer/dream_scheduler.py
  src/dreamer/orchestrator.py
  src/main.py
  src/telemetry/netra.py
  uv.lock
Due: basedpyright, pytest-main

test(conclusions): add workspace-isolation and observed-only cross-peer cases
  tests/crud/test_document.py
Due: basedpyright, pytest-main

docs(telemetry): fold zero-init why-prose behind # region ai markers
  src/config.py
  src/deriver/__main__.py
  src/main.py
  src/reconciler/scheduler.py
  src/reconciler/sync_vectors.py
  src/telemetry/emitter.py
  src/telemetry/events/__init__.py
  src/telemetry/prometheus/metrics.py
  src/utils/types.py
  tests/reconciler/test_pending_backlog_gauge.py
  tests/telemetry/test_metric_zero_init.py
Due: basedpyright, pytest-main

telemetry: zero-initialize bounded-label metrics so an absent series means a broken scrape (#927)
  CLAUDE.md
  src/config.py
  src/deriver/__main__.py
  src/main.py
  src/reconciler/scheduler.py
  src/reconciler/sync_vectors.py
  src/telemetry/emitter.py
  src/telemetry/events/__init__.py
  src/telemetry/prometheus/metrics.py
  src/utils/types.py
  tests/bench/runner_common.py
  tests/reconciler/test_pending_backlog_gauge.py
  tests/telemetry/test_metric_zero_init.py
Due: basedpyright, pytest-main

fix(llm): preserve reasoning content across tool turns (#1034)
  src/llm/history_adapters.py
  src/llm/tool_loop.py
  tests/llm/test_history_adapters.py
  tests/llm/test_tool_loop_reasoning_content.py
Due: basedpyright, pytest-main

fix(embedding): truncate in batch embed and return results breakdown (#1019)
  src/crud/document.py
  src/crud/representation.py
  src/deriver/deriver.py
  src/embedding_client.py
  src/exceptions.py
  src/reconciler/sync_vectors.py
  src/telemetry/events/representation.py
  src/utils/agent_tools.py
  tests/conftest.py
  tests/crud/test_document.py
  tests/crud/test_representation_manager.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_vector_reconciliation.py
  tests/live_llm/README.md
  tests/live_llm/test_live_embeddings.py
  tests/llm/test_embedding_client.py
  tests/telemetry/test_representation_v2_fields.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

chore: route security mail to support@ and polish docs intake
  .github/ISSUE_TEMPLATE/5-docs-bug.md
  CONTRIBUTING.md
  SECURITY.md
  docs/v2/contributing/guidelines.mdx
  docs/v3/contributing/guidelines.mdx
Due: none

docs(config): document representation order helpers
  src/config.py
  src/utils/representation.py
Due: basedpyright, pytest-main

test(filter): count actual rows for nested-metadata ne null-safety
  tests/test_advanced_filters.py
Due: basedpyright, pytest-main

fix(session): cascade delete to derived conclusions with no session_name
  src/crud/session.py
  tests/crud/test_session.py
Due: basedpyright, pytest-main

fix(session): chunk derived-conclusion ids before binding into id.in_()
  src/crud/session.py
  tests/crud/test_session.py
Due: basedpyright, pytest-main

test(session): assert derived-conclusion delete actually chunks id.in_()
  tests/crud/test_session.py
Due: basedpyright, pytest-main

fix(deriver): address CodeRabbit findings on create_documents deadlock fix
  src/crud/document.py
  src/deriver/queue_manager.py
  tests/crud/test_document.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

feat(docs): Initial draft of new contributing policies
  .github/CODEOWNERS
  .github/workflows/issue-gate.yml
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/v3/contributing/guidelines.mdx
Due: none
