Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

feat(a5): per-tenant round-robin claim, pause seam, lane CHECK, pool-derived WORKERS
  migrations/versions/c4e8a2b91d57_queue_workspace_reconciler_check.py
  src/config.py
  src/crud/deriver.py
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/telemetry/prometheus/metrics.py
  tests/crud/test_deriver_metrics_query.py
  tests/deriver/test_work_unit_backlog.py
  tests/routes/test_queue_status.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

review: NULL-safe suspension seam, non-blocking lane CHECK, race regressions
  CLAUDE.md
  migrations/versions/c4e8a2b91d57_queue_workspace_reconciler_check.py
  src/config.py
  src/crud/deriver.py
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/models.py
  src/telemetry/prometheus/metrics.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_b7d2f4a81c39_add_work_unit_backlog_aggregate.py
  tests/alembic/revisions/test_c4e8a2b91d57_queue_workspace_reconciler_check.py
  tests/deriver/conftest.py
  tests/deriver/test_backlog_concurrency.py
  tests/deriver/test_fair_scheduling.py
  tests/deriver/test_work_unit_backlog.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

feat(a9): trigger-maintained WorkUnitBacklog + SKIP-LOCKED claim
  migrations/versions/b7d2f4a81c39_add_work_unit_backlog_aggregate.py
  src/crud/deriver.py
  src/deriver/queue_manager.py
  src/models.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

feat(sdk): surface dialectic evidence in the TypeScript SDK (#1131)
  sdks/typescript/__tests__/evidence.unit.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/src/client.ts
  sdks/typescript/src/http/streaming.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/types/api.ts
  sdks/typescript/src/validation.ts
Due: biome-check, typescript-check

fix(llm): cover the toolless retry sites too
  src/llm/api.py
  tests/llm/test_upstream_errors.py
Due: basedpyright, pytest-main

fix: correct dream session and LLM trace handling
  docs/v3/contributing/configuration.mdx
  src/dreamer/orchestrator.py
  src/llm/backend.py
  src/llm/executor.py
  src/telemetry/trace_exporter.py
  tests/telemetry/test_session_trace_identity.py
  tests/telemetry/test_trace_capture_paths.py
  tests/telemetry/test_trace_events.py
Due: basedpyright, pytest-main

fix(auth): gate scoped keys on the get-or-create routes
  src/crud/session.py
  src/routers/peers.py
  src/routers/sessions.py
  tests/routes/test_get_or_create_scoped_keys.py
Due: basedpyright, pytest-main

fix(auth): skip the self-upsert for member peer keys
  src/crud/session.py
  tests/routes/test_get_or_create_scoped_keys.py
Due: basedpyright, pytest-main

docs: trim unused provider keys from .env.template (fixes #964)
  .env.template
Due: none

docs: clarify tool-calling applies to text-generation only (fixes #964)
  .env.template
Due: none

feat(a9): trigger-maintained QueueItemBatch + SKIP-LOCKED claim
  migrations/versions/b7d2f4a81c39_add_queue_item_batches_aggregate.py
  src/crud/deriver.py
  src/deriver/queue_manager.py
  src/models.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

fix(a5): wire the tenant substrate the fair claim needs
  src/crud/deriver.py
  src/crud/session.py
  src/crud/workspace.py
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/utils/work_unit.py
  src/webhooks/events.py
Due: basedpyright, pytest-main

test(a9): queue_item_batches trigger semantics, claim gating, SKIP LOCKED disjointness, backfill
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_b7d2f4a81c39_add_queue_item_batches_aggregate.py
  tests/deriver/test_queue_item_batches.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

review: pre-lock the recompute, statement-level triggers, tenant-aware backfill
  migrations/versions/b7d2f4a81c39_add_queue_item_batches_aggregate.py
  src/crud/deriver.py
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/models.py
  src/utils/work_unit.py
  tests/alembic/revisions/test_b7d2f4a81c39_add_queue_item_batches_aggregate.py
  tests/crud/test_workspace.py
  tests/deriver/test_queue_item_batches.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

chore: ruff 0.15.12 sweep over the A-track files
  migrations/versions/e5fe7f8bcf62_add_tenant_id_primitive.py
  src/crud/tenant.py
  src/db.py
  src/routers/tenants.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_e5fe7f8bcf62_add_tenant_id_primitive.py
  tests/crud/test_workspace.py
  tests/dreamer/test_dream_due.py
  tests/integration/test_rls_isolation.py
  tests/routes/test_tenants.py
  tests/webhooks/test_webhook_delivery.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

test(a5): fairness interleave, pause seam, lane CHECK, worker-cap derivation
  tests/deriver/test_fair_scheduling.py
Due: basedpyright, pytest-main

feat(a5): per-tenant round-robin claim, pause seam, lane CHECK, pool-derived WORKERS
  migrations/versions/c4e8a2b91d57_queue_workspace_reconciler_check.py
  src/config.py
  src/crud/deriver.py
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/telemetry/prometheus/metrics.py
  tests/crud/test_deriver_metrics_query.py
  tests/deriver/test_queue_item_batches.py
  tests/routes/test_queue_status.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

feat(a9): startup validator for the queue_item_batches trigger set
  CLAUDE.md
  src/deriver/__main__.py
  src/main.py
  src/models.py
  src/startup/__init__.py
  src/startup/queue_item_batches_validator.py
  tests/conftest.py
  tests/sdk_typescript/conftest.py
  tests/startup/test_queue_item_batches_validator.py
  tests/test_deriver_metrics.py
Due: basedpyright, pytest-main

review: NULL-safe suspension seam, non-blocking lane CHECK, race regressions
  CLAUDE.md
  migrations/versions/c4e8a2b91d57_queue_workspace_reconciler_check.py
  src/config.py
  src/crud/deriver.py
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/models.py
  src/telemetry/prometheus/metrics.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_b7d2f4a81c39_add_queue_item_batches_aggregate.py
  tests/alembic/revisions/test_c4e8a2b91d57_queue_workspace_reconciler_check.py
  tests/deriver/conftest.py
  tests/deriver/test_fair_scheduling.py
  tests/deriver/test_queue_item_batch_concurrency.py
  tests/deriver/test_queue_item_batches.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

chore(mcp): release 0.1.1
  mcp/CHANGELOG.md
  mcp/package.json
  mcp/src/server.ts
Due: none

feat(cli): add `honcho scope` command group (#1162)
  docs/changelog/introduction.mdx
  docs/snippets/cli-commands.mdx
  honcho-cli/CHANGELOG.md
  honcho-cli/README.md
  honcho-cli/pyproject.toml
  honcho-cli/src/honcho_cli/__init__.py
  honcho-cli/src/honcho_cli/_help.py
  honcho-cli/src/honcho_cli/commands/peer.py
  honcho-cli/src/honcho_cli/commands/scope.py
  honcho-cli/src/honcho_cli/commands/workspace.py
  honcho-cli/src/honcho_cli/main.py
  honcho-cli/tests/test_commands.py
  skills/honcho-cli/SKILL.md
  uv.lock
Due: none

feat(mcp): expose scope read options on the remaining read tools
  mcp/CHANGELOG.md
  mcp/README.md
  mcp/src/tools/peers.ts
  mcp/src/tools/scope-read-options.test.ts
  mcp/src/tools/sessions.ts
  mcp/src/tools/workspace.ts
Due: none

chore(mcp): release 0.1.1 (#1178)
  mcp/CHANGELOG.md
  mcp/package.json
  mcp/src/server.ts
Due: none

fix(auth): gate scoped keys on the get-or-create routes (#1172)
  src/crud/session.py
  src/routers/peers.py
  src/routers/sessions.py
  tests/routes/test_get_or_create_scoped_keys.py
Due: basedpyright, pytest-main

fix(llm): guard OpenAI backend against malformed OpenAI-compatible responses
  src/llm/backends/openai.py
  tests/llm/test_backends/test_openai_malformed_responses.py
Due: basedpyright, pytest-main

fix: address small gap in scopes tests
  sdks/typescript/__tests__/scope.unit.test.ts
Due: biome-check, typescript-check

feat(sdk): add get_scope / getScope for non-creating scope lookups (#1163)
  docs/v3/documentation/features/advanced/scopes.mdx
  sdks/python/CHANGELOG.md
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/http/routes.py
  sdks/typescript/CHANGELOG.md
  sdks/typescript/__tests__/scope.unit.test.ts
  sdks/typescript/src/client.ts
  tests/sdk/test_scope_lookup.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

ci(docs): generate openapi.json from the app, and report drift in CI (#1145)
  .github/workflows/staticanalysis.yml
  docs/v3/openapi.json
  scripts/generate_openapi.py
  src/main.py
  src/routers/deriver_metrics.py
  src/routers/scopes.py
  src/routers/workspaces.py
  src/schemas/__init__.py
  src/schemas/api.py
  tests/scripts/test_generate_openapi.py
Due: basedpyright, pytest-main

feat(cli): identify CLI traffic with X-Honcho-Host
  honcho-cli/src/honcho_cli/commands/setup.py
  honcho-cli/src/honcho_cli/commands/workspace.py
  honcho-cli/src/honcho_cli/config.py
  honcho-cli/tests/test_config.py
Due: none

docs(cli): changelog for the X-Honcho-Host identity header
  honcho-cli/CHANGELOG.md
Due: none

feat(cli): identify CLI traffic with X-Honcho-Host (#1181)
  honcho-cli/CHANGELOG.md
  honcho-cli/src/honcho_cli/commands/setup.py
  honcho-cli/src/honcho_cli/commands/workspace.py
  honcho-cli/src/honcho_cli/config.py
  honcho-cli/tests/test_config.py
Due: none

feat(telemetry): split harness, SDK and raw REST traffic
  scripts/update_version.py
  sdks/python/src/honcho/__init__.py
  sdks/python/src/honcho/http/async_client.py
  sdks/python/src/honcho/http/client.py
  sdks/typescript/__tests__/http-client.test.ts
  sdks/typescript/src/api-version.ts
  sdks/typescript/src/http/client.ts
  src/main.py
  src/telemetry/client_context.py
  tests/sdk/test_client.py
  tests/telemetry/test_emitter.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

feat(telemetry): split harness, SDK and raw REST traffic (#1182)
  scripts/update_version.py
  sdks/python/src/honcho/__init__.py
  sdks/python/src/honcho/http/async_client.py
  sdks/python/src/honcho/http/client.py
  sdks/typescript/__tests__/http-client.test.ts
  sdks/typescript/src/api-version.ts
  sdks/typescript/src/http/client.ts
  src/main.py
  src/telemetry/client_context.py
  tests/sdk/test_client.py
  tests/telemetry/test_emitter.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

feat(dialectic): return the evidence a chat answer was built from (#1129)
  docs/docs.json
  docs/v3/documentation/features/advanced/evidence.mdx
  docs/v3/documentation/features/chat.mdx
  docs/v3/openapi.json
  sdks/typescript/__tests__/evidence.unit.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/src/client.ts
  sdks/typescript/src/http/streaming.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/types/api.ts
  sdks/typescript/src/validation.ts
  src/dialectic/chat.py
  src/dialectic/core.py
  src/dialectic/workspace.py
  src/routers/peers.py
  src/routers/workspaces.py
  src/schemas/__init__.py
  src/schemas/api.py
  src/utils/agent_tools.py
  src/utils/evidence.py
  src/utils/sse.py
  tests/dialectic/test_evidence.py
  tests/routes/test_dialectic_evidence.py
  tests/utils/test_agent_tools.py
  tests/utils/test_evidence.py
Due: biome-check, basedpyright, pytest-main, typescript-check

refactor(sdk): drop message content from Python evidence types
  sdks/python/src/honcho/api_types.py
Due: basedpyright, pytest-python-sdk

feat(sdk): surface dialectic evidence in the Python SDK
  sdks/python/src/honcho/__init__.py
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/api_types.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/types.py
  sdks/python/src/honcho/utils/sse.py
  tests/sdk/test_chat_evidence.py
Due: basedpyright, pytest-main, pytest-python-sdk

feat(sdk): surface dialectic evidence in the Python SDK (#1130)
  sdks/python/src/honcho/__init__.py
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/api_types.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/types.py
  sdks/python/src/honcho/utils/sse.py
  tests/sdk/test_chat_evidence.py
Due: basedpyright, pytest-main, pytest-python-sdk

refactor(sources): drain legacy source_ids via the reconciler, not the migration
  migrations/versions/a7c3e9f1b2d4_add_document_sources_table.py
  src/crud/document.py
  src/deriver/consumer.py
  src/deriver/scope_backfill.py
  src/models.py
  src/reconciler/backfill_document_sources.py
  src/reconciler/scheduler.py
  src/schemas/internal.py
  src/utils/filter.py
  tests/alembic/revisions/test_a7c3e9f1b2d4_add_document_sources_table.py
  tests/reconciler/test_backfill_document_sources.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

fix(llm): route truthy non-indexable choices through the controlled LLMError
  src/llm/backends/openai.py
  tests/llm/test_backends/test_openai_malformed_responses.py
Due: basedpyright, pytest-main

test(a6): fresh single-tenant deploy gate + one-switch invariance
  tests/startup/test_fresh_single_tenant_deploy.py
  tests/test_single_tenant_mode.py
Due: basedpyright, pytest-main

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
