Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

fix(deriver): Remove connection retry logic and add jitter to polling interval
  .env.template
  config.toml.example
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/db.py
  src/dependencies.py
  src/deriver/queue_manager.py
  src/telemetry/prometheus/metrics.py
  tests/deriver/test_queue_processing.py
  tests/test_db_resilience.py
  tests/test_dependencies.py
Due: basedpyright, pytest-main

chore(docs): Update changelog and document new configurations
  .env.template
  CHANGELOG.md
  config.toml.example
  docs/changelog/introduction.mdx
  docs/v3/contributing/configuration.mdx
  src/main.py
Due: basedpyright, pytest-main

chore: increment version numbers
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/docs.json
  pyproject.toml
  uv.lock
Due: none

Deriver Jitter (#765)
  .env.template
  CHANGELOG.md
  README.md
  config.toml.example
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v3/contributing/configuration.mdx
  pyproject.toml
  src/config.py
  src/db.py
  src/dependencies.py
  src/deriver/queue_manager.py
  src/main.py
  src/telemetry/prometheus/metrics.py
  tests/deriver/test_queue_processing.py
  tests/test_db_resilience.py
  tests/test_dependencies.py
  uv.lock
Due: basedpyright, pytest-main

feat: embed messages immediately on create with reconciler fallback
  src/config.py
  src/reconciler/embed_now.py
  src/reconciler/sync_vectors.py
  src/routers/messages.py
  tests/conftest.py
  tests/deriver/test_embed_now.py
  tests/routes/test_messages.py
Due: basedpyright, pytest-main

fix(trees): filter unsupported k kwarg in create_tree to prevent TypeError
  src/dreamer/trees/__init__.py
Due: basedpyright, pytest-main

docs: narrow create_tree docstring to reflect actual kwarg filtering behavior
  src/dreamer/trees/__init__.py
Due: basedpyright, pytest-main

feat: embed messages immediately on create with reconciler fallback (#766)
  src/config.py
  src/reconciler/embed_now.py
  src/reconciler/sync_vectors.py
  src/routers/messages.py
  tests/conftest.py
  tests/deriver/test_embed_now.py
  tests/routes/test_messages.py
Due: basedpyright, pytest-main

feat(dreamer): biographical-refresh pass to reconcile stale peer-card facts
  src/config.py
  src/dreamer/biographical_refresh.py
  src/dreamer/orchestrator.py
  src/telemetry/events/llm.py
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

test(messages): await sync TestClient in breadcrumb tests; annotate route return (#10)
  src/routers/messages.py
  tests/test_tool_breadcrumb_filtering.py
Due: basedpyright, pytest-main

feat(dreamer): biographical-refresh pass to reconcile stale peer-card facts (#8)
  src/config.py
  src/dreamer/biographical_refresh.py
  src/dreamer/orchestrator.py
  src/telemetry/events/llm.py
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

fix: clarify that users need to update the SDK base URL when they change the port
  README.md
Due: none

fix(migrations): derive embedding dimenstions from settings instead of hardcoded values
  migrations/versions/119a52b73c60_support_external_embeddings.py
  migrations/versions/917195d9b5e9_add_messageembedding_table.py
  migrations/versions/a1b2c3d4e5f6_initial_schema.py
Due: pytest-alembic, ensure-alembic-coverage

fix(llm): add model "mistral-embed" to known models rejecting dimenstions parameter
  src/config.py
Due: basedpyright, pytest-main

fix(llm) add model "mistral-embed" to known models rejecting dimenstions parameter in _EMBEDDING_KNOWN_REJECTING_MODELS
  src/config.py
Due: basedpyright, pytest-main

feat: implement read DB and fix queue stale cleanup
  config.toml.example
  src/config.py
  src/db.py
  src/dependencies.py
  src/deriver/queue_manager.py
  src/routers/messages.py
  src/routers/peers.py
  src/routers/sessions.py
  src/routers/workspaces.py
  tests/conftest.py
  tests/test_db_resilience.py
  tests/test_dependencies.py
Due: basedpyright, pytest-main

fix: use read_db in internal methods
  src/crud/document.py
  src/crud/message.py
  src/crud/representation.py
  src/dialectic/chat.py
  src/dialectic/core.py
  src/routers/conclusions.py
  src/utils/agent_tools.py
  src/utils/search.py
  tests/conftest.py
  tests/integration/test_message_embeddings.py
  tests/sdk_typescript/conftest.py
  tests/startup/test_embedding_validator.py
Due: basedpyright, pytest-main

Switch Honcho embeddings to stable local model
  config.toml
Due: none

fix: mention read db in the CLAUDE.md
  CLAUDE.md
Due: none

Add namespace metadata to deriver LLM calls
  src/deriver/deriver.py
  src/llm/api.py
  src/llm/backends/openai.py
  src/llm/executor.py
  tests/deriver/test_deriver_processing.py
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

fix: pass custom_instructions to session summaries
  src/utils/summarizer.py
Due: basedpyright, pytest-main

fix(llm): guard OpenAI backend against malformed provider responses
  src/llm/backends/openai.py
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

test(llm): add cache-token assertions and docstrings per review
  src/llm/backends/openai.py
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

docs: add missing docstrings to achieve 80% coverage threshold
  src/utils/summarizer.py
Due: basedpyright, pytest-main

fix: switch Honcho embeddings to bge-m3
  config.toml
Due: none

fix(llm): add NVIDIA NIM embedding models to _EMBEDDING_KNOWN_REJECTING_MODELS
  src/config.py
Due: basedpyright, pytest-main

feat(llm): add EMBEDDING_MODEL_CONFIG__INPUT_TYPE for asymmetric embedders
  .env.template
  src/config.py
  src/embedding_client.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

feat(api): expose runtime model and auth metadata
  src/main.py
  src/routers/runtime.py
  src/schemas/__init__.py
  src/schemas/api.py
  tests/conftest.py
  tests/routes/test_runtime.py
Due: basedpyright, pytest-main

Add Codex refresh token support
  src/config.py
  src/llm/backends/openai_codex.py
  src/llm/credentials.py
  src/llm/registry.py
  src/llm/types.py
  tests/llm/test_openai_codex_backend.py
Due: basedpyright, pytest-main

Switch local Honcho embeddings to mxbai
  config.toml
  docker-compose.local-embeddings.yml
Due: none

Switch local embedding fallback to bge-m3
  config.toml
Due: none

docs: adding honcho-memory skill
  .claude/skills/honcho-memory/SKILL.md
  README.md
  docs/v3/documentation/introduction/vibecoding.mdx
Due: none

fix: skills to point at llm friendly content
  .claude/skills/honcho-integration/SKILL.md
  .claude/skills/honcho-memory/SKILL.md
Due: none

fix: declare click as honcho-cli dependency
  honcho-cli/pyproject.toml
Due: none

fix: declare click as honcho-cli dependency
  uv.lock
Due: none

fix: declare click as honcho-cli dependency
  honcho-cli/uv.lock
Due: none

fix: address JWT script review feedback
  README.md
  scripts/generate_jwt.py
  tests/conftest.py
  tests/test_generate_jwt_script.py
Due: basedpyright, pytest-main

fix(embedding): request float encoding from OpenAI-compatible APIs
  src/embedding_client.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

fix: make TRACING checkout hook autocommit-safe; sample cleanup-gate jitter once
  src/db.py
  src/deriver/queue_manager.py
  tests/test_db_resilience.py
  tests/test_dependencies.py
Due: basedpyright, pytest-main

fix: type, lint
  scripts/generate_jwt.py
Due: basedpyright
