Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run typecheck; fi'
  language: system
  pass_filenames: false

feat: get full working rep for dialectic in one swoop -- fix representation_from_documents to use the proper timestamp!
  src/crud/representation.py
  src/dialectic/chat.py
  src/dialectic/utils.py
  src/utils/clients.py
  src/utils/shared_models.py
  tests/bench/longmem.py
  tests/conftest.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

fix: timestamps for real, handle assistant qs in longmem
  src/deriver/deriver.py
  src/utils/representation.py
  tests/bench/longmem.py
  tests/deriver/test_representation_crud.py
  tests/integration/test_representation.py
Due: basedpyright, pytest-main

fix: remove old client, add batching to longmem
  src/utils/clients.py
  tests/bench/longmem.py
Due: basedpyright, pytest-main

perf: remove duplicate detection, will move to background task
  src/crud/__init__.py
  src/crud/document.py
  src/deriver/deriver.py
  src/utils/embedding_store.py
  tests/bench/longmem.py
Due: basedpyright, pytest-main

fix: sum input tokens and set session context cutoff to MAX_INPUT_TOKENS - sum (#218)
  .env.template
  config.toml.example
  docs/v2/contributing/configuration.mdx
  src/config.py
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/deriver/utils.py
  src/utils/summarizer.py
Due: basedpyright, pytest-main

2.3.2 update (#217)
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v2/documentation/core-concepts/glossary.mdx
  pyproject.toml
  src/main.py
  uv.lock
Due: basedpyright, pytest-main

feat: Add session deletion and session level deriver status methods
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/session.py
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/src/client.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/session_context.ts
  tests/sdk/test_session.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

hotfix: correct path in peer card GET
  CHANGELOG.md
Due: none

feat: track perf metrics on evals
  src/config.py
  src/dialectic/chat.py
  src/utils/logging.py
  src/utils/metrics_collector.py
  tests/bench/.gitignore
  tests/bench/longmem.py
Due: basedpyright, pytest-main

fix: Streaming support to python sdk
  .gitignore
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/peer.py
Due: basedpyright, pytest-python-sdk

feat: adjust deriver prompt to use peer_id, add question date to question, clean up deriver
  src/config.py
  src/deriver/deriver.py
  src/deriver/prompts.py
  tests/bench/longmem.py
  tests/deriver/test_deriver_processing.py
  tests/test_llm_mock.py
Due: basedpyright, pytest-main

fix: label metrics by task for better perf trace
  src/config.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/dialectic/chat.py
  src/utils/logging.py
  src/utils/metrics_collector.py
Due: basedpyright, pytest-main

chore: code review
  src/crud/document.py
  src/deriver/prompts.py
  src/dialectic/chat.py
  src/routers/sessions.py
  src/utils/embedding_store.py
  src/utils/representation.py
  tests/deriver/conftest.py
  tests/deriver/test_deriver_processing.py
  tests/integration/test_representation.py
Due: basedpyright, pytest-main

feat: use token limit from all senders for rollup
  src/deriver/queue_manager.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

feat: add efficiency score to longmem bench
  src/deriver/deriver.py
  src/utils/metrics_collector.py
  tests/bench/longmem.py
Due: basedpyright, pytest-main

chore: tuning and cleaning up eval
  src/config.py
  src/crud/representation.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/embedding_client.py
  src/utils/embedding_store.py
  tests/bench/longmem.py
Due: basedpyright, pytest-main

fix: Checkpoint Streaming working in SDKs with workarounds for stainless
  sdks/python/src/honcho/__init__.py
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/types.py
  sdks/typescript/__tests__/integration.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/types.ts
  sdks/typescript/src/validation.ts
  src/routers/peers.py
  src/schemas.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

feat: [WIP] dynamic documents tables
  migrations/versions/dbafd24f50bb_migrate_documents_to_per_collection_.py
  src/crud/collection.py
  src/crud/document.py
  src/crud/representation.py
  src/deriver/deriver.py
  src/dialectic/chat.py
  src/dreamer/dream_scheduler.py
  src/dreamer/dreamer.py
  src/models.py
  src/utils/clients.py
  src/utils/dynamic_tables.py
  src/utils/embedding_store.py
Due: basedpyright, pytest-main

chore: bring in the big prompts
  src/deriver/prompts.py
  src/dialectic/prompts.py
Due: basedpyright, pytest-main

feat: add prometheus to api routes
  .env.template
  config.toml.example
  pyproject.toml
  src/config.py
  src/main.py
  src/prometheus.py
  src/routers/messages.py
  uv.lock
Due: basedpyright, pytest-main

feat: add support for vllm client
  pyproject.toml
  src/deriver/deriver.py
  src/utils/clients.py
  src/utils/json_parser.py
  src/utils/types.py
  uv.lock
Due: basedpyright, pytest-main

fix: send all messages to queue_manager
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/deriver/queue_manager.py
Due: basedpyright, pytest-main

test: fixe tests and move ownership check to separate query
  src/deriver/queue_manager.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

fix: if first sender message exceeds batch then we should return an empty batch
  src/deriver/queue_manager.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

feat: perf: bundle db calls in deriver and dialectic, increase max conns in docker db
  docker-compose.yml.example
  src/deriver/deriver.py
  src/dialectic/chat.py
Due: basedpyright, pytest-main

feat: separate representation and non-representation processing
  src/deriver/consumer.py
  src/deriver/queue_manager.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

fix: return msg object and queue items
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

feat: [WIP] realtime context object note: must download custom stainless API for SDK
  sdks/python/src/honcho/session.py
  sdks/python/src/honcho/session_context.py
  src/config.py
  src/routers/sessions.py
  src/schemas.py
Due: basedpyright, pytest-main, pytest-python-sdk

fix: rollup logic with interleaving messages
  src/deriver/queue_manager.py
Due: basedpyright, pytest-main

fix: rm TODO
  src/deriver/queue_manager.py
Due: basedpyright, pytest-main

feat: fix pagination, add message metadata update, and get peer card methods
  pyproject.toml
  sdks/python/pyproject.toml
  sdks/python/src/honcho/async_client/client.py
  sdks/python/src/honcho/async_client/pagination.py
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/pagination.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/types.py
  src/config.py
  tests/sdk/test_client.py
  tests/sdk/test_peer.py
  uv.lock
Due: basedpyright, pytest-main, pytest-python-sdk

feat: parity in typescript and python sdks
  docs/v2/documentation/core-concepts/glossary.mdx
  sdks/python/pyproject.toml
  sdks/python/src/honcho/async_client/client.py
  sdks/python/src/honcho/async_client/pagination.py
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/pagination.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/python/src/honcho/types.py
  sdks/typescript/__tests__/client.test.ts
  sdks/typescript/__tests__/integration.test.ts
  sdks/typescript/__tests__/pagination.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  sdks/typescript/src/client.ts
  sdks/typescript/src/pagination.ts
  sdks/typescript/src/peer.ts
  tests/sdk/test_pagination.py
  tests/sdk/test_peer.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

Fix langfuse trace and add fallback for weird error in deriver
  src/deriver/consumer.py
  src/deriver/deriver.py
Due: basedpyright, pytest-main

fix: Address Coderabbit
  sdks/python/src/honcho/async_client/pagination.py
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/pagination.py
  sdks/python/src/honcho/peer.py
  sdks/typescript/__tests__/pagination.test.ts
  sdks/typescript/src/client.ts
  sdks/typescript/src/index.ts
  src/utils/tracing.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

fix: Address Coderabbit
  sdks/python/src/honcho/async_client/peer.py
Due: basedpyright, pytest-python-sdk

chore: add basedpyright rules to sdk
  sdks/python/pyproject.toml
Due: none

feat: add merge-sessions flag to longmemeval, add SUMMARY_ENABLED flag
  .env.template
  config.toml.example
  src/config.py
  src/deriver/enqueue.py
  tests/bench/longmem.py
Due: basedpyright, pytest-main

fix: COLLECT_METRICS default false
  src/config.py
Due: basedpyright, pytest-main

chore: display start/end message ids, don't include in metrics
  .gitignore
  src/deriver/deriver.py
  src/utils/metrics_collector.py
Due: basedpyright, pytest-main

fix: simplify query
  src/deriver/queue_manager.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
  typescript-typecheck: any of: ^sdks/typescript/.*\.(ts|tsx)$
