Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run typecheck; fi'
  language: system
  pass_filenames: false

fix: /peer-cards -> /peer-card
  src/routers/peers.py
  tests/routes/test_peers.py
Due: basedpyright, pytest-main

fix: broken links
  docs/v2/documentation/core-concepts/architecture.mdx
  docs/v2/documentation/core-concepts/glossary.mdx
  docs/v2/documentation/introduction/overview.mdx
  docs/v2/documentation/introduction/quickstart.mdx
  docs/v2/documentation/reference/guided-tutorial.mdx
  docs/v2/documentation/reference/platform.mdx
  docs/v2/guides/overview.mdx
Due: none

fix: logo colors
  docs/logo/honcho-dark.svg
  docs/logo/honcho-light.svg
Due: none

feat: get peer cards endpoint (#209)
  src/routers/peers.py
  src/schemas.py
  tests/routes/test_peers.py
Due: basedpyright, pytest-main

fix: Integer -> BigInteger
  src/deriver/queue_manager.py
Due: basedpyright, pytest-main

fix: dreams scheduled when new document count reaches a certain threshold
  src/config.py
  src/crud/__init__.py
  src/crud/document.py
  src/deriver/deriver.py
  src/deriver/dreamer.py
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/dialectic/chat.py
  src/dialectic/prompts.py
  src/dialectic/utils.py
  src/models.py
  src/utils/dream_scheduler.py
  src/utils/embedding_store.py
  src/utils/summarizer.py
  tests/integration/test_representation.py
Due: basedpyright, pytest-main

redo: broken links, h4 formatting on glossary page
  docs/docs.json
  docs/v2/documentation/core-concepts/glossary.mdx
  docs/v2/documentation/introduction/overview.mdx
  docs/v2/documentation/reference/platform.mdx
Due: none

fix: more link edits
  docs/v2/documentation/introduction/quickstart.mdx
Due: none

fix: icon for file upload page
  docs/v2/guides/file-uploads.mdx
Due: none

fix: coderabbit suggestion
  docs/v2/documentation/introduction/quickstart.mdx
Due: none

feat: wip: timed dreams (not working)
  src/config.py
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/utils/dream_scheduler.py
  src/utils/work_unit.py
  src/webhooks/events.py
  tests/deriver/conftest.py
  tests/deriver/test_deriver_processing.py
  tests/routes/test_queue_status.py
Due: basedpyright, pytest-main

chore: remove dead file
  docs/pnpm-lock.yaml
  docs/v2/documentation/introduction/overview.mdx
Due: none

chore: update mintlify version
  docs/bun.lock
  docs/package.json
Due: none

color theme and broken link fix (#213)
  docs/bun.lock
  docs/docs.json
  docs/logo/honcho-dark.svg
  docs/logo/honcho-light.svg
  docs/package.json
  docs/pnpm-lock.yaml
  docs/v2/documentation/core-concepts/architecture.mdx
  docs/v2/documentation/core-concepts/glossary.mdx
  docs/v2/documentation/introduction/overview.mdx
  docs/v2/documentation/introduction/quickstart.mdx
  docs/v2/documentation/reference/guided-tutorial.mdx
  docs/v2/documentation/reference/platform.mdx
  docs/v2/guides/file-uploads.mdx
  docs/v2/guides/overview.mdx
Due: none

fix: add shadow .env file for compose file (#196)
  pyproject.toml
  tests/bench/harness.py
Due: basedpyright, pytest-main

fix: test
  tests/deriver/test_deriver_processing.py
Due: basedpyright, pytest-main

fix: separate clean and claim work units. skip locked AQS rows on delete
  src/deriver/queue_manager.py
Due: basedpyright, pytest-main

fix: remove useless pyright ignore
  src/schemas.py
Due: basedpyright, pytest-main

fix: executing dreams
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/dreamer.py
  src/deriver/enqueue.py
  src/utils/dream_scheduler.py
  src/utils/queue_payload.py
  src/webhooks/events.py
  src/webhooks/webhook_delivery.py
  tests/deriver/conftest.py
  tests/deriver/test_deriver_processing.py
Due: basedpyright, pytest-main

feat: dreaming
  src/crud/__init__.py
  src/crud/document.py
  src/crud/representation.py
  src/deriver/consumer.py
  src/deriver/dreamer.py
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/dreamer/__init__.py
  src/dreamer/dream_scheduler.py
  src/dreamer/dreamer.py
  src/dreamer/prompts.py
  src/utils/embedding_store.py
  src/utils/queue_payload.py
Due: basedpyright, pytest-main

fix: separate clean and claim work units. skip locked AQS rows on delete (#215)
  src/deriver/queue_manager.py
Due: basedpyright, pytest-main

fix: simplify; use debug logs
  src/deriver/queue_manager.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

fix: random type error
  tests/bench/harness.py
Due: basedpyright, pytest-main

fix: CR comments
  src/deriver/queue_manager.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

chore: 2.3.2 update
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v2/documentation/core-concepts/glossary.mdx
  pyproject.toml
  src/main.py
  tests/bench/harness.py
  uv.lock
Due: basedpyright, pytest-main

fix: move limit check before opening db connection
  src/deriver/queue_manager.py
Due: basedpyright, pytest-main

fix: use single SQL call to verify ownership and fetch message batch
  src/deriver/queue_manager.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

fix: Add top level transactions for tracing in deriver
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/utils/tracing.py
  tests/bench/harness.py
Due: basedpyright, pytest-main

fix: CR comments 2
  src/deriver/queue_manager.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

fix: Add Delete methods to sdks for sessions
  sdks/python/pyproject.toml
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/session.py
  sdks/typescript/package.json
  sdks/typescript/src/index.ts
  sdks/typescript/src/session.ts
  uv.lock
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check, typescript-typecheck

Track worker ownership (#216)
  src/deriver/queue_manager.py
  tests/bench/harness.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

feat: [WIP] longmemeval bench
  tests/bench/.gitignore
  tests/bench/longmem.py
Due: basedpyright, pytest-main

fix: add 2.3.1 which never got a changelog
  CHANGELOG.md
  docs/changelog/introduction.mdx
Due: none

fix: sum input tokens and set session context cutoff to MAX_INPUT_TOKENS - sum
  .env.template
  config.toml.example
  src/config.py
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/deriver/utils.py
Due: basedpyright, pytest-main

feat: add USE_PEER_CARD setting, fix longmem test driver
  .env.template
  config.toml.example
  src/config.py
  src/deriver/deriver.py
  tests/bench/longmem.py
Due: basedpyright, pytest-main

fix: CR comments + remove context var
  .env.template
  config.toml.example
  docs/v2/contributing/configuration.mdx
  src/config.py
  src/deriver/deriver.py
  src/deriver/utils.py
Due: basedpyright, pytest-main

fix: CR comments 2
  src/deriver/deriver.py
  src/utils/summarizer.py
Due: basedpyright, pytest-main

fix: use cache decorator; rm logger
  src/deriver/deriver.py
  src/deriver/prompts.py
Due: basedpyright, pytest-main

refactor: re-fetch formatted history after getting global working rep
  src/deriver/deriver.py
Due: basedpyright, pytest-main

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
  typescript-typecheck: any of: ^sdks/typescript/.*\.(ts|tsx)$
