Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

fix: mark permanent embedding validation failures immediately
  src/reconciler/sync_vectors.py
Due: basedpyright, pytest-main

feat: normalize source_ids into document_sources table
  migrations/versions/a7c3e9f1b2d4_add_document_sources_table.py
  plans/source-ids-table.md
  src/crud/document.py
  src/models.py
  src/utils/agent_tools.py
  src/utils/filter.py
  src/utils/representation.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_a7c3e9f1b2d4_add_document_sources_table.py
  tests/routes/test_conclusions.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

feat(cli): add `honcho session view` transcript command
  .claude/skills/honcho-cli/SKILL.md
  honcho-cli/CHANGELOG.md
  honcho-cli/README.md
  honcho-cli/src/honcho_cli/_help.py
  honcho-cli/src/honcho_cli/commands/message.py
  honcho-cli/src/honcho_cli/commands/session.py
  honcho-cli/src/honcho_cli/output.py
  honcho-cli/tests/test_commands.py
  honcho-cli/tests/test_output.py
Due: none

fix(mcp): OAuth session fixes, write scope, SDK bump
  mcp/bun.lock
  mcp/package.json
  mcp/src/index.ts
Due: none

fix: dispose alembic engine after migrations run
  migrations/env.py
Due: none

fix(api): make the conclusions semantic-search validation error actionable
  src/routers/conclusions.py
Due: basedpyright, pytest-main

refactor: replace /derived endpoint with parent_id list filter
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/conclusions.py
  sdks/python/src/honcho/http/routes.py
  sdks/typescript/__tests__/conclusions.test.ts
  sdks/typescript/src/conclusions.ts
  src/crud/document.py
  src/routers/conclusions.py
  tests/routes/test_conclusions.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

chore: update gcp/fly deployment yamls
  .github/workflows/fly-deploy-prod.yml
  .github/workflows/fly-deploy.yml
  .github/workflows/push-gcp-registry-prod.yml
  .github/workflows/push-gcp-registry-staging.yml
Due: none

fix: coderabbit comments
  .github/workflows/push-gcp-registry-prod.yml
  .github/workflows/push-gcp-registry-staging.yml
Due: none

chore: update gcp/fly deployment yamls (#1005)
  .github/workflows/fly-deploy-prod.yml
  .github/workflows/fly-deploy.yml
  .github/workflows/push-gcp-registry-prod.yml
  .github/workflows/push-gcp-registry-staging.yml
Due: none

chore(docs): Update changelogs
  CHANGELOG.md
  docs/changelog/introduction.mdx
  docs/docs.json
  honcho-cli/CHANGELOG.md
  pyproject.toml
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/typescript/CHANGELOG.md
  sdks/typescript/package.json
  uv.lock
Due: biome-check, typescript-check

docs(cli): regenerate command reference for `session view`
  docs/snippets/cli-commands.mdx
  docs/v3/documentation/reference/cli.mdx
  honcho-cli/scripts/generate_cli_docs.py
  honcho-cli/src/honcho_cli/commands/message.py
  honcho-cli/src/honcho_cli/commands/session.py
  honcho-cli/src/honcho_cli/output.py
  honcho-cli/tests/test_commands.py
Due: none

chore(docs): Update changelogs (#1007)
  CHANGELOG.md
  docs/changelog/introduction.mdx
  docs/docs.json
  honcho-cli/CHANGELOG.md
  pyproject.toml
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/typescript/CHANGELOG.md
  sdks/typescript/package.json
  uv.lock
Due: biome-check, typescript-check

docs: adding honcho-memory skill (#784)
  .agents/skills
  .claude/skills
  .claude/skills/honcho-integration/SKILL.md
  .claude/skills/migrate-honcho-py/DETAILED-CHANGES.md
  .claude/skills/migrate-honcho-py/MIGRATION-CHECKLIST.md
  .claude/skills/migrate-honcho-py/SKILL.md
  .claude/skills/migrate-honcho-ts/DETAILED-CHANGES.md
  .claude/skills/migrate-honcho-ts/MIGRATION-CHECKLIST.md
  .claude/skills/migrate-honcho-ts/SKILL.md
  README.md
  docs/v3/documentation/introduction/vibecoding.mdx
  docs/v3/guides/integrations/mcp.mdx
  mcp/instructions.md
  mcp/src/instructions.d.ts
  mcp/src/server.ts
  mcp/wrangler.toml
  skills/honcho-cli/SKILL.md
  skills/honcho-integration/SKILL.md
  skills/honcho-integration/references/agent-patterns.md
  skills/honcho-integration/references/bot-frameworks.md
  skills/honcho-integration/references/bot-frameworks/nanobot/client.py
  skills/honcho-integration/references/bot-frameworks/nanobot/honcho_tool.py
  skills/honcho-integration/references/bot-frameworks/nanobot/session.py
  skills/honcho-integration/references/core-patterns.md
  skills/honcho-memory/SKILL.md
  skills/verify/SKILL.md
Due: none

fix(cli): carry invocation scope into the next-page hint
  honcho-cli/src/honcho_cli/commands/message.py
  honcho-cli/src/honcho_cli/commands/session.py
  honcho-cli/src/honcho_cli/output.py
  honcho-cli/tests/test_commands.py
  honcho-cli/tests/test_output.py
Due: none

fix(cli): read next-page hint scope from effective flag overrides
  honcho-cli/src/honcho_cli/commands/session.py
  honcho-cli/src/honcho_cli/common.py
  honcho-cli/tests/test_commands.py
Due: none

fix(representation): reclaim unused query budget
  src/crud/representation.py
  tests/crud/test_representation_manager.py
Due: basedpyright, pytest-main

feat(cli): add `honcho session view` transcript command (#1006)
  docs/snippets/cli-commands.mdx
  docs/v3/documentation/reference/cli.mdx
  honcho-cli/CHANGELOG.md
  honcho-cli/README.md
  honcho-cli/scripts/generate_cli_docs.py
  honcho-cli/src/honcho_cli/_help.py
  honcho-cli/src/honcho_cli/commands/message.py
  honcho-cli/src/honcho_cli/commands/session.py
  honcho-cli/src/honcho_cli/common.py
  honcho-cli/src/honcho_cli/output.py
  honcho-cli/tests/test_commands.py
  honcho-cli/tests/test_output.py
  skills/honcho-cli/SKILL.md
Due: none

chore(docs): Sync Docs with latest Changelog features
  CHANGELOG.md
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v3/documentation/features/advanced/representation-scopes.mdx
  docs/v3/documentation/features/advanced/using-filters.mdx
  docs/v3/documentation/features/advanced/webhooks.mdx
  docs/v3/documentation/features/chat.mdx
  docs/v3/documentation/reference/platform.mdx
  docs/v3/openapi.json
Due: none

chore: nit on sentence style
  docs/v3/documentation/features/advanced/using-filters.mdx
Due: none

perf: lazy-load provider SDKs to cut idle memory per process
  src/embedding_client.py
  src/llm/__init__.py
  src/llm/executor.py
  src/llm/registry.py
  src/llm/types.py
  tests/llm/test_embedding_client.py
  tests/llm/test_registry.py
  tests/llm/test_telemetry_llm_call.py
Due: basedpyright, pytest-main

fix(summarizer): reject degenerate max_tokens summaries (#899)
  src/telemetry/prometheus/metrics.py
  src/utils/summarizer.py
  tests/integration/test_token_metrics.py
  tests/utils/test_summarizer.py
Due: basedpyright, pytest-main

fix(api): make the conclusions semantic-search validation error actionable (#960)
  src/routers/conclusions.py
Due: basedpyright, pytest-main

test(embedding): live embedding coverage for every Gemini and OpenAI model
  src/routers/conclusions.py
  tests/live_llm/README.md
  tests/live_llm/conftest.py
  tests/live_llm/embedding_matrix.py
  tests/live_llm/test_live_embeddings.py
Due: basedpyright, pytest-main

test(embedding): drop the preview twin from the default embedding matrix
  tests/live_llm/README.md
  tests/live_llm/embedding_matrix.py
Due: basedpyright, pytest-main

chore: adding server schema
  mcp/server.json
Due: none

Fix Gemini batch embedding for gemini-embedding-2* models (#745)
  src/embedding_client.py
  src/routers/conclusions.py
  tests/live_llm/README.md
  tests/live_llm/conftest.py
  tests/live_llm/embedding_matrix.py
  tests/live_llm/test_live_embeddings.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

chore: updating documentation
  docs/v3/guides/integrations/mcp.mdx
Due: none

fix(embedding): validate model output dimension at startup
  .env.template
  src/embedding_client.py
  src/startup/embedding_validator.py
  tests/conftest.py
  tests/llm/test_embedding_client.py
  tests/startup/test_embedding_validator.py
Due: basedpyright, pytest-main

fix: honor DERIVER_DEDUPLICATE in create_observations
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

test: cover deduplicate setting is forwarded in create_observations
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

fix(embedding): keep an explicit embedding-count check on the openai paths
  src/embedding_client.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

test(embedding): cover openai-compatible providers in the live embedding matrix
  tests/live_llm/README.md
  tests/live_llm/conftest.py
  tests/live_llm/embedding_matrix.py
  tests/live_llm/test_live_embeddings.py
Due: basedpyright, pytest-main

docs(live-llm): correct the openai-compatible embedding matrix env docs
  tests/live_llm/README.md
Due: none

fix(scopes): close auth and observed-position gaps, paginate membership
  src/crud/__init__.py
  src/crud/document.py
  src/crud/peer.py
  src/crud/scope.py
  src/crud/session.py
  src/dialectic/chat.py
  src/routers/peers.py
  src/routers/scopes.py
  src/routers/sessions.py
  src/schemas/__init__.py
  src/schemas/api.py
  src/telemetry/events/trace.py
  tests/dreamer/test_card_refresh.py
  tests/routes/test_scope_route_policy.py
  tests/routes/test_scopes.py
Due: basedpyright, pytest-main

fix: slim honcho image
  Dockerfile
  docker-compose.yml.example
  pyproject.toml
  src/vector_store/__init__.py
  uv.lock
Due: basedpyright, pytest-main

test(scopes): assert exact statuses for permissive missing-name cases
  src/routers/scopes.py
  tests/routes/test_scope_route_policy.py
Due: basedpyright, pytest-main

Revert "fix: slim honcho image"
  Dockerfile
  docker-compose.yml.example
  pyproject.toml
  src/vector_store/__init__.py
  uv.lock
Due: basedpyright, pytest-main

Reapply "fix: slim honcho image"
  Dockerfile
  docker-compose.yml.example
  pyproject.toml
  src/vector_store/__init__.py
  uv.lock
Due: basedpyright, pytest-main

feat(embedding): resolve openai encoding_format by mode instead of pinning float
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/embedding_client.py
  tests/live_llm/conftest.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
