Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

feat(kilo-honcho): add /honcho and refuse tool calls that read Honcho's config
  kilo-honcho/CHANGELOG.md
  kilo-honcho/skills/honcho-memory/SKILL.md
  kilo-honcho/src/file-guard.ts
  kilo-honcho/src/index.ts
  kilo-honcho/tests/context-injection.test.js
  kilo-honcho/tests/file-guard.test.js
  kilo-honcho/tests/honcho-setup.test.js
Due: none

docs(integrations): make the marketplace and /honcho the Kilo desktop path
  docs/v3/guides/integrations/kilo.mdx
  kilo-honcho/README.md
Due: none

refactor(kilo-honcho): remove the npx setup command
  docs/v3/guides/integrations/kilo.mdx
  kilo-honcho/CHANGELOG.md
  kilo-honcho/README.md
  kilo-honcho/bun.lock
  kilo-honcho/package.json
  kilo-honcho/scripts/build.ts
  kilo-honcho/src/cli.ts
  kilo-honcho/src/core.ts
  kilo-honcho/src/index.ts
  kilo-honcho/src/setup.ts
  kilo-honcho/tests/honcho-setup.test.js
Due: none

review: fix read-session degrade, bound the index build, narrow extension errors
  CLAUDE.md
  docs/v3/contributing/self-hosting.mdx
  docs/v3/contributing/troubleshooting.mdx
  migrations/env.py
  migrations/versions/3e7a1c9d5b20_index_messages_content_trgm.py
  src/crud/representation.py
  tests/alembic/revisions/__init__.py
  tests/conftest.py
  tests/crud/test_representation_manager.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

fix(search): trigram index on messages.content; savepoint the semantic representation query
  database/init.sql
  honcho-cli/src/honcho_cli/local/templates/init.sql
  migrations/env.py
  migrations/versions/3e7a1c9d5b20_index_messages_content_trgm.py
  src/crud/representation.py
  src/models.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_3e7a1c9d5b20_index_messages_content_trgm.py
  tests/conftest.py
  tests/crud/test_representation_manager.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

fix(anthropic): skip JSON assistant prefill for Claude 5+ models
  src/llm/backends/anthropic.py
  tests/llm/test_backends/test_anthropic.py
Due: basedpyright, pytest-main

feat(dialectic): add semantic_query to separate retrieval text from the chat query
  docs/v3/documentation/features/chat.mdx
  docs/v3/openapi.json
  src/dialectic/chat.py
  src/dialectic/core.py
  src/routers/peers.py
  src/schemas/api.py
  tests/dialectic/test_semantic_query.py
Due: basedpyright, pytest-main

docs(contributing): add issue triage labels and close windows
  CONTRIBUTING.md
Due: none

test(sessions): assert messages and representation share the tokens bound
  tests/routes/test_session_context_summary.py
Due: basedpyright, pytest-main

fix(sessions): make `tokens` bound the peer representation in get_context
  docs/v3/documentation/features/get-context.mdx
  docs/v3/openapi.json
  src/crud/__init__.py
  src/crud/representation.py
  src/routers/sessions.py
  src/utils/representation.py
  tests/crud/test_representation_manager.py
  tests/routes/test_session_context_summary.py
  tests/unified/test_cases/config_summary_control.json
  tests/unified/test_cases/config_summary_control_deriver_off.json
Due: basedpyright, pytest-main

fix(db): drop orphan pgvector version helper after #1268
  src/db.py
  tests/test_hnsw_iterative_scan.py
Due: basedpyright, pytest-main

fix(db): warn when hnsw.iterative_scan setup fails; document "off" as the opt-out
  docs/v3/contributing/configuration.mdx
  src/db.py
Due: basedpyright, pytest-main

test(db): assert a pool connection applies hnsw.iterative_scan
  tests/conftest.py
  tests/test_hnsw_iterative_scan.py
Due: basedpyright, pytest-main

fix(db): isolate HNSW test env; document session-mode for GUC
  docs/v3/contributing/configuration.mdx
  src/config.py
  tests/test_hnsw_iterative_scan.py
Due: basedpyright, pytest-main

fix(db): enable pgvector HNSW iterative scan by default (#1048)
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/db.py
  tests/conftest.py
  tests/test_hnsw_iterative_scan.py
Due: basedpyright, pytest-main

fix(search): precise build-wait wording, guard degrade rollback, test concurrent build
  docs/v3/contributing/troubleshooting.mdx
  migrations/versions/3e7a1c9d5b20_index_messages_content_trgm.py
  src/crud/representation.py
  src/models.py
  tests/alembic/test_trgm_index_build.py
  tests/crud/test_representation_manager.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

docs(contributing): add issue triage labels and close windows (#1339)
  CONTRIBUTING.md
Due: none

fix(search): trigram index on messages.content (#1335)
  CLAUDE.md
  database/init.sql
  docs/v3/contributing/self-hosting.mdx
  docs/v3/contributing/troubleshooting.mdx
  honcho-cli/src/honcho_cli/local/templates/init.sql
  migrations/env.py
  migrations/versions/3e7a1c9d5b20_index_messages_content_trgm.py
  src/crud/representation.py
  src/models.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_3e7a1c9d5b20_index_messages_content_trgm.py
  tests/alembic/test_trgm_index_build.py
  tests/conftest.py
  tests/crud/test_representation_manager.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

chore: add changelog and version updates
  CHANGELOG.md
  docs/changelog/introduction.mdx
Due: none

docs(changelog): correct the 3.3.0 trigram-index entries against #1335
  CHANGELOG.md
  docs/changelog/introduction.mdx
Due: none

fine print
  docs/changelog/introduction.mdx
Due: none

chore: add changelog and version updates (#1340)
  CHANGELOG.md
  docs/changelog/introduction.mdx
Due: none

feat: add named-scope API keys for recall and ingestion
  CLAUDE.md
  docs/v3/api-reference/endpoint/keys/create-key.mdx
  docs/v3/documentation/features/advanced/scopes.mdx
  docs/v3/openapi.json
  scripts/generate_jwt.py
  src/crud/message.py
  src/crud/session.py
  src/routers/keys.py
  src/routers/messages.py
  src/routers/peers.py
  src/routers/scopes.py
  src/routers/sessions.py
  src/security.py
  src/utils/agent_tools.py
  src/utils/scopes.py
  tests/routes/test_auth_route_policy.py
  tests/routes/test_named_scope_keys.py
  tests/test_generate_jwt_script.py
  tests/test_security.py
Due: basedpyright, pytest-main

test(hermes-plugin): add unit tests and a CI job for hermes-plugin-honcho
  .github/workflows/hermes-plugin-tests.yml
  hermes-plugin-honcho/.python-version
  hermes-plugin-honcho/README.md
  hermes-plugin-honcho/pyproject.toml
  hermes-plugin-honcho/tests/conftest.py
  hermes-plugin-honcho/tests/pytest.ini
  hermes-plugin-honcho/tests/test_a2a_sessions.py
  hermes-plugin-honcho/tests/test_async_memory.py
  hermes-plugin-honcho/tests/test_auth_recovery.py
  hermes-plugin-honcho/tests/test_cli.py
  hermes-plugin-honcho/tests/test_client.py
  hermes-plugin-honcho/tests/test_client_identity_isolation.py
  hermes-plugin-honcho/tests/test_empty_profile_hint.py
  hermes-plugin-honcho/tests/test_honcho_cli_peers.py
  hermes-plugin-honcho/tests/test_honcho_client_concurrency.py
  hermes-plugin-honcho/tests/test_honcho_client_config.py
  hermes-plugin-honcho/tests/test_honcho_session_cache_bounds.py
  hermes-plugin-honcho/tests/test_honcho_session_context.py
  hermes-plugin-honcho/tests/test_honcho_startup_fail_open.py
  hermes-plugin-honcho/tests/test_honcho_summary_sanitize.py
  hermes-plugin-honcho/tests/test_identity_signature.py
  hermes-plugin-honcho/tests/test_network_isolation.py
  hermes-plugin-honcho/tests/test_oauth.py
  hermes-plugin-honcho/tests/test_oauth_flow.py
  hermes-plugin-honcho/tests/test_peers_map.py
  hermes-plugin-honcho/tests/test_pin_peer_name.py
  hermes-plugin-honcho/tests/test_query_rewrite.py
  hermes-plugin-honcho/tests/test_recall_sync.py
  hermes-plugin-honcho/tests/test_save_messages.py
  hermes-plugin-honcho/tests/test_session.py
  hermes-plugin-honcho/tests/test_session_ai_peer_prefix.py
  hermes-plugin-honcho/tests/test_session_routing_integration.py
  hermes-plugin-honcho/tests/test_shutdown.py
  hermes-plugin-honcho/tests/test_telemetry_headers.py
  hermes-plugin-honcho/tests/test_turn_author_peers.py
  hermes-plugin-honcho/uv.lock
Due: none

fix(hermes-plugin): inject recall on the first turn of a resumed process
  hermes-plugin-honcho/__init__.py
Due: none

test(hermes-plugin): cover the resumed-process recall catch-up
  hermes-plugin-honcho/tests/test_resume_catch_up.py
Due: none

fix(config): warn about unused provider credentials
  docs/v3/contributing/configuration.mdx
  src/config.py
  tests/conftest.py
  tests/test_config.py
Due: basedpyright, pytest-main

fix(hermes-plugin): build the dialectic-gate platform set from Hermes' Platform enum
  hermes-plugin-honcho/__init__.py
  hermes-plugin-honcho/tests/test_first_turn_dialectic_skip.py
Due: none

fix(hermes-plugin): make the auto-recall query cap configurable; describe the constant, not its history
  hermes-plugin-honcho/README.md
  hermes-plugin-honcho/client.py
  hermes-plugin-honcho/config_schema.py
  hermes-plugin-honcho/session.py
  hermes-plugin-honcho/session_context.py
  hermes-plugin-honcho/tests/test_recall_query_bound.py
Due: none

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
