Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

feat(mcp): read HONCHO_API_URL env var to support self-hosted Honcho (#575)
  mcp/.dev.vars.example
  mcp/.gitignore
  mcp/README.md
  mcp/src/config.ts
  mcp/src/index.ts
Due: none

docs: adding cli doc
  docs/docs.json
  docs/v3/documentation/reference/cli.mdx
Due: none

fix: add namespace, model, and provider to langfuse metadata so we can filter
  src/llm/api.py
  src/llm/runtime.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

fix: add namespace, model, and provider to langfuse metadata so we can filter (#565)
  src/llm/api.py
  src/llm/runtime.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

fix: embed() sends string input instead of array, breaking OpenAI-compatible providers (#586)
  src/embedding_client.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

docs: adding generated script and content and github workflow
  .github/workflows/cli-docs.yml
  docs/snippets/cli-commands.mdx
  honcho-cli/scripts/generate_cli_docs.py
Due: none

fix: (vector) add silent path and explicit path for vector db server errors
  src/crud/document.py
  src/crud/message.py
  src/reconciler/sync_vectors.py
  tests/vector_store/test_turbopuffer.py
Due: basedpyright, pytest-main

chore: removing workflow
  .github/workflows/cli-docs.yml
Due: none

handle turbopuffer server errors (#561)
  src/crud/document.py
  src/crud/message.py
  src/reconciler/sync_vectors.py
  src/vector_store/__init__.py
  src/vector_store/lancedb.py
  src/vector_store/turbopuffer.py
  src/vector_store/utils.py
  tests/conftest.py
  tests/deriver/test_vector_reconciliation.py
  tests/vector_store/test_turbopuffer.py
Due: basedpyright, pytest-main

fix: Address Code Rabbit post rebase
  sdks/typescript/src/client.ts
  src/dialectic/base.py
  src/dialectic/chat.py
  src/dialectic/core.py
  src/dialectic/workspace.py
  src/dreamer/specialists.py
  src/routers/workspaces.py
  src/schemas/api.py
  src/utils/agent_tools.py
  src/utils/search.py
  tests/conftest.py
  tests/dialectic/test_core.py
  tests/sdk_typescript/conftest.py
  tests/test_search.py
  tests/test_workspace_chat.py
  tests/utils/test_agent_tools.py
Due: biome-check, basedpyright, pytest-main, typescript-check

chore: reduce dead db session params
  src/dialectic/base.py
  src/dialectic/chat.py
  src/dialectic/core.py
  src/dialectic/workspace.py
  tests/dialectic/test_core.py
  tests/dialectic/test_model_config_usage.py
  tests/integration/test_token_metrics.py
Due: basedpyright, pytest-main

fix(docker): bind all ports to 127.0.0.1 and harden example compose file
  docker-compose.yml.example
Due: none

docs(skill): update local-development skill for #510 config changes
  .claude/skills/local-development/SKILL.md
Due: none

fix: (docs) re-format and add details to cli-reference docs
  docs/snippets/cli-commands.mdx
  docs/v3/documentation/reference/cli.mdx
  honcho-cli/scripts/generate_cli_docs.py
Due: none

cli docs (#589)
  docs/docs.json
  docs/snippets/cli-commands.mdx
  docs/v3/documentation/reference/cli.mdx
  honcho-cli/scripts/generate_cli_docs.py
Due: none

fix: moving cli skills to root
  .claude/skills/honcho-cli/SKILL.md
  honcho-cli/src/honcho_cli/skills/CONTEXT.md
  honcho-cli/src/honcho_cli/skills/honcho-debug.md
  honcho-cli/src/honcho_cli/skills/honcho-inspect.md
Due: none

chore: updating cli readme
  honcho-cli/README.md
Due: none

chore: updating language
  honcho-cli/README.md
Due: none

chore: updating docs
  docs/v3/documentation/introduction/vibecoding.mdx
Due: none

fix: moving cli skill (#591)
  .claude/skills/honcho-cli/SKILL.md
  docs/v3/documentation/introduction/vibecoding.mdx
  honcho-cli/README.md
  honcho-cli/src/honcho_cli/skills/CONTEXT.md
  honcho-cli/src/honcho_cli/skills/honcho-debug.md
  honcho-cli/src/honcho_cli/skills/honcho-inspect.md
Due: none

docs(sillytavern): apply DEV-1482 review findings (DEV-1430)
  docs/v3/guides/integrations/sillytavern.mdx
Due: none

fix(models): use VECTOR_STORE_DIMENSIONS env var for pgvector column dimensions
  src/models.py
Due: basedpyright, pytest-main

docs(sillytavern): post-review polish pass (DEV-1430)
  docs/v3/guides/integrations/sillytavern.mdx
Due: none

fix(llm): robust JSON handling for OpenAI-compatible proxies
  src/llm/backends/openai.py
  src/llm/structured_output.py
  src/utils/json_parser.py
Due: basedpyright, pytest-main

fix(models): make Vector dimension configurable via VECTOR_STORE_DIMENSIONS
  src/models.py
Due: basedpyright, pytest-main

docs: adding opencode
  docs/docs.json
  docs/v3/documentation/core-concepts/design-patterns.mdx
  docs/v3/documentation/introduction/vibecoding.mdx
  docs/v3/guides/integrations/opencode.mdx
  docs/v3/guides/overview.mdx
Due: none

fix: omit stop for gpt-5 reasoning models
  src/llm/backends/openai.py
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

feat: add lifecycle-native memory filtering
  src/crud/__init__.py
  src/crud/document.py
  src/routers/conclusions.py
  src/schemas/__init__.py
  src/schemas/api.py
  src/schemas/internal.py
  tests/crud/test_document.py
  tests/routes/test_conclusions.py
  tests/test_schema_validations.py
Due: basedpyright, pytest-main

feat(embedding): forward dimensions to OpenAI embeddings.create
  .env.template
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/embedding_client.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

fix(openai-agents): strengthen token limit test and simplify TS instructions
  examples/openai-agents/python/tests/test_integration.py
  examples/openai-agents/typescript/main.ts
Due: none

fix(google-adk): move add_peers to setup_session, use UUID session IDs, update model
  examples/google-adk/python/main.py
  examples/google-adk/python/pyproject.toml
  examples/google-adk/python/tools/get_context.py
  examples/google-adk/python/tools/save_memory.py
Due: none

test(embedding): capture full kwargs in FakeOpenAIEmbeddingsAPI
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

Update tests/utils/test_language_preservation_prompts.py
  tests/utils/test_language_preservation_prompts.py
Due: basedpyright, pytest-main

docs: align opencode guide with latest plugin changes
  docs/v3/guides/integrations/opencode.mdx
  docs/v3/guides/overview.mdx
Due: none

fix: give vector sync a substantial retry budget
  src/reconciler/sync_vectors.py
  tests/conftest.py
  tests/deriver/test_vector_reconciliation.py
Due: basedpyright, pytest-main

fix: remove hardcoded stop_sequences override from Deriver model config (#587)
  src/deriver/deriver.py
Due: basedpyright, pytest-main

docs(sillytavern): update for PR#10 surface + review fixes
  docs/v3/guides/integrations/sillytavern.mdx
Due: none

chore: updating language
  docs/v3/guides/integrations/opencode.mdx
Due: none

docs(sillytavern): clarify write scope
  docs/v3/guides/integrations/sillytavern.mdx
Due: none

docs(sillytavern): drop internal sessions-map detail
  docs/v3/guides/integrations/sillytavern.mdx
Due: none
