Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

feat(a6): refuse boot when MULTI_TENANT is on without auth
  CLAUDE.md
  src/startup/tenant_isolation_validator.py
  tests/startup/__init__.py
  tests/startup/test_tenant_isolation_validator.py
Due: basedpyright, pytest-main

docs(a6): MULTI_TENANT in both config templates, commented, master only
  .env.template
  config.toml.example
Due: none

review: role-gate the auth check, sweepable test DB, four-state docstring
  .env.template
  CLAUDE.md
  config.toml.example
  docker-compose.yml.example
  src/config.py
  src/dependencies.py
  src/deriver/__main__.py
  src/main.py
  src/startup/tenant_isolation_validator.py
  tests/conftest.py
  tests/startup/__init__.py
  tests/startup/test_fresh_single_tenant_deploy.py
  tests/startup/test_tenant_isolation_validator.py
  tests/test_single_tenant_mode.py
Due: basedpyright, pytest-main

review: rename the process-role setting to INSTANCE_TYPE
  .env.template
  CLAUDE.md
  config.toml.example
  docker-compose.yml.example
  src/config.py
  src/startup/tenant_isolation_validator.py
  tests/startup/test_tenant_isolation_validator.py
Due: basedpyright, pytest-main

fix(harness-plugin-core): ship a compiled dist/ so the package loads under Node and tsc (#1164)
  harness-plugin-core/CHANGELOG.md
  harness-plugin-core/README.md
  harness-plugin-core/package.json
  harness-plugin-core/src/config.ts
  harness-plugin-core/src/index.ts
  harness-plugin-core/tests/dist.test.ts
  harness-plugin-core/tsconfig.json
Due: none

Populate CloudEvents Instrumentation (#1166)
  docs/v3/contributing/configuration.mdx
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/dialectic/core.py
  src/dreamer/orchestrator.py
  src/dreamer/specialists.py
  src/embedding_client.py
  src/llm/backend.py
  src/llm/capture.py
  src/llm/executor.py
  src/llm/tool_loop.py
  src/llm/types.py
  src/telemetry/events/trace.py
  src/telemetry/trace_exporter.py
  src/utils/summarizer.py
  tests/conftest.py
  tests/crud/test_deriver_metrics_query.py
  tests/deriver/test_deriver_processing.py
  tests/dreamer/test_model_config_usage.py
  tests/llm/test_capture.py
  tests/llm/test_telemetry_llm_call.py
  tests/telemetry/test_cross_agent_trace.py
  tests/telemetry/test_embedding_trace.py
  tests/telemetry/test_session_trace_identity.py
  tests/telemetry/test_trace_capture_paths.py
  tests/telemetry/test_trace_events.py
Due: basedpyright, pytest-main

perf(sources): index pending legacy rows so the drain check is not a seq scan
  migrations/versions/a7c3e9f1b2d4_add_document_sources_table.py
  src/models.py
  src/reconciler/backfill_document_sources.py
  tests/alembic/revisions/test_a7c3e9f1b2d4_add_document_sources_table.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

refactor: drain legacy source_ids via reconciler backfill (#1183)
  migrations/versions/a7c3e9f1b2d4_add_document_sources_table.py
  src/crud/document.py
  src/deriver/consumer.py
  src/deriver/scope_backfill.py
  src/models.py
  src/reconciler/backfill_document_sources.py
  src/reconciler/scheduler.py
  src/schemas/internal.py
  src/utils/filter.py
  tests/alembic/revisions/test_a7c3e9f1b2d4_add_document_sources_table.py
  tests/reconciler/test_backfill_document_sources.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

test(evidence): use nanoid-shaped ids for legacy source_ids fixtures
  tests/utils/test_evidence.py
Due: basedpyright, pytest-main

chore: fix ruff UP017 and regenerate openapi.json formatting
  docs/v3/openapi.json
  tests/routes/test_conclusions.py
Due: basedpyright, pytest-main

fix(telemetry): let exceptions declare how Sentry should treat them
  src/exceptions.py
  src/telemetry/sentry.py
  tests/telemetry/test_sentry_before_send.py
Due: basedpyright, pytest-main

fix(llm): surface provider outages as 503 instead of 500 (#1165)
  src/exceptions.py
  src/llm/api.py
  src/llm/errors.py
  src/llm/request_builder.py
  src/llm/tool_loop.py
  src/telemetry/sentry.py
  tests/llm/test_upstream_errors.py
  tests/telemetry/test_sentry_before_send.py
Due: basedpyright, pytest-main

fix: validate source_ids against real documents on the write path (#945)
  src/dreamer/specialists.py
  src/utils/agent_tools.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

feat: exposing conclusion attribution (source & times derived) (#952)
  docs/docs.json
  docs/v3/api-reference/endpoint/conclusions/get-conclusion.mdx
  docs/v3/openapi.json
  migrations/env.py
  migrations/versions/a7c3e9f1b2d4_add_document_sources_table.py
  sdks/python/src/honcho/__init__.py
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/api_types.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/conclusions.py
  sdks/typescript/__tests__/conclusions.test.ts
  sdks/typescript/src/client.ts
  sdks/typescript/src/conclusions.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/types/api.ts
  src/crud/document.py
  src/deriver/consumer.py
  src/deriver/scope_backfill.py
  src/models.py
  src/reconciler/backfill_document_sources.py
  src/reconciler/scheduler.py
  src/routers/conclusions.py
  src/schemas/api.py
  src/schemas/internal.py
  src/utils/agent_tools.py
  src/utils/filter.py
  src/utils/representation.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_a7c3e9f1b2d4_add_document_sources_table.py
  tests/deriver/test_scope_backfill.py
  tests/reconciler/test_backfill_document_sources.py
  tests/routes/test_conclusions.py
  tests/sdk/test_conclusions.py
  tests/utils/test_agent_tools.py
  tests/utils/test_evidence.py
  tests/utils/test_filter.py
Due: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

chore: add changelog and version updates
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v3/openapi.json
  pyproject.toml
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/typescript/CHANGELOG.md
  sdks/typescript/package.json
  sdks/typescript/src/api-version.ts
  uv.lock
Due: biome-check, typescript-check

style(tests): apply ruff formatting
  tests/sdk/test_session.py
Due: basedpyright, pytest-main

fix(peer-card): bound over-cap retries per tool chain
  CHANGELOG.md
  src/dreamer/specialists.py
  src/llm/tool_loop.py
  src/utils/agent_tools.py
  src/utils/types.py
  tests/llm/test_tool_loop_disabled_tools.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

chore: add changelog and version updates (#1188)
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v3/openapi.json
  pyproject.toml
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/typescript/CHANGELOG.md
  sdks/typescript/package.json
  sdks/typescript/src/api-version.ts
  uv.lock
Due: biome-check, typescript-check

fix(llm): route truncation-repair choices through the controlled LLMError
  src/llm/backends/openai.py
  tests/llm/test_backends/test_openai_malformed_responses.py
Due: basedpyright, pytest-main

review: NULL-safe suspension seam, non-blocking lane CHECK, race regressions
  CLAUDE.md
  migrations/versions/c4e8a2b91d57_queue_workspace_reconciler_check.py
  src/config.py
  src/crud/deriver.py
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/models.py
  src/telemetry/prometheus/metrics.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_b7d2f4a81c39_add_queue_item_batches_aggregate.py
  tests/alembic/revisions/test_c4e8a2b91d57_queue_workspace_reconciler_check.py
  tests/deriver/conftest.py
  tests/deriver/test_fair_scheduling.py
  tests/deriver/test_queue_item_batch_concurrency.py
  tests/deriver/test_queue_item_batches.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

feat(a5): per-tenant round-robin claim, pause seam, lane CHECK, pool-derived WORKERS
  migrations/versions/c4e8a2b91d57_queue_workspace_reconciler_check.py
  src/config.py
  src/crud/deriver.py
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/telemetry/prometheus/metrics.py
  tests/crud/test_deriver_metrics_query.py
  tests/deriver/test_queue_item_batches.py
  tests/routes/test_queue_status.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

test(a5): fairness interleave, pause seam, lane CHECK, worker-cap derivation
  tests/deriver/test_fair_scheduling.py
Due: basedpyright, pytest-main

test(a6): fresh single-tenant deploy gate + one-switch invariance
  tests/startup/test_fresh_single_tenant_deploy.py
  tests/test_single_tenant_mode.py
Due: basedpyright, pytest-main

fix(llm): default missing usage token fields to zero
  src/llm/backends/openai.py
  tests/llm/test_backends/test_openai_malformed_responses.py
Due: basedpyright, pytest-main

review: pair the Sentry tag with its cleanup, mark the why-comments, drop a downstream product name
  CLAUDE.md
  src/deriver/queue_manager.py
  src/security.py
  src/telemetry/events/base.py
  src/telemetry/prometheus/metrics.py
  src/telemetry/tenant.py
  tests/telemetry/test_metric_zero_init.py
  tests/telemetry/test_tenant_identity.py
Due: basedpyright, pytest-main

test(a7): tenant identity receipts
  tests/telemetry/test_langfuse_exporter.py
  tests/telemetry/test_metric_zero_init.py
  tests/telemetry/test_tenant_identity.py
  tests/test_single_tenant_mode.py
Due: basedpyright, pytest-main

feat(a7): tenant identity in telemetry under MULTI_TENANT
  src/deriver/queue_manager.py
  src/llm/runtime.py
  src/security.py
  src/telemetry/emitter.py
  src/telemetry/langfuse_exporter.py
  src/telemetry/prometheus/metrics.py
  src/telemetry/tenant.py
Due: basedpyright, pytest-main

docs(a7): CLAUDE.md — the tenant-in-telemetry contract
  CLAUDE.md
Due: none

fix(deriver): tag batch messages with peer and target attributes
  src/deriver/deriver.py
  src/deriver/prompts.py
  tests/deriver/test_prompts.py
Due: basedpyright, pytest-main

fix(api): return an empty list, not null, for unlinked conclusion sources
  sdks/typescript/__tests__/conclusions.test.ts
  src/schemas/api.py
  tests/routes/test_conclusions.py
  tests/sdk/test_conclusions.py
Due: biome-check, basedpyright, pytest-main, typescript-check

feat(api): attribute each evidence conclusion to its peer pair
  docs/v3/openapi.json
  sdks/typescript/__tests__/evidence.unit.test.ts
  sdks/typescript/src/types/api.ts
  src/schemas/api.py
  src/utils/evidence.py
  tests/utils/test_evidence.py
Due: biome-check, basedpyright, pytest-main, typescript-check

fix: reject non-object observation items instead of raising TypeError (#1187)
  src/utils/agent_tools.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

fix(deriver): neutralize message tag boundaries in batch content
  src/deriver/prompts.py
  tests/deriver/test_prompts.py
Due: basedpyright, pytest-main

fix(summarizer): digest the prompt that was actually sent
  src/utils/summarizer.py
  tests/utils/test_summarizer.py
Due: basedpyright, pytest-main

fix(queue): classify batch-scope errors through the cause chain
  src/deriver/queue_manager.py
  src/utils/retryable_errors.py
  tests/deriver/test_queue_retry.py
  tests/utils/test_retryable_errors.py
Due: basedpyright, pytest-main

fix(deriver): never consume a work unit on an empty structured response
  .env.template
  config.toml.example
  src/config.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/exceptions.py
  src/llm/types.py
  src/telemetry/events/representation.py
  src/utils/retryable_errors.py
  src/utils/summarizer.py
  tests/deriver/test_deriver_empty_representation.py
  tests/deriver/test_queue_retry.py
  tests/telemetry/test_session_trace_identity.py
  tests/utils/test_retryable_errors.py
  tests/utils/test_summarizer.py
Due: basedpyright, pytest-main

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
