Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

feat: run unified tests suite in CI (#291)
  .github/workflows/start-fly-runner.yml
  .github/workflows/unified-tests.yml
  pyproject.toml
  tests/unified/runner.py
  uv.lock
Due: basedpyright, pytest-main

fix: remove stainless dependency
  sdks/python/pyproject.toml
  sdks/python/src/honcho/api_types.py
  sdks/python/src/honcho/async_client/client.py
  sdks/python/src/honcho/async_client/pagination.py
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/http/__init__.py
  sdks/python/src/honcho/http/async_client.py
  sdks/python/src/honcho/http/client.py
  sdks/python/src/honcho/http/exceptions.py
  sdks/python/src/honcho/http/pagination.py
  sdks/python/src/honcho/observations.py
  sdks/python/src/honcho/pagination.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/python/src/honcho/session_context.py
  sdks/typescript/package-lock.json
  sdks/typescript/package.json
  sdks/typescript/src/client.ts
  sdks/typescript/src/http/client.ts
  sdks/typescript/src/http/exceptions.ts
  sdks/typescript/src/http/index.ts
  sdks/typescript/src/http/pagination.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/observations.ts
  sdks/typescript/src/pagination.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/session_context.ts
  sdks/typescript/src/types.ts
  sdks/typescript/src/validation.ts
  tests/bench/beam.py
  tests/bench/locomo.py
  tests/bench/longmem.py
  tests/sdk/test_client.py
  tests/sdk/test_file_uploads.py
  tests/sdk/test_session.py
  tests/unified/runner.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

feat: add honcho-integration SKILL.md
  docs/SKILL.md
  docs/v2.6.0-alpha/documentation/introduction/vibecoding.mdx
Due: none

fix: [WIP] clean up types in standalone SDKs
  sdks/python/src/honcho/api_types.py
  sdks/python/src/honcho/async_client/client.py
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/http/async_client.py
  sdks/python/src/honcho/http/client.py
  sdks/python/src/honcho/http/exceptions.py
  sdks/python/src/honcho/http/pagination.py
  sdks/python/src/honcho/observations.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  tests/sdk/test_client.py
  tests/sdk/test_pagination.py
Due: basedpyright, pytest-main, pytest-python-sdk

fix: remove redundant try-catch, add trace label, move .limit to end of statement
  src/crud/document.py
  src/dialectic/core.py
  src/routers/conclusions.py
Due: basedpyright, pytest-main

feat: increase iam role duration. alter s3 file name and add to discord message
  .github/workflows/unified-tests.yml
  tests/unified/runner.py
Due: basedpyright, pytest-main

fix: remove vignettes (for now), review fixes, remove merge migration, config cleanup
  .pre-commit-config.yaml
  migrations/versions/66e08642ecd6_merge_heads.py
  migrations/versions/f1a2b3c4d5e6_add_reasoning_tree_columns.py
  src/config.py
  src/crud/__init__.py
  src/crud/document.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/dialectic/core.py
  src/dialectic/prompts.py
  src/dreamer/specialists.py
  src/models.py
  src/schemas.py
  src/utils/agent_tools.py
  src/utils/clients.py
  src/utils/reasoning_traces.py
  src/utils/representation.py
  src/utils/types.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_66e08642ecd6_merge_heads.py
  tests/alembic/revisions/test_f1a2b3c4d5e6_add_reasoning_tree_columns.py
  tests/deriver/test_representation_crud.py
  tests/test_llm_mock.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

feat: increase iam role duration. alter s3 file name and add to discord message (#315)
  .github/workflows/unified-tests.yml
  tests/unified/runner.py
Due: basedpyright, pytest-main

fix: summary creation if start_message_id > end_message_id (#312)
  src/crud/__init__.py
  src/crud/message.py
  src/utils/summarizer.py
Due: basedpyright, pytest-main

fix: Upgrade Cashews to prevent NoScriptError
  pyproject.toml
  uv.lock
Due: none

fix: Upgrade Cashews to prevent NoScriptError (#316)
  pyproject.toml
  uv.lock
Due: none

chore: working rep cleanup (get_representation, getRepresentation)
  docs/v2.6.0-alpha/documentation/features/advanced/representation-scopes.mdx
  docs/v2.6.0-alpha/documentation/reference/sdk.mdx
  docs/v2.6.0-alpha/guides/migrations/mem0.mdx
  docs/v2.6.0-alpha/migrations/from-mem0.mdx
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/typescript/src/session.ts
  tests/sdk/test_peer.py
  tests/sdk/test_session.py
  tests/unified/runner.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

(feat) Append optimizxed trace generation script
  tests/bench/trace.py
Due: basedpyright, pytest-main

fix: set up compose vector store and reconciliation loop
  migrations/versions/f1a2b3c4d5e6_support_external_embeddings.py
  src/config.py
  src/crud/document.py
  src/crud/message.py
  src/crud/session.py
  src/crud/workspace.py
  src/dependencies.py
  src/deriver/queue_manager.py
  src/deriver/vector_reconciliation.py
  src/exceptions.py
  src/main.py
  src/models.py
  src/utils/search.py
  src/utils/types.py
  src/vector_store/__init__.py
  src/vector_store/composite.py
  src/vector_store/lancedb.py
  src/vector_store/pgvector.py
  src/vector_store/turbopuffer.py
  tests/alembic/revisions/test_f1a2b3c4d5e6_support_external_embeddings.py
  tests/conftest.py
  tests/integration/test_message_embeddings.py
  tests/test_vector_reconciliation_config.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

chore: code review / cleanup
  src/config.py
  src/crud/__init__.py
  src/crud/document.py
  src/deriver/deriver.py
  src/utils/agent_tools.py
  src/utils/clients.py
  src/utils/reasoning_traces.py
Due: basedpyright, pytest-main

chore: fix basedpyright warnings
  docs/v2.6.0-alpha/documentation/reference/platform.mdx
  docs/v2/documentation/reference/platform.mdx
  src/cache/client.py
  tests/conftest.py
Due: basedpyright, pytest-main

chore: fix basedpyright warnings (#317)
  docs/v2.6.0-alpha/documentation/reference/platform.mdx
  docs/v2/documentation/reference/platform.mdx
  src/cache/client.py
  tests/conftest.py
Due: basedpyright, pytest-main

chore: merge fixes
  src/crud/__init__.py
  src/utils/clients.py
  tests/integration/test_token_metrics.py
Due: basedpyright, pytest-main

feat: sync docs without embeddings
  src/config.py
  src/deriver/queue_manager.py
  src/deriver/vector_reconciliation.py
  tests/test_vector_reconciliation_config.py
Due: basedpyright, pytest-main

fix: reduce batch size; comments; types; add indexes for reconciliation
  migrations/versions/f1a2b3c4d5e6_support_external_embeddings.py
  src/crud/document.py
  src/deriver/vector_reconciliation.py
  src/vector_store/composite.py
  tests/deriver/test_vector_reconciliation.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

feat: Adding n8n integration
  docs/docs.json
  docs/v2/integrations/n8n.mdx
Due: none

fix: add message embedding resilience
  src/deriver/vector_reconciliation.py
  tests/deriver/test_vector_reconciliation.py
Due: basedpyright, pytest-main

fix: clean-up and migration test
  .env.template
  config.toml.example
  migrations/versions/f1a2b3c4d5e6_support_external_embeddings.py
  src/config.py
  src/exceptions.py
  src/vector_store/lancedb.py
  src/vector_store/turbopuffer.py
  tests/alembic/revisions/test_f1a2b3c4d5e6_support_external_embeddings.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

fix: cleanup 2
  src/crud/message.py
Due: basedpyright, pytest-main

(fix) Fix async processing and file output bug
  tests/bench/trace.py
Due: basedpyright, pytest-main

fix: centralize retry logic; bump reconciliation batch; use tracked db; fix soft-delete race condition
  src/crud/document.py
  src/crud/message.py
  src/deriver/vector_reconciliation.py
  src/vector_store/__init__.py
  src/vector_store/pgvector.py
  src/vector_store/utils.py
Due: basedpyright, pytest-main

fix: minor gramatical and style changes
  docs/v2/integrations/n8n.mdx
Due: none

fix: matching the markdown with the json
  docs/v2/integrations/n8n.mdx
  examples/n8n/n8n.json
Due: none

feat: adding screenshots to n8n
  docs/images/integrations/n8n/Bearer_auth_cred.png
  docs/images/integrations/n8n/Http_request_core.png
  docs/images/integrations/n8n/complete_workflow.png
  docs/v2/integrations/n8n.mdx
Due: none

fix: final modifications
  docs/v2/integrations/n8n.mdx
Due: none

chore: code rabbit suggestions
  docs/v2/integrations/n8n.mdx
  examples/n8n/n8n.json
Due: none

fix: skip double query when pgvector is primary
  src/crud/document.py
  src/utils/search.py
  src/vector_store/pgvector.py
Due: basedpyright, pytest-main

Adding n8n integration (#318)
  docs/docs.json
  docs/images/integrations/n8n/Bearer_auth_cred.png
  docs/images/integrations/n8n/Http_request_core.png
  docs/images/integrations/n8n/complete_workflow.png
  docs/v2/integrations/n8n.mdx
  examples/n8n/n8n.json
Due: none

(feat) Update trace generation and explicit bench structural format to support benchmark data and trace scoring
  tests/bench/explicit.py
  tests/bench/trace.py
Due: basedpyright, pytest-main

(feat) Update trace generation and explicit bench scoring for trace generations
  tests/bench/explicit.py
  tests/bench/trace.py
Due: basedpyright, pytest-main

chore: clean up, remove reasoning_focus, reintroduce peer cards in dreamers
  .env.template
  config.toml.example
  docs/v2.6.0-alpha/contributing/configuration.mdx
  src/config.py
  src/deriver/enqueue.py
  src/dialectic/__init__.py
  src/dreamer/dreamer.py
  src/dreamer/specialists.py
  src/routers/workspaces.py
  src/schemas.py
  src/utils/agent_tools.py
  src/utils/queue_payload.py
  tests/bench/beam.py
  tests/bench/locomo.py
  tests/bench/longmem.py
  tests/integration/test_token_metrics.py
  tests/unified/test_cases/dream_consolidate_reduces_documents.json
Due: basedpyright, pytest-main

fix: down migration
  migrations/versions/f1a2b3c4d5e6_support_external_embeddings.py
Due: pytest-alembic, ensure-alembic-coverage

chore: cleanup, code review
  sdks/python/src/honcho/conclusions.py
  sdks/typescript/src/conclusions.ts
  sdks/typescript/src/representation.ts
  sdks/typescript/src/types.ts
  tests/routes/test_conclusions.py
  tests/routes/test_validation_api.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
