Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

feat(mcp): identify MCP API traffic with X-Honcho-Host and X-Honcho-Plugin (#1152)
  mcp/CHANGELOG.md
  mcp/README.md
  mcp/src/config.ts
  mcp/src/http.ts
  mcp/src/index.ts
  mcp/src/stdio.ts
  mcp/src/telemetry-headers.test.ts
  mcp/tsconfig.json
Due: none

fix(cache): shim cashews 7.5.0 for redis-py 8.x cluster initialize
  src/cache/client.py
  tests/test_cache_cluster_shim.py
Due: basedpyright, pytest-main

docs(mcp): document local stdio, HTTP, and Docker hosts (#1155)
  docs/v3/contributing/self-hosting.mdx
  docs/v3/guides/integrations/mcp.mdx
Due: none

chore(mcp): release honcho-mcp 0.1.0
  mcp/CHANGELOG.md
  mcp/package.json
  mcp/src/server.ts
Due: none

chore(mcp): release honcho-mcp 0.1.0 (#1160)
  mcp/CHANGELOG.md
  mcp/package.json
  mcp/src/server.ts
Due: none

Updates based on code rabbit comments
  src/reconciler/sync_vectors.py
Due: basedpyright, pytest-main

feat: only enqueue sync_vectors events when they can be done (#1159)
  src/reconciler/scheduler.py
  src/reconciler/sync_vectors.py
  tests/reconciler/test_sync_vectors_enqueue_gate.py
Due: basedpyright, pytest-main

fix(cli): make recall-bound errors actionable and fail closed on empty bounds
  docs/snippets/cli-commands.mdx
  honcho-cli/src/honcho_cli/commands/peer.py
  honcho-cli/src/honcho_cli/commands/workspace.py
  honcho-cli/src/honcho_cli/recall.py
  honcho-cli/tests/test_commands.py
  honcho-cli/tests/test_recall.py
Due: none

feat(mcp): add scope membership tools
  mcp/CHANGELOG.md
  mcp/README.md
  mcp/instructions.md
  mcp/src/tools/scopes.ts
Due: none

fix(cache): upgrade redis-py to 8.x for the async cluster connection leak (#1157)
  pyproject.toml
  src/cache/client.py
  tests/test_cache_cluster_shim.py
  uv.lock
Due: basedpyright, pytest-main

feat(cli): add --scope and --sessions recall bounds on chat (#1151)
  docs/snippets/cli-commands.mdx
  docs/v3/documentation/reference/cli.mdx
  honcho-cli/CHANGELOG.md
  honcho-cli/README.md
  honcho-cli/src/honcho_cli/commands/peer.py
  honcho-cli/src/honcho_cli/commands/workspace.py
  honcho-cli/src/honcho_cli/recall.py
  honcho-cli/tests/test_commands.py
  honcho-cli/tests/test_recall.py
  skills/honcho-cli/SKILL.md
Due: none

feat(cli): add `honcho scope` command group
  docs/snippets/cli-commands.mdx
  honcho-cli/CHANGELOG.md
  honcho-cli/README.md
  honcho-cli/src/honcho_cli/_help.py
  honcho-cli/src/honcho_cli/commands/scope.py
  honcho-cli/src/honcho_cli/main.py
  honcho-cli/tests/test_commands.py
  skills/honcho-cli/SKILL.md
Due: none

chore(cli): bump to 0.1.5, shorten recall flag help, tidy welcome panel
  docs/changelog/introduction.mdx
  docs/snippets/cli-commands.mdx
  honcho-cli/CHANGELOG.md
  honcho-cli/pyproject.toml
  honcho-cli/src/honcho_cli/__init__.py
  honcho-cli/src/honcho_cli/_help.py
  honcho-cli/src/honcho_cli/commands/peer.py
  honcho-cli/src/honcho_cli/commands/scope.py
  honcho-cli/src/honcho_cli/commands/workspace.py
  uv.lock
Due: none

fix(vector-store): harden Chroma error handling, filters, and dimension probe
  docs/v3/contributing/changing-embeddings.mdx
  docs/v3/contributing/configuration.mdx
  scripts/test_reasoning_levels.py
  src/crud/scope.py
  src/crud/workspace.py
  src/dreamer/dream_scheduler.py
  src/dreamer/orchestrator.py
  src/llm/backends/gemini.py
  src/reconciler/scheduler.py
  src/utils/filter.py
  src/vector_store/chroma.py
  tests/crud/test_deriver_metrics_query.py
  tests/crud/test_session.py
  tests/deriver/test_vector_reconciliation.py
  tests/llm/test_backends/test_gemini.py
  tests/llm/test_telemetry_llm_call.py
  tests/reconciler/test_sync_vectors_enqueue_gate.py
  tests/routes/test_messages.py
  tests/routes/test_peers.py
  tests/routes/test_sessions.py
  tests/routes/test_workspaces.py
  tests/test_advanced_filters.py
  tests/test_deriver_metrics.py
  tests/test_search.py
  tests/utils/test_agent_tools.py
  tests/vector_store/test_chroma.py
  tests/vector_store/test_chroma_dependency.py
  tests/vector_store/test_chroma_http.py
Due: basedpyright, pytest-main

feat(sdk): add get_scope / getScope for non-creating scope lookups
  docs/v3/documentation/features/advanced/scopes.mdx
  sdks/python/CHANGELOG.md
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/http/routes.py
  sdks/typescript/CHANGELOG.md
  sdks/typescript/__tests__/scope.unit.test.ts
  sdks/typescript/src/client.ts
  tests/sdk/test_scope_lookup.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

docs(scopes): say get_scope never creates a scope, not anything
  docs/v3/documentation/features/advanced/scopes.mdx
Due: none

feat(ci): close pull requests that have gone quiet on the author (#1146)
  .github/scripts/issue-gate.js
  .github/scripts/issue-gate.test.js
  .github/workflows/pr-sweeper.yml
  CONTRIBUTING.md
Due: none

fix(harness-plugin-core): ship a compiled dist/ so the package loads under Node and tsc
  harness-plugin-core/CHANGELOG.md
  harness-plugin-core/README.md
  harness-plugin-core/package.json
  harness-plugin-core/src/config.ts
  harness-plugin-core/src/index.ts
  harness-plugin-core/tests/dist.test.ts
  harness-plugin-core/tsconfig.build.json
Due: none

fix(llm): surface provider outages as 503 instead of 500
  src/exceptions.py
  src/llm/errors.py
  src/llm/request_builder.py
  src/llm/tool_loop.py
  tests/llm/test_upstream_errors.py
Due: basedpyright, pytest-main

docs(harness-plugin-core): spell out the npm install command
  harness-plugin-core/README.md
Due: none

fix(mcp): validate scope IDs and guard backfill state counts
  mcp/src/tools/scopes.test.ts
  mcp/src/tools/scopes.ts
Due: none

style: ruff-format tests/test_deriver_metrics.py
  tests/test_deriver_metrics.py
Due: basedpyright, pytest-main

fix(migrations): reuse a caller-supplied connection in env.py
  migrations/env.py
Due: none

feat(telemetry): add session identity and per-attempt diagnostics to LLM traces
  docs/v3/contributing/configuration.mdx
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/dialectic/core.py
  src/dreamer/orchestrator.py
  src/dreamer/specialists.py
  src/embedding_client.py
  src/llm/capture.py
  src/llm/executor.py
  src/llm/tool_loop.py
  src/llm/types.py
  src/telemetry/events/trace.py
  src/telemetry/trace_exporter.py
  src/utils/summarizer.py
  tests/conftest.py
  tests/crud/test_deriver_metrics_query.py
  tests/deriver/test_deriver_processing.py
  tests/dreamer/test_model_config_usage.py
  tests/llm/test_capture.py
  tests/llm/test_telemetry_llm_call.py
  tests/telemetry/test_cross_agent_trace.py
  tests/telemetry/test_embedding_trace.py
  tests/telemetry/test_session_trace_identity.py
  tests/telemetry/test_trace_capture_paths.py
Due: basedpyright, pytest-main

fix(deriver): never consume a work unit on an empty structured response
  .env.template
  config.toml.example
  src/config.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/exceptions.py
  src/llm/types.py
  src/telemetry/events/representation.py
  src/utils/retryable_errors.py
  src/utils/summarizer.py
  tests/deriver/test_deriver_empty_representation.py
  tests/deriver/test_queue_retry.py
  tests/utils/test_retryable_errors.py
  tests/utils/test_summarizer.py
Due: basedpyright, pytest-main

refactor(harness-plugin-core): collapse build settings into the single tsconfig
  harness-plugin-core/package.json
  harness-plugin-core/tsconfig.build.json
  harness-plugin-core/tsconfig.json
Due: none

fix(harness-plugin-core): export the Env type from the package root
  harness-plugin-core/src/index.ts
Due: none

fix(deriver): accumulate usage across inline empty-parse retries
  src/deriver/deriver.py
Due: basedpyright, pytest-main

fix(queue): classify batch-scope errors through the cause chain
  src/deriver/queue_manager.py
  src/utils/retryable_errors.py
  tests/deriver/test_queue_retry.py
  tests/utils/test_retryable_errors.py
Due: basedpyright, pytest-main

fix(summarizer): digest the prompt that was actually sent
  src/utils/summarizer.py
  tests/utils/test_summarizer.py
Due: basedpyright, pytest-main

feat(mcp): add scope membership tools (#1161)
  mcp/CHANGELOG.md
  mcp/README.md
  mcp/instructions.md
  mcp/src/tools/scopes.test.ts
  mcp/src/tools/scopes.ts
Due: none

fix(representation): reclaim unused query budget (#1008)
  src/crud/representation.py
  tests/crud/test_representation_manager.py
Due: basedpyright, pytest-main

feat(a4): tenant registry API for control-plane provisioning (DEV-2479)
  src/config.py
  src/crud/tenant.py
  src/main.py
  src/routers/tenants.py
  src/schemas/__init__.py
  src/schemas/api.py
  tests/routes/test_auth_route_policy.py
  tests/routes/test_tenants.py
Due: basedpyright, pytest-main

review: harden tenant-api auth compare; consolidate fixtures and conventions
  CLAUDE.md
  src/config.py
  src/crud/tenant.py
  src/routers/tenants.py
  tests/conftest.py
  tests/routes/test_auth_route_policy.py
  tests/routes/test_tenants.py
Due: basedpyright, pytest-main

fix(a5): wire the tenant substrate the fair claim needs
  src/crud/deriver.py
  src/crud/session.py
  src/crud/workspace.py
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/utils/work_unit.py
  src/webhooks/events.py
Due: basedpyright, pytest-main

review: pre-lock the recompute, statement-level triggers, tenant-aware backfill
  migrations/versions/b7d2f4a81c39_add_work_unit_backlog_aggregate.py
  src/_version.py
  src/cache/client.py
  src/crud/deriver.py
  src/crud/scope.py
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/dreamer/dream_scheduler.py
  src/dreamer/orchestrator.py
  src/llm/backends/gemini.py
  src/llm/caching.py
  src/models.py
  src/reconciler/queue_cleanup.py
  src/reconciler/scheduler.py
  src/reconciler/sync_vectors.py
  src/routers/tenants.py
  src/security.py
  src/utils/filter.py
  src/utils/formatting.py
  src/utils/work_unit.py
  tests/alembic/revisions/test_b7d2f4a81c39_add_work_unit_backlog_aggregate.py
  tests/crud/test_workspace.py
  tests/deriver/test_work_unit_backlog.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

test(a5): fairness interleave, pause seam, lane CHECK, worker-cap derivation
  tests/deriver/test_fair_scheduling.py
Due: basedpyright, pytest-main

test(a9): backlog trigger semantics, claim gating, SKIP LOCKED disjointness, backfill
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_b7d2f4a81c39_add_work_unit_backlog_aggregate.py
  tests/deriver/test_work_unit_backlog.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
