Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

fix(deriver): ignore blank observations before embedding (#615)
  src/crud/representation.py
  src/utils/agent_tools.py
  tests/crud/test_representation_manager.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

fix(dreamer): threshold and time-guard semantics (#573)
  src/crud/collection.py
  src/deriver/enqueue.py
  src/dreamer/dream_scheduler.py
  src/dreamer/orchestrator.py
  src/routers/workspaces.py
  tests/deriver/test_enqueue_dream.py
  tests/dreamer/test_dream_scheduler.py
  tests/dreamer/test_dreamer_integration.py
  tests/routes/test_workspaces.py
Due: basedpyright, pytest-main

fix(llm/openai): normalize tool_choice "any" → "required"
  src/llm/backends/openai.py
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

docs(integrations): add @honcho-ai/vercel-ai-sdk guide
  docs/docs.json
  docs/v3/guides/integrations/vercel-ai-sdk.mdx
Due: none

docs(integrations): rewrite Vercel AI SDK guide as cookbook style (DEV-1485)
  docs/v3/guides/integrations/vercel-ai-sdk.mdx
Due: none

feat(llm): add azure_openai transport
  .env.template
  CHANGELOG.md
  config.toml.example
  src/config.py
  src/embedding_client.py
  src/llm/credentials.py
  src/llm/registry.py
  src/llm/runtime.py
  tests/llm/test_azure_openai_routing.py
  tests/llm/test_credentials.py
  tests/llm/test_embedding_client.py
  tests/llm/test_model_config.py
Due: basedpyright, pytest-main

fix(llm): address CodeRabbit review on azure_openai transport
  src/embedding_client.py
  src/llm/registry.py
  tests/llm/test_azure_openai_routing.py
  tests/llm/test_model_config.py
Due: basedpyright, pytest-main

feat: add new cloudevents for api routes
  src/routers/messages.py
  src/routers/peers.py
  src/routers/sessions.py
  src/telemetry/events/__init__.py
  src/telemetry/events/api.py
  tests/crud/test_representation_manager.py
  tests/telemetry/conftest.py
  tests/telemetry/test_events.py
Due: basedpyright, pytest-main

fix: embedding resilience - save docs without embeddings on API failure
  src/crud/document.py
  src/crud/representation.py
  src/embedding_client.py
  src/schemas/internal.py
Due: basedpyright, pytest-main

docs: add upgrade notes for LLM module restructuring and config format changes
  memory/2026-05-02-upgrade-notes.md
Due: none

fix: add dimensions parameter to OpenAI-compatible embeddings.create() calls (#625)
  src/embedding_client.py
Due: basedpyright, pytest-main

fix: pass provider params to OpenAI-compatible embeddings
  src/config.py
  src/embedding_client.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

fix: address CodeRabbit review feedback
  src/embedding_client.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

fix(llm): pass base_url to default provider clients from LLMSettings
  src/config.py
  src/llm/registry.py
Due: basedpyright, pytest-main

fix: add JSON-only output instructions to deriver prompt
  src/deriver/prompts.py
  tests/llm/test_deriver_prompts.py
Due: basedpyright, pytest-main

Add tokentoll GitHub Action for LLM cost analysis
  .github/workflows/llm-costs.yml
Due: none

Add contents: read permission for checkout
  .github/workflows/llm-costs.yml
Due: none

Add .tokentoll.yml config and bump to v0.4.0
  .github/workflows/llm-costs.yml
  .tokentoll.yml
Due: none

Pin tokentoll action to commit SHA for supply-chain safety
  .github/workflows/llm-costs.yml
Due: none

Bump tokentoll action to v0.5.0
  .tokentoll.yml
Due: none

Bump tokentoll action SHA pin to v0.5.2
  .github/workflows/llm-costs.yml
Due: none

Bump tokentoll action SHA pin to v0.6.0
  .github/workflows/llm-costs.yml
Due: none

Bump tokentoll action SHA pin to v0.6.1
  .github/workflows/llm-costs.yml
Due: none

fix(deriver): disable json_mode when response_model specified
  src/deriver/deriver.py
  src/deriver/prompts.py
Due: basedpyright, pytest-main

docs(integrations): lead Vercel AI SDK verification with direct-inspection check
  docs/v3/guides/integrations/vercel-ai-sdk.mdx
Due: none

fix: use model-aware tokenizer and skip empty messages
  scripts/generate_message_embeddings.py
  src/crud/message.py
  src/embedding_client.py
  tests/conftest.py
  tests/integration/test_message_embeddings.py
Due: basedpyright, pytest-main

fix: change default model
  src/embedding_client.py
Due: basedpyright, pytest-main

fix: types
  tests/crud/test_representation_manager.py
Due: basedpyright, pytest-main

fix(tests): satisfy basedpyright in test_representation_manager
  tests/crud/test_representation_manager.py
Due: basedpyright, pytest-main

fix(tests): pad timestamp windows in test_messages for clock skew
  tests/routes/test_messages.py
Due: basedpyright, pytest-main

docs(integrations): tighten Verifying section after end-to-end smoke
  docs/v3/guides/integrations/vercel-ai-sdk.mdx
Due: none

docs(integrations): make Step 4 cross-session test durable via honcho_search
  docs/v3/guides/integrations/vercel-ai-sdk.mdx
Due: none

Add dimensions parameter to embeddings creation
  src/embedding_client.py
Due: basedpyright, pytest-main

docs: add skill install section to Vercel AI SDK guide
  docs/v3/guides/integrations/vercel-ai-sdk.mdx
Due: none

fix: internal N+1 query in dialectic agent calls
  src/crud/message.py
  tests/integration/test_message_embeddings.py
Due: basedpyright, pytest-main

fix: add total input tokens to RepresentationCompletedEvent
  src/deriver/deriver.py
  src/telemetry/events/representation.py
  tests/integration/test_telemetry.py
  tests/telemetry/conftest.py
  tests/telemetry/test_emit_function.py
  tests/telemetry/test_emitter.py
  tests/telemetry/test_events.py
Due: basedpyright, pytest-main

fix: comments
  src/crud/message.py
Due: basedpyright, pytest-main

fix: guard on empty msg content
  scripts/generate_message_embeddings.py
Due: basedpyright

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
