Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

fix: Update Changelogs and OpenAPI Docs (#412)
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v3/openapi.json
  pyproject.toml
  src/main.py
  uv.lock
Due: basedpyright, pytest-main

docs: updating to match recent updates
  docs/v3/guides/integrations/openclaw.mdx
Due: none

docs: updating to match recent updates (#413)
  docs/v3/guides/integrations/openclaw.mdx
Due: none

fix: address CodeRabbit review feedback on SKILL.md
  .claude/skills/local-development/SKILL.md
Due: none

chore: (docs) update claude code plugin copy
  docs/v3/guides/integrations/claude-code.mdx
Due: none

docs: adding reachy-mini
  docs/docs.json
  docs/v3/guides/integrations/reachy-mini.mdx
  docs/v3/guides/overview.mdx
Due: none

docs: adding openclaw multi-agent setup
  docs/v3/guides/integrations/openclaw.mdx
Due: none

docs: updating
  docs/v3/guides/integrations/openclaw.mdx
Due: none

chore: cr
  docs/v3/guides/integrations/reachy-mini.mdx
  docs/v3/guides/overview.mdx
Due: none

chore: (docs) update claude code plugin copy (#414)
  docs/docs.json
  docs/v3/guides/integrations/claude-code.mdx
  docs/v3/guides/integrations/openclaw.mdx
  docs/v3/guides/integrations/reachy-mini.mdx
  docs/v3/guides/overview.mdx
Due: none

docs: replace Chatbots section with Tutorials, move Reachy Mini into it
  docs/docs.json
Due: none

docs: restructure nav — move modeling-data to Core Concepts, file-uploads to Advanced, merge Migrations into Tutorials
  docs/docs.json
  docs/v3/documentation/core-concepts/modeling-data.mdx
  docs/v3/documentation/features/advanced/file-uploads.mdx
  docs/v3/guides/storing-data.mdx
Due: none

fix: retry on RuntimeError for stale Redis connections (Fixes HONCHO-18H)
  src/cache/client.py
Due: basedpyright, pytest-main

chore: final moving
  docs/docs.json
  docs/v3/documentation/features/advanced/storing-data.mdx
  docs/v3/guides/integrations/reachy-mini.mdx
Due: none

docs: minor changes
  docs/docs.json
  docs/v3/documentation/core-concepts/data-design.mdx
Due: none

docs: adding community integrations
  docs/docs.json
  docs/v3/documentation/core-concepts/data-design.mdx
  docs/v3/guides/community/agent0.mdx
  docs/v3/guides/community/hermes.mdx
Due: none

chore: cr updates
  docs/v3/documentation/core-concepts/data-design.mdx
  docs/v3/guides/community/agent0.mdx
  docs/v3/guides/community/hermes.mdx
  docs/v3/guides/integrations/claude-code.mdx
Due: none

fix: Rename patterns page and nitpicks on organization
  docs/docs.json
  docs/v3/documentation/core-concepts/design-patterns.mdx
  docs/v3/documentation/features/storing-data.mdx
  docs/v3/guides/overview.mdx
Due: none

Abigail/dev 1406 (#416)
  docs/docs.json
  docs/v3/documentation/core-concepts/design-patterns.mdx
  docs/v3/documentation/features/advanced/file-uploads.mdx
  docs/v3/documentation/features/storing-data.mdx
  docs/v3/guides/community/agent0.mdx
  docs/v3/guides/community/hermes.mdx
  docs/v3/guides/integrations/claude-code.mdx
  docs/v3/guides/integrations/reachy-mini.mdx
  docs/v3/guides/overview.mdx
Due: none

feat: adding python granola example
  examples/granola/honcho_granola.py
Due: none

docs: adding granola documentation and cleaning up the script
  docs/docs.json
  docs/v3/guides/integrations/granola.mdx
  examples/granola/honcho_granola.py
Due: none

chore: (docs) Add information on the peer card
  docs/docs.json
  docs/v3/documentation/features/advanced/overview.mdx
  docs/v3/documentation/features/advanced/peer-card.mdx
Due: none

chore: (docs) Add information on the peer card (#418)
  docs/docs.json
  docs/v3/documentation/features/advanced/overview.mdx
  docs/v3/documentation/features/advanced/peer-card.mdx
Due: none

fix: use WeakValueDictionary for _observation_locks to prevent memory leak
  src/utils/agent_tools.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

fix: harden input sanitization across API surface (DEV-1400)
  CHANGELOG.md
  docs/changelog/introduction.mdx
  src/dependencies.py
  src/schemas.py
  src/utils/filter.py
  tests/test_dependencies.py
Due: basedpyright, pytest-main

fix: Refactor Schemas into separate files
  src/schemas/__init__.py
  src/schemas/api.py
  src/schemas/configuration.py
  src/schemas/internal.py
Due: basedpyright, pytest-main

docs: add local development skill
  .claude/skills/local-development/SKILL.md
  docs/v3/documentation/introduction/vibecoding.mdx
Due: none

chore: addressing pr comments
  docs/v2/guides/n8n.mdx
  docs/v3/guides/granola.mdx
  examples/granola/honcho_granola.py
Due: none

chore: nav update
  docs/docs.json
Due: none

fix: adding strict checking and updating readme
  sdks/typescript/README.md
  sdks/typescript/src/validation.ts
Due: biome-check, typescript-check

chore: changelog and version
  sdks/typescript/CHANGELOG.md
  sdks/typescript/package.json
Due: biome-check, typescript-check

fix: Add strict validation to all Python and TypeScript classes
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/python/src/honcho/api_types.py
  sdks/python/src/honcho/client.py
  sdks/typescript/__tests__/validation.test.ts
  sdks/typescript/src/validation.ts
  uv.lock
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check

chore: cr updates
  docs/v3/guides/granola.mdx
  examples/granola/honcho_granola.py
Due: none

feat(files): add optional OCR backends for uploads
  src/config.py
  src/utils/files.py
  tests/routes/test_files.py
Due: basedpyright, pytest-main

test(ocr): add live mistral smoke coverage
  tests/conftest.py
  tests/routes/test_files.py
Due: basedpyright, pytest-main

fix(files): log OCR fallback errors
  src/utils/files.py
Due: basedpyright, pytest-main

fix(files): reject images when OCR is disabled
  src/utils/files.py
Due: basedpyright, pytest-main

fix(files): tighten OCR upload fallback behavior
  src/utils/files.py
  tests/routes/test_files.py
Due: basedpyright, pytest-main

fix(files): use OCR when PDF parsing fails
  src/utils/files.py
  tests/routes/test_files.py
Due: basedpyright, pytest-main

feat: adding honcho-cli package
  honcho-cli/README.md
  honcho-cli/pyproject.toml
  honcho-cli/src/honcho_cli/__init__.py
  honcho-cli/src/honcho_cli/commands/__init__.py
  honcho-cli/src/honcho_cli/commands/conclusion.py
  honcho-cli/src/honcho_cli/commands/config_cmd.py
  honcho-cli/src/honcho_cli/commands/describe.py
  honcho-cli/src/honcho_cli/commands/key.py
  honcho-cli/src/honcho_cli/commands/message.py
  honcho-cli/src/honcho_cli/commands/peer.py
  honcho-cli/src/honcho_cli/commands/session.py
  honcho-cli/src/honcho_cli/commands/workspace.py
  honcho-cli/src/honcho_cli/common.py
  honcho-cli/src/honcho_cli/config.py
  honcho-cli/src/honcho_cli/main.py
  honcho-cli/src/honcho_cli/output.py
  honcho-cli/src/honcho_cli/skills/CONTEXT.md
  honcho-cli/src/honcho_cli/skills/honcho-admin.md
  honcho-cli/src/honcho_cli/skills/honcho-debug.md
  honcho-cli/src/honcho_cli/skills/honcho-inspect.md
  honcho-cli/src/honcho_cli/validation.py
  honcho-cli/tests/__init__.py
  honcho-cli/tests/test_config.py
  honcho-cli/tests/test_output.py
  honcho-cli/tests/test_validation.py
  honcho-cli/uv.lock
Due: none

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
