Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

chore: harmonize Python version at 3.13 (#1090)
  .github/workflows/live-llm-tests.yml
  .github/workflows/staticanalysis.yml
  .github/workflows/unified-tests.yml
  .github/workflows/unittest.yml
  .python-version
  pyproject.toml
  uv.lock
Due: none

fix(review): address CHANGES_REQUESTED on #1077
  src/db.py
  tests/test_hnsw_iterative_scan.py
Due: basedpyright, pytest-main

fix(peers): cancel non-streaming dialectic when the client disconnects
  src/routers/peers.py
Due: basedpyright, pytest-main

test(peers): cover dialectic cancellation on client disconnect
  tests/routes/test_chat_disconnect.py
Due: basedpyright, pytest-main

fix: address CodeRabbit review — clarify docs and strengthen tests
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/db.py
  tests/test_hnsw_iterative_scan.py
Due: basedpyright, pytest-main

feat(messages): add DELETE endpoint for a single message
  src/crud/__init__.py
  src/crud/message.py
  src/routers/messages.py
Due: basedpyright, pytest-main

fix: reconcile documents in pgvector-only reconciliation mode
  src/reconciler/sync_vectors.py
  tests/deriver/test_vector_reconciliation.py
Due: basedpyright, pytest-main

test(messages): cover single-message delete and its cascade cleanup
  tests/routes/test_messages.py
Due: basedpyright, pytest-main

fix(docker): address API worker review feedback
  .env.template
  docs/v3/contributing/self-hosting.mdx
  tests/conftest.py
  tests/test_docker_entrypoint.py
Due: basedpyright, pytest-main

fix: resolve CI failures — extract _validate_pgvector_version, fix pyright warnings
  src/db.py
  tests/test_hnsw_iterative_scan.py
Due: basedpyright, pytest-main

fix: address CodeRabbit review — local alias for private member, escape regex dots
  tests/test_hnsw_iterative_scan.py
Due: basedpyright, pytest-main

chore: scaffold @honcho-ai/harness-core
  harness-core/.gitignore
  harness-core/CHANGELOG.md
  harness-core/README.md
  harness-core/package.json
  harness-core/src/index.ts
Due: none

fix(deriver): strip NUL bytes from model-generated observations
  src/crud/representation.py
  src/schemas/api.py
  src/schemas/internal.py
  src/utils/agent_tools.py
  src/utils/sanitization.py
  tests/crud/test_representation_manager.py
  tests/test_schema_validations.py
  tests/utils/test_sanitization.py
Due: basedpyright, pytest-main

feat(harness-core): resolve shared root config
  harness-core/.gitignore
  harness-core/CHANGELOG.md
  harness-core/README.md
  harness-core/bun.lock
  harness-core/package.json
  harness-core/src/config.ts
  harness-core/src/index.ts
  harness-core/tests/config.test.ts
  harness-core/tsconfig.json
Due: none

feat(sdk): add per-call peer chat timeout
  docs/v3/documentation/reference/sdk.mdx
  sdks/python/CHANGELOG.md
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/peer.py
  tests/sdk/test_peer.py
Due: basedpyright, pytest-main, pytest-python-sdk

style: fix line length and trailing newline in test file
  tests/test_hnsw_iterative_scan.py
Due: basedpyright, pytest-main

fix(windows): address trace locking review feedback
  src/telemetry/reasoning_traces.py
Due: basedpyright, pytest-main

fix(windows): coordinate trace file locking
  src/telemetry/reasoning_traces.py
Due: basedpyright, pytest-main

fix(windows): retry trace lock explicitly, never append unlocked
  src/telemetry/reasoning_traces.py
Due: basedpyright, pytest-main

docs(telemetry): use Google-style Yields section for _locked
  src/telemetry/reasoning_traces.py
Due: basedpyright, pytest-main

perf(llm): run one turn's tool calls concurrently instead of serially
  src/llm/tool_loop.py
  tests/llm/test_tool_loop_parallel.py
Due: basedpyright, pytest-main

fix(llm): keep state-changing tool calls in the order the model asked for
  src/dialectic/core.py
  src/llm/api.py
  src/llm/tool_loop.py
  src/utils/agent_tools.py
  tests/llm/test_tool_loop_parallel.py
Due: basedpyright, pytest-main

fix: move pyright: ignore comments to same line as private member access
  tests/test_hnsw_iterative_scan.py
Due: basedpyright, pytest-main

feat(mcp): add stdio host for local clients
  mcp/README.md
  mcp/bunfig.toml
  mcp/package.json
  mcp/src/config.ts
  mcp/src/stdio.ts
Due: none

fix(deriver): chunk scope backfill so large sessions don't OOM the worker
  src/deriver/scope_backfill.py
  tests/deriver/test_scope_backfill.py
Due: basedpyright, pytest-main

Rename repository instructions to AGENTS.md
  AGENTS.md
Due: none

docs: update repository policy references
  CONTRIBUTING.md
  docs/v3/contributing/guidelines.mdx
  tests/routes/test_auth_route_policy.py
Due: basedpyright, pytest-main

fix(peers): cancel the dialectic work when the request task is cancelled
  src/routers/peers.py
Due: basedpyright, pytest-main

test(peers): cover wrapper cancellation and silence private-usage warnings
  tests/routes/test_chat_disconnect.py
Due: basedpyright, pytest-main

Add Trustabl security scanning workflow
  .github/workflows/trustabl.yml
Due: none

feat(harness-core): send client identity headers on SDK requests
  harness-core/README.md
  harness-core/src/index.ts
  harness-core/src/telemetry.ts
  harness-core/tests/telemetry.test.ts
Due: none

feat(harness-core): drop cloud vs custom api header
  harness-core/README.md
  harness-core/src/index.ts
  harness-core/src/telemetry.ts
  harness-core/tests/telemetry.test.ts
Due: none

fix: broaden nul strip check
  src/schemas/internal.py
  src/utils/sanitization.py
  tests/test_schema_validations.py
Due: basedpyright, pytest-main

chore: code simplification
  src/schemas/internal.py
Due: basedpyright, pytest-main

fix(deriver): strip NUL bytes from model-generated observations (#1095)
  src/crud/representation.py
  src/schemas/api.py
  src/schemas/internal.py
  src/utils/agent_tools.py
  src/utils/sanitization.py
  tests/crud/test_representation_manager.py
  tests/test_schema_validations.py
  tests/utils/test_sanitization.py
Due: basedpyright, pytest-main

feat(mcp): add Streamable HTTP host and image
  docker-compose.yml.example
  mcp/.dockerignore
  mcp/Dockerfile
  mcp/README.md
  mcp/package.json
  mcp/src/config.ts
  mcp/src/http.ts
Due: none

fix(mcp): stdio launcher cwd/silent and HTTP session bounds
  mcp/README.md
  mcp/bunfig.toml
  mcp/src/http.ts
Due: none

fix(deriver): hydrate backfill embeddings per chunk
  src/deriver/scope_backfill.py
Due: basedpyright, pytest-main

fix(deriver): lock scope membership across backfill chunk writes
  src/deriver/scope_backfill.py
  tests/deriver/test_scope_backfill.py
Due: basedpyright, pytest-main

fix(deriver): prevent cross-subject self-observations
  src/deriver/prompts.py
  tests/deriver/test_prompts.py
Due: basedpyright, pytest-main

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
