Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

feat(llm): add named orcarouter transport
  .env.template
  CHANGELOG.md
  README.md
  config.toml.example
  docs/v3/contributing/configuration.mdx
  docs/v3/contributing/self-hosting.mdx
  src/config.py
  src/llm/capture.py
  src/llm/credentials.py
  src/llm/registry.py
  tests/llm/test_credentials.py
  tests/llm/test_model_config.py
  tests/llm/test_orcarouter_registry.py
Due: basedpyright, pytest-main

fix(llm): preserve strict tool result ordering
  src/llm/tool_loop.py
  tests/llm/test_tool_loop_strict_role_order.py
Due: basedpyright, pytest-main

feat(sessions): expose last message activity
  CHANGELOG.md
  docs/v3/openapi.json
  migrations/versions/cfaff339d519_add_session_last_message_at.py
  sdks/python/CHANGELOG.md
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/api_types.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/scope.py
  sdks/python/src/honcho/session.py
  sdks/typescript/CHANGELOG.md
  sdks/typescript/__tests__/helpers.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/__tests__/session.unit.test.ts
  sdks/typescript/src/client.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/scope.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/types/api.ts
  sdks/typescript/src/validation.ts
  src/crud/message.py
  src/crud/session.py
  src/models.py
  src/routers/sessions.py
  src/schemas/api.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_cfaff339d519_add_session_last_message_at.py
  tests/routes/test_sessions.py
  tests/sdk/test_peer.py
  tests/sdk/test_session.py
Due: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

test(filter): type message_configs with a TypedDict
  tests/test_advanced_filters.py
Due: basedpyright, pytest-main

fix(sdks): keep session activity cache current
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/session.py
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/src/types/api.ts
  tests/sdk/test_file_uploads.py
  tests/sdk/test_session.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

fix(llm): validate Responses API mode configuration
  docs/v3/contributing/configuration.mdx
  src/config.py
  tests/llm/test_responses_config.py
Due: basedpyright, pytest-main

fix(llm): preserve terminal Responses output
  src/llm/backends/openai.py
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

feat(llm): add opt-in Responses API mode
  src/llm/backends/openai.py
  tests/llm/test_backends/test_openai.py
  tests/llm/test_request_builder.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

fix(llm): preserve Responses fallback contracts
  src/llm/backends/openai.py
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

fix(llm): allow tools in JSON-object mode
  src/llm/backends/openai.py
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

fix(deriver): prevent cross-subject self-observations
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/utils/representation.py
  tests/conftest.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_prompts.py
  tests/deriver/test_representation_crud.py
  tests/integration/test_representation.py
  tests/integration/test_token_metrics.py
  tests/utils/test_length_finish_reason.py
Due: basedpyright, pytest-main

test: make database cleanup race-safe
  tests/conftest.py
Due: basedpyright, pytest-main

fix(deriver): promote cross-speaker target facts
  docs/v3/documentation/core-concepts/representation.mdx
  docs/v3/documentation/features/advanced/queue-status.mdx
  docs/v3/documentation/features/advanced/representation-scopes.mdx
  src/crud/deriver.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/enqueue.py
  src/deriver/prompts.py
  src/deriver/queue_manager.py
  src/routers/workspaces.py
  src/utils/queue_payload.py
  tests/conftest.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_prompts.py
  tests/deriver/test_queue_processing.py
  tests/integration/test_enqueue.py
  tests/routes/test_queue_status.py
Due: basedpyright, pytest-main

fix(representation): reclaim unused query budget
  src/crud/representation.py
  tests/crud/test_representation_manager.py
Due: basedpyright, pytest-main

Fix: two-tier semantic dedup gate for near-duplicate observations (#729)
  src/config.py
  src/crud/document.py
  tests/crud/test_document.py
Due: basedpyright, pytest-main

fix(filter): make ne on jsonb metadata keys null-safe (#1036)
  src/utils/filter.py
  tests/test_advanced_filters.py
  tests/utils/test_filter.py
Due: basedpyright, pytest-main

fix(deriver): harden retry metadata cleanup and stale reinforce fallback
  src/crud/document.py
  src/deriver/queue_manager.py
  tests/crud/test_document.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

feat(telemetry): add physical DB-connection metrics
  src/db.py
  src/deriver/__main__.py
  src/main.py
  src/telemetry/prometheus/metrics.py
  tests/telemetry/test_db_connection_metrics.py
Due: basedpyright, pytest-main

review: fix db_connections_open leak on the detach path; comment/doc polish
  src/db.py
  src/telemetry/prometheus/metrics.py
  tests/telemetry/test_db_connection_metrics.py
Due: basedpyright, pytest-main

fix: Remove dead code references
  CHANGELOG.md
  src/dialectic/core.py
  src/dialectic/workspace.py
  src/routers/workspaces.py
  src/utils/agent_tools.py
  src/utils/representation.py
  tests/test_security.py
  tests/test_workspace_chat.py
Due: basedpyright, pytest-main

fix(representation): exclude selected recent documents
  src/crud/representation.py
  tests/crud/test_representation_manager.py
Due: basedpyright, pytest-main

fix: address render issue in templates and add version field
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-quality-report.yml
Due: none

feat: Add workspace-level chat (#931)
  CHANGELOG.md
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/http/routes.py
  sdks/typescript/src/client.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/types/api.ts
  src/crud/__init__.py
  src/crud/scope.py
  src/crud/workspace.py
  src/dialectic/chat.py
  src/dialectic/core.py
  src/dialectic/prompts.py
  src/dialectic/workspace.py
  src/routers/peers.py
  src/routers/workspaces.py
  src/schemas/__init__.py
  src/schemas/api.py
  src/utils/agent_tools.py
  src/utils/scopes.py
  tests/conftest.py
  tests/routes/test_scope_reads.py
  tests/test_security.py
  tests/test_workspace_chat.py
  tests/unified/README.md
  tests/unified/run.py
  tests/unified/runner.py
  tests/unified/schema.py
  tests/unified/test_cases/peer_isolation_test.json
  tests/unified/test_cases/workspace_chat_cross_peer.json
  tests/unified/test_cases/workspace_chat_from_messages.json
  tests/unified/test_cases/workspace_chat_from_observations.json
  tests/unified/test_cases/workspace_chat_scope.json
  tests/unified/test_schema.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

perf(cache): hash-tag cache keys so a workspace lands on one shard
  src/crud/collection.py
  src/crud/peer.py
  src/crud/session.py
  src/crud/workspace.py
  tests/cache/test_cache_key_hash_tags.py
Due: basedpyright, pytest-main

chore(codeowners): drop the third reviewer from most areas
  .github/CODEOWNERS
Due: none

feat(ci): defer issue-gate closes to a scheduled sweeper
  .github/scripts/issue-gate.js
  .github/scripts/issue-gate.test.js
  .github/workflows/issue-gate.yml
  .github/workflows/pr-sweeper.yml
  .github/workflows/staticanalysis.yml
  CONTRIBUTING.md
  docs/v3/contributing/guidelines.mdx
Due: none

feat(docs): Initial draft of new contributing policies
  .github/CODEOWNERS
  .github/workflows/issue-gate.yml
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/v3/contributing/guidelines.mdx
Due: none

docs(v2): port the issue gate policy into the v2 contributing guide
  docs/v2/contributing/guidelines.mdx
Due: none

chore: update issue templates and docs (#1032)
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-failing-test.md
  .github/ISSUE_TEMPLATE/2-quality-report.yml
  .github/ISSUE_TEMPLATE/3-feature-request.yml
  .github/ISSUE_TEMPLATE/4-feature-request.md
  .github/ISSUE_TEMPLATE/4-integration-request.yml
  .github/ISSUE_TEMPLATE/5-docs-bug.md
  .github/ISSUE_TEMPLATE/5-enhancement-request.md
  .github/ISSUE_TEMPLATE/6-security-report.md
  .github/ISSUE_TEMPLATE/7-question-support.md
  .github/ISSUE_TEMPLATE/config.yml
  CONTRIBUTING.md
  SECURITY.md
  docs/v2/contributing/guidelines.mdx
  docs/v3/contributing/guidelines.mdx
Due: none

feat(docs): Initial draft of new contributing policies (#1041)
  .github/CODEOWNERS
  .github/scripts/issue-gate.js
  .github/scripts/issue-gate.test.js
  .github/workflows/issue-gate.yml
  .github/workflows/pr-sweeper.yml
  .github/workflows/staticanalysis.yml
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/v2/contributing/guidelines.mdx
  docs/v3/contributing/guidelines.mdx
Due: none

feat(cli): forward host LLM env into honcho start
  docs/snippets/cli-commands.mdx
  docs/v3/documentation/reference/cli.mdx
  honcho-cli/README.md
  honcho-cli/src/honcho_cli/commands/stack.py
  honcho-cli/src/honcho_cli/local/env.py
  honcho-cli/src/honcho_cli/local/setup.py
  honcho-cli/tests/test_local.py
  honcho-cli/tests/test_start.py
Due: none

perf(cache): hash-tag the cache namespace so an instance uses one shard
  src/cache/client.py
  src/crud/collection.py
  src/crud/peer.py
  src/crud/session.py
  src/crud/workspace.py
  tests/test_cache_key_namespace.py
Due: basedpyright, pytest-main

fix(ci): count only bot-authored gate notices, share the exemption list
  .github/scripts/issue-gate.js
  .github/scripts/issue-gate.test.js
Due: none

Vineeth/dev 2418 (#1057)
  .github/CODEOWNERS
  .github/scripts/issue-gate.js
  .github/scripts/issue-gate.test.js
  .github/workflows/issue-gate.yml
  .github/workflows/pr-sweeper.yml
  .github/workflows/staticanalysis.yml
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/v2/contributing/guidelines.mdx
  docs/v3/contributing/guidelines.mdx
Due: none

fix(crud): preserve joined_at for active session peers
  src/crud/session.py
  tests/crud/test_session.py
  tests/test_search.py
Due: basedpyright, pytest-main

feat(cli): share start/stop progress helpers via output.py and cleaning up language
  docs/v3/documentation/reference/cli.mdx
  honcho-cli/src/honcho_cli/_help.py
  honcho-cli/src/honcho_cli/commands/stack.py
  honcho-cli/src/honcho_cli/output.py
Due: none

docs: document set_peers membership window and wrap test docstrings
  src/crud/session.py
  tests/crud/test_session.py
  tests/test_search.py
Due: basedpyright, pytest-main

fix: only classify genuine oversize input as a token-limit error
  src/crud/document.py
  src/crud/representation.py
  src/embedding_client.py
  src/utils/agent_tools.py
  src/utils/search.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

fix(db): enable pgvector HNSW iterative scan by default
  src/config.py
  src/db.py
Due: basedpyright, pytest-main

fix(deriver): fail closed on invalid work-unit recovery
  .env.template
  config.toml.example
  docker-compose.yml.example
  fly.toml
  scripts/deriver_healthcheck.py
  scripts/deriver_supervisor.py
  src/config.py
  src/deriver/__main__.py
  src/deriver/queue_manager.py
  tests/deriver/test_deriver_entrypoint.py
  tests/deriver/test_healthcheck.py
  tests/deriver/test_queue_processing.py
  tests/deriver/test_supervisor.py
Due: basedpyright, pytest-main

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
