Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

refactor: MCP server improvements
  mcp/README.md
  mcp/bun.lock
  mcp/instructions.md
  mcp/package.json
  mcp/src/config.ts
  mcp/src/index.ts
  mcp/src/server.ts
  mcp/src/tools/bespoke.ts
  mcp/src/tools/conclusions.ts
  mcp/src/tools/peers.ts
  mcp/src/tools/sessions.ts
  mcp/src/tools/system.ts
  mcp/src/tools/workspace.ts
  mcp/src/types.ts
  mcp/tsconfig.json
  mcp/worker.ts
  mcp/wrangler.toml
Due: none

fix: make cache delete/set retryable. remove session peer config cache
  src/cache/client.py
  src/crud/__init__.py
  src/crud/collection.py
  src/crud/peer.py
  src/crud/peer_card.py
  src/crud/session.py
  src/crud/workspace.py
  src/deriver/enqueue.py
  src/routers/sessions.py
Due: basedpyright, pytest-main

fix: parallelize db calls in context()
  src/routers/sessions.py
Due: basedpyright, pytest-main

feat: consolidate db calls in session context
  CLAUDE.md
  src/crud/representation.py
  src/routers/sessions.py
  tests/conftest.py
  tests/sdk_typescript/conftest.py
Due: basedpyright, pytest-main

fix: guard against embedding failures
  src/crud/representation.py
  src/routers/sessions.py
Due: basedpyright, pytest-main

fix: comment out response model in vllm
  .gitignore
  src/utils/clients.py
Due: basedpyright, pytest-main

fix: updating docs based on new clawhub skill
  docs/v3/guides/integrations/openclaw.mdx
Due: none

feat: add nanobot-honcho claude skill
  .claude/skills/nanobot-honcho/SKILL.md
  .claude/skills/nanobot-honcho/references/client.py
  .claude/skills/nanobot-honcho/references/honcho_tool.py
  .claude/skills/nanobot-honcho/references/session.py
Due: none

fix: (test) use session factory to further isolate tests
  tests/conftest.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

fix: updating docs based on new clawhub skill (#381)
  docs/v3/guides/integrations/openclaw.mdx
Due: none

restructure: nanobot-honcho -> bot-integrations skill
  .claude/skills/bot-integrations/SKILL.md
  .claude/skills/bot-integrations/references/nanobot/client.py
  .claude/skills/bot-integrations/references/nanobot/honcho_tool.py
  .claude/skills/bot-integrations/references/nanobot/session.py
  .claude/skills/nanobot-honcho/SKILL.md
Due: none

fix: use ORM mutation for re-embedded vectors in reconciler
  src/reconciler/sync_vectors.py
Due: basedpyright, pytest-main

fix: use ORM mutation for re-embedded vectors in reconciler (#384)
  src/reconciler/sync_vectors.py
Due: basedpyright, pytest-main

fix: Address review issues
  src/crud/workspace.py
  tests/crud/test_workspace.py
  tests/routes/test_workspaces.py
Due: basedpyright, pytest-main

feat: implement async workspace deletion with active session checks (#378)
  sdks/typescript/__tests__/client.test.ts
  src/crud/__init__.py
  src/crud/workspace.py
  src/deriver/consumer.py
  src/deriver/enqueue.py
  src/routers/workspaces.py
  src/utils/queue_payload.py
  tests/crud/test_workspace.py
  tests/routes/test_workspaces.py
Due: biome-check, basedpyright, pytest-main, typescript-check

chore: claude nitpicks
  src/deriver/enqueue.py
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

fix: merge skills and repair syntax inconsistencies
  .claude/skills/bot-integrations/SKILL.md
  .claude/skills/honcho-integration/SKILL.md
  .claude/skills/honcho-integration/references/bot-frameworks.md
  .claude/skills/honcho-integration/references/bot-frameworks/nanobot/client.py
  .claude/skills/honcho-integration/references/bot-frameworks/nanobot/honcho_tool.py
  .claude/skills/honcho-integration/references/bot-frameworks/nanobot/session.py
  docs/docs.json
Due: none

perf: add redis caching and reduce embedding API calls (#372)
  src/cache/client.py
  src/crud/__init__.py
  src/crud/collection.py
  src/crud/message.py
  src/crud/peer.py
  src/crud/peer_card.py
  src/crud/session.py
  src/crud/workspace.py
  src/deriver/enqueue.py
  src/dialectic/core.py
  src/routers/sessions.py
  src/schemas.py
  src/utils/agent_tools.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

fix: Various Codex Audits
  pyproject.toml
  src/deriver/__main__.py
  src/main.py
  src/security.py
  src/telemetry/metrics_collector.py
  tests/conftest.py
  tests/deriver/test_queue_processing.py
  tests/deriver/test_vector_reconciliation.py
  tests/reconciler/test_queue_cleanup.py
  tests/sdk/test_client.py
  tests/sdk/test_session.py
  tests/test_dependencies.py
  tests/webhooks/test_webhook_delivery.py
Due: basedpyright, pytest-main

Parallelize Async Calls (#383)
  src/routers/sessions.py
  tests/conftest.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

fix: Address Comments
  src/telemetry/metrics_collector.py
  tests/conftest.py
Due: basedpyright, pytest-main

feat: consolidate db calls in session context (#380)
  CLAUDE.md
  src/crud/representation.py
  src/routers/sessions.py
  tests/conftest.py
  tests/deriver/test_queue_processing.py
  tests/sdk_typescript/conftest.py
Due: basedpyright, pytest-main

fix: Various Codex Audits (#386)
  pyproject.toml
  src/deriver/__main__.py
  src/main.py
  src/security.py
  src/telemetry/metrics_collector.py
  tests/conftest.py
  tests/deriver/test_queue_processing.py
  tests/deriver/test_vector_reconciliation.py
  tests/reconciler/test_queue_cleanup.py
  tests/sdk/test_client.py
  tests/sdk/test_session.py
  tests/test_dependencies.py
  tests/webhooks/test_webhook_delivery.py
Due: basedpyright, pytest-main

fix: scope tool calls to sessions that peer was in
  src/crud/message.py
  src/dialectic/core.py
  src/utils/agent_tools.py
  tests/crud/test_message_perspective.py
Due: basedpyright, pytest-main

fix: more tests
  src/crud/message.py
  src/utils/agent_tools.py
  tests/crud/test_message_perspective.py
  tests/dialectic/test_core.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

fix: merge skills and repair syntax inconsistencies (#385)
  .claude/skills/bot-integrations/SKILL.md
  .claude/skills/honcho-integration/SKILL.md
  .claude/skills/honcho-integration/references/bot-frameworks.md
  .claude/skills/honcho-integration/references/bot-frameworks/nanobot/client.py
  .claude/skills/honcho-integration/references/bot-frameworks/nanobot/honcho_tool.py
  .claude/skills/honcho-integration/references/bot-frameworks/nanobot/session.py
  docs/docs.json
  docs/v3/guides/integrations/openclaw.mdx
  sdks/typescript/__tests__/client.test.ts
  src/crud/__init__.py
  src/crud/workspace.py
  src/deriver/consumer.py
  src/deriver/enqueue.py
  src/reconciler/sync_vectors.py
  src/routers/workspaces.py
  src/utils/queue_payload.py
  tests/crud/test_workspace.py
  tests/routes/test_workspaces.py
Due: biome-check, basedpyright, pytest-main, typescript-check

chore: (tests) add peer isolation test to unified test runner
  .github/workflows/claude.yml
  tests/unified/test_cases/peer_isolation_test.json
Due: none

fix: rm volume from unified test fly
  .github/workflows/start-fly-runner.yml
  .github/workflows/unified-tests.yml
Due: none

fix: rm volume from unified test fly (#388)
  .github/workflows/start-fly-runner.yml
  .github/workflows/unified-tests.yml
Due: none

fix: always create a new machine
  .github/workflows/start-fly-runner.yml
Due: none

fix: don't run on PR
  .github/workflows/unified-tests.yml
Due: none

fix: always create new machine + don't run on PR
  .github/workflows/start-fly-runner.yml
  .github/workflows/unified-tests.yml
Due: none

fix: switch agent tools to reuse existing search functions
  src/utils/agent_tools.py
  src/utils/search.py
  tests/integration/test_message_embeddings.py
  tests/test_search.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

fix: loosen peer perspective restriction for workspace chat
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

scope peer dialectic call (#387)
  .github/workflows/claude.yml
  src/crud/message.py
  src/dialectic/core.py
  src/utils/agent_tools.py
  src/utils/search.py
  tests/crud/test_message_perspective.py
  tests/dialectic/test_core.py
  tests/integration/test_message_embeddings.py
  tests/test_search.py
  tests/unified/test_cases/peer_isolation_test.json
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

fix: always create new machine + don't run on PR (#390)
  .github/workflows/start-fly-runner.yml
  .github/workflows/unified-tests.yml
Due: none

feat: bot-integrations claude skill (honcho for bot frameworks) (#382)
  .claude/skills/honcho-integration/SKILL.md
  .claude/skills/honcho-integration/references/bot-frameworks.md
  .claude/skills/honcho-integration/references/bot-frameworks/nanobot/client.py
  .claude/skills/honcho-integration/references/bot-frameworks/nanobot/honcho_tool.py
  .claude/skills/honcho-integration/references/bot-frameworks/nanobot/session.py
  docs/docs.json
Due: none

fix: remove stale doc files deleted in main
  docs/v3/api-reference/endpoint/observations/create-observations.mdx
  docs/v3/api-reference/endpoint/observations/delete-observation.mdx
  docs/v3/api-reference/endpoint/observations/list-observations.mdx
  docs/v3/api-reference/endpoint/observations/query-observations.mdx
  docs/v3/api-reference/endpoint/peers/get-working-representation.mdx
  docs/v3/api-reference/endpoint/workspaces/get-deriver-status.mdx
  docs/v3/api-reference/endpoint/workspaces/trigger-dream.mdx
Due: none

chore: filter out GET /metrics logs
  src/main.py
Due: basedpyright, pytest-main

fix: backup provider failover bugs and tool input type safety
  src/utils/agent_tools.py
  src/utils/clients.py
Due: basedpyright, pytest-main
