Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

fix(dialectic): restore the empty-memory fallback for workspace chat
  src/utils/agent_tools.py
  tests/unified/test_cases/workspace_chat_from_messages.json
  tests/unified/test_cases/workspace_chat_scope.json
Due: basedpyright, pytest-main

feat: scope backfill-by-copy and removal reconciliation jobs (#904)
  src/crud/__init__.py
  src/crud/scope.py
  src/crud/session.py
  src/deriver/consumer.py
  src/deriver/enqueue.py
  src/deriver/scope_backfill.py
  src/routers/scopes.py
  src/schemas/__init__.py
  src/schemas/api.py
  src/utils/queue_payload.py
  src/utils/types.py
  src/utils/work_unit.py
  tests/conftest.py
  tests/deriver/test_scope_backfill.py
Due: basedpyright, pytest-main

fix(tests/unified): fail CI when unified tests fail
  tests/unified/run.py
  tests/unified/runner.py
Due: basedpyright, pytest-main

test(unified): assert scope peers stay out of workspace chat answers
  tests/unified/test_cases/workspace_chat_scope.json
Due: none

fix(deriver): increase deriver polling backoff (#1015)
  src/deriver/queue_manager.py
  tests/test_db_resilience.py
Due: basedpyright, pytest-main

docs: updating claude-codes with recent changes
  docs/v3/guides/integrations/claude-code.mdx
Due: none

docs: updating claude-codes with recent changes (#1021)
  docs/v3/guides/integrations/claude-code.mdx
Due: none

feat(llm): add opt-in Responses API mode
  src/llm/backends/openai.py
  tests/llm/test_backends/test_openai.py
  tests/llm/test_request_builder.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

docs: add DeepSeek Harness integration
  README.md
Due: none

fix(openai): fallback to json_object when json_schema structured output fails
  src/llm/backends/openai.py
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

fix(llm): forward provider_params.timeout to the OpenAI-compatible embedding client
  config.toml.example
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/embedding_client.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

fix(dreamer): record outcome and error metrics in collection dream metadata (#1003)
  src/dreamer/orchestrator.py
  src/dreamer/specialists.py
  tests/dreamer/test_dreamer_integration.py
Due: basedpyright, pytest-main

fix(security): encode JWT exp as NumericDate so PyJWT validates expiry (#1016)
  scripts/generate_jwt.py
  src/routers/keys.py
  src/security.py
  tests/routes/test_keys.py
  tests/test_security.py
Due: basedpyright, pytest-main

fix(embedding): use first-class timeout on embedding model config
  config.toml.example
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/embedding_client.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

test(embedding): live coverage for first-class embedding timeout
  tests/live_llm/README.md
  tests/live_llm/conftest.py
  tests/live_llm/test_live_embeddings.py
Due: basedpyright, pytest-main

fix(deriver): delimit examples and forbid example leakage
  src/deriver/prompts.py
  tests/deriver/test_prompts.py
Due: basedpyright, pytest-main

feat: scopes SDK surface and session allowlist on session context
  sdks/python/src/honcho/__init__.py
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/api_types.py
  sdks/python/src/honcho/base.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/conclusions.py
  sdks/python/src/honcho/http/routes.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/scope.py
  sdks/python/src/honcho/session.py
  sdks/python/src/honcho/utils/__init__.py
  sdks/python/src/honcho/utils/resolve.py
  sdks/python/src/honcho/utils/scopes.py
  sdks/typescript/__tests__/conclusions.test.ts
  sdks/typescript/__tests__/http-client.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/scope.unit.test.ts
  sdks/typescript/src/client.ts
  sdks/typescript/src/conclusions.ts
  sdks/typescript/src/http/client.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/scope.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/types/api.ts
  sdks/typescript/src/validation.ts
  src/deriver/queue_manager.py
  src/routers/sessions.py
  src/utils/filter.py
  tests/sdk/test_conclusions.py
  tests/sdk/test_scope_options.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

test(deriver): drop low-value examples-delimiter unit test
  tests/deriver/test_prompts.py
Due: basedpyright, pytest-main

feat(cli): add honcho start/stop/status for a local Docker stack
  docs/snippets/cli-commands.mdx
  docs/v3/documentation/reference/cli.mdx
  honcho-cli/README.md
  honcho-cli/pyproject.toml
  honcho-cli/src/honcho_cli/_help.py
  honcho-cli/src/honcho_cli/commands/stack.py
  honcho-cli/src/honcho_cli/local/__init__.py
  honcho-cli/src/honcho_cli/local/docker.py
  honcho-cli/src/honcho_cli/local/env.py
  honcho-cli/src/honcho_cli/local/health.py
  honcho-cli/src/honcho_cli/local/profile.py
  honcho-cli/src/honcho_cli/local/templates/__init__.py
  honcho-cli/src/honcho_cli/local/templates/init.sql
  honcho-cli/src/honcho_cli/main.py
  honcho-cli/tests/test_local.py
  honcho-cli/tests/test_start.py
  skills/honcho-cli/SKILL.md
Due: none

feat(cli): fix status command
  docs/snippets/cli-commands.mdx
  honcho-cli/README.md
  honcho-cli/src/honcho_cli/commands/stack.py
  honcho-cli/src/honcho_cli/local/profile.py
  honcho-cli/tests/test_local.py
  honcho-cli/tests/test_start.py
  skills/honcho-cli/SKILL.md
Due: none

feat(cli): improving how we pull docker images and writing a config,toml
  docs/v3/documentation/reference/cli.mdx
  honcho-cli/README.md
  honcho-cli/src/honcho_cli/commands/stack.py
  honcho-cli/src/honcho_cli/local/docker.py
  honcho-cli/src/honcho_cli/local/profile.py
  honcho-cli/tests/test_local.py
  honcho-cli/tests/test_start.py
  skills/honcho-cli/SKILL.md
Due: none

fix(scopes): close peer-card leak under limit_to_session, harden SDK inputs
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/http/routes.py
  sdks/python/src/honcho/scope.py
  sdks/python/src/honcho/utils/__init__.py
  sdks/python/src/honcho/utils/scopes.py
  sdks/typescript/__tests__/scope.unit.test.ts
  sdks/typescript/src/client.ts
  sdks/typescript/src/scope.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/validation.ts
  src/routers/sessions.py
  tests/sdk/test_scope_options.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

fix(deriver): update prompt to prevent example leakage (#1028)
  src/deriver/prompts.py
Due: basedpyright, pytest-main

feat(cli): add honcho start --setup wizard for local stack config
  docs/snippets/cli-commands.mdx
  docs/v3/documentation/reference/cli.mdx
  honcho-cli/README.md
  honcho-cli/src/honcho_cli/commands/stack.py
  honcho-cli/src/honcho_cli/local/docker.py
  honcho-cli/src/honcho_cli/local/env.py
  honcho-cli/src/honcho_cli/local/setup.py
  honcho-cli/tests/test_local.py
  honcho-cli/tests/test_setup.py
  honcho-cli/tests/test_start.py
  skills/honcho-cli/SKILL.md
Due: none

fix(deriver): exclude agent self-narration from observation extraction
  src/deriver/prompts.py
Due: basedpyright, pytest-main

style(deriver): use the file's alice convention consistently in exclusions
  src/deriver/prompts.py
Due: basedpyright, pytest-main

feat(cli): cleaning up unnecessary func, and error throwing
  honcho-cli/src/honcho_cli/commands/stack.py
  honcho-cli/src/honcho_cli/local/docker.py
  honcho-cli/tests/test_local.py
  honcho-cli/tests/test_start.py
Due: none

feat(cli): minor clean up in stack.py
  honcho-cli/src/honcho_cli/commands/stack.py
Due: none

feat(cli): read setup wizard defaults from the image config.toml
  honcho-cli/src/honcho_cli/commands/stack.py
  honcho-cli/src/honcho_cli/local/__init__.py
  honcho-cli/src/honcho_cli/local/setup.py
  honcho-cli/tests/test_setup.py
  honcho-cli/tests/test_start.py
Due: none

feat(cli): cleaning up unused commands
  docs/snippets/cli-commands.mdx
  honcho-cli/src/honcho_cli/commands/stack.py
  honcho-cli/src/honcho_cli/local/__init__.py
  honcho-cli/src/honcho_cli/local/profile.py
  honcho-cli/src/honcho_cli/local/setup.py
  honcho-cli/tests/test_local.py
Due: none

feat(cli): adding ignored docker-compose.yml
  .gitignore
  honcho-cli/src/honcho_cli/local/templates/docker-compose.yml
Due: none

fix(sdk): align the conclusions-view error message across both SDKs
  sdks/python/src/honcho/conclusions.py
  sdks/typescript/__tests__/conclusions.test.ts
  tests/sdk/test_conclusions.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

feat: improving single conclusion retrieval
  docs/v3/openapi.json
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/conclusions.py
  sdks/typescript/__tests__/conclusions.test.ts
  sdks/typescript/src/conclusions.ts
  src/routers/conclusions.py
  tests/routes/test_conclusions.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

chore: add pr template and pre-pre skill
  .github/pull_request_template.md
  skills/pre-pr/SKILL.md
Due: none

fix(deriver): prevent cross-subject self-observations
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/utils/representation.py
  tests/conftest.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_prompts.py
  tests/deriver/test_representation_crud.py
  tests/integration/test_representation.py
  tests/integration/test_token_metrics.py
  tests/utils/test_length_finish_reason.py
Due: basedpyright, pytest-main

test: make database cleanup race-safe
  tests/conftest.py
Due: basedpyright, pytest-main

fix(deriver): promote cross-speaker target facts
  docs/v3/documentation/core-concepts/representation.mdx
  docs/v3/documentation/features/advanced/queue-status.mdx
  docs/v3/documentation/features/advanced/representation-scopes.mdx
  src/crud/deriver.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/enqueue.py
  src/deriver/prompts.py
  src/deriver/queue_manager.py
  src/routers/workspaces.py
  src/utils/queue_payload.py
  tests/conftest.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_prompts.py
  tests/deriver/test_queue_processing.py
  tests/integration/test_enqueue.py
  tests/routes/test_queue_status.py
Due: basedpyright, pytest-main

chore: update issue templates and docs
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-failing-test.md
  .github/ISSUE_TEMPLATE/2-quality-report.yml
  .github/ISSUE_TEMPLATE/3-feature-request.yml
  .github/ISSUE_TEMPLATE/4-docs-bug.md
  .github/ISSUE_TEMPLATE/4-feature-request.md
  .github/ISSUE_TEMPLATE/5-enhancement-request.md
  .github/ISSUE_TEMPLATE/6-security-report.md
  .github/ISSUE_TEMPLATE/7-question-support.md
  .github/ISSUE_TEMPLATE/config.yml
  CONTRIBUTING.md
  SECURITY.md
  docs/v2/contributing/guidelines.mdx
  docs/v3/contributing/guidelines.mdx
Due: none

chore: slim bug/quality forms and add integration template
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-quality-report.yml
  .github/ISSUE_TEMPLATE/4-integration-request.yml
  .github/ISSUE_TEMPLATE/5-docs-bug.md
  CONTRIBUTING.md
  docs/v2/contributing/guidelines.mdx
  docs/v3/contributing/guidelines.mdx
Due: none

fix(embedding): truncate on conclusion create paths and document BPE loop
  src/crud/document.py
  src/embedding_client.py
  src/utils/agent_tools.py
  tests/crud/test_document.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
