Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run typecheck; fi'
  language: system
  pass_filenames: false

feat: thoroughly document observation config
  docs/v2/documentation/core-concepts/configuration.mdx
  sdks/python/CHANGELOG.md
  sdks/python/src/honcho/async_client/client.py
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/typescript/CHANGELOG.md
Due: basedpyright, pytest-python-sdk

feat: implement queue.empty and backfill
  migrations/versions/88b0fb10906f_add_webhooks_table.py
  src/deriver/queue_manager.py
  src/deriver/utils.py
  src/webhooks/events.py
Due: basedpyright, pytest-main

Update sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/peer.py
Due: basedpyright, pytest-python-sdk

chore: v1.3.0
  docs/changelog/compatibility-guide.mdx
  docs/v2/documentation/core-concepts/configuration.mdx
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/python/uv.lock
  sdks/typescript/CHANGELOG.md
  sdks/typescript/package.json
Due: biome-check, typescript-check

Update sdks/typescript/package.json
  sdks/typescript/package.json
Due: biome-check, typescript-check

expose core client in TS and Python SDKs (#150)
  sdks/python/src/honcho/async_client/client.py
  sdks/python/src/honcho/client.py
  sdks/typescript/package.json
  sdks/typescript/src/client.ts
  src/crud/session.py
  src/deriver/enqueue.py
  tests/integration/test_enqueue.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

chore: formatting
  sdks/typescript/package.json
  sdks/typescript/src/client.ts
  tests/integration/test_enqueue.py
Due: biome-check, basedpyright, pytest-main, typescript-check, typescript-typecheck

fix: unique constraint
  migrations/versions/88b0fb10906f_add_webhooks_table.py
Due: none

refactor: queue to use outerjoin and remove skip locked; also fix publish queue.empty
  src/deriver/queue_manager.py
Due: basedpyright, pytest-main

chore: revert undesired changes to v1 spec, clean up docs, coderabbit
  docs/v1/openapi.json
  docs/v2/contributing/self-hosting.mdx
  docs/v2/documentation/core-concepts/configuration.mdx
  sdks/typescript/src/client.ts
  src/routers/sessions.py
  src/utils/search.py
Due: biome-check, basedpyright, pytest-main, typescript-check, typescript-typecheck

feat: better search docs, fix worker.ts
  docs/changelog/introduction.mdx
  docs/v2/documentation/core-concepts/architecture.mdx
  docs/v2/documentation/core-concepts/search.mdx
  docs/v2/guides/search.mdx
  mcp/worker.ts
Due: none

fix: correctly make ts params optional in cases, update docs
  docs/v1/openapi.json
  docs/v2/documentation/core-concepts/configuration.mdx
  docs/v2/guides/dialectic-endpoint.mdx
  docs/v2/guides/discord.mdx
  docs/v2/guides/file-uploads.mdx
  docs/v2/guides/get-context.mdx
  docs/v2/guides/search.mdx
  docs/v2/guides/streaming-response.mdx
  docs/v2/guides/telegram.mdx
  sdks/typescript/__tests__/client.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/examples/get_context.ts
  sdks/typescript/examples/get_representation.ts
  sdks/typescript/examples/search.ts
  sdks/typescript/package-lock.json
  sdks/typescript/src/client.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
Due: biome-check, typescript-check, typescript-typecheck

chore: coderabbit
  docs/changelog/introduction.mdx
  docs/v2/documentation/core-concepts/configuration.mdx
  src/utils/search.py
Due: basedpyright, pytest-main

chore: remove spurious package-lock
  sdks/typescript/package-lock.json
Due: biome-check, typescript-check

Vineeth/dev 1027 (#177)
  src/deriver/deriver.py
  tests/conftest.py
  tests/crud/test_session.py
  tests/deriver/README.md
  tests/deriver/__init__.py
  tests/deriver/conftest.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_queue_operations.py
  tests/deriver/test_queue_processing.py
  tests/routes/test_messages.py
  tests/routes/test_peers.py
  tests/test_llm_mock.py
Due: basedpyright, pytest-main

fix: tests
  tests/crud/test_session.py
  tests/deriver/conftest.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_queue_operations.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

feat: [WIP] introduce peer cards
  src/crud/__init__.py
  src/crud/representation.py
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/utils/embedding_store.py
  src/utils/formatting.py
Due: basedpyright, pytest-main

fix: asyncify examples, use limit properly in search
  docs/v2/documentation/core-concepts/configuration.mdx
  docs/v2/documentation/core-concepts/features.mdx
  docs/v2/documentation/core-concepts/search.mdx
  docs/v2/documentation/introduction/quickstart.mdx
  docs/v2/guides/file-uploads.mdx
  docs/v2/guides/get-context.mdx
  docs/v2/guides/search.mdx
  docs/v2/guides/streaming-response.mdx
  docs/v2/guides/using-filters.mdx
  src/utils/search.py
Due: basedpyright, pytest-main

fix(tests): handle 4 return values in test_get_session_peer_configuration
  tests/crud/test_session.py
Due: basedpyright, pytest-main

fix: migration - make columns non-nullable
  migrations/versions/88b0fb10906f_add_webhooks_table.py
  src/models.py
  tests/routes/test_queue_status.py
Due: basedpyright, pytest-main

fix: Workaround for structured output
  src/deriver/deriver.py
  src/utils/clients.py
Due: basedpyright, pytest-main

feat: webhooks (#168)
  migrations/versions/88b0fb10906f_add_webhooks_table.py
  pyproject.toml
  scripts/generate_jwt_secret.py
  src/config.py
  src/crud/__init__.py
  src/crud/deriver.py
  src/crud/webhook.py
  src/crud/workspace.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/deriver/queue_payload.py
  src/deriver/utils.py
  src/main.py
  src/models.py
  src/routers/webhooks.py
  src/schemas.py
  src/utils/shared_models.py
  src/utils/summarizer.py
  src/webhooks/README.md
  src/webhooks/events.py
  src/webhooks/webhook_delivery.py
  tests/bench/run_tests.py
  tests/deriver/conftest.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_queue_operations.py
  tests/deriver/test_queue_processing.py
  tests/routes/test_queue_status.py
  tests/routes/test_webhooks.py
  uv.lock
Due: basedpyright, pytest-main

chore: add changelog
  CHANGELOG.md
  docs/changelog/introduction.mdx
  pyproject.toml
  uv.lock
Due: none

chore: lockfile
  sdks/python/uv.lock
Due: none

chore: add changelog (#181)
  CHANGELOG.md
  docs/changelog/introduction.mdx
  pyproject.toml
  sdks/python/uv.lock
  uv.lock
Due: none

fix: basedpyright issues
  src/deriver/deriver.py
  src/utils/clients.py
Due: basedpyright, pytest-main

fix: checkpoint
  .gitignore
  src/deriver/deriver.py
  src/dialectic/chat.py
  src/dialectic/utils.py
  src/routers/peers.py
  src/utils/clients.py
  src/utils/summarizer.py
  src/utils/types.py
  tests/routes/test_peers.py
Due: basedpyright, pytest-main

fix(tests): update test_get_peers_with_complex_filter to use plural 'filters' and assert metadata conditions
  tests/routes/test_peers.py
Due: basedpyright, pytest-main

fix(tests): update test_get_peers_with_complex_filter to use plural 'filters' and assert metadata conditions (#182)
  tests/routes/test_peers.py
Due: basedpyright, pytest-main

feat: add support for custom message timestamps in API
  docs/v2/documentation/reference/sdk.mdx
  sdks/typescript/src/validation.ts
  src/crud/message.py
  src/deriver/deriver.py
  src/dialectic/utils.py
  src/routers/keys.py
  src/schemas.py
  src/security.py
  src/utils/embedding_store.py
  src/utils/filter.py
  src/utils/formatting.py
  src/utils/summarizer.py
  src/webhooks/webhook_delivery.py
  tests/routes/test_messages.py
Due: biome-check, basedpyright, pytest-main, typescript-check, typescript-typecheck

feat: add timestamp option to sdks
  pyproject.toml
  sdks/python/examples/pydantic_validation_example.py
  sdks/python/pyproject.toml
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/peer.py
  sdks/python/uv.lock
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/validation.ts
  tests/__init__.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

chore: remove search.mdx
  docs/v2/documentation/core-concepts/search.mdx
Due: none

chore: clean up deriver
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/deriver/queue_payload.py
  src/utils/embedding_store.py
  tests/deriver/README.md
  tests/deriver/conftest.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_queue_processing.py
  tests/test_llm_mock.py
Due: basedpyright, pytest-main

fix: Make deriver use get context internally
  .gitignore
  CLAUDE.md
  src/config.py
  src/deriver/deriver.py
  src/routers/sessions.py
  src/utils/summarizer.py
Due: basedpyright, pytest-main

feat: peer cards working in deriver
  src/config.py
  src/crud/__init__.py
  src/crud/representation.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/utils/clients.py
  src/utils/formatting.py
  src/utils/logging.py
  src/utils/summarizer.py
Due: basedpyright, pytest-main

feat: Add get summaries endpoints
  src/routers/sessions.py
  src/schemas.py
  tests/routes/test_sessions.py
Due: basedpyright, pytest-main

feat: add basic peer_card_bench
  tests/bench/README.md
  tests/bench/peer_card_bench.py
Due: basedpyright, pytest-main

feat: WIP basic SDK implementation blocked until stainless release
  sdks/python/examples/get_summaries.py
  sdks/python/src/honcho/__init__.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/session.py
  sdks/python/src/honcho/session_context.py
  sdks/typescript/examples/get_summaries.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/session_context.ts
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check, typescript-typecheck

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
  typescript-typecheck: any of: ^sdks/typescript/.*\.(ts|tsx)$
