Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

fix(hermes-plugin): port idempotent memory migration
  hermes-plugin-honcho/__init__.py
  hermes-plugin-honcho/client.py
  hermes-plugin-honcho/session.py
  hermes-plugin-honcho/session_migration.py
  hermes-plugin-honcho/tests/conftest.py
  hermes-plugin-honcho/tests/test_migration_ledger.py
  hermes-plugin-honcho/tests/test_migration_provider.py
Due: none

fix(hermes-plugin): preserve migration observation settings
  hermes-plugin-honcho/session_migration.py
  hermes-plugin-honcho/tests/test_migration_compatibility.py
  hermes-plugin-honcho/tests/test_migration_ledger.py
Due: none

fix(db): enable pgvector HNSW iterative scan by default (#1048)
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/db.py
  tests/conftest.py
  tests/test_hnsw_iterative_scan.py
Due: basedpyright, pytest-main

fix(db): warn when hnsw.iterative_scan setup fails; document "off" as the opt-out
  docs/v3/contributing/configuration.mdx
  src/db.py
Due: basedpyright, pytest-main

test(db): assert a pool connection applies hnsw.iterative_scan
  tests/conftest.py
  tests/test_hnsw_iterative_scan.py
Due: basedpyright, pytest-main

fix(db): drop orphan pgvector version helper after #1268
  src/db.py
  tests/test_hnsw_iterative_scan.py
Due: basedpyright, pytest-main

fix(db): isolate HNSW test env; document session-mode for GUC
  docs/v3/contributing/configuration.mdx
  src/config.py
  tests/test_hnsw_iterative_scan.py
Due: basedpyright, pytest-main

feat(honcho): add per-turn observation opt-out
  hermes-plugin-honcho/README.md
  hermes-plugin-honcho/__init__.py
  hermes-plugin-honcho/client.py
  hermes-plugin-honcho/config_schema.py
  hermes-plugin-honcho/session.py
  tests/plugins/test_honcho_observation_opt_out.py
Due: basedpyright, pytest-main

test(honcho): cover successful opt-out SDK batch flush
  tests/plugins/test_honcho_observation_opt_out.py
Due: basedpyright, pytest-main

docs: redesign integrations tab with searchable catalog
  docs/docs.json
  docs/snippets/integrations-catalog.jsx
  docs/v3/guides/overview.mdx
Due: none

docs: flatten integrations sidebar into top-level sections
  docs/docs.json
  docs/v3/guides/overview.mdx
Due: none

fix(deps): bump starlette, python-multipart, anyio, idna in uv.lock (#1266)
  typings/httpx2/__init__.pyi
  uv.lock
Due: none

docs: add brand logos to integrations catalog and sidebar
  docs/snippets/integrations-catalog.jsx
  docs/style.css
  docs/v3/guides/community/agent0.mdx
  docs/v3/guides/community/pi-honcho-memory.mdx
  docs/v3/guides/gmail.mdx
  docs/v3/guides/granola.mdx
  docs/v3/guides/integrations/claude-code.mdx
  docs/v3/guides/integrations/codex.mdx
  docs/v3/guides/integrations/crewai.mdx
  docs/v3/guides/integrations/deepseek-harness.mdx
  docs/v3/guides/integrations/hermes.mdx
  docs/v3/guides/integrations/langgraph.mdx
  docs/v3/guides/integrations/mcp.mdx
  docs/v3/guides/integrations/n8n.mdx
  docs/v3/guides/integrations/openclaw.mdx
  docs/v3/guides/integrations/opencode.mdx
  docs/v3/guides/integrations/paperclip.mdx
  docs/v3/guides/integrations/vercel-ai-sdk.mdx
Due: none

fix(llm): recognize gpt-6 model family for max_completion_tokens (#1233)
  src/llm/backends/openai.py
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

fix(docs): pin the published OpenAPI spec to the hosted API server
  docs/v3/openapi.json
  scripts/generate_openapi.py
Due: basedpyright

fix(embedding): grant the 8192 cap to gemini-embedding-2-preview too
  src/embedding_client.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

fix(api): stop hardcoding the OpenAPI servers list (#1103)
  docs/v3/openapi.json
  scripts/generate_openapi.py
  src/main.py
Due: basedpyright, pytest-main

fix(embedding): raise Gemini max_embedding_tokens cap from 2048 to 8192 (#925)
  src/embedding_client.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

fix(crud): scope clone_session lookups to the workspace
  src/crud/session.py
  tests/crud/test_session.py
Due: basedpyright, pytest-main

fix(hermes-plugin): honor per-session strategy for gateway sessions
  hermes-plugin-honcho/README.md
  hermes-plugin-honcho/client.py
  tests/hermes_plugin_honcho/__init__.py
  tests/hermes_plugin_honcho/test_session_name_gateway.py
Due: basedpyright, pytest-main

fix(hermes-plugin): use the published SDK peer-list method
  hermes-plugin-honcho/session_migration.py
  hermes-plugin-honcho/tests/test_migration_compatibility.py
  hermes-plugin-honcho/tests/test_migration_ledger.py
Due: none

fix(hermes-plugin): bound the auto-recall search_query at the caller
  hermes-plugin-honcho/session_context.py
  hermes-plugin-honcho/tests/conftest.py
  hermes-plugin-honcho/tests/test_recall_query_bound.py
Due: none

fix(hermes-plugin): skip the first-turn dialectic join on api_server chat turns
  hermes-plugin-honcho/__init__.py
  hermes-plugin-honcho/tests/conftest.py
  hermes-plugin-honcho/tests/test_first_turn_dialectic_skip.py
Due: none

feat(hermes-plugin): consume Honcho's capped-out (truncated) dialectic answer signal
  hermes-plugin-honcho/README.md
  hermes-plugin-honcho/__init__.py
  hermes-plugin-honcho/chat_signal.py
  hermes-plugin-honcho/cli.py
  hermes-plugin-honcho/client.py
  hermes-plugin-honcho/config_schema.py
  hermes-plugin-honcho/session.py
  hermes-plugin-honcho/session_context.py
  hermes-plugin-honcho/tests/conftest.py
  hermes-plugin-honcho/tests/test_capped_out_signal.py
Due: none

fix(summarizer): honor summary.model_config.max_output_tokens as the per-call cap
  src/utils/summarizer.py
  tests/utils/test_summarizer.py
Due: basedpyright, pytest-main

feat(hermes-plugin): route channels to per-project workspaces
  hermes-plugin-honcho/README.md
  hermes-plugin-honcho/client_cache.py
  hermes-plugin-honcho/session.py
  hermes-plugin-honcho/session_context.py
  hermes-plugin-honcho/session_migration.py
  hermes-plugin-honcho/session_projects.py
  hermes-plugin-honcho/tests/conftest.py
  hermes-plugin-honcho/tests/test_project_workspaces.py
Due: none

docs: remove the $100 free credit amount from the docs and README (DEV-2709)
  README.md
  docs/v2/migrations/from-mem0.mdx
  docs/v3/documentation/introduction/quickstart.mdx
  docs/v3/guides/migrations/mem0.mdx
  docs/v3/migrations/from-mem0.mdx
Due: none

docs: redesign integrations tab with searchable catalog (#1283)
  docs/docs.json
  docs/snippets/integrations-catalog.jsx
  docs/style.css
  docs/v3/guides/community/agent0.mdx
  docs/v3/guides/community/pi-honcho-memory.mdx
  docs/v3/guides/gmail.mdx
  docs/v3/guides/granola.mdx
  docs/v3/guides/integrations/claude-code.mdx
  docs/v3/guides/integrations/codex.mdx
  docs/v3/guides/integrations/crewai.mdx
  docs/v3/guides/integrations/deepseek-harness.mdx
  docs/v3/guides/integrations/hermes.mdx
  docs/v3/guides/integrations/langgraph.mdx
  docs/v3/guides/integrations/mcp.mdx
  docs/v3/guides/integrations/n8n.mdx
  docs/v3/guides/integrations/openclaw.mdx
  docs/v3/guides/integrations/opencode.mdx
  docs/v3/guides/integrations/paperclip.mdx
  docs/v3/guides/integrations/vercel-ai-sdk.mdx
  docs/v3/guides/overview.mdx
Due: none

fix(crud): scope clone_session lookups to the workspace (#1284)
  src/crud/session.py
  tests/crud/test_session.py
Due: basedpyright, pytest-main

fix(security): encode JWT exp as NumericDate so PyJWT validates expiry (#1016) (#1025)
  scripts/generate_jwt.py
  src/routers/keys.py
  src/security.py
  tests/routes/test_keys.py
  tests/test_security.py
Due: basedpyright, pytest-main

feat(config): per-module custom_instructions with shared fallback (DEV-3029)
  docs/v3/documentation/features/advanced/reasoning-configuration.mdx
  docs/v3/openapi.json
  sdks/python/src/honcho/api_types.py
  sdks/typescript/src/validation.ts
  src/deriver/prompts.py
  src/dialectic/chat.py
  src/dialectic/core.py
  src/dialectic/prompts.py
  src/dialectic/workspace.py
  src/dreamer/specialists.py
  src/schemas/__init__.py
  src/schemas/configuration.py
  src/utils/config_helpers.py
  src/utils/formatting.py
  src/utils/summarizer.py
  tests/conftest.py
  tests/utils/test_config_helpers.py
  tests/utils/test_custom_instructions_prompts.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

test: give mocked configurations real custom_instructions values
  tests/deriver/test_deriver_processing.py
  tests/test_workspace_chat.py
Due: basedpyright, pytest-main

docs(config): message-level instructions are deriver-only
  docs/v3/documentation/features/advanced/reasoning-configuration.mdx
  docs/v3/openapi.json
  src/schemas/configuration.py
Due: basedpyright, pytest-main

feat(mcp): optional Sentry error reporting for the Worker
  mcp/.dev.vars.example
  mcp/CHANGELOG.md
  mcp/README.md
  mcp/bun.lock
  mcp/package.json
  mcp/src/config.ts
  mcp/src/index.ts
Due: none

fix(mcp): strip request headers and body from Sentry events
  mcp/src/config.test.ts
  mcp/src/config.ts
  mcp/src/index.ts
Due: none

feat(mcp): optional Sentry for the HTTP and stdio hosts
  mcp/CHANGELOG.md
  mcp/README.md
  mcp/bun.lock
  mcp/package.json
  mcp/src/config.ts
  mcp/src/http.ts
  mcp/src/stdio.ts
Due: none

refactor(agent-tools): remove dead DREAMER_TOOLS and unexposed tools
  .env.template
  config.toml.example
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/dialectic/core.py
  src/dialectic/workspace.py
  src/dreamer/specialists.py
  src/telemetry/events/agent.py
  src/utils/agent_tools.py
  tests/llm/test_agent_tool_schemas.py
  tests/test_workspace_chat.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

feat(mcp): optional Sentry error reporting for all hosts (#1304)
  mcp/.dev.vars.example
  mcp/CHANGELOG.md
  mcp/README.md
  mcp/bun.lock
  mcp/package.json
  mcp/src/config.test.ts
  mcp/src/config.ts
  mcp/src/http.ts
  mcp/src/index.ts
  mcp/src/stdio.ts
Due: none

feat(config): per-module custom_instructions with shared fallback (#1303)
  docs/v3/documentation/features/advanced/reasoning-configuration.mdx
  docs/v3/openapi.json
  sdks/python/src/honcho/api_types.py
  sdks/typescript/src/validation.ts
  src/deriver/prompts.py
  src/dialectic/chat.py
  src/dialectic/core.py
  src/dialectic/prompts.py
  src/dialectic/workspace.py
  src/dreamer/specialists.py
  src/schemas/__init__.py
  src/schemas/configuration.py
  src/utils/config_helpers.py
  src/utils/formatting.py
  src/utils/summarizer.py
  tests/conftest.py
  tests/deriver/test_deriver_processing.py
  tests/test_workspace_chat.py
  tests/utils/test_config_helpers.py
  tests/utils/test_custom_instructions_prompts.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

feat(telemetry): record custom instructions in CloudEvents and Langfuse (DEV-3033)
  docs/v3/contributing/configuration.mdx
  src/deriver/deriver.py
  src/dialectic/chat.py
  src/dialectic/core.py
  src/dialectic/workspace.py
  src/dreamer/specialists.py
  src/llm/capture.py
  src/llm/types.py
  src/schemas/configuration.py
  src/telemetry/events/agent.py
  src/telemetry/events/dialectic.py
  src/telemetry/events/dream.py
  src/telemetry/events/representation.py
  src/telemetry/events/trace.py
  src/telemetry/langfuse_exporter.py
  src/telemetry/trace_exporter.py
  src/utils/config_helpers.py
  src/utils/summarizer.py
  tests/deriver/test_deriver_processing.py
  tests/telemetry/test_langfuse_exporter.py
  tests/telemetry/test_trace_events.py
  tests/utils/test_config_helpers.py
Due: basedpyright, pytest-main

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
