Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

refactor: switch langfuse spans to imperative handles
  src/llm/api.py
  src/llm/runtime.py
  src/llm/tool_loop.py
  src/llm/types.py
  tests/llm/test_langfuse_trace_annotation.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

refactor(llm): share provider_params passthrough merge + validate shapes
  docs/v3/contributing/configuration.mdx
  src/llm/backends/anthropic.py
  src/llm/backends/gemini.py
  src/llm/backends/openai.py
  src/llm/request_builder.py
  tests/llm/test_backends/test_anthropic.py
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

fix: scope OpenRouter attribution headers to OpenRouter base URL only
  src/embedding_client.py
  src/llm/registry.py
Due: basedpyright, pytest-main

feat: add OpenAI OAuth device code flow support
  scripts/honcho_oauth_setup.py
  src/config.py
  src/deriver/__main__.py
  src/llm/__init__.py
  src/llm/oauth.py
  src/llm/registry.py
  src/main.py
  tests/llm/test_oauth.py
Due: basedpyright, pytest-main

fix(oauth-setup): switch to PKCE authorization code flow with loopback redirect
  scripts/honcho_oauth_setup.py
Due: basedpyright

fix(oauth-setup): delegate to Codex CLI for auth, read stored token
  scripts/honcho_oauth_setup.py
Due: basedpyright

fix: OAuth client ignores LLM_OPENAI_BASE_URL to avoid proxy URL bleed
  src/llm/registry.py
Due: basedpyright, pytest-main

feat(deriver): age-flush stalled representation batches
  .env.template
  CHANGELOG.md
  config.toml.example
  docs/v3/contributing/configuration.mdx
  docs/v3/contributing/troubleshooting.mdx
  docs/v3/documentation/core-concepts/design-patterns.mdx
  docs/v3/guides/recipes/unified-memory-setup.mdx
  src/config.py
  src/deriver/queue_manager.py
  tests/deriver/test_queue_processing.py
  tests/test_config.py
Due: basedpyright, pytest-main

fix: override _bearer_auth for openai SDK >= 2.x compatibility
  src/llm/oauth.py
  tests/llm/test_oauth.py
Due: basedpyright, pytest-main

fix: explicitly set base_url in OAuth client to prevent env var bleed
  src/llm/registry.py
Due: basedpyright, pytest-main

feat: add Responses API backend and self-contained device code setup
  scripts/honcho_oauth_setup.py
  src/config.py
  src/llm/backends/openai_responses.py
  src/llm/registry.py
Due: basedpyright, pytest-main

fix: flatten json_schema format for Responses API structured output
  src/llm/backends/openai_responses.py
Due: basedpyright, pytest-main

fix: add additionalProperties: false recursively for Responses API strict schema
  src/llm/backends/openai_responses.py
Due: basedpyright, pytest-main

fix: add all property keys to required for Responses API strict schema
  src/llm/backends/openai_responses.py
Due: basedpyright, pytest-main

feat(api-rs): port agent_system_prompt (dialectic system prompt builder)
  api-rs/src/dialectic.rs
  api-rs/src/dialectic_prompt_body.txt
  api-rs/tests/fixtures/dialectic_prompts.json
Due: none

feat(api-rs): port dialectic session-history + user-content builders
  api-rs/src/dialectic.rs
Due: none

feat(api-rs): port Representation type + format_as_markdown
  api-rs/src/lib.rs
  api-rs/src/representation.rs
Due: none

feat(api-rs): port Representation::from_documents (documents -> observations)
  api-rs/src/representation.rs
Due: none

feat(api-rs): port Representation/observation __str__ + str_with_ids
  api-rs/src/representation.rs
Due: none

feat(api-rs): port query_documents_full (search_memory data layer)
  api-rs/src/db.rs
  api-rs/tests/db.rs
Due: none

feat(api-rs): wire search_memory dialectic tool handler
  api-rs/src/dialectic.rs
Due: none

feat(api-rs): port HonchoLLMCallResponse + completion->response converters
  api-rs/src/llm/mod.rs
  api-rs/src/llm/types.rs
Due: none

feat(api-rs): port effective_config_for_call (+ ModelConfig.thinking_effort)
  api-rs/src/llm/mod.rs
  api-rs/src/llm/runtime.rs
Due: none

feat(api-rs): port execute_completion provider dispatch (anthropic/openai)
  api-rs/src/llm/executor.rs
  api-rs/src/llm/mod.rs
Due: none

feat(api-rs): port honcho_llm_call_inner (single backend call -> response)
  api-rs/src/llm/executor.rs
Due: none

feat(api-rs): port AttemptPlan + plan_attempt (per-attempt selection)
  api-rs/src/llm/runtime.rs
Due: none

feat(api-rs): port resolve_credentials (+ ModelConfig api_key/base_url)
  api-rs/src/llm/credentials.rs
  api-rs/src/llm/mod.rs
Due: none

refactor(api-rs): make ToolLoopCaller::complete fallible
  api-rs/src/llm/tool_loop.rs
Due: none

feat(api-rs): port HonchoCaller (provider-backed ToolLoopCaller w/ retry)
  api-rs/src/llm/executor.rs
Due: none

feat(api-rs): port query_documents_by_levels (dialectic prefetch search)
  api-rs/src/db.rs
  api-rs/tests/db.rs
Due: none

feat(api-rs): port session-history message query (token-limited)
  api-rs/src/db.rs
  api-rs/tests/db.rs
Due: none

feat(api-rs): port dialectic reasoning-level config (defaults)
  api-rs/src/dialectic_config.rs
  api-rs/src/lib.rs
Due: none

feat(api-rs): port dialectic observation prefetch (search + format)
  api-rs/src/dialectic.rs
Due: none

feat(api-rs): port OpenAiEmbedder (production Embedder impl)
  api-rs/src/dialectic.rs
Due: none

feat(api-rs): port DialecticAgent::answer (agentic chat assembly)
  api-rs/src/dialectic_agent.rs
  api-rs/src/lib.rs
  api-rs/tests/db.rs
Due: none

feat(api-rs): wire dialectic /chat route (non-streaming)
  api-rs/src/app.rs
  api-rs/src/config.rs
  api-rs/src/error.rs
  api-rs/src/main.rs
  api-rs/tests/http.rs
Due: none

fix(router): address CodeRabbit review on queue purge endpoint
  src/routers/queue.py
Due: basedpyright, pytest-main

test(routes): cover queue purge endpoint
  tests/routes/test_queue_purge.py
Due: basedpyright, pytest-main

feat(api-rs): port deriver settings + poll scheduler (worker core)
  api-rs/src/deriver/mod.rs
  api-rs/src/deriver/poll.rs
  api-rs/src/deriver/settings.rs
  api-rs/src/lib.rs
Due: none

feat(api-rs): port batch-config resolution (ResolvedConfiguration::model_validate)
  api-rs/src/producer.rs
Due: none

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
