Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

chore: ruff linting
  src/deriver/prompts.py
Due: basedpyright, pytest-main

feat(api): restore v3 reverse pagination
  docs/v3/openapi.json
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/client.py
  sdks/typescript/src/client.ts
  sdks/typescript/src/types/api.ts
  src/crud/peer.py
  src/crud/session.py
  src/crud/workspace.py
  src/routers/peers.py
  src/routers/sessions.py
  src/routers/workspaces.py
  tests/routes/test_peers.py
  tests/routes/test_sessions.py
  tests/routes/test_workspaces.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

chore: clean AI generated comments references specs
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/dialectic/core.py
  src/dreamer/dream_scheduler.py
  src/dreamer/orchestrator.py
  src/dreamer/specialists.py
  src/embedding_client.py
  src/llm/api.py
  src/llm/executor.py
  src/llm/tool_loop.py
  src/llm/types.py
  src/telemetry/emitter.py
  src/telemetry/events/agent.py
  src/telemetry/events/dream.py
  src/telemetry/events/llm.py
  src/telemetry/events/representation.py
  src/utils/agent_tools.py
  src/utils/queue_payload.py
  src/utils/summarizer.py
  src/utils/types.py
  tests/bench/molecular.py
  tests/bench/oolong_common.py
  tests/deriver/test_queue_processing.py
  tests/dreamer/test_dream_v2_rollups.py
  tests/dreamer/test_dreamer_integration.py
  tests/llm/test_telemetry_agent_iteration.py
  tests/llm/test_telemetry_agent_tool_call.py
  tests/llm/test_telemetry_llm_call.py
  tests/scripts/test_configure_embeddings.py
  tests/startup/test_embedding_validator.py
  tests/telemetry/conftest.py
  tests/telemetry/test_embedding_call_event.py
  tests/telemetry/test_emitter.py
  tests/telemetry/test_events.py
  tests/telemetry/test_representation_v2_fields.py
  tests/telemetry/test_summary_v2_fields.py
  tests/test_models_vector_dim.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

docs: add reverse pagination docstrings
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/client.py
  src/crud/peer.py
  src/crud/session.py
  src/crud/workspace.py
  src/routers/peers.py
  src/routers/sessions.py
  src/routers/workspaces.py
  tests/routes/test_peers.py
  tests/routes/test_sessions.py
  tests/routes/test_workspaces.py
Due: basedpyright, pytest-main, pytest-python-sdk

fix: address coderabbit changes
  src/llm/executor.py
  src/routers/messages.py
  src/utils/agent_tools.py
  src/vector_store/turbopuffer.py
  tests/llm/test_telemetry_agent_tool_call.py
Due: basedpyright, pytest-main

docs: document session reverse parameter
  src/crud/session.py
Due: basedpyright, pytest-main

fix: reframe peer card prompts as stable identity markers
  src/dreamer/specialists.py
  src/utils/agent_tools.py
  tests/dreamer/test_model_config_usage.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

fix: add fallback column for ties
  src/crud/peer.py
  src/crud/session.py
  src/crud/workspace.py
Due: basedpyright, pytest-main

fix(rust-sdk): enhance API correctness, response handling, and test resilience (#9)
  sdks/rust/.gitignore
  sdks/rust/clippy.toml
  sdks/rust/rustfmt.toml
  sdks/rust/src/http/client.rs
  sdks/rust/src/peer.rs
  sdks/rust/src/types/peer.rs
  sdks/rust/tests/integration/lifecycle.rs
  sdks/rust/tests/integration/streaming.rs
  sdks/rust/tests/integration/upload.rs
Due: none

feat(api): add deduplication support to conclusions endpoint
  src/crud/document.py
  src/routers/conclusions.py
  src/schemas/api.py
Due: basedpyright, pytest-main

test(api): add tests for conclusions deduplication
  tests/routes/test_conclusions_dedup.py
Due: basedpyright, pytest-main

docs(changelog): record deduplication feature
  CHANGELOG.md
Due: none

test: clarify dedup semantics to avoid CodeRabbit review comment
  tests/routes/test_conclusions_dedup.py
Due: basedpyright, pytest-main

feat(rust-sdk): implement true streaming uploads and enhance API robustness
  sdks/rust/src/blocking/iter.rs
  sdks/rust/src/blocking/runtime.rs
  sdks/rust/src/blocking/session.rs
  sdks/rust/src/client.rs
  sdks/rust/src/conclusion.rs
  sdks/rust/src/types/pagination.rs
Due: none

fix(telemetry): address remaining PR review findings
  src/config.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/embedding_client.py
  src/llm/executor.py
  src/llm/tool_loop.py
  src/routers/messages.py
  src/telemetry/emitter.py
  src/telemetry/events/api.py
  src/telemetry/events/llm.py
  src/utils/types.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_queue_processing.py
  tests/llm/test_telemetry_agent_iteration.py
  tests/llm/test_telemetry_llm_call.py
  tests/telemetry/conftest.py
  tests/telemetry/test_embedding_call_event.py
  tests/telemetry/test_events.py
Due: basedpyright, pytest-main

refactor: tighten reverse query typing
  src/routers/peers.py
  src/routers/sessions.py
  src/routers/workspaces.py
Due: basedpyright, pytest-main

fix(docker): gate deriver startup on api healthcheck
  docker-compose.yml.example
Due: none

fix: make embedding batch size configurable
  .env.template
  config.toml.example
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/embedding_client.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

fix: embedding resilience - save docs without embeddings on API failure
  src/crud/document.py
  src/crud/representation.py
  src/embedding_client.py
  src/schemas/internal.py
Due: basedpyright, pytest-main

feat(config): make CORS allowed origins configurable via env
  .env.template
  src/config.py
  src/main.py
Due: basedpyright, pytest-main

docs(config): add docstring to CORSSettings
  src/config.py
Due: basedpyright, pytest-main

address review: narrow embedding except + guard partial batch
  src/crud/representation.py
Due: basedpyright, pytest-main

fix: zo computer skill
  examples/zo/DISPLAY.json
  examples/zo/README.md
  examples/zo/SKILL.md
  examples/zo/pyproject.toml
  examples/zo/scripts/memory.py
  examples/zo/tests/test_basic.py
  examples/zo/tests/test_tools.py
  examples/zo/tools/__init__.py
  examples/zo/tools/client.py
  examples/zo/tools/get_context.py
  examples/zo/tools/query_memory.py
  examples/zo/tools/save_memory.py
  examples/zo/uv.lock
Due: none

fix: (crewai) update crew ai package and examples for latest protocol (#631)
  docs/v3/guides/integrations/crewai.mdx
  examples/crewai/python/README.md
  examples/crewai/python/examples/hybrid_memory_example.py
  examples/crewai/python/examples/interactive_chat.py
  examples/crewai/python/examples/simple_example.py
  examples/crewai/python/examples/tools_example.py
  examples/crewai/python/pyproject.toml
  examples/crewai/python/src/honcho_crewai/__init__.py
  examples/crewai/python/src/honcho_crewai/storage.py
  examples/crewai/python/src/honcho_crewai/tools.py
  examples/crewai/python/tests/test_basic.py
  examples/crewai/python/tests/test_storage.py
  examples/crewai/python/tests/test_tools.py
  examples/crewai/python/uv.lock
Due: none

fix(telemetry): stream retry, embed attempts, truncation, dedup
  src/embedding_client.py
  src/llm/executor.py
  src/llm/tool_loop.py
  src/llm/types.py
  src/telemetry/events/api.py
  src/telemetry/events/base.py
  src/utils/agent_tools.py
  tests/llm/test_telemetry_agent_tool_call.py
  tests/llm/test_telemetry_llm_call.py
  tests/llm/test_tool_loop_truncation.py
  tests/telemetry/test_embedding_call_event.py
  tests/telemetry/test_events.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

fix(telemetry): address audit findings across LLM/embed/event paths
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/dialectic/core.py
  src/dreamer/specialists.py
  src/embedding_client.py
  src/llm/api.py
  src/llm/tool_loop.py
  src/llm/types.py
  src/reconciler/sync_vectors.py
  src/routers/conclusions.py
  src/routers/sessions.py
  src/telemetry/events/dialectic.py
  src/telemetry/events/dream.py
  src/telemetry/events/llm.py
  src/utils/agent_tools.py
  src/utils/search.py
  src/utils/types.py
  tests/llm/test_telemetry_llm_call.py
  tests/llm/test_tool_loop_truncation.py
  tests/telemetry/test_events.py
  tests/telemetry/test_representation_v2_fields.py
Due: basedpyright, pytest-main

fix(docker): gate deriver startup on api healthcheck (#689)
  docker-compose.yml.example
Due: none

fix(telemetry): address audit findings across LLM/embed/event paths
  src/deriver/consumer.py
  src/deriver/queue_manager.py
  src/dreamer/specialists.py
  src/reconciler/sync_vectors.py
  tests/deriver/test_queue_processing.py
  tests/deriver/test_vector_reconciliation.py
  tests/llm/test_telemetry_llm_call.py
  tests/telemetry/test_events.py
Due: basedpyright, pytest-main

feat(rust-sdk): enhance HTTP robustness and API correctness
  sdks/rust/src/blocking/client.rs
  sdks/rust/src/blocking/session.rs
  sdks/rust/src/client.rs
  sdks/rust/src/http/client.rs
  sdks/rust/src/session.rs
  sdks/rust/src/upload.rs
  sdks/rust/tests/client_metadata.rs
Due: none

fix(telemetry): orchestrator emit + review feedback
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/dreamer/dream_scheduler.py
  src/dreamer/orchestrator.py
  src/dreamer/specialists.py
  src/reconciler/sync_vectors.py
  src/routers/workspaces.py
  src/telemetry/events/api.py
  src/telemetry/events/dream.py
  src/telemetry/events/representation.py
  src/utils/agent_tools.py
  src/utils/queue_payload.py
  tests/bench/runner_common.py
  tests/deriver/test_vector_reconciliation.py
  tests/dreamer/test_dream_v2_rollups.py
  tests/dreamer/test_dreamer_integration.py
  tests/telemetry/conftest.py
  tests/telemetry/test_events.py
  tests/telemetry/test_representation_v2_fields.py
Due: basedpyright, pytest-main

fix: audit fixes across 31 files — bugs, safety, API improvements (#12)
  .gitignore
  sdks/rust/src/blocking/client.rs
  sdks/rust/src/blocking/conclusion.rs
  sdks/rust/src/blocking/iter.rs
  sdks/rust/src/blocking/peer.rs
  sdks/rust/src/blocking/session.rs
  sdks/rust/src/client.rs
  sdks/rust/src/conclusion.rs
  sdks/rust/src/dialectic_stream.rs
  sdks/rust/src/error.rs
  sdks/rust/src/http/client.rs
  sdks/rust/src/http/decode.rs
  sdks/rust/src/http/routes.rs
  sdks/rust/src/lib.rs
  sdks/rust/src/message.rs
  sdks/rust/src/peer.rs
  sdks/rust/src/session.rs
  sdks/rust/src/types/conclusion.rs
  sdks/rust/src/types/dream.rs
  sdks/rust/src/types/message.rs
  sdks/rust/src/types/session.rs
  sdks/rust/src/upload.rs
  sdks/rust/tests/blocking_smoke.rs
  sdks/rust/tests/dialectic_dream_types.rs
Due: none

fix: keep generated memory output in English
  .gitignore
  src/deriver/prompts.py
  src/dialectic/prompts.py
  src/utils/summarizer.py
Due: basedpyright, pytest-main

feat(deriver): add stale batch timeout to prevent indefinite queue stall
  src/config.py
  src/deriver/queue_manager.py
Due: basedpyright, pytest-main

fix: remove strict parameter validation for thinking on anthropic and openai transports
  src/llm/backends/anthropic.py
  src/llm/backends/openai.py
  tests/llm/test_backends/test_anthropic.py
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

fix(telemetry): correctness + attribution + emitter robustness
  src/crud/message.py
  src/crud/representation.py
  src/deriver/deriver.py
  src/dreamer/specialists.py
  src/embedding_client.py
  src/routers/peers.py
  src/routers/sessions.py
  src/telemetry/emitter.py
  src/telemetry/events/llm.py
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

feat: defer embedding messages
  src/crud/message.py
  src/embedding_client.py
  src/reconciler/sync_vectors.py
  src/telemetry/prometheus/metrics.py
  tests/conftest.py
  tests/deriver/test_vector_reconciliation.py
  tests/integration/test_message_embeddings.py
  tests/llm/test_embedding_client.py
  tests/startup/test_embedding_validator.py
Due: basedpyright, pytest-main

fix(telemetry): tool cancellation emit, nanoid run_ids, version unification
  src/_version.py
  src/config.py
  src/dialectic/core.py
  src/dreamer/orchestrator.py
  src/dreamer/specialists.py
  src/main.py
  src/telemetry/emitter.py
  src/telemetry/events/agent.py
  src/telemetry/events/base.py
  src/telemetry/events/dialectic.py
  src/telemetry/events/dream.py
  src/utils/agent_tools.py
  tests/llm/test_telemetry_llm_call.py
  tests/telemetry/test_emitter.py
  tests/telemetry/test_events.py
  tests/telemetry/test_summary_v2_fields.py
Due: basedpyright, pytest-main

fix: rm gauges
  src/reconciler/sync_vectors.py
  src/telemetry/prometheus/metrics.py
Due: basedpyright, pytest-main

chore: pre-commit styling
  src/routers/peers.py
  src/routers/sessions.py
  src/routers/workspaces.py
Due: basedpyright, pytest-main

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
