Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  # Basic file checks (run on all files)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
        files: \.(py|js|ts)$
      - id: mixed-line-ending
        args: ['--fix=lf']
      # Additional checks from suggestions
      - id: check-docstring-first
        files: \.py$
      - id: check-executables-have-shebangs
      - id: check-case-conflict

  # Python code formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter - only on Python directories
      - id: ruff
        args: [--fix]
        files: ^(src/|tests/|scripts/|migrations/|sdks/python/).*\.py$
      # Formatter - only on Python directories
      - id: ruff-format
        files: ^(src/|tests/|scripts/|migrations/|sdks/python/).*\.py$

  # Security checks - only on main src code (not tests/scripts)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ['-r']
        files: ^(src/|sdks/python/src/).*\.py$

  # Local hooks using your uv environment
  - repo: local
    hooks:
      # TypeScript linting with biome
      - id: biome-check
        name: biome check and format
        entry: bash -c 'cd sdks/typescript && bun run lint:fix'
        language: system
        files: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
        pass_filenames: false

      # Type checking with basedpyright - only on main Python code
      - id: basedpyright
        name: basedpyright
        entry: uv run basedpyright
        language: system
        files: ^(src/|tests/|sdks/python/|scripts/).*\.py$
        require_serial: true
        pass_filenames: false

      # Run main application tests
      - id: pytest-main
        name: pytest (main app)
        entry: uv run pytest tests/
        language: system
        files: ^(src/|tests/).*\.py$
        stages: [pre-push]
        pass_filenames: false

      # Run Python SDK tests (if they exist)
      - id: pytest-python-sdk
        name: pytest (Python SDK)
        entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
        language: system
        files: ^sdks/python/.*\.py$
        stages: [pre-push]
        pass_filenames: false

      # TypeScript build/test with bun
      - id: typescript-check
        name: TypeScript build and test
        entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
        language: system
        files: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
        stages: [pre-push]
        pass_filenames: false

      # TypeScript type checking with bun
      - id: typescript-typecheck
        name: TypeScript type check
        entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run typecheck; fi'
        language: system
        files: ^sdks/typescript/.*\.(ts|tsx)$
        pass_filenames: false

  # Documentation linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: ['--fix']
        files: \.(md|mdx)$

  # Commit message linting
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.13.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

chore: coderabbit
  src/utils/formatting.py
  tests/test_datetime_parsing.py
Due: basedpyright, pytest-main

fix: refactor datetime handling in security and utility modules (#188)
  src/deriver/deriver.py
  src/security.py
  src/utils/filter.py
  src/utils/formatting.py
  src/utils/shared_models.py
  tests/test_datetime_parsing.py
Due: basedpyright, pytest-main

feat: enhance critical analysis functionality by adding peer_id parameter
  src/deriver/deriver.py
  src/deriver/prompts.py
  tests/test_llm_mock.py
Due: basedpyright, pytest-main

fix: Code Rabbit Suggestions
  CHANGELOG.md
  docs/changelog/introduction.mdx
  src/crud/message.py
  src/utils/embedding_store.py
Due: basedpyright, pytest-main

feat: enhance critical analysis functionality by adding peer_id parameter (#191)
  src/deriver/deriver.py
  src/deriver/prompts.py
  tests/test_llm_mock.py
Due: basedpyright, pytest-main

refactor: update history parameter to be optional in critical analysis and representation functions
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/utils/logging.py
Due: basedpyright, pytest-main

fix: Code Rabbit Suggestions
  src/utils/embedding_store.py
Due: basedpyright, pytest-main

2.3.0 Release & N+1 Query Optimization (#190)
  CHANGELOG.md
  docs/changelog/introduction.mdx
  sdks/python/CHANGELOG.md
  sdks/typescript/CHANGELOG.md
  src/crud/__init__.py
  src/crud/message.py
  src/deriver/enqueue.py
  src/utils/embedding_store.py
  tests/integration/test_enqueue.py
Due: basedpyright, pytest-main

fix: get context cutoff to be exclusive
  CHANGELOG.md
  docs/changelog/introduction.mdx
  src/crud/message.py
Due: basedpyright, pytest-main

fix: get context cutoff to be exclusive (#193)
  CHANGELOG.md
  docs/changelog/introduction.mdx
  src/crud/message.py
Due: basedpyright, pytest-main

refactor: scope tracked_db usage within process_representation_task
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/utils/summarizer.py
Due: basedpyright, pytest-main

fix: clean up method
  src/deriver/consumer.py
Due: basedpyright, pytest-main

fix: load collection name
  src/deriver/deriver.py
Due: basedpyright, pytest-main

refactor: scope tracked_db usage within process_representation_task (#194)
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/utils/summarizer.py
Due: basedpyright, pytest-main

updated platform page
  docs/images/app-screenshots/api-keys.png
  docs/images/app-screenshots/api-playground.png
  docs/images/app-screenshots/chat-endpoint.png
  docs/images/app-screenshots/create-message.png
  docs/images/app-screenshots/create-workspace.png
  docs/images/app-screenshots/explore-honcho.png
  docs/images/app-screenshots/get-context.png
  docs/images/app-screenshots/get-started-copy.png
  docs/images/app-screenshots/no-subscription-status.png
  docs/images/app-screenshots/peer-utilities.png
  docs/images/app-screenshots/performance-analytics.png
  docs/images/app-screenshots/session-dash.png
  docs/images/app-screenshots/status-page.png
  docs/images/app-screenshots/upgrade-honcho.png
  docs/images/app-screenshots/webhooks-create.png
  docs/images/app-screenshots/webhooks-page.png
  docs/images/app-screenshots/workspace-dash.png
  docs/images/old-groudon-screenshots/api-keys.png
  docs/images/old-groudon-screenshots/api-playground.png
  docs/images/old-groudon-screenshots/create-message.png
  docs/images/old-groudon-screenshots/create-workspace.png
  docs/images/old-groudon-screenshots/explore-honcho.png
  docs/images/old-groudon-screenshots/get-started-copy.png
  docs/images/old-groudon-screenshots/no-subscription-status.png
  docs/images/old-groudon-screenshots/peer-utilities.png
  docs/images/old-groudon-screenshots/performance-analytics.png
  docs/images/old-groudon-screenshots/session-dash.png
  docs/images/old-groudon-screenshots/welcome-to-honcho.png
  docs/images/old-groudon-screenshots/workspace-dash.png
  docs/pnpm-lock.yaml
  docs/v2/documentation/reference/platform.mdx
Due: none

fix: add shadow .env file for compose file
  pyproject.toml
  tests/bench/harness.py
Due: basedpyright, pytest-main

fix: update explore page screenshots
  docs/images/app-screenshots/api-keys.png
  docs/images/app-screenshots/api-playground.png
  docs/images/app-screenshots/chat-endpoint.png
  docs/images/app-screenshots/create-message.png
  docs/images/app-screenshots/create-workspace.png
  docs/images/app-screenshots/explore-honcho.png
  docs/images/app-screenshots/get-context.png
  docs/images/app-screenshots/get-started-copy.png
  docs/images/app-screenshots/members-dashboard.png
  docs/images/app-screenshots/no-subscription-status.png
  docs/images/app-screenshots/peer-dash.png
  docs/images/app-screenshots/peer-utilities.png
  docs/images/app-screenshots/performance-analytics.png
  docs/images/app-screenshots/session-dash.png
  docs/images/app-screenshots/session-utilities.png
  docs/images/app-screenshots/status-page.png
  docs/images/app-screenshots/webhooks-page.png
  docs/images/app-screenshots/workspace-dash.png
  docs/v2/documentation/reference/platform.mdx
Due: none

fix: empty object to init client
  docs/v2/documentation/core-concepts/architecture.mdx
  docs/v2/documentation/introduction/overview.mdx
  docs/v2/documentation/introduction/quickstart.mdx
  docs/v2/documentation/introduction/vibecoding.mdx
  docs/v2/documentation/reference/sdk.mdx
  docs/v2/guides/dialectic-endpoint.mdx
  docs/v2/guides/overview.mdx
  docs/v2/guides/streaming-response.mdx
Due: none

fix: add async operations to ts code
  docs/v2/documentation/introduction/quickstart.mdx
  docs/v2/documentation/reference/sdk.mdx
  docs/v2/guides/get-context.mdx
  docs/v2/guides/working-rep.mdx
Due: none

add: output structure for sessionContext, messages, and workingrep in docs
  docs/scratch.md
  docs/v2/documentation/reference/sdk.mdx
  docs/v2/guides/search.mdx
  docs/v2/guides/working-rep.mdx
Due: none

Delete docs/scratch.md
  docs/scratch.md
Due: none

fix: review comments
  docs/images/old-groudon-screenshots/api-keys.png
  docs/images/old-groudon-screenshots/api-playground.png
  docs/images/old-groudon-screenshots/create-message.png
  docs/images/old-groudon-screenshots/create-workspace.png
  docs/images/old-groudon-screenshots/explore-honcho.png
  docs/images/old-groudon-screenshots/get-started-copy.png
  docs/images/old-groudon-screenshots/no-subscription-status.png
  docs/images/old-groudon-screenshots/peer-utilities.png
  docs/images/old-groudon-screenshots/performance-analytics.png
  docs/images/old-groudon-screenshots/session-dash.png
  docs/images/old-groudon-screenshots/welcome-to-honcho.png
  docs/images/old-groudon-screenshots/workspace-dash.png
  docs/scratch.md
  docs/v2/documentation/introduction/quickstart.mdx
  docs/v2/documentation/reference/sdk.mdx
  docs/v2/guides/working-rep.mdx
Due: none

fix: delete the 212 version from changelog
  docs/changelog/compatibility-guide.mdx
Due: none

feat: add set_message_metadata and delete_session functionality to SDKs
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/session.py
  sdks/typescript/src/session.ts
  sdks/typescript/src/validation.ts
  src/crud/message.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

fix: tests, changelogs, version
  docs/changelog/introduction.mdx
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/typescript/CHANGELOG.md
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/package.json
  tests/sdk/test_session.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, typescript-check, typescript-typecheck

fix: remove uv.lock changes
  uv.lock
Due: none

refactor: expose message.public_id for summary
  src/deriver/consumer.py
  src/deriver/queue_payload.py
  src/routers/messages.py
  src/schemas.py
  src/utils/summarizer.py
  tests/deriver/conftest.py
Due: basedpyright, pytest-main

platform docs w/ new ui screenshots (#195)
  docs/changelog/compatibility-guide.mdx
  docs/images/app-screenshots/api-keys.png
  docs/images/app-screenshots/api-playground.png
  docs/images/app-screenshots/chat-endpoint.png
  docs/images/app-screenshots/create-message.png
  docs/images/app-screenshots/create-workspace.png
  docs/images/app-screenshots/explore-honcho.png
  docs/images/app-screenshots/get-context.png
  docs/images/app-screenshots/get-started-copy.png
  docs/images/app-screenshots/members-dashboard.png
  docs/images/app-screenshots/no-subscription-status.png
  docs/images/app-screenshots/peer-dash.png
  docs/images/app-screenshots/peer-utilities.png
  docs/images/app-screenshots/performance-analytics.png
  docs/images/app-screenshots/session-dash.png
  docs/images/app-screenshots/session-utilities.png
  docs/images/app-screenshots/status-page.png
  docs/images/app-screenshots/upgrade-honcho.png
  docs/images/app-screenshots/webhooks-create.png
  docs/images/app-screenshots/webhooks-page.png
  docs/images/app-screenshots/workspace-dash.png
  docs/pnpm-lock.yaml
  docs/v2/documentation/core-concepts/architecture.mdx
  docs/v2/documentation/introduction/overview.mdx
  docs/v2/documentation/introduction/quickstart.mdx
  docs/v2/documentation/introduction/vibecoding.mdx
  docs/v2/documentation/reference/platform.mdx
  docs/v2/documentation/reference/sdk.mdx
  docs/v2/guides/dialectic-endpoint.mdx
  docs/v2/guides/get-context.mdx
  docs/v2/guides/overview.mdx
  docs/v2/guides/search.mdx
  docs/v2/guides/streaming-response.mdx
  docs/v2/guides/working-rep.mdx
Due: none

Apply stashed changes and resolve conflicts
  .gitignore
  docs/v2/documentation/introduction/quickstart.mdx
  docs/v2/documentation/introduction/vibecoding.mdx
  docs/v2/documentation/reference/platform.mdx
  docs/v2/guides/search.mdx
Due: none

docs quickfix (#198)
  .gitignore
  docs/v2/documentation/introduction/quickstart.mdx
  docs/v2/documentation/introduction/vibecoding.mdx
  docs/v2/documentation/reference/platform.mdx
  docs/v2/guides/search.mdx
Due: none

add system prompt injection into dialectic
  src/dialectic/prompts.py
Due: basedpyright, pytest-main

type fix
  src/dialectic/prompts.py
Due: basedpyright, pytest-main

expose system injection in web api
  src/dialectic/chat.py
  src/dialectic/prompts.py
Due: basedpyright, pytest-main

rest api default fix
  src/dialectic/chat.py
Due: basedpyright, pytest-main

rest api default fix
  src/dialectic/prompts.py
Due: basedpyright, pytest-main

Initial Draft
  README.md
  assets/honcho.svg
  docs/v2/documentation/core-concepts/architecture.mdx
  docs/v2/documentation/introduction/overview.mdx
Due: none

Split up code block
  README.md
Due: none

Clean up code
  README.md
Due: none

Add retrieval use cases
  README.md
Due: none

fix: Code Rabbit Suggestions
  README.md
  docs/v2/documentation/core-concepts/architecture.mdx
  docs/v2/documentation/introduction/overview.mdx
Due: none
