Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run typecheck; fi'
  language: system
  pass_filenames: false

fix: Populates new features pages
  docs/docs.json
  docs/v2/documentation/core-concepts/features.mdx
  docs/v2/documentation/core-concepts/features/local-vs-global.mdx
  docs/v2/documentation/core-concepts/features/queue-status.mdx
  docs/v2/documentation/core-concepts/features/storing-data.mdx
Due: none

fix: isolate test runs and implement all migration tests
  migrations/versions/08894082221a_replace_collection_name_with_observer_.py
  migrations/versions/556a16564f50_add_user_id_and_app_id_to_tables.py
  migrations/versions/88b0fb10906f_add_webhooks_table.py
  migrations/versions/d429de0e5338_adopt_peer_paradigm.py
  tests/alembic/conftest.py
  tests/alembic/constants.py
  tests/alembic/registry.py
  tests/alembic/revisions/test_05486ce795d5_make_session_name_required_on_messages.py
  tests/alembic/revisions/test_08894082221a_replace_collection_name_with_observer_.py
  tests/alembic/revisions/test_20f89a421aff_rename_metamessage_type_to_label.py
  tests/alembic/revisions/test_556a16564f50_add_user_id_and_app_id_to_tables.py
  tests/alembic/revisions/test_564ba40505c5_add_session_name_column_to_documents.py
  tests/alembic/revisions/test_66e63cf2cf77_add_indexes_to_documents_table.py
  tests/alembic/revisions/test_76ffba56fe8c_add_error_field_to_queueitem.py
  tests/alembic/revisions/test_88b0fb10906f_add_webhooks_table.py
  tests/alembic/revisions/test_917195d9b5e9_add_messageembedding_table.py
  tests/alembic/revisions/test_a1b2c3d4e5f6_initial_schema.py
  tests/alembic/revisions/test_b765d82110bd_change_metamessages_to_user_level_with_.py
  tests/alembic/revisions/test_c3828084f472_add_indexes_for_messages_and_.py
  tests/alembic/revisions/test_d429de0e5338_adopt_peer_paradigm.py
  tests/alembic/test_pipeline.py
  tests/alembic/verifier.py
Due: basedpyright, pytest-main

test: parametrize
  tests/alembic/test_pipeline.py
Due: basedpyright, pytest-main

fix: CR comments
  migrations/versions/08894082221a_replace_collection_name_with_observer_.py
  tests/alembic/revisions/test_a1b2c3d4e5f6_initial_schema.py
  tests/alembic/revisions/test_d429de0e5338_adopt_peer_paradigm.py
  tests/alembic/test_pipeline.py
Due: basedpyright, pytest-main

fix: Add README
  tests/alembic/README.md
Due: none

feat: batch large operations in recent migrations
  migrations/versions/05486ce795d5_make_session_name_required_on_messages.py
  migrations/versions/08894082221a_replace_collection_name_with_observer_.py
  migrations/versions/564ba40505c5_add_session_name_column_to_documents.py
Due: none

fix: batch downgrade
  migrations/versions/08894082221a_replace_collection_name_with_observer_.py
Due: none

fix: CodeRabbit comments
  migrations/versions/05486ce795d5_make_session_name_required_on_messages.py
  migrations/versions/08894082221a_replace_collection_name_with_observer_.py
  migrations/versions/564ba40505c5_add_session_name_column_to_documents.py
Due: none

fix: delete user-created collections and documents
  migrations/versions/08894082221a_replace_collection_name_with_observer_.py
Due: none

fix: guard against infinite loop for internal_metadata.session_name is null
  migrations/versions/564ba40505c5_add_session_name_column_to_documents.py
Due: none

Revert "feat: local trace making for deriver"
  src/deriver/deriver.py
  src/utils/clients.py
  src/utils/metrics_collector.py
  tests/bench/longmem.py
Due: basedpyright, pytest-main

Revert back to original trace code
  src/deriver/deriver.py
  src/utils/clients.py
  src/utils/metrics_collector.py
  tests/bench/longmem.py
Due: basedpyright, pytest-main

use docker compose over docker-compose
  tests/bench/harness.py
Due: basedpyright, pytest-main

feat: implex conv benchmark v0 implementation
  tests/bench/implex_conv.py
  tests/bench/test_implex_conv.py
Due: basedpyright, pytest-main

fix: clean up client
  src/cache/client.py
  src/config.py
Due: basedpyright, pytest-main

fix: cache key class; workspace LRU; constants -> utils
  .gitignore
  src/cache/__init__.py
  src/cache/client.py
  src/cache/constants.py
  src/cache/model_cache.py
  src/cache/utils.py
  src/crud/peer.py
  src/crud/session.py
  src/crud/workspace.py
  tests/conftest.py
Due: basedpyright, pytest-main

fix: CodeRabbit comments
  src/cache/model_cache.py
  src/cache/utils.py
  src/crud/peer.py
  src/crud/session.py
  src/crud/workspace.py
  tests/conftest.py
Due: basedpyright, pytest-main

fix: add idempotency guards
  migrations/versions/08894082221a_replace_collection_name_with_observer_.py
  migrations/versions/564ba40505c5_add_session_name_column_to_documents.py
Due: none

feat: batch large operations in recent migrations (#242)
  migrations/versions/05486ce795d5_make_session_name_required_on_messages.py
  migrations/versions/08894082221a_replace_collection_name_with_observer_.py
  migrations/versions/564ba40505c5_add_session_name_column_to_documents.py
Due: none

feat: add precommit hook for validating alembic
  .pre-commit-config.yaml
  scripts/ensure_alembic_tests.py
Due: basedpyright

fix: add assistant prompt
  tests/bench/implex_conv.py
  tests/bench/test_implex_conv.py
Due: basedpyright, pytest-main

fix: rm pytest-alembic package
  pyproject.toml
  tests/alembic/conftest.py
  tests/alembic/test_pipeline.py
  uv.lock
Due: basedpyright, pytest-main

test: create bulk resources to test migration batching
  tests/alembic/README.md
  tests/alembic/revisions/test_08894082221a_replace_collection_name_with_observer_.py
  tests/alembic/revisions/test_564ba40505c5_add_session_name_column_to_documents.py
  tests/alembic/revisions/test_76ffba56fe8c_add_error_field_to_queueitem.py
  tests/alembic/revisions/test_88b0fb10906f_add_webhooks_table.py
Due: basedpyright, pytest-main

fix: add latest test
  pyproject.toml
  scripts/ensure_alembic_tests.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_bb6fb3a7a643_add_message_seq_in_session_column.py
  tests/alembic/scaffold.py
Due: basedpyright, pytest-main

Update trace generation code
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/utils/metrics_collector.py
  src/utils/representation.py
  tests/bench/longmem.py
  tests/bench/tracer.py
Due: basedpyright, pytest-main

feat: add redis to harness
  tests/bench/harness.py
Due: basedpyright, pytest-main

fix: tests to handle non-standard schema
  migrations/versions/917195d9b5e9_add_messageembedding_table.py
  migrations/versions/a1b2c3d4e5f6_initial_schema.py
  migrations/versions/d429de0e5338_adopt_peer_paradigm.py
  tests/conftest.py
  tests/sdk/test_pagination.py
Due: basedpyright, pytest-main

chore: Code Rabbit nits
  scripts/ensure_alembic_tests.py
  scripts/generate_jwt_secret.py
  scripts/generate_message_embeddings.py
  tests/alembic/README.md
  tests/alembic/conftest.py
Due: basedpyright, pytest-main

fix: use cashews
  pyproject.toml
  src/cache/__init__.py
  src/cache/client.py
  src/cache/model_cache.py
  src/crud/peer.py
  src/crud/peer_card.py
  src/crud/session.py
  src/crud/workspace.py
  tests/conftest.py
  uv.lock
Due: basedpyright, pytest-main

Reimplement core tracer for explicit derivations
  pyproject.toml
  src/config.py
  src/deriver/deriver.py
  src/utils/metrics_collector.py
  tests/bench/tracer.py
  uv.lock
Due: basedpyright, pytest-main

fix: add locking for cache stampedes
  src/cache/client.py
  src/config.py
  src/crud/peer.py
  src/crud/session.py
  src/crud/workspace.py
Due: basedpyright, pytest-main

fix: clean up PR
  .cursor/commands/metrics.md
  .env.template
  config.toml.example
  pyproject.toml
  src/cache/__init__.py
  src/cache/client.py
  src/cache/utils.py
  uv.lock
Due: basedpyright, pytest-main

f: unify cache key templates and stop caching None
  src/cache/__init__.py
  src/crud/peer.py
  src/crud/session.py
  src/crud/workspace.py
Due: basedpyright, pytest-main

fix: alter prefixes + prime cache on get_or_create()
  src/config.py
  src/crud/peer.py
  src/crud/session.py
  src/crud/workspace.py
Due: basedpyright, pytest-main

fix: CR comments 1
  .pre-commit-config.yaml
  tests/alembic/conftest.py
  tests/alembic/revisions/test_d429de0e5338_adopt_peer_paradigm.py
  tests/alembic/scaffold.py
  tests/alembic/test_pipeline.py
Due: basedpyright, pytest-main

fix: re-add fakeredis
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: basedpyright, pytest-main

chore: Code Rabbit nits
  README.md
  docs/v2/contributing/configuration.mdx
  pyproject.toml
  src/config.py
  src/crud/peer.py
  tests/bench/harness.py
  tests/conftest.py
  uv.lock
Due: basedpyright, pytest-main

CR comments; make client more resilient
  pyproject.toml
  src/cache/__init__.py
  src/cache/client.py
  tests/bench/harness.py
  tests/conftest.py
  uv.lock
Due: basedpyright, pytest-main

fix: BPR
  tests/bench/harness.py
  tests/conftest.py
Due: basedpyright, pytest-main

feat: introduce alembic migration verification (#238)
  .pre-commit-config.yaml
  migrations/versions/08894082221a_replace_collection_name_with_observer_.py
  migrations/versions/556a16564f50_add_user_id_and_app_id_to_tables.py
  migrations/versions/88b0fb10906f_add_webhooks_table.py
  migrations/versions/917195d9b5e9_add_messageembedding_table.py
  migrations/versions/a1b2c3d4e5f6_initial_schema.py
  migrations/versions/d429de0e5338_adopt_peer_paradigm.py
  pyproject.toml
  scripts/ensure_alembic_tests.py
  scripts/generate_jwt_secret.py
  scripts/generate_message_embeddings.py
  src/models.py
  tests/alembic/README.md
  tests/alembic/__init__.py
  tests/alembic/conftest.py
  tests/alembic/registry.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_05486ce795d5_make_session_name_required_on_messages.py
  tests/alembic/revisions/test_08894082221a_replace_collection_name_with_observer_.py
  tests/alembic/revisions/test_20f89a421aff_rename_metamessage_type_to_label.py
  tests/alembic/revisions/test_556a16564f50_add_user_id_and_app_id_to_tables.py
  tests/alembic/revisions/test_564ba40505c5_add_session_name_column_to_documents.py
  tests/alembic/revisions/test_66e63cf2cf77_add_indexes_to_documents_table.py
  tests/alembic/revisions/test_76ffba56fe8c_add_error_field_to_queueitem.py
  tests/alembic/revisions/test_88b0fb10906f_add_webhooks_table.py
  tests/alembic/revisions/test_917195d9b5e9_add_messageembedding_table.py
  tests/alembic/revisions/test_a1b2c3d4e5f6_initial_schema.py
  tests/alembic/revisions/test_b765d82110bd_change_metamessages_to_user_level_with_.py
  tests/alembic/revisions/test_bb6fb3a7a643_add_message_seq_in_session_column.py
  tests/alembic/revisions/test_c3828084f472_add_indexes_for_messages_and_.py
  tests/alembic/revisions/test_d429de0e5338_adopt_peer_paradigm.py
  tests/alembic/scaffold.py
  tests/alembic/test_pipeline.py
  tests/alembic/verifier.py
  tests/conftest.py
  tests/sdk/test_pagination.py
Due: basedpyright, pytest-main

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
  typescript-typecheck: any of: ^sdks/typescript/.*\.(ts|tsx)$
