Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

chore: update typescript core package
  sdks/typescript/bun.lock
Due: none

chore: update sdk examples
  sdks/python/examples/chat.py
  sdks/python/examples/get_context.py
  sdks/python/examples/multi_user_representations.py
  sdks/python/examples/pydantic_validation_example.py
  sdks/python/examples/search.py
  sdks/typescript/examples/get_context.ts
  sdks/typescript/examples/get_representation.ts
  sdks/typescript/examples/get_summaries.ts
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check

chore: update OpenAPI documentation and SDK examples to reflect changes
  docs/v3/documentation/features/advanced/queue-status.mdx
  docs/v3/documentation/features/advanced/reasoning-configuration.mdx
  docs/v3/documentation/features/advanced/representation-scopes.mdx
  docs/v3/documentation/features/advanced/search.mdx
  docs/v3/documentation/features/advanced/using-filters.mdx
  docs/v3/documentation/features/chat.mdx
  docs/v3/documentation/features/get-context.mdx
  docs/v3/documentation/introduction/quickstart.mdx
  docs/v3/documentation/reference/sdk.mdx
  docs/v3/documentation/scratch/honcho-memory/advanced-retrieval/get-context.mdx
  docs/v3/guides/integrations/langgraph.mdx
  docs/v3/guides/migrations/mem0.mdx
  docs/v3/migrations/from-mem0.mdx
  docs/v3/openapi.json
  sdks/python/src/honcho/__init__.py
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/session.py
  sdks/python/src/honcho/utils/__init__.py
  sdks/python/src/honcho/utils/polling.py
  tests/bench/run_tests.py
  tests/sdk/test_client.py
  tests/sdk/test_session.py
Due: basedpyright, pytest-main, pytest-python-sdk

fix: better test
  tests/routes/test_conclusions.py
Due: basedpyright, pytest-main

(fix) Update client endpoint json format issues for openrouter
  src/config.py
  src/utils/clients.py
Due: basedpyright, pytest-main

chore: Refactor a top-level telemetry folder
  src/crud/representation.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/dialectic/core.py
  src/dreamer/orchestrator.py
  src/dreamer/specialists.py
  src/main.py
  src/routers/messages.py
  src/routers/peers.py
  src/telemetry/__init__.py
  src/telemetry/logging.py
  src/telemetry/metrics_collector.py
  src/telemetry/prometheus.py
  src/telemetry/reasoning_traces.py
  src/telemetry/sentry.py
  src/telemetry/tracing.py
  src/utils/clients.py
  src/utils/summarizer.py
  src/utils/tokens.py
  tests/bench/beam.py
  tests/bench/locomo.py
  tests/bench/longmem.py
  tests/integration/test_token_metrics.py
Due: basedpyright, pytest-main

fix: Add OTEL push based metrics
  .gitignore
  docker-compose.yml.example
  pyproject.toml
  src/config.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/dialectic/core.py
  src/dreamer/specialists.py
  src/main.py
  src/routers/messages.py
  src/routers/peers.py
  src/telemetry/__init__.py
  src/telemetry/otel/__init__.py
  src/telemetry/otel/metrics.py
  src/utils/tokens.py
  uv.lock
Due: basedpyright, pytest-main

chore: cleanup otel to match prometheus implementation
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/dialectic/core.py
  src/dreamer/specialists.py
  src/main.py
  src/routers/messages.py
  src/routers/peers.py
  src/telemetry/otel/metrics.py
  src/utils/tokens.py
Due: basedpyright, pytest-main

fix: Remove prometheus
  pyproject.toml
  src/config.py
  src/deriver/__main__.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/dialectic/core.py
  src/dreamer/specialists.py
  src/main.py
  src/routers/messages.py
  src/routers/peers.py
  src/telemetry/__init__.py
  src/telemetry/prometheus.py
  src/utils/summarizer.py
  src/utils/tokens.py
  tests/integration/test_token_metrics.py
  uv.lock
Due: basedpyright, pytest-main

feat: Scaffold CloudEvent Emitter
  pyproject.toml
  src/config.py
  src/telemetry/__init__.py
  src/telemetry/emitter.py
  src/telemetry/events/__init__.py
  src/telemetry/events/base.py
  src/telemetry/logging.py
  uv.lock
Due: basedpyright, pytest-main

chore: remove dead code
  src/config.py
  src/telemetry/emitter.py
  src/telemetry/events/__init__.py
  src/telemetry/events/base.py
Due: basedpyright, pytest-main

feat: PoC Cloud Events
  src/deriver/__main__.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/dialectic/core.py
  src/dreamer/dreamer.py
  src/dreamer/orchestrator.py
  src/main.py
  src/telemetry/emitter.py
  src/telemetry/events/__init__.py
  src/telemetry/events/types.py
  src/utils/summarizer.py
Due: basedpyright, pytest-main

chore: cleanup test
  tests/integration/test_token_metrics.py
Due: basedpyright, pytest-main

fix: install deps in test runner, improve robustness of streaming in sdk, coderabbit nits
  .github/workflows/unittest.yml
  README.md
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/http/async_client.py
  sdks/python/src/honcho/http/client.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/utils/__init__.py
  sdks/python/src/honcho/utils/sse.py
Due: basedpyright, pytest-python-sdk

fix: Event naming conventions and OTEL Settings
  src/config.py
  src/deriver/consumer.py
  src/dreamer/dreamer.py
  src/telemetry/__init__.py
  src/telemetry/emitter.py
  src/telemetry/events/__init__.py
  src/telemetry/events/deletion.py
  src/telemetry/events/dialectic.py
  src/telemetry/events/dream.py
  src/telemetry/events/reconciliation.py
  src/telemetry/events/representation.py
  src/telemetry/events/types.py
  src/utils/summarizer.py
Due: basedpyright, pytest-main

fix: standardize around camelCase in TS SDK
  docs/v3/documentation/features/advanced/reasoning-configuration.mdx
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/src/client.ts
  sdks/typescript/src/message.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/types/api.ts
  sdks/typescript/src/validation.ts
Due: biome-check, typescript-check

refactor: update configuration handling in SDKs to use typed models for workspace, session, and peer configurations
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/api_types.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/typescript/__tests__/client.test.ts
  sdks/typescript/src/client.ts
  sdks/typescript/src/message.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/types/api.ts
  sdks/typescript/src/validation.ts
  tests/sdk/test_metadata_caching.py
  tests/unified/runner.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

docs: clarify queue status usage and remove polling methods from SDKs
  .claude/skills/migrate-honcho-py/DETAILED-CHANGES.md
  .claude/skills/migrate-honcho-py/MIGRATION-CHECKLIST.md
  .claude/skills/migrate-honcho-py/SKILL.md
  .claude/skills/migrate-honcho-ts/DETAILED-CHANGES.md
  .claude/skills/migrate-honcho-ts/MIGRATION-CHECKLIST.md
  .claude/skills/migrate-honcho-ts/SKILL.md
  docs/v3/documentation/features/advanced/queue-status.mdx
  docs/v3/documentation/introduction/quickstart.mdx
  docs/v3/documentation/scratch/honcho-memory/advanced-retrieval/get-context.mdx
  sdks/typescript/src/client.ts
  sdks/typescript/src/session.ts
Due: biome-check, typescript-check

chore: fix links in docs
  docs/v3/documentation/scratch/honcho-memory/advanced-retrieval/get-context.mdx
Due: none

feat: add deriver flush mode to bypass batch token threshold
  src/cache/client.py
  src/deriver/queue_manager.py
  tests/unified/runner.py
  tests/unified/schema.py
  tests/unified/test_cases/config_deriver_hierarchy.json
  tests/unified/test_cases/config_message_positive_override.json
  tests/unified/test_cases/config_peercard_control.json
  tests/unified/test_cases/config_summary_control.json
  tests/unified/test_cases/config_summary_control_deriver_off.json
  tests/unified/test_cases/dream_consolidate_reduces_documents.json
  tests/unified/test_cases/longmem_ancash.json
  tests/unified/test_cases/longmem_ancash_directional.json
  tests/unified/test_cases/longmem_ancash_no_session.json
  tests/unified/test_cases/longmem_giftcard.json
  tests/unified/test_cases/longmem_plank.json
  tests/unified/test_cases/longmem_triple_7161e7e2_single-session-assistant.json
  tests/unified/test_cases/longmem_triple_e47becba_single-session-user.json
  tests/unified/test_cases/longmem_triple_gpt4_59149c77_temporal-reasoning.json
  tests/unified/test_cases/message_deriver_disabled.json
  tests/unified/test_cases/observation_2peer_bidirectional.json
  tests/unified/test_cases/observation_2peer_both_observe_me_false.json
  tests/unified/test_cases/observation_2peer_default.json
  tests/unified/test_cases/observation_2peer_observe_me_false_blocks_observation.json
  tests/unified/test_cases/observation_2peer_observe_me_false_but_can_still_observe_others.json
  tests/unified/test_cases/observation_2peer_unidirectional_alice_observes_bob.json
  tests/unified/test_cases/observation_2peer_unidirectional_bob_observes_alice.json
  tests/unified/test_cases/observation_3peer_all_observe_each_other.json
  tests/unified/test_cases/observation_3peer_circular.json
  tests/unified/test_cases/observation_3peer_multiple_observers_one_observed.json
  tests/unified/test_cases/observation_3peer_one_observer_multiple_observed.json
  tests/unified/test_cases/observation_3peer_selective_observation.json
  tests/unified/test_cases/observation_4peer_complex_matrix.json
  tests/unified/test_cases/observation_asymmetric_visibility.json
  tests/unified/test_cases/observation_isolation_between_sessions.json
  tests/unified/test_cases/session_deriver_disabled.json
  tests/unified/test_cases/workspace_deriver_disabled.json
Due: basedpyright, pytest-main

feat: implement schedule_dream functionality in SDKs, use in unified test runner
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/http/routes.py
  sdks/typescript/src/client.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/utils.ts
  tests/unified/runner.py
  tests/unified/test_cases/observation_3peer_multiple_observers_one_observed.json
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

fix: use separate db tx for create and save summary
  src/utils/summarizer.py
  tests/integration/test_token_metrics.py
Due: basedpyright, pytest-main

feat: update single deriver task to support multiple observers
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/utils/queue_payload.py
  src/utils/work_unit.py
  tests/deriver/conftest.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_queue_processing.py
  tests/integration/test_token_metrics.py
Due: basedpyright, pytest-main

refactor: update enqueue tests to support deduplication of queue items with multiple observers
  tests/integration/test_enqueue.py
Due: basedpyright, pytest-main

fix: Revamped Dream Event Structure
  src/deriver/deriver.py
  src/dialectic/core.py
  src/dreamer/dreamer.py
  src/dreamer/orchestrator.py
  src/telemetry/events/__init__.py
  src/telemetry/events/agent.py
  src/telemetry/events/dialectic.py
  src/telemetry/events/dream.py
  src/telemetry/events/representation.py
  src/utils/summarizer.py
Due: basedpyright, pytest-main

fix: Instrument Event Code
  src/crud/__init__.py
  src/crud/workspace.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/dialectic/core.py
  src/dreamer/orchestrator.py
  src/dreamer/specialists.py
  src/routers/workspaces.py
  src/telemetry/events/__init__.py
  src/telemetry/events/agent.py
  src/telemetry/events/deletion.py
  src/telemetry/events/dialectic.py
  src/telemetry/events/reconciliation.py
  src/telemetry/events/representation.py
  src/utils/agent_tools.py
  src/utils/clients.py
  src/utils/summarizer.py
  src/utils/types.py
  tests/crud/test_workspace.py
  tests/deriver/test_queue_processing.py
  tests/integration/test_token_metrics.py
Due: basedpyright, pytest-main

fix: Add Tests for CloudEvent Telemetry
  .env.template
  README.md
  config.toml.example
  src/config.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/dialectic/core.py
  src/dreamer/__init__.py
  src/dreamer/dreamer.py
  src/dreamer/orchestrator.py
  src/dreamer/specialists.py
  src/telemetry/emitter.py
  src/telemetry/otel/__init__.py
  src/telemetry/otel/metrics.py
  src/telemetry/prometheus.py
  src/telemetry/sentry.py
  src/telemetry/tracing.py
  src/utils/clients.py
  src/utils/summarizer.py
  src/utils/tokens.py
  tests/bench/run_tests.py
  tests/conftest.py
  tests/integration/test_telemetry.py
  tests/integration/test_token_metrics.py
  tests/telemetry/__init__.py
  tests/telemetry/conftest.py
  tests/telemetry/test_emit_function.py
  tests/telemetry/test_emitter.py
  tests/telemetry/test_events.py
Due: basedpyright, pytest-main

fix: add backwards compatibility for representation work unit keys and payload observers
  src/deriver/queue_manager.py
  src/utils/work_unit.py
  tests/deriver/test_deriver_processing.py
Due: basedpyright, pytest-main

fix: Code Rabbit Nits
  docker-compose.yml.example
  src/deriver/__main__.py
  src/dreamer/orchestrator.py
  src/main.py
  src/telemetry/__init__.py
  src/telemetry/events/base.py
  src/telemetry/otel/__init__.py
  src/utils/agent_tools.py
  src/utils/clients.py
  tests/telemetry/test_events.py
Due: basedpyright, pytest-main

fix: use separate db tx for create and save summary (#334)
  src/utils/summarizer.py
  tests/integration/test_token_metrics.py
Due: basedpyright, pytest-main

add: results
  chat_levels_comparison/chat_levels_20260121_140317.json
  chat_levels_comparison/chat_levels_20260121_140317.txt
  chat_levels_comparison/chat_levels_20260121_140949.json
  chat_levels_comparison/chat_levels_20260121_140949.txt
  test_chat_levels.py
Due: none

add: adoption journey
  chat_levels_comparison/chat_levels_20260121_142844.json
  chat_levels_comparison/chat_levels_20260121_142844.txt
Due: none

feat: update dialectic configuration and introduce cost calculator
  .env.template
  config.toml.example
  scripts/dialectic_cost_calculator.py
  src/config.py
  src/dialectic/core.py
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

feat: add reasoning level to chat input in unified test runner
  tests/unified/runner.py
  tests/unified/schema.py
  tests/unified/test_cases/dialectic_reasoning_levels.json
Due: basedpyright, pytest-main

fix: Dedupe Event IDs
  docker-compose.yml.example
  src/config.py
  src/crud/__init__.py
  src/crud/session.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/dialectic/core.py
  src/dreamer/orchestrator.py
  src/dreamer/specialists.py
  src/routers/workspaces.py
  src/telemetry/events/__init__.py
  src/telemetry/events/agent.py
  src/telemetry/events/deletion.py
  src/telemetry/events/dialectic.py
  src/telemetry/events/dream.py
  src/telemetry/events/reconciliation.py
  src/telemetry/events/representation.py
  src/telemetry/logging.py
  src/telemetry/otel/metrics.py
  src/utils/agent_tools.py
  src/utils/summarizer.py
  tests/integration/test_telemetry.py
  tests/telemetry/conftest.py
  tests/telemetry/test_emit_function.py
  tests/telemetry/test_emitter.py
  tests/telemetry/test_events.py
Due: basedpyright, pytest-main

feat: run deriver once for multiple observers (#335)
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/utils/queue_payload.py
  src/utils/work_unit.py
  tests/deriver/conftest.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_queue_processing.py
  tests/integration/test_enqueue.py
  tests/integration/test_token_metrics.py
Due: basedpyright, pytest-main
