Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

feat: add sort_by and sort_order params to session list endpoint
  src/crud/session.py
  src/routers/sessions.py
  src/schemas/api.py
Due: basedpyright, pytest-main

refactor: simplify filter extraction in session list router
  src/routers/sessions.py
Due: basedpyright, pytest-main

test: add unit tests for session list sort parameters
  tests/crud/test_session.py
  tests/routes/test_sessions.py
Due: basedpyright, pytest-main

test: fix flaky timestamps and unused variables in sort tests
  tests/crud/test_session.py
  tests/routes/test_sessions.py
Due: basedpyright, pytest-main

feat(openai): pass dimensions on embeddings; default structured-output to json_object
  src/embedding_client.py
  src/llm/backends/openai.py
Due: basedpyright, pytest-main

feat: add last_message_at sort option for session list
  src/crud/session.py
  src/schemas/api.py
Due: basedpyright, pytest-main

test: add unit tests for last_message_at sort parameter
  tests/crud/test_session.py
  tests/routes/test_sessions.py
Due: basedpyright, pytest-main

fix: nulls_last for last_message_at sort + tests
  src/crud/session.py
  tests/crud/test_session.py
  tests/routes/test_sessions.py
Due: basedpyright, pytest-main

docs: add Google-style docstring for get_sessions params
  src/crud/session.py
Due: basedpyright, pytest-main

feat(llm): add azure_openai transport
  .env.template
  CHANGELOG.md
  config.toml.example
  src/config.py
  src/embedding_client.py
  src/llm/credentials.py
  src/llm/registry.py
  src/llm/runtime.py
  tests/llm/test_azure_openai_routing.py
  tests/llm/test_credentials.py
  tests/llm/test_embedding_client.py
  tests/llm/test_model_config.py
Due: basedpyright, pytest-main

fix(llm): address CodeRabbit review on azure_openai transport
  src/embedding_client.py
  src/llm/registry.py
  tests/llm/test_azure_openai_routing.py
  tests/llm/test_model_config.py
Due: basedpyright, pytest-main

feat: add Entra ID (Azure AD) token auth for azure_openai transport
  .env.template
  CHANGELOG.md
  config.toml.example
  pyproject.toml
  src/config.py
  src/embedding_client.py
  src/llm/registry.py
  tests/llm/test_azure_openai_routing.py
  tests/llm/test_embedding_client.py
  tests/llm/test_model_config.py
  uv.lock
Due: basedpyright, pytest-main

fix(openai): ensure "json" keyword in messages for strict providers (fixes #663)
  src/llm/backends/openai.py
Due: basedpyright, pytest-main

test(unified): add primitives for naturalistic / aggregate test cases
  .gitignore
  tests/unified/README.md
  tests/unified/runner.py
  tests/unified/schema.py
Due: basedpyright, pytest-main

test(unified): add deriver_no_memory_signal naturalistic suite
  tests/unified/scripts/extract_swe_chat_sample.py
  tests/unified/test_cases/data/swe_chat_sample_persona_balanced.json
  tests/unified/test_cases/deriver_no_memory_signal.json
Due: basedpyright, pytest-main

fix: remove unused tests/validation and simplify enable flag for custom instructions
  .env.template
  config.toml.example
  src/config.py
  src/schemas/configuration.py
  tests/test_config.py
  tests/test_schema_validations.py
Due: basedpyright, pytest-main

docs: refresh CLAUDE.md to match current architecture
  CLAUDE.md
Due: none

docs(readme): repositioning pass + staleness fixes (P0-P4 audit)
  README.md
Due: none

fix: dedupe duplicate observations in retrieval output
  src/utils/agent_tools.py
  src/utils/representation.py
  tests/utils/test_representation_retrieval_dedupe.py
Due: basedpyright, pytest-main

chore: harden pnpm supply chain settings
  .github/workflows/pnpm-security.yml
  .github/workflows/unittest.yml
  .node-version
  .nvmrc
  docs/bun.lock
  docs/package.json
  examples/langgraph/typescript/bun.lock
  examples/langgraph/typescript/package.json
  mcp/bun.lock
  mcp/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdks/typescript/bun.lock
  sdks/typescript/package.json
Due: biome-check, typescript-check

test(unified): add deriver_no_memory_signal naturalistic suite
  tests/unified/test_cases/data/swe_chat_sample_persona_balanced.json
  tests/unified/test_cases/deriver_no_memory_signal.json
Due: none

test(unified): add dreamer_no_dedup naturalistic suite
  tests/unified/test_cases/dreamer_no_dedup.json
Due: none

docs(readme): restore "stateful agents" in opening sentence
  README.md
Due: none

docs(readme): drop self-referential "observations" in Conclusions bullet
  README.md
Due: none

docs(CLAUDE.md): rename "observations" -> "conclusions" in agent prose
  CLAUDE.md
Due: none

feat(embedding): add dimensions_mode for OpenAI dimensions= forwarding
  pyproject.toml
  sdks/python/src/honcho/http/async_client.py
  sdks/python/src/honcho/http/client.py
  src/config.py
  src/embedding_client.py
  src/vector_store/lancedb.py
  src/vector_store/turbopuffer.py
  tests/conftest.py
  tests/deriver/test_vector_reconciliation.py
  tests/llm/test_embedding_client.py
  tests/test_datetime_parsing.py
  uv.lock
Due: basedpyright, pytest-main, pytest-python-sdk

test(unified): add misinterpretation_correction_creates_orphan_fact fixture
  tests/unified/test_cases/misinterpretation_correction_creates_orphan_fact.json
Due: none

feat(models): honor EMBEDDING_VECTOR_DIMENSIONS in pgvector columns
  src/models.py
  tests/test_models_vector_dim.py
Due: basedpyright, pytest-main

feat(startup): atomic swap dim-vs-MIGRATED guard for runtime schema validator
  src/config.py
  src/deriver/__main__.py
  src/main.py
  src/startup/__init__.py
  src/startup/embedding_validator.py
  tests/llm/test_model_config.py
  tests/startup/__init__.py
  tests/startup/test_embedding_validator.py
  tests/test_models_vector_dim.py
Due: basedpyright, pytest-main

docs(readme): restore content dropped without audit instruction
  README.md
Due: none

feat(scripts): add configure_embeddings bootstrap CLI
  docs/v3/contributing/configuration.mdx
  scripts/configure_embeddings.py
  src/startup/embedding_validator.py
  tests/scripts/__init__.py
  tests/scripts/test_configure_embeddings.py
Due: basedpyright, pytest-main

Implement pagination, Honcho client, and Peer/Session wrappers (#2)
  sdks/rust/honcho/.serena/.gitignore
  sdks/rust/honcho/.serena/project.yml
  sdks/rust/honcho/Cargo.lock
  sdks/rust/honcho/Cargo.toml
  sdks/rust/honcho/src/client.rs
  sdks/rust/honcho/src/error.rs
  sdks/rust/honcho/src/http/client.rs
  sdks/rust/honcho/src/http/routes.rs
  sdks/rust/honcho/src/lib.rs
  sdks/rust/honcho/src/peer.rs
  sdks/rust/honcho/src/session.rs
  sdks/rust/honcho/src/types/dialectic.rs
  sdks/rust/honcho/src/types/message.rs
  sdks/rust/honcho/src/types/pagination.rs
  sdks/rust/honcho/src/types/session.rs
  sdks/rust/honcho/tests/client_builder.rs
  sdks/rust/honcho/tests/client_ensure_workspace.rs
  sdks/rust/honcho/tests/client_metadata.rs
  sdks/rust/honcho/tests/client_operations.rs
  sdks/rust/honcho/tests/client_paginated.rs
  sdks/rust/honcho/tests/client_peer_session.rs
  sdks/rust/honcho/tests/error_mapping.rs
  sdks/rust/honcho/tests/message_types.rs
  sdks/rust/honcho/tests/pagination.rs
  sdks/rust/honcho/tests/peer_core.rs
  sdks/rust/honcho/tests/peer_methods.rs
  sdks/rust/honcho/tests/session_context.rs
  sdks/rust/honcho/tests/session_core.rs
  sdks/rust/honcho/tests/session_messages.rs
  sdks/rust/honcho/tests/session_methods.rs
Due: none

Implement phases 7-9 features and fixes for rust-sdk (#3)
  sdks/rust/honcho/Cargo.lock
  sdks/rust/honcho/Cargo.toml
  sdks/rust/honcho/examples/conclusions.rs
  sdks/rust/honcho/src/client.rs
  sdks/rust/honcho/src/conclusion.rs
  sdks/rust/honcho/src/dialectic_stream.rs
  sdks/rust/honcho/src/http/client.rs
  sdks/rust/honcho/src/http/mod.rs
  sdks/rust/honcho/src/http/routes.rs
  sdks/rust/honcho/src/http/sse.rs
  sdks/rust/honcho/src/lib.rs
  sdks/rust/honcho/src/message.rs
  sdks/rust/honcho/src/peer.rs
  sdks/rust/honcho/src/session.rs
  sdks/rust/honcho/src/types/message.rs
  sdks/rust/honcho/src/types/session.rs
  sdks/rust/honcho/src/upload.rs
  sdks/rust/honcho/tests/client_operations.rs
  sdks/rust/honcho/tests/compile_assertions.rs
  sdks/rust/honcho/tests/message_types.rs
  sdks/rust/honcho/tests/peer_methods.rs
Due: none

fix(dreamer): reduce peer-card overgeneralization
  src/dreamer/specialists.py
  src/utils/agent_tools.py
  tests/dreamer/test_model_config_usage.py
Due: basedpyright, pytest-main
