Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

fix: read vector dimensions from VECTOR_STORE_DIMENSIONS config
  src/models.py
Due: basedpyright, pytest-main

fix: use configured dimensions in Gemini embedding client and document migration requirement
  src/embedding_client.py
  src/models.py
Due: basedpyright, pytest-main

fix(dreamer): use correct filter syntax for surprisal level query
  src/dreamer/surprisal.py
Due: basedpyright, pytest-main

Replacing MappedColumn[Any] with explicit Mapped[list[float] | None] for embedding fields
  src/models.py
Due: basedpyright, pytest-main

fix(security)(deriver): unauthenticated prometheus metrics server may expo
  src/deriver/__main__.py
Due: basedpyright, pytest-main

feat: add local LM Studio support, Prometheus metrics, Traefik proxy, and Grafana dashboards
  .gitignore
  CLAUDE.md
  Dockerfile
  docker-compose.yml.example
  docker/entrypoint.sh
  docker/grafana-dashboards.yml
  docker/grafana-dashboards/honcho-overview.json
  docker/grafana-dashboards/honcho-queue-health.json
  docker/grafana-datasource.yml
  docker/traefik/dynamic.yml
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/session.py
  src/config.py
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/embedding_client.py
  src/main.py
  src/routers/messages.py
  src/routers/sessions.py
  src/telemetry/prometheus/metrics.py
  tests/sdk/test_session.py
  traces.jsonl
Due: basedpyright, pytest-main, pytest-python-sdk

fix: use configured VECTOR_STORE.DIMENSIONS instead of hardcoded 1536
  src/embedding_client.py
  src/models.py
Due: basedpyright, pytest-main

Add native Ollama embedding support and configurable vector dimensions
  migrations/versions/119a52b73c60_support_external_embeddings.py
  migrations/versions/917195d9b5e9_add_messageembedding_table.py
  migrations/versions/a1b2c3d4e5f6_initial_schema.py
  src/config.py
  src/embedding_client.py
  src/models.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

feat(providers): add AWS Bedrock support for LLM and embeddings
  .env.template
  pyproject.toml
  src/config.py
  src/embedding_client.py
  src/utils/clients.py
  src/utils/types.py
  tests/test_bedrock.py
  uv.lock
Due: basedpyright, pytest-main

Add custom embedding provider and configurable models for openrouter/custom providers
  src/config.py
  src/embedding_client.py
Due: basedpyright, pytest-main

fix: make observer/observed optional in conclusions query endpoint
  src/crud/document.py
  src/routers/conclusions.py
Due: basedpyright, pytest-main

Fix embedding_client.py: remove incorrectly placed initialization code from embed() method
  src/embedding_client.py
Due: basedpyright, pytest-main

chore: add .worktrees/ to .gitignore
  .gitignore
Due: none

feat(examples): add Zo Computer memory skill integration
  examples/zo/README.md
  examples/zo/SKILL.md
  examples/zo/pyproject.toml
  examples/zo/setup.py
  examples/zo/tests/test_basic.py
  examples/zo/tests/test_tools.py
  examples/zo/tools/__init__.py
  examples/zo/tools/get_context.py
  examples/zo/tools/query_memory.py
  examples/zo/tools/save_memory.py
Due: none

feat(examples): add Zo Computer memory skill integration
  examples/zo/README.md
  examples/zo/SKILL.md
  examples/zo/client.py
  examples/zo/pyproject.toml
  examples/zo/tools/get_context.py
  examples/zo/tools/query_memory.py
  examples/zo/tools/save_memory.py
  examples/zo/uv.lock
Due: none

Address PR review feedback: Fix Ollama API key, Gemini dimensions, type hints, shutdown path
  src/embedding_client.py
  src/main.py
  src/models.py
Due: basedpyright, pytest-main

fix(examples): address CodeRabbit review on Zo skill integration
  examples/zo/README.md
  examples/zo/SKILL.md
  examples/zo/tests/test_basic.py
  examples/zo/tests/test_tools.py
  examples/zo/tools/__init__.py
  examples/zo/tools/client.py
  examples/zo/tools/get_context.py
  examples/zo/tools/query_memory.py
  examples/zo/tools/save_memory.py
Due: none

fix(examples): validate HONCHO_API_KEY early in client initialization
  examples/zo/tools/client.py
Due: none

fix(dev): OpenAPI local servers first; skip lancedb on Intel macOS
  pyproject.toml
  src/main.py
  uv.lock
Due: basedpyright, pytest-main

docs: local dev notes for Intel Mac, Swagger, and Postgres port
  CONTRIBUTING.md
  README.md
Due: none

feat(chatbot): add conversational chatbot with Honcho memory
  chatbot.py
Due: none

docs(readme): add chatbot setup and usage instructions
  README.md
Due: none

feat: improve embedding provider support for issue #404
  .env.template
  README.md
  config.toml.example
  src/config.py
  src/embedding_client.py
  tests/test_embedding_client.py
Due: basedpyright, pytest-main

docs: clarify LLM_GEMINI_API_KEY is required for default setup
  .env.template
  README.md
Due: none

docs: add paperclip integration docs design spec
  docs/superpowers/specs/2026-04-06-paperclip-integration-docs-design.md
Due: none

docs: add paperclip integration guide
  docs/v3/guides/integrations/paperclip.mdx
Due: none

docs: wire paperclip guide into navigation
  docs/docs.json
  docs/v3/guides/overview.mdx
Due: none

docs: fix hermes overview link
  docs/v3/guides/overview.mdx
Due: none

docs: clarify paperclip setup defaults
  docs/v3/guides/integrations/paperclip.mdx
Due: none

Refine deriver prompt wording
  src/deriver/prompts.py
Due: basedpyright, pytest-main

Fix prompt cache layout test typing
  tests/utils/test_prompt_cache_layouts.py
Due: basedpyright, pytest-main

Stabilize prompt cache layout tests
  tests/utils/test_prompt_cache_layouts.py
Due: basedpyright, pytest-main

docs: refresh paperclip integration guide
  docs/docs.json
  docs/v3/guides/integrations/paperclip.mdx
Due: none

docs(examples): note cross-peer memory behavior in shared workspaces
  examples/zo/README.md
Due: none

Align custom instruction tests with split deriver prompts
  tests/deriver/test_deriver_processing.py
Due: basedpyright, pytest-main

Implement deriver custom instructions
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/schemas/configuration.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_prompts.py
  tests/utils/test_config_helpers.py
Due: basedpyright, pytest-main

Fix custom instruction test typing
  tests/deriver/test_deriver_processing.py
  tests/utils/test_config_helpers.py
Due: basedpyright, pytest-main

docs: refine paperclip guide structure
  docs/v3/guides/integrations/paperclip.mdx
Due: none

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
