Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run typecheck; fi'
  language: system
  pass_filenames: false

fix: bug fixes
  src/crud/document.py
  src/utils/search.py
  src/vector_store/__init__.py
  src/vector_store/lancedb.py
Due: basedpyright, pytest-main

fix: Resolve linting errors
  sdks/python/examples/chat.py
  sdks/python/examples/file_upload.py
  sdks/python/examples/get_summaries.py
  sdks/python/examples/multi_user_representations.py
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/observations.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  src/schemas.py
  tests/bench/beam.py
  tests/bench/longmem.py
  tests/bench/run_tests.py
  tests/unified/runner.py
Due: basedpyright, pytest-main, pytest-python-sdk

chore: docs nit
  docs/v2/documentation/reference/sdk.mdx
Due: none

Add session cloning to Ergonomic SDKs (#285)
  docs/v2/documentation/reference/platform.mdx
  docs/v2/documentation/reference/sdk.mdx
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/session.py
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/src/session.ts
  src/crud/session.py
  tests/sdk/test_session.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

chore: Code Rabbit Nits
  docs/v2/openapi.json
  sdks/python/src/honcho/observations.py
  sdks/python/src/honcho/types.py
  sdks/typescript/src/observations.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/types.ts
  src/crud/peer.py
  src/embedding_client.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

chore: Code Rabbit Nits
  src/embedding_client.py
Due: basedpyright, pytest-main

chore: update changelogs
  CHANGELOG.md
  docs/changelog/introduction.mdx
  sdks/python/CHANGELOG.md
  sdks/typescript/CHANGELOG.md
Due: none

fix: LanceDB
  .gitignore
  migrations/versions/f1a2b3c4d5e6_add_chunk_index_to_message_embeddings.py
  migrations/versions/f1a2b3c4d5e6_make_embeddings_nullable.py
  src/crud/document.py
  src/vector_store/lancedb.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_f1a2b3c4d5e6_make_embeddings_nullable.py
Due: basedpyright, pytest-main

chore: nits
  CHANGELOG.md
  docs/changelog/introduction.mdx
Due: none

chore: (docs) Changelog Updates (#286)
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/python/src/honcho/__init__.py
  sdks/typescript/CHANGELOG.md
  sdks/typescript/package.json
  uv.lock
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check

feat: add first draft of obex benchmark, fix embedding model, fix locomo methodology
  scripts/generate_message_embeddings.py
  src/config.py
  src/embedding_client.py
  src/utils/representation.py
  tests/bench/.gitignore
  tests/bench/beam_common.py
  tests/bench/locomo.py
  tests/bench/locomo_common.py
  tests/bench/longmem_common.py
  tests/bench/obex.py
  tests/bench/run_tests.py
Due: basedpyright, pytest-main

docs: adding observation endpoint
  docs/v2/migrations/from-mem0.mdx
Due: none

fix: feeling solid on core concepts
  docs/v2/documentation/core-concepts/architecture.mdx
  docs/v2/documentation/core-concepts/representation.mdx
  docs/v2/documentation/introduction/overview.mdx
Due: none

docs: updating migration guide
  docs/v2/guides/migrations/mem0.mdx
Due: none

fix: turbopuffer
  .env.template
  config.toml.example
  src/config.py
  src/crud/document.py
  src/dreamer/dreamer.py
  src/vector_store/__init__.py
  src/vector_store/lancedb.py
  src/vector_store/turbopuffer.py
  tests/crud/test_workspace.py
  tests/integration/test_message_embeddings.py
  tests/integration/test_representation.py
Due: basedpyright, pytest-main

fix: search and add create_observations
  src/crud/document.py
  src/utils/search.py
  tests/conftest.py
  tests/crud/test_document.py
  tests/routes/test_observations.py
Due: basedpyright, pytest-main

fix: use Async clients
  src/dependencies.py
  src/vector_store/__init__.py
  src/vector_store/lancedb.py
  src/vector_store/turbopuffer.py
Due: basedpyright, pytest-main

docs: coderabbit fixes and textual changes.
  docs/v2/migrations/from-mem0.mdx
Due: none

Mem0 -> Honcho migration (#281)
  docs/docs.json
  docs/v2/migrations/from-mem0.mdx
Due: none

docs: minor textual changes
  docs/v2/guides/migrations/mem0.mdx
Due: none

chore: Changelog updates
  docs/changelog/introduction.mdx
  sdks/python/CHANGELOG.md
  sdks/typescript/CHANGELOG.md
Due: none

fix: locomo session-optimized, better logging of cache usage and better cache usage
  src/config.py
  src/deriver/agent/core.py
  src/dialectic/core.py
  src/dreamer/agent.py
  src/utils/clients.py
  src/utils/logging.py
  tests/bench/locomo.py
  tests/bench/locomo_baseline.py
  tests/bench/locomo_common.py
  tests/bench/obex.py
Due: basedpyright, pytest-main

fix: Maintain this binding for pagination
  sdks/typescript/__tests__/integration.test.ts
  sdks/typescript/__tests__/pagination.test.ts
  sdks/typescript/src/pagination.ts
Due: biome-check, typescript-check, typescript-typecheck

fix: search; protect agaainst failed vector create/delete
  migrations/versions/f1a2b3c4d5e6_support_external_embeddings.py
  src/crud/document.py
  src/crud/message.py
  src/crud/session.py
  src/deriver/queue_manager.py
  src/models.py
  src/utils/search.py
  src/vector_store/__init__.py
  src/vector_store/lancedb.py
  src/vector_store/turbopuffer.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_f1a2b3c4d5e6_support_external_embeddings.py
  tests/crud/test_document.py
Due: basedpyright, pytest-main

chore: use openrouter for baselines
  tests/bench/beam_baseline.py
  tests/bench/locomo_baseline.py
  tests/bench/longmem_baseline.py
Due: basedpyright, pytest-main

fix: coderabbit comments
  src/config.py
  src/crud/document.py
  src/crud/message.py
  src/crud/session.py
  tests/alembic/revisions/test_f1a2b3c4d5e6_support_external_embeddings.py
Due: basedpyright, pytest-main

fix: add test for merge migration
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_66e08642ecd6_merge_heads.py
Due: basedpyright, pytest-main

feat: unified tests runner
  .github/workflows/README.md
  .github/workflows/start-fly-runner.yml
  .github/workflows/unified-tests.yml
Due: none

chore: opus-powered cleanup
  .pre-commit-config.yaml
  src/config.py
  src/deriver/agent/core.py
  src/dialectic/core.py
  src/dreamer/agent.py
  src/utils/agent_tools.py
  src/utils/clients.py
Due: basedpyright, pytest-main

fix: various tweaks
  docs/images/alice-bob.png
  docs/v2/documentation/core-concepts/architecture.mdx
  docs/v2/documentation/core-concepts/representation.mdx
  docs/v2/documentation/features/chat.mdx
  docs/v2/documentation/introduction/overview.mdx
Due: none

fix: docker issues
  .github/workflows/unified-tests.yml
Due: none

docs: removing deriver from queue-status
  docs/v2/documentation/features/advanced/queue-status.mdx
Due: none

chore: Create backwards compatabile conclusion and queue endpoints
  src/crud/__init__.py
  src/crud/deriver.py
  src/crud/document.py
  src/main.py
  src/routers/conclusions.py
  src/routers/observations.py
  src/routers/workspaces.py
  src/schemas.py
Due: basedpyright, pytest-main

fix: ensure full openapi compatability
  src/main.py
  src/routers/workspaces.py
  src/schemas.py
Due: basedpyright, pytest-main

fix: attempt fix github token
  .github/workflows/start-fly-runner.yml
  .github/workflows/unified-tests.yml
Due: none

fix: add debugging
  .github/workflows/start-fly-runner.yml
Due: none

fix: use installed uv + python
  .github/workflows/start-fly-runner.yml
  .github/workflows/unified-tests.yml
Due: none

docs: adding clarity to representation and reasoning
  docs/docs.json
  docs/v2/documentation/features/advanced/representation-scopes.mdx
  docs/v2/documentation/features/advanced/toggle-reasoning.mdx
Due: none

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
  typescript-typecheck: any of: ^sdks/typescript/.*\.(ts|tsx)$
