Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

test(bench): narrow silent-loss visibility check to the fail-loud path
  tests/bench/bench_deriver_silent_loss.py
Due: basedpyright, pytest-main

fix: preserve summary custom instruction clears
  src/utils/config_helpers.py
Due: basedpyright, pytest-main

fix: allow message summary configuration overrides
  src/schemas/configuration.py
Due: basedpyright, pytest-main

test: cover summary custom instruction clears
  tests/test_config_helpers.py
Due: basedpyright, pytest-main

fix(embedding): re-verify truncated token count so oversize never reaches provider
  src/embedding_client.py
  tests/bench/bench_embedding_oversize_survival.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

feat: add exact content deduplication in document creation (#861)
  src/crud/document.py
  tests/crud/test_document.py
Due: basedpyright, pytest-main

Abigail/conclusions level filter (#851)
  docs/v3/documentation/features/advanced/using-filters.mdx
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/api_types.py
  sdks/python/src/honcho/conclusions.py
  sdks/typescript/__tests__/conclusions.test.ts
  sdks/typescript/src/conclusions.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/types/api.ts
  src/schemas/api.py
  tests/routes/test_conclusions.py
  tests/sdk/test_conclusions.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

fix(api-rs): authorize JWTs by narrowest scope + session member-read (port #679)
  api-rs/src/app.rs
  api-rs/src/auth.rs
  api-rs/src/db.rs
  api-rs/tests/db.rs
  api-rs/tests/http.rs
Due: none

fix(api-rs): translate canonical tool_choice in OpenAI backend (port #850)
  api-rs/src/llm/backends/openai.rs
Due: none

feat(api-rs): exact-content dedup in document creation (port #861)
  api-rs/src/db.rs
  api-rs/tests/db.rs
Due: none

fix(api-rs): strip display "id:" prefix from model-supplied observation ids (port #795)
  api-rs/src/dialectic.rs
  api-rs/src/dreamer/handlers.rs
Due: none

feat(api-rs): expose conclusion level in response + allow level filter (port #851)
  api-rs/src/db.rs
  api-rs/src/filters.rs
  api-rs/tests/http.rs
Due: none

feat(api-rs): forward provider_params passthroughs across backends (port #821)
  api-rs/src/llm/backends/anthropic.rs
  api-rs/src/llm/backends/gemini.rs
  api-rs/src/llm/backends/openai.rs
  api-rs/src/llm/request_builder.rs
Due: none

feat(api-rs): age-flush stalled representation batches (port #826)
  api-rs/src/db.rs
  api-rs/src/deriver/queue_manager.rs
  api-rs/src/deriver/settings.rs
  api-rs/tests/db.rs
Due: none

feat(api-rs): config-driven structured_output_mode (json_object) (port #820)
  api-rs/src/deriver/deriver.rs
  api-rs/src/llm/backends/openai.rs
  api-rs/src/llm/executor.rs
  api-rs/src/llm/mod.rs
  api-rs/src/llm/request_builder.rs
  api-rs/src/llm/runtime.rs
  api-rs/src/structured_output.rs
Due: none

feat(api-rs): send OpenRouter attribution headers on OpenAI-compatible transport (port #805)
  api-rs/src/llm/backends/openai.rs
Due: none

fix(api-rs): serialize exact-content document dedup
  api-rs/src/db.rs
  api-rs/tests/db.rs
Due: none

fix(api-rs): flatten provider passthrough bodies
  api-rs/src/llm/backends/anthropic.rs
  api-rs/src/llm/backends/gemini.rs
  api-rs/src/llm/backends/openai.rs
  api-rs/src/llm/executor.rs
  api-rs/src/llm/http.rs
Due: none

fix(api-rs): derive structured response format per attempt
  api-rs/src/deriver/deriver.rs
  api-rs/src/llm/executor.rs
Due: none

fix(api-rs): parse provider params env overrides
  api-rs/src/llm/mod.rs
Due: none

chore: changelog updates
  CHANGELOG.md
  docs/changelog/introduction.mdx
Due: none

chore(docs): Add detailed system diagram to docs
  docs/images/honcho-system-diagram.png
  docs/v3/documentation/core-concepts/architecture.mdx
  docs/v3/documentation/core-concepts/reasoning.mdx
Due: none

docs: update docstrings to be less verbose
  .env.template
  src/config.py
  src/deriver/deriver.py
  src/dialectic/core.py
  src/llm/capture.py
  src/llm/executor.py
  src/llm/runtime.py
  src/llm/tool_loop.py
  src/llm/types.py
  src/telemetry/events/agent.py
  src/telemetry/events/trace.py
  src/telemetry/langfuse_exporter.py
  src/telemetry/langfuse_session.py
  src/telemetry/trace_exporter.py
  src/telemetry/trace_session.py
  src/utils/summarizer.py
Due: basedpyright, pytest-main

fix(telemetry): address PR review on captured-stream tracing
  src/embedding_client.py
  src/llm/types.py
  src/telemetry/__init__.py
  src/telemetry/events/__init__.py
  src/telemetry/trace_exporter.py
  src/telemetry/trace_session.py
  tests/telemetry/test_embedding_trace.py
  tests/telemetry/test_emit_function.py
  tests/telemetry/test_trace_events.py
Due: basedpyright, pytest-main

refactor: rename TELEMETRY_TRACE_PAYLOADS to TELEMETRY_TRACE_PAYLOADS_ENABLED
  .env.template
  src/config.py
  src/embedding_client.py
  src/telemetry/events/__init__.py
  src/telemetry/trace_exporter.py
  tests/telemetry/test_embedding_trace.py
  tests/telemetry/test_emit_function.py
  tests/telemetry/test_trace_events.py
Due: basedpyright, pytest-main

fix(telemetry): capture provider tool calls in trace stream
  src/llm/backend.py
  src/llm/capture.py
  src/telemetry/events/trace.py
  src/telemetry/langfuse_exporter.py
  src/telemetry/trace_exporter.py
  tests/llm/test_capture.py
Due: basedpyright, pytest-main

fix(telemetry): type replay tool-call dict for bytes signature
  src/llm/executor.py
Due: basedpyright, pytest-main

chore(docs): SDK Updates
  docs/changelog/introduction.mdx
  docs/v3/api-reference/endpoint/health-check.mdx
  docs/v3/openapi.json
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/typescript/CHANGELOG.md
  sdks/typescript/package.json
Due: biome-check, typescript-check

chore(docs): SDK Updates (#867)
  docs/changelog/introduction.mdx
  docs/v3/api-reference/endpoint/health-check.mdx
  docs/v3/openapi.json
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/typescript/CHANGELOG.md
  sdks/typescript/package.json
Due: biome-check, typescript-check

feat: add ChromaDB vector store backend
  .env.template
  config.toml.example
  docs/v3/contributing/changing-embeddings.mdx
  docs/v3/contributing/configuration.mdx
  pyproject.toml
  src/config.py
  src/startup/embedding_validator.py
  src/vector_store/__init__.py
  src/vector_store/chroma.py
  tests/vector_store/test_chroma.py
  tests/vector_store/test_namespace_dim_probes.py
  uv.lock
Due: basedpyright, pytest-main

test: remove 3 tests
  tests/telemetry/test_cross_agent_trace.py
  tests/telemetry/test_langfuse_exporter.py
Due: basedpyright, pytest-main

fix: redact Redis password from cache connection logs
  src/cache/client.py
Due: basedpyright, pytest-main

fix: Add namespace correlation to sentry monitoring
  src/telemetry/sentry.py
  uv.lock
Due: basedpyright, pytest-main

fix: Add namespace correlation to sentry monitoring (#870)
  src/telemetry/sentry.py
  uv.lock
Due: basedpyright, pytest-main

feat(telemetry): CloudEvents + Langfuse tracing as projections over a captured LLM stream (#845)
  .env.template
  src/config.py
  src/deriver/deriver.py
  src/dialectic/chat.py
  src/dialectic/core.py
  src/dreamer/specialists.py
  src/embedding_client.py
  src/llm/backend.py
  src/llm/capture.py
  src/llm/executor.py
  src/llm/runtime.py
  src/llm/tool_loop.py
  src/llm/types.py
  src/telemetry/__init__.py
  src/telemetry/emitter.py
  src/telemetry/events/__init__.py
  src/telemetry/events/agent.py
  src/telemetry/events/trace.py
  src/telemetry/langfuse_exporter.py
  src/telemetry/langfuse_session.py
  src/telemetry/logging.py
  src/telemetry/trace_exporter.py
  src/telemetry/trace_session.py
  src/utils/agent_tools.py
  src/utils/summarizer.py
  src/utils/types.py
  tests/llm/test_capture.py
  tests/llm/test_langfuse_trace_annotation.py
  tests/llm/test_telemetry_agent_iteration.py
  tests/telemetry/conftest.py
  tests/telemetry/test_cross_agent_trace.py
  tests/telemetry/test_embedding_trace.py
  tests/telemetry/test_emit_function.py
  tests/telemetry/test_events.py
  tests/telemetry/test_langfuse_exporter.py
  tests/telemetry/test_trace_events.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

fix: handle malformed URLs and IPv6 in _redact_cache_url
  src/cache/client.py
  tests/test_cache_redaction.py
Due: basedpyright, pytest-main

test: use real secrets in redaction test fixtures
  tests/test_cache_redaction.py
Due: basedpyright, pytest-main

chore: add Dockerfile and Docker publish CI/CD
  .github/workflows/docker-publish.yml
  Dockerfile
Due: none

chore: trigger CI
  README.md
Due: none
