Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

feat: add HONCHO_CONFIG_DIR env var for cli
  honcho-cli/src/honcho_cli/config.py
  honcho-cli/tests/test_config.py
Due: none

Address review: bound cleanup, always reset context, add real-DB cancel test
  src/dependencies.py
  tests/test_dependencies.py
  uv.lock
Due: basedpyright, pytest-main

Restore uv.lock (unrelated exclude-newer change swept in by git add -A)
  uv.lock
Due: none

fix: correct and normalize dreamer conclusion timestamps
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

ci(CODEOWNERS): introduce CODEOWNERS and gate GHA heavy test runs behind being a CODEOWNER
  .github/CODEOWNERS
  .github/workflows/live-llm-tests.yml
  .github/workflows/unified-tests.yml
Due: none

feat: molecular facts deriver prompt with decontextuality + minimality
  src/deriver/prompts.py
Due: basedpyright, pytest-main

ci(GHA-live-LLM-tests): consolidate common GHA steps
  .github/actions/load-staging-secrets/action.yml
  .github/workflows/live-llm-tests.yml
  .github/workflows/manual-trigger-gate.yml
  .github/workflows/unified-tests.yml
Due: none

test(test_live_openai): fix reasoning level adjustment for gpt-5
  tests/live_llm/test_live_openai.py
Due: basedpyright, pytest-main

test(live-llm-tests): temporary removal of gate to test the workflow
  .github/workflows/live-llm-tests.yml
Due: none

test(live-llm-tests): revert removal of gate
  .github/workflows/live-llm-tests.yml
Due: none

fix: updating documentation
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

CI/CD Workflow file Added
  .github/workflows/push-gcp-registry-prod.yml
  .github/workflows/push-gcp-registry-staging.yml
Due: none

fix: date dreamer conclusions to latest source observation (#890)
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

Updated Tag & SA Key
  .github/workflows/push-gcp-registry-prod.yml
  .github/workflows/push-gcp-registry-staging.yml
Due: none

update input Tag
  .github/workflows/push-gcp-registry-prod.yml
  .github/workflows/push-gcp-registry-staging.yml
Due: none

feat(llm backend): enable combined tool calling + structured output in the LLM backend transport layer (#907)
  .github/CODEOWNERS
  .github/actions/load-staging-secrets/action.yml
  .github/workflows/live-llm-tests.yml
  .github/workflows/manual-trigger-gate.yml
  .github/workflows/unified-tests.yml
  src/llm/backends/anthropic.py
  src/llm/backends/gemini.py
  src/llm/backends/openai.py
  src/llm/structured_output.py
  tests/live_llm/test_live_openai.py
  tests/live_llm/test_live_tools_structured_output.py
  tests/llm/test_backends/test_anthropic.py
  tests/llm/test_backends/test_gemini.py
  tests/llm/test_backends/test_openai.py
  tests/routes/test_messages.py
Due: basedpyright, pytest-main

fix: pass workflow inputs to shell via env to prevent command injection
  .github/workflows/push-gcp-registry-prod.yml
  .github/workflows/push-gcp-registry-staging.yml
Due: none

CI/CD Workflow file Added (#909)
  .github/workflows/push-gcp-registry-prod.yml
  .github/workflows/push-gcp-registry-staging.yml
Due: none

refactor(skills): move skills to canonical top-level skills/ with .claude symlink
  .claude/skills
  skills/honcho-cli/SKILL.md
  skills/honcho-integration/SKILL.md
  skills/honcho-integration/references/bot-frameworks.md
  skills/honcho-integration/references/bot-frameworks/nanobot/client.py
  skills/honcho-integration/references/bot-frameworks/nanobot/honcho_tool.py
  skills/honcho-integration/references/bot-frameworks/nanobot/session.py
  skills/honcho-mcp/SKILL.md
  skills/honcho-memory/SKILL.md
  skills/migrate-honcho-py/DETAILED-CHANGES.md
  skills/migrate-honcho-py/MIGRATION-CHECKLIST.md
  skills/migrate-honcho-py/SKILL.md
  skills/migrate-honcho-ts/DETAILED-CHANGES.md
  skills/migrate-honcho-ts/MIGRATION-CHECKLIST.md
  skills/migrate-honcho-ts/SKILL.md
Due: none

fix: splitting context into references & verifying content is consistent.
  skills/honcho-integration/SKILL.md
  skills/honcho-integration/references/agent-patterns.md
  skills/honcho-integration/references/core-patterns.md
  skills/honcho-mcp/SKILL.md
  skills/honcho-memory/SKILL.md
  skills/migrate-honcho-py/SKILL.md
Due: none

docs: fixing core language
  README.md
  skills/honcho-integration/SKILL.md
  skills/honcho-integration/references/agent-patterns.md
  skills/honcho-integration/references/bot-frameworks.md
  skills/honcho-integration/references/bot-frameworks/nanobot/session.py
  skills/honcho-integration/references/core-patterns.md
  skills/honcho-mcp/SKILL.md
  skills/honcho-memory/SKILL.md
Due: none

fix: language about observe_others
  skills/honcho-integration/SKILL.md
Due: none

chore: adding .agents folder for codex
  .agents/skills
Due: none

Counts documents deduped during representation, exact and semantically similar
  src/crud/__init__.py
  src/crud/document.py
  src/crud/representation.py
  src/deriver/deriver.py
  src/telemetry/events/representation.py
  src/utils/agent_tools.py
  tests/crud/test_document.py
  tests/crud/test_representation_manager.py
  tests/deriver/test_deriver_processing.py
  tests/telemetry/test_representation_v2_fields.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

refactor(cli): address review nits on device-auth PR
  honcho-cli/src/honcho_cli/commands/setup.py
  honcho-cli/src/honcho_cli/config.py
  honcho-cli/tests/test_config.py
  honcho-cli/tests/test_oauth.py
Due: none

feat(structured-output): enable non-recursive schema references
  docs/docs.json
  docs/v3/documentation/features/advanced/structured-outputs.mdx
  docs/v3/documentation/features/chat.mdx
  src/utils/schema_conversion.py
  tests/utils/test_schema_conversion.py
Due: basedpyright, pytest-main

fix: add instructions.md into the mcp server & delete mcp skill in favor of including it in honcho-memory.
  README.md
  docs/v3/documentation/introduction/vibecoding.mdx
  docs/v3/guides/integrations/mcp.mdx
  mcp/instructions.md
  mcp/src/instructions.d.ts
  mcp/src/server.ts
  mcp/wrangler.toml
  skills/honcho-mcp/SKILL.md
  skills/honcho-memory/SKILL.md
Due: none

docs(structured-outputs): clean up new doc
  docs/v3/documentation/features/advanced/structured-outputs.mdx
Due: none

test(structured-output): fix caching refs memory leak, add tests
  src/llm/backends/openai.py
  tests/live_llm/test_live_structured_output_unions.py
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

chore: remove migrate docs (can be found on older versions)
  docs/v3/documentation/introduction/vibecoding.mdx
  skills/migrate-honcho-py/DETAILED-CHANGES.md
  skills/migrate-honcho-py/MIGRATION-CHECKLIST.md
  skills/migrate-honcho-py/SKILL.md
  skills/migrate-honcho-ts/DETAILED-CHANGES.md
  skills/migrate-honcho-ts/MIGRATION-CHECKLIST.md
  skills/migrate-honcho-ts/SKILL.md
Due: none

fix(cli): stop deleting shared apiKey on device login; bind oauth grant to its host
  honcho-cli/src/honcho_cli/commands/setup.py
  honcho-cli/src/honcho_cli/common.py
  honcho-cli/src/honcho_cli/config.py
  honcho-cli/tests/test_common.py
  honcho-cli/tests/test_config.py
Due: none

feat(cli): add device code oauth login for honcho servers (#891)
  honcho-cli/src/honcho_cli/commands/setup.py
  honcho-cli/src/honcho_cli/common.py
  honcho-cli/src/honcho_cli/config.py
  honcho-cli/src/honcho_cli/oauth.py
  honcho-cli/tests/conftest.py
  honcho-cli/tests/test_common.py
  honcho-cli/tests/test_config.py
  honcho-cli/tests/test_oauth.py
Due: none

fix(embedding): configurable tokenizer for non-OpenAI embedding models
  .env.template
  config.toml.example
  docs/v3/contributing/changing-embeddings.mdx
  docs/v3/contributing/configuration.mdx
  pyproject.toml
  src/config.py
  src/embedding_client.py
  tests/llm/test_embedding_client.py
  uv.lock
Due: basedpyright, pytest-main

fix(embedding): pre-warm embedding client at startup
  src/deriver/__main__.py
  src/embedding_client.py
  src/main.py
Due: basedpyright, pytest-main

feat(embedding): optionally truncate oversized embeddings to configured dims
  .env.template
  src/config.py
  src/embedding_client.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

chore: updating cli version 0.1.2
  honcho-cli/CHANGELOG.md
  honcho-cli/pyproject.toml
  honcho-cli/src/honcho_cli/__init__.py
  uv.lock
Due: none

chore: updating cli version 0.1.2 (#921)
  honcho-cli/CHANGELOG.md
  honcho-cli/pyproject.toml
  honcho-cli/src/honcho_cli/__init__.py
  uv.lock
Due: none

Reverts RepresentationCompletedEvent version increment
  src/telemetry/events/representation.py
Due: basedpyright, pytest-main

feat(dialectic): optional structured outputs with limited schema for Dialectic calls (#896)
  .gitignore
  docs/docs.json
  docs/v3/documentation/features/advanced/structured-outputs.mdx
  docs/v3/documentation/features/chat.mdx
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/api_types.py
  sdks/python/src/honcho/peer.py
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/validation.test.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/types/api.ts
  sdks/typescript/src/validation.ts
  src/dialectic/chat.py
  src/dialectic/core.py
  src/llm/backends/openai.py
  src/routers/peers.py
  src/schemas/api.py
  src/utils/schema_conversion.py
  tests/conftest.py
  tests/dialectic/test_structured_output.py
  tests/live_llm/test_live_structured_output_unions.py
  tests/llm/test_backends/test_openai.py
  tests/routes/test_peers.py
  tests/sdk/test_peer.py
  tests/unified/runner.py
  tests/unified/schema.py
  tests/unified/test_cases/dialectic_structured_output.json
  tests/utils/test_schema_conversion.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check
