Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run typecheck; fi'
  language: system
  pass_filenames: false

fix: add test for message seq in session
  tests/alembic/revisions/test_bb6fb3a7a643_add_message_seq_in_session_column.py
Due: basedpyright, pytest-main

fix: add implicit to representation str
  src/utils/representation.py
Due: basedpyright, pytest-main

fix: add refresh, add config to workspace, add refresh function, make fields readonly
  sdks/python/src/honcho/async_client/client.py
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/typescript/src/client.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/validation.ts
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check, typescript-typecheck

fix: search distinct
  src/utils/search.py
Due: basedpyright, pytest-main

fix: merge migrations
  migrations/versions/121203eca967_merge_migration_heads.py
Due: none

fix: merge migrations
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_110bdf470272_rename_deriver_disabled_to_deriver_.py
  tests/alembic/revisions/test_121203eca967_merge_migration_heads.py
Due: basedpyright, pytest-main

Fix postgresql password config to match docker-compose
  .env.template
Due: none

fix: batch deletions, improve comments, limit consolidate dream to 100 docs at a time, auth on observations routes
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/session.py
  sdks/typescript/src/session.ts
  src/crud/__init__.py
  src/crud/document.py
  src/crud/session.py
  src/dreamer/dreamer.py
  src/routers/observations.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

Including more detailed local development setup
  README.md
Due: none

Add trace config path + additional trace parameters
  src/config.py
  src/deriver/deriver.py
  src/utils/logging.py
Due: basedpyright, pytest-main

fix: whitespace
  README.md
Due: none

chore: review
  migrations/versions/110bdf470272_rename_deriver_disabled_to_deriver_.py
  sdks/typescript/src/peer.ts
  src/crud/session.py
  tests/integration/test_enqueue.py
Due: biome-check, basedpyright, pytest-main, typescript-check, typescript-typecheck

chore: add comment about backup to docstring
  src/utils/clients.py
Due: basedpyright, pytest-main

fix: clarifying deriver functionality
  README.md
Due: none

fix: Adding additional clarify the impact of having more derivers.
  README.md
Due: none

chore: coderabbit
  migrations/versions/110bdf470272_rename_deriver_disabled_to_deriver_.py
Due: none

fix: (db) Add standard naming conventions to SQLAlchemy Declarative Base
  database/init.sql
  migrations/env.py
  migrations/utils.py
  migrations/versions/05486ce795d5_make_session_name_required_on_messages.py
  src/db.py
  src/models.py
Due: basedpyright, pytest-main

chore: remove unnecessary relationships
  src/models.py
Due: basedpyright, pytest-main

fix: (tests) handle old migrations being made before conventions were applied
  migrations/versions/20f89a421aff_rename_metamessage_type_to_label.py
  migrations/versions/b765d82110bd_change_metamessages_to_user_level_with_.py
  migrations/versions/b8183c5ffb48_codify_document_level_and_times_derived.py
  tests/alembic/revisions/test_20f89a421aff_rename_metamessage_type_to_label.py
Due: basedpyright, pytest-main

feat: beam benchmark initial commit
  tests/bench/README.md
  tests/bench/beam.py
  tests/bench/harness.py
Due: basedpyright, pytest-main

chore: PR Comments
  README.md
Due: none

Abigail/dev 1242 (#269)
  .env.template
  README.md
Due: none

fix: add test for message seq in session (#268)
  tests/alembic/revisions/test_bb6fb3a7a643_add_message_seq_in_session_column.py
Due: basedpyright, pytest-main

rm: level_valid constraint (#266)
  migrations/versions/29ade7350c19_remove_document_level_valid_constraint.py
  src/models.py
  src/schemas.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_29ade7350c19_remove_document_level_valid_constraint.py
Due: basedpyright, pytest-main

fix: wip migration to standardize naming for constraints
  migrations/versions/baa22cad81e2_standardize_constraint_names.py
Due: none

docs: first pass at langgraph integration example
  docs/docs.json
  docs/images/langgraph.png
  docs/v2/guides/langgraph.mdx
  docs/v2/guides/overview.mdx
Due: none

chore: review
  migrations/versions/110bdf470272_rename_deriver_disabled_to_deriver_.py
  sdks/python/src/honcho/async_client/client.py
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/typescript/src/client.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check, typescript-typecheck

chore: broken comment
  sdks/python/src/honcho/async_client/session.py
Due: basedpyright, pytest-python-sdk

feat: add set peer card route to API
  src/routers/peers.py
  src/schemas.py
Due: basedpyright, pytest-main

docs: regenerated the OpenAI spec
  docs/docs.json
  docs/v2/openapi.documented.yml
  docs/v2/openapi.json
Due: none

feat: add prompt to 'reverse engineer' honcho
  scripts/reverse_engineer_example.py
  src/utils/reverse_engineer.py
Due: basedpyright, pytest-main

Revert "docs: regenerated the OpenAI spec"
  docs/docs.json
  docs/v2/openapi.documented.yml
  docs/v2/openapi.json
Due: none

feat: create advanced configuration parameters with message>session>workspace hierarchy
  src/crud/representation.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/routers/messages.py
  src/schemas.py
  src/utils/config_helpers.py
  src/utils/queue_payload.py
  src/utils/summarizer.py
  tests/deriver/conftest.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_queue_processing.py
  tests/integration/test_enqueue.py
Due: basedpyright, pytest-main

fix (db): Migration wip)
  migrations/utils.py
  migrations/versions/baa22cad81e2_standardize_constraint_names.py
  src/db.py
Due: basedpyright, pytest-main

chore: rebase migration
  migrations/versions/baa22cad81e2_standardize_constraint_names.py
Due: none

fix (db) Add migration tests
  migrations/versions/29ade7350c19_remove_document_level_valid_constraint.py
  migrations/versions/baa22cad81e2_standardize_constraint_names.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_baa22cad81e2_standardize_constraint_names.py
Due: basedpyright, pytest-main

docs: update LangGraph integration guide with improved structure and examples
  docs/v2/guides/langgraph.mdx
Due: none

docs: adding full langgraph_integration.py example in a new examples folder.
  examples/langgraph_integration.py
Due: none

docs: minor cosmetic changes
  docs/v2/guides/langgraph.mdx
Due: none

docs: adding integrations under spellbooks
  docs/docs.json
Due: none

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
  typescript-typecheck: any of: ^sdks/typescript/.*\.(ts|tsx)$
