Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

fix(embedding): request base64 embeddings by omission, not by name
  src/embedding_client.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

fix(deriver): increase deriver polling backoff
  src/config.py
  src/deriver/queue_manager.py
  tests/test_db_resilience.py
Due: basedpyright, pytest-main

fix: updating copy
  mcp/server.json
Due: none

chore: adding server schema (#1012)
  docs/v3/guides/integrations/mcp.mdx
  mcp/server.json
Due: none

fix(embedding): request float encoding_format on openai embedding calls (#938)
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/embedding_client.py
  tests/live_llm/README.md
  tests/live_llm/conftest.py
  tests/live_llm/embedding_matrix.py
  tests/live_llm/test_live_embeddings.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

removes comment
  src/deriver/queue_manager.py
Due: basedpyright, pytest-main

docs: note LanceDB is excluded from the default Docker image
  docs/v3/contributing/configuration.mdx
  docs/v3/contributing/self-hosting.mdx
Due: none

fix(docker): share lancedb volume across compose services, clarify import error
  Dockerfile
  docker-compose.yml.example
  src/vector_store/__init__.py
Due: basedpyright, pytest-main

fix(deriver): truncate oversize observations so one cannot drop the batch
  src/crud/representation.py
  src/embedding_client.py
  tests/conftest.py
  tests/crud/test_representation_manager.py
  tests/live_llm/README.md
  tests/live_llm/test_live_embeddings.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

fix(deriver): surface failure when all observer saves fail
  src/deriver/deriver.py
  src/exceptions.py
  src/telemetry/events/representation.py
  tests/deriver/test_deriver_processing.py
  tests/telemetry/test_representation_v2_fields.py
Due: basedpyright, pytest-main

Removes config changes
  src/config.py
  tests/test_db_resilience.py
Due: basedpyright, pytest-main

Scopes Phase 2a: scope-kind peers, guardrails, and scopes CRUD routes (#884)
  src/crud/__init__.py
  src/crud/document.py
  src/crud/message.py
  src/crud/peer.py
  src/crud/peer_card.py
  src/crud/scope.py
  src/crud/session.py
  src/deriver/enqueue.py
  src/dialectic/chat.py
  src/dreamer/specialists.py
  src/main.py
  src/routers/peers.py
  src/routers/scopes.py
  src/routers/sessions.py
  src/routers/workspaces.py
  src/schemas/__init__.py
  src/schemas/api.py
  src/telemetry/events/trace.py
  src/utils/scopes.py
  tests/crud/test_get_or_create_retry_invalidation.py
  tests/dreamer/test_card_refresh.py
  tests/routes/test_scope_route_policy.py
  tests/routes/test_scopes.py
  tests/test_cache_redaction.py
Due: basedpyright, pytest-main

fix: Address Coderabbit Comments
  src/routers/sessions.py
  src/schemas/api.py
  tests/routes/test_scope_reads.py
  tests/routes/test_sessions.py
Due: basedpyright, pytest-main

chore: simplifying language.
  docs/v3/documentation/features/advanced/using-filters.mdx
Due: none

August Changelog Docs Sync (#1009)
  CHANGELOG.md
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v3/documentation/features/advanced/representation-scopes.mdx
  docs/v3/documentation/features/advanced/using-filters.mdx
  docs/v3/documentation/features/advanced/webhooks.mdx
  docs/v3/documentation/features/chat.mdx
  docs/v3/documentation/reference/platform.mdx
  docs/v3/openapi.json
Due: none

fix: Address more coderabbit comments
  src/dialectic/chat.py
  src/routers/peers.py
  tests/dialectic/test_scope_preflight.py
  tests/routes/test_scope_reads.py
Due: basedpyright, pytest-main

chore: remove ai artifacting
  tests/crud/test_representation_manager.py
  tests/unified/runner.py
Due: basedpyright, pytest-main

fix(embedding): guarantee truncation progress and truncate on re-embed
  src/embedding_client.py
  src/reconciler/sync_vectors.py
  tests/deriver/test_vector_reconciliation.py
Due: basedpyright, pytest-main

fix: remove unused fakeredis client in lieu of in-memory taskless cache for test suite
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: basedpyright, pytest-main

Scopes Phase 2b: `scope` option on chat, representation, context, and search (#897)
  pyproject.toml
  src/crud/__init__.py
  src/crud/scope.py
  src/dialectic/chat.py
  src/routers/peers.py
  src/routers/sessions.py
  src/routers/workspaces.py
  src/schemas/__init__.py
  src/schemas/api.py
  tests/conftest.py
  tests/crud/test_representation_manager.py
  tests/dialectic/test_scope_preflight.py
  tests/routes/test_scope_reads.py
  tests/routes/test_scope_route_policy.py
  tests/routes/test_sessions.py
  tests/unified/README.md
  tests/unified/runner.py
  tests/unified/schema.py
  tests/unified/test_cases/scope_confines_recall.json
  uv.lock
Due: basedpyright, pytest-main

chore: clean up stale docstring language
  tests/deriver/test_scope_backfill.py
Due: basedpyright, pytest-main

fix: reduce Honcho runtime image size (#1014)
  Dockerfile
  docker-compose.yml.example
  docs/v3/contributing/configuration.mdx
  docs/v3/contributing/self-hosting.mdx
  pyproject.toml
  src/vector_store/__init__.py
  uv.lock
Due: basedpyright, pytest-main

perf: lazy-load provider SDKs to cut idle memory per process (#1011)
  src/embedding_client.py
  src/llm/__init__.py
  src/llm/executor.py
  src/llm/registry.py
  src/llm/types.py
  tests/llm/test_embedding_client.py
  tests/llm/test_registry.py
  tests/llm/test_telemetry_llm_call.py
Due: basedpyright, pytest-main

fix(filter): treat a bare null operand as a null check
  docs/v3/documentation/features/advanced/using-filters.mdx
  src/utils/filter.py
  tests/utils/test_filter.py
Due: basedpyright, pytest-main

fix: force LF line endings for shell scripts
  .gitattributes
Due: none

fix(filter): make the filter DSL reject bad input instead of 500ing, and fix negation over unset fields (#947)
  docs/v3/documentation/features/advanced/using-filters.mdx
  src/utils/filter.py
  tests/routes/test_conclusions.py
  tests/test_session_allowlist.py
  tests/utils/test_filter.py
Due: basedpyright, pytest-main

feat: adds workspace headers to MCP calls and adds list/create workspace tools
  docs/v3/guides/integrations/claude-code.mdx
  docs/v3/guides/integrations/mcp.mdx
  mcp/README.md
  mcp/instructions.md
  mcp/server.json
  mcp/src/config.ts
  mcp/src/index.ts
  mcp/src/tools/conclusions.ts
  mcp/src/tools/peers.ts
  mcp/src/tools/sessions.ts
  mcp/src/tools/system.ts
  mcp/src/tools/workspace.ts
  mcp/src/types.ts
  skills/honcho-memory/SKILL.md
Due: none

docs: clean
  docs/v3/guides/integrations/claude-code.mdx
Due: none

chore: drop ticket ids and shrink comments to one sentence
  src/deriver/deriver.py
  src/embedding_client.py
  src/exceptions.py
  src/reconciler/sync_vectors.py
  tests/crud/test_representation_manager.py
  tests/deriver/test_deriver_processing.py
  tests/live_llm/README.md
  tests/live_llm/test_live_embeddings.py
Due: basedpyright, pytest-main

chore: annotate RepresentationSaveError and assert truncate on re-embed
  src/exceptions.py
  tests/deriver/test_vector_reconciliation.py
Due: basedpyright, pytest-main

fix(mcp): clarify missing-workspace and admin-key errors
  mcp/src/config.ts
  mcp/src/tools/workspace.ts
  mcp/src/types.ts
Due: none

fix: don't backfill a session that left the scope
  src/deriver/scope_backfill.py
  tests/deriver/test_scope_backfill.py
Due: basedpyright, pytest-main

chore: drop left over spec and resolved sourceids alias
  docs/v3/openapi.json
  plans/source-ids-table.md
  src/models.py
  src/schemas/api.py
Due: basedpyright, pytest-main

feat(mcp): search conclusions via search tool (#974)
  mcp/bun.lock
  mcp/package.json
  mcp/src/tools/conclusions.ts
  mcp/src/tools/workspace.ts
Due: none

feat: adds workspace headers to MCP calls and adds list/create workspace tools (#1020)
  docs/v3/guides/integrations/mcp.mdx
  mcp/README.md
  mcp/instructions.md
  mcp/server.json
  mcp/src/config.ts
  mcp/src/index.ts
  mcp/src/tools/conclusions.ts
  mcp/src/tools/peers.ts
  mcp/src/tools/sessions.ts
  mcp/src/tools/system.ts
  mcp/src/tools/workspace.ts
  mcp/src/types.ts
  skills/honcho-memory/SKILL.md
Due: none

feat: add `scope` to workspace chat and exclude scope peers from stats
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/client.py
  sdks/typescript/src/client.ts
  sdks/typescript/src/types/api.ts
  src/crud/__init__.py
  src/crud/scope.py
  src/crud/workspace.py
  src/dialectic/chat.py
  src/dialectic/workspace.py
  src/routers/peers.py
  src/routers/workspaces.py
  src/schemas/api.py
  src/utils/agent_tools.py
  src/utils/scopes.py
  tests/routes/test_scope_reads.py
  tests/test_workspace_chat.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

test: teach the unified runner `workspace_chat` and parse every case
  tests/unified/README.md
  tests/unified/runner.py
  tests/unified/schema.py
  tests/unified/test_cases/workspace_chat_scope.json
  tests/unified/test_schema.py
Due: basedpyright, pytest-main

fix: add scheduled probe for mcp (#988)
  mcp/src/config.ts
  mcp/src/index.ts
  mcp/wrangler.toml
Due: none

fix(mcp): OAuth session fixes, write scope, SDK bump (#1004)
  mcp/src/index.ts
Due: none

docs: tighten workspace-chat scope docs and judge prompt
  src/routers/workspaces.py
  tests/unified/README.md
  tests/unified/test_cases/workspace_chat_scope.json
Due: basedpyright, pytest-main
