Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

feat: Add queue work unit endpoint
  src/crud/__init__.py
  src/crud/deriver.py
  src/routers/workspaces.py
  src/schemas/__init__.py
  src/schemas/api.py
  src/schemas/internal.py
  tests/routes/test_queue_status.py
Due: basedpyright, pytest-main

feat(queue): cursor-paginate /queue/work-units endpoint
  pyproject.toml
  src/crud/__init__.py
  src/crud/deriver.py
  src/routers/workspaces.py
  src/schemas/__init__.py
  src/schemas/api.py
  tests/routes/test_queue_status.py
  uv.lock
Due: basedpyright, pytest-main

fix(sdk): add peer field to session creation methods
  .pre-commit-config.yaml
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/client.py
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/src/client.ts
  tests/sdk/test_session.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

feat(sdk): add queue_work_units + backfill QueueStatus fields
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/api_types.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/http/routes.py
  sdks/python/src/honcho/pagination.py
  sdks/python/src/honcho/session.py
  sdks/typescript/__tests__/client.test.ts
  sdks/typescript/src/client.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/pagination.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/types/api.ts
  sdks/typescript/src/utils.ts
  sdks/typescript/src/validation.ts
  tests/sdk/test_client.py
  tests/sdk/test_session.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

refactor(config): inline CORS_ORIGINS into AppSettings
  src/config.py
  src/main.py
Due: basedpyright, pytest-main

feat: support Langfuse trace grouping via LiteLLM proxy metadata
  src/deriver/deriver.py
  src/dialectic/core.py
  src/dreamer/specialists.py
  src/llm/backends/openai.py
  src/llm/executor.py
  src/llm/tool_loop.py
  src/llm/types.py
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

Add OpenRouter app attribution headers
  config.toml.example
  src/config.py
  src/embedding_client.py
  src/llm/openrouter.py
  src/llm/registry.py
  tests/llm/test_embedding_client.py
  tests/llm/test_openrouter_attribution.py
Due: basedpyright, pytest-main

fix: use per-batch nanoid for deriver langfuse session instead of workspace-observed pair
  src/deriver/deriver.py
Due: basedpyright, pytest-main

fix: guard langfuse_session_id against None/empty values
  src/llm/backends/openai.py
  src/llm/executor.py
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

Minor fix issue to work with lmstudio, fix building of mcp
  .dockerignore
  mcp/.dockerignore
  mcp/Dockerfile
  mcp/bun.lock
  mcp/package.json
  mcp/run-mocked.ts
  src/llm/backends/openai.py
Due: basedpyright, pytest-main

feat: add support for Nous Research LLM provider
  src/config.py
  src/llm/credentials.py
  src/llm/registry.py
Due: basedpyright, pytest-main

Support LMStudio
  src/config.py
  src/llm/credentials.py
  src/llm/registry.py
Due: basedpyright, pytest-main

feat: integrate Langfuse for LLM observability in honcho
  openspec/changes/honcho-langfuse-generation-traces/.openspec.yaml
  openspec/changes/honcho-langfuse-generation-traces/design.md
  openspec/changes/honcho-langfuse-generation-traces/explorations/2026-05-05-langfuse-generation-observations-openspec-gap.md
  openspec/changes/honcho-langfuse-generation-traces/proposal.md
  openspec/changes/honcho-langfuse-generation-traces/specs/observability-langfuse/spec.md
  openspec/changes/honcho-langfuse-generation-traces/tasks.md
  src/llm/api.py
  src/llm/runtime.py
  src/telemetry/logging.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

feat: implement automatic Nous API key refreshing on authentication errors
  src/llm/backends/openai.py
  src/llm/nous_refresh.py
  src/llm/registry.py
  tests/llm/test_backends/test_nous_autorefresh.py
  tests/llm/test_nous_refresh.py
Due: basedpyright, pytest-main

feat: add explicit token usage reporting to Langfuse generations for custom models and initialize project documentation
  openspec/changes/archive/2026-05-05-honcho-langfuse-generation-traces/.openspec.yaml
  openspec/changes/archive/2026-05-05-honcho-langfuse-generation-traces/design.md
  openspec/changes/archive/2026-05-05-honcho-langfuse-generation-traces/explorations/2026-05-05-langfuse-generation-observations-openspec-gap.md
  openspec/changes/archive/2026-05-05-honcho-langfuse-generation-traces/proposal.md
  openspec/changes/archive/2026-05-05-honcho-langfuse-generation-traces/specs/observability-langfuse/spec.md
  openspec/changes/archive/2026-05-05-honcho-langfuse-generation-traces/tasks.md
  openspec/specs/observability-langfuse/spec.md
  openspec/workspace/journal/2026-05-05/agent_share_afternoon.md
  openspec/workspace/memories/leader/2026-05-05/archive_01.md
  openspec/workspace/memories/leader/2026-05-05/current.md
  openspec/workspace/memories/leader/lesson_learnt/L-001-langfuse-custom-model-tokens.md
  openspec/workspace/sessions/agent_share.md
  src/llm/api.py
Due: basedpyright, pytest-main

chore: remove openspec files from PR as requested
  openspec/changes/archive/2026-05-05-fix-summarizer-telemetry-spans/.openspec.yaml
  openspec/changes/archive/2026-05-05-fix-summarizer-telemetry-spans/design.md
  openspec/changes/archive/2026-05-05-fix-summarizer-telemetry-spans/explorations/2026-05-05-nested-langfuse-spans.md
  openspec/changes/archive/2026-05-05-fix-summarizer-telemetry-spans/proposal.md
  openspec/changes/archive/2026-05-05-fix-summarizer-telemetry-spans/specs/.gitkeep
  openspec/changes/archive/2026-05-05-fix-summarizer-telemetry-spans/specs/observability-langfuse/spec.md
  openspec/changes/archive/2026-05-05-fix-summarizer-telemetry-spans/tasks.md
  openspec/changes/archive/2026-05-05-honcho-langfuse-generation-traces/.openspec.yaml
  openspec/changes/archive/2026-05-05-honcho-langfuse-generation-traces/design.md
  openspec/changes/archive/2026-05-05-honcho-langfuse-generation-traces/explorations/2026-05-05-langfuse-generation-observations-openspec-gap.md
  openspec/changes/archive/2026-05-05-honcho-langfuse-generation-traces/proposal.md
  openspec/changes/archive/2026-05-05-honcho-langfuse-generation-traces/specs/observability-langfuse/spec.md
  openspec/changes/archive/2026-05-05-honcho-langfuse-generation-traces/tasks.md
  openspec/specs/observability-langfuse/spec.md
  openspec/workspace/journal/2026-05-05/agent_share_afternoon.md
  openspec/workspace/memories/leader/2026-05-05/archive_01.md
  openspec/workspace/memories/leader/2026-05-05/current.md
  openspec/workspace/memories/leader/lesson_learnt/L-001-langfuse-custom-model-tokens.md
  openspec/workspace/sessions/agent_share.md
Due: none

refactor: replace outer summarizer span decorators with direct track_name passing to honcho_llm_call for improved Langfuse telemetry aggregation.
  openspec/changes/archive/2026-05-05-fix-summarizer-telemetry-spans/.openspec.yaml
  openspec/changes/archive/2026-05-05-fix-summarizer-telemetry-spans/design.md
  openspec/changes/archive/2026-05-05-fix-summarizer-telemetry-spans/explorations/2026-05-05-nested-langfuse-spans.md
  openspec/changes/archive/2026-05-05-fix-summarizer-telemetry-spans/proposal.md
  openspec/changes/archive/2026-05-05-fix-summarizer-telemetry-spans/specs/.gitkeep
  openspec/changes/archive/2026-05-05-fix-summarizer-telemetry-spans/specs/observability-langfuse/spec.md
  openspec/changes/archive/2026-05-05-fix-summarizer-telemetry-spans/tasks.md
  openspec/specs/observability-langfuse/spec.md
  src/utils/summarizer.py
Due: basedpyright, pytest-main

feat: LLM model fallback on failure (t_124ab52c)
  .env.template
  CLAUDE.md
  openspec/changes/archive/2026-05-15-llm-model-fallback-2026-05-14/design.md
  openspec/changes/archive/2026-05-15-llm-model-fallback-2026-05-14/proposal.md
  openspec/changes/archive/2026-05-15-llm-model-fallback-2026-05-14/specs/llm-model-fallback/spec.md
  openspec/changes/archive/2026-05-15-llm-model-fallback-2026-05-14/tasks.md
  openspec/specs/llm-model-fallback/spec.md
  src/config.py
  src/llm/api.py
  src/llm/registry.py
  src/llm/runtime.py
  src/llm/tool_loop.py
  tests/llm/test_fallback.py
  tests/llm/test_fallback_integration.py
Due: basedpyright, pytest-main

feat: document honcho-mcp architecture and verification strategy for tool testing
  openspec/changes/archive/2026-05-07-verify-honcho-mcp-tools/.openspec.yaml
  openspec/changes/archive/2026-05-07-verify-honcho-mcp-tools/design.md
  openspec/changes/archive/2026-05-07-verify-honcho-mcp-tools/explorations/2026-05-07-honcho-mcp-architecture.md
  openspec/changes/archive/2026-05-07-verify-honcho-mcp-tools/explorations/2026-05-07-honcho-philosophy-and-usecases.md
  openspec/changes/archive/2026-05-07-verify-honcho-mcp-tools/explorations/mcp-verification-report.md
  openspec/changes/archive/2026-05-07-verify-honcho-mcp-tools/proposal.md
  openspec/changes/archive/2026-05-07-verify-honcho-mcp-tools/specs/mcp-qa-verification/spec.md
  openspec/changes/archive/2026-05-07-verify-honcho-mcp-tools/tasks.md
  openspec/specs/mcp-qa-verification/spec.md
  openspec/workspace/sessions/agent_share.md
Due: none

fix: address CodeRabbit review — HTTP 408 retryable, ContextVars restore, test precision, unused import
  src/llm/api.py
  src/llm/nous_refresh.py
  tests/llm/test_fallback_integration.py
Due: basedpyright, pytest-main

fix: address remaining CodeRabbit review items for PR #692
  openspec/changes/archive/2026-05-07-verify-honcho-mcp-tools/explorations/2026-05-07-honcho-philosophy-and-usecases.md
  openspec/changes/archive/2026-05-07-verify-honcho-mcp-tools/explorations/mcp-verification-report.md
  src/exceptions.py
  src/llm/api.py
  src/llm/nous_refresh.py
  tests/llm/test_nous_refresh.py
  tests/utils/test_clients.py
  uv.lock
Due: basedpyright, pytest-main

fix(openai-backend): add json_object fallback for compatible providers
  src/llm/backends/openai.py
Due: basedpyright, pytest-main

fix: address CodeRabbit review comments
  openspec/changes/archive/2026-05-07-verify-honcho-mcp-tools/explorations/mcp-verification-report.md
  src/llm/api.py
  src/llm/nous_refresh.py
  tests/llm/test_nous_refresh.py
Due: basedpyright, pytest-main

chore(docs): Update CLAUDE.md and add docs page on advanced queue monitoring
  CLAUDE.md
  docs/v3/documentation/features/advanced/queue-status.mdx
  docs/v3/openapi.json
Due: none

feat(docker): make API port configurable via PORT environment variable
  .env.template
  Dockerfile
  README.md
  docker-compose.yml.example
  docker/entrypoint.sh
Due: none

fix(sdk): add peer field to session creation methods (#705)
  .pre-commit-config.yaml
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/client.py
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/src/client.ts
  tests/sdk/test_session.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

docs: clarify SDK base URL should match configured PORT
  README.md
Due: none

fix(dreamer): Add backwards compatability instructions for peer card prompt
  src/dreamer/specialists.py
  src/utils/agent_tools.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

chore(tests): Add additional validation tests and update changelogs
  CHANGELOG.md
  sdks/python/CHANGELOG.md
  sdks/typescript/CHANGELOG.md
  tests/routes/test_peers.py
  tests/routes/test_sessions.py
  tests/routes/test_workspaces.py
Due: basedpyright, pytest-main

fix: reframe peer card prompts as stable identity markers (#686)
  src/dreamer/specialists.py
  src/llm/backends/anthropic.py
  src/llm/backends/openai.py
  src/utils/agent_tools.py
  tests/dreamer/test_model_config_usage.py
  tests/llm/test_backends/test_anthropic.py
  tests/llm/test_backends/test_openai.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

feat(api): restore reverse pagination (#685)
  CHANGELOG.md
  docs/v3/openapi.json
  sdks/python/CHANGELOG.md
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/client.py
  sdks/typescript/CHANGELOG.md
  sdks/typescript/src/client.ts
  sdks/typescript/src/types/api.ts
  src/crud/peer.py
  src/crud/session.py
  src/crud/workspace.py
  src/routers/peers.py
  src/routers/sessions.py
  src/routers/workspaces.py
  tests/routes/test_peers.py
  tests/routes/test_sessions.py
  tests/routes/test_workspaces.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

chore(docs): Update changelogs and increment version
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v3/openapi.json
  pyproject.toml
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/typescript/CHANGELOG.md
  sdks/typescript/package.json
  uv.lock
Due: biome-check, typescript-check

chore(docs): Update changelogs and increment version (#713)
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v3/openapi.json
  pyproject.toml
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/typescript/CHANGELOG.md
  sdks/typescript/package.json
  uv.lock
Due: biome-check, typescript-check

sfksf
  docker-compose.yml
Due: none

feat: add Codex OAuth model auth
  .env.template
  README.md
  config.toml.example
  docs/v3/contributing/configuration.mdx
  docs/v3/contributing/self-hosting.mdx
  docs/v3/contributing/troubleshooting.mdx
  src/config.py
  src/llm/backends/__init__.py
  src/llm/backends/codex.py
  src/llm/codex_oauth.py
  src/llm/credentials.py
  src/llm/executor.py
  src/llm/registry.py
  src/llm/runtime.py
  tests/llm/test_backends/test_codex.py
  tests/llm/test_codex_oauth.py
  tests/llm/test_credentials.py
  tests/llm/test_model_config.py
  tests/llm/test_registry.py
Due: basedpyright, pytest-main

Handle Codex stream finalization errors
  .agents/skills/honcho-cli/SKILL.md
  .agents/skills/honcho-integration/SKILL.md
  .agents/skills/honcho-integration/references/bot-frameworks.md
  .agents/skills/honcho-integration/references/bot-frameworks/nanobot/client.py
  .agents/skills/honcho-integration/references/bot-frameworks/nanobot/honcho_tool.py
  .agents/skills/honcho-integration/references/bot-frameworks/nanobot/session.py
  .agents/skills/migrate-honcho-py/DETAILED-CHANGES.md
  .agents/skills/migrate-honcho-py/MIGRATION-CHECKLIST.md
  .agents/skills/migrate-honcho-py/SKILL.md
  .agents/skills/migrate-honcho-ts/DETAILED-CHANGES.md
  .agents/skills/migrate-honcho-ts/MIGRATION-CHECKLIST.md
  .agents/skills/migrate-honcho-ts/SKILL.md
  init.2340073612492328463.zsh
  omp.cache
  src/llm/backends/codex.py
  tests/llm/test_backends/test_codex.py
  zsh.008a3ff5-144a-4e1b-a785-bd5dd87aea50.omp.cache
  zsh.03eb3c43-1ac1-4884-8d95-52495b195d92.omp.cache
  zsh.292f5d87-7234-4965-a9e3-eac75406ba3b.omp.cache
  zsh.8bf107d3-c10f-48c7-98de-5b23cb3eef83.omp.cache
  zsh.9aa582f3-ce6e-49e0-91a8-8b30ca835cf6.omp.cache
  zsh.ba0bb29e-c355-4c97-ab41-11a554c60d4f.omp.cache
  zsh.c1ac34ee-aba3-433e-aac4-651d5f606428.omp.cache
  zsh.c6e32b7e-28b3-43a5-822d-87da2d27c499.omp.cache
  zsh.d266957a-bcf1-4742-8afd-9cb39069ae3d.omp.cache
Due: basedpyright, pytest-main
