Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

fix: override AUTH_USE_AUTH and SENTRY_ENABLED
  .github/workflows/unified-tests.yml
Due: none

fix(agent_tools): strip display-format "id:" prefix from source_ids and get_reasoning_chain lookups (#795)
  src/utils/agent_tools.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

fix: upload traces
  .github/workflows/unified-tests.yml
  tests/unified/runner.py
Due: basedpyright, pytest-main

chore: rm run on PR
  .github/workflows/unified-tests.yml
Due: none

feat(graph-memory): Phase 1 implementation — models, migration, CRUD, API routers
  migrations/versions/2a3b4c5d6e7f_add_graph_memory_tables.py
  src/crud/graph_memory.py
  src/main.py
  src/models.py
  src/routers/graph_memory.py
  src/schemas/graph_memory.py
  src/utils/types.py
  uv.lock
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

test(graph-memory): unit tests for schemas and CRUD logic
  tests/unit/test_graph_memory_crud.py
  tests/unit/test_graph_memory_schemas.py
Due: basedpyright, pytest-main

fix(graph-memory): migration fixes and Phase 1 validation
  migrations/versions/2a3b4c5d6e7f_add_graph_memory_tables.py
  src/crud/graph_memory.py
  src/models.py
  src/routers/graph_memory.py
  tests/unit/validate_phase1.py
  tests/unit/verify_migration.py
  tests/unit/verify_reapply.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

docs(graph-memory): operational guide with API docs, security model, and test procedures
  src/routers/GRAPH_MEMORY_README.md
Due: none

feat(graph-memory): Phase 2 — promotion worker and scheduler
  src/deriver/consumer.py
  src/deriver/promotion.py
  src/deriver/promotion_scheduler.py
  src/deriver/queue_manager.py
  src/utils/queue_payload.py
  src/utils/types.py
Due: basedpyright, pytest-main

feat(graph-memory): compaction scheduler with GC protocol alignment
  config.toml.example
  src/config.py
  src/crud/graph_memory.py
  src/deriver/compaction_scheduler.py
  src/deriver/promotion.py
  src/deriver/queue_manager.py
  src/routers/GRAPH_MEMORY_README.md
  src/routers/graph_memory.py
  src/telemetry/events/llm.py
  tests/llm/test_promotion.py
  tests/unit/validate_phase2.py
Due: basedpyright, pytest-main

fix(deriver): make _parse_promotion_response match its documented contract
  src/deriver/promotion.py
Due: basedpyright, pytest-main

fix(graph-memory): unwrap Depends(db)/Depends(read_db) — was wrapping Depends-in-Depends, blocking app import
  src/routers/graph_memory.py
Due: basedpyright, pytest-main

fix(promotion): case-insensitive pattern matching in heuristic test
  src/deriver/promotion.py
Due: basedpyright, pytest-main

fix(graph-memory): rename db param to session to avoid shadowing Depends import
  src/routers/graph_memory.py
Due: basedpyright, pytest-main

fix(graph-memory): use explicit Depends(get_db) pattern for Python 3.13 compat
  src/routers/graph_memory.py
Due: basedpyright, pytest-main

feat(graph-memory): Phase 4 — eviction cold storage
  migrations/versions/3b4c5d6e7f8a_add_documents_cold_table.py
  src/crud/graph_memory.py
  src/models.py
  src/routers/graph_memory.py
  tests/e2e/test_graph_memory.py
  tests/unit/validate_phase4.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

fix(api): expose conclusion provenance
  src/schemas/api.py
  tests/routes/test_conclusions.py
Due: basedpyright, pytest-main

test(graph-memory): comprehensive E2E scenario tests — 28/28 passed
  tests/e2e/test_all_scenarios.py
Due: basedpyright, pytest-main

fix: checker bug_fix
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

fix: rm bucket from logs
  tests/unified/runner.py
Due: basedpyright, pytest-main

chore: use git tags to fetch secrets for unified test (#838)
  .github/workflows/unified-tests.yml
  tests/unified/runner.py
Due: basedpyright, pytest-main

fix: checker bug_fix (#840)
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

chore(docs): Release Candidate Changelog and Version Updates
  CHANGELOG.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  pyproject.toml
  scripts/update_version.py
  uv.lock
Due: basedpyright

chore: fix basedpyright error
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

v3.0.11 Release Candidate (#841)
  CHANGELOG.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  pyproject.toml
  scripts/update_version.py
  uv.lock
Due: basedpyright

chore(api-rs): drop-in Rust compose stack
  api-rs/Dockerfile
  docker-compose-rs.yml.example
Due: none

fix(api-rs): match Python JWT auth parity
  api-rs/src/auth.rs
Due: none

feat(api-rs): self-provision schema via embedded sqlx migrations
  api-rs/Cargo.toml
  api-rs/Dockerfile
  api-rs/migrations/0001_initial_schema.sql
  api-rs/migrations/README.md
  api-rs/src/main.rs
  docker-compose-rs.yml.example
Due: none

feat(api-rs): wire the peer representation endpoint
  api-rs/src/app.rs
  api-rs/tests/http.rs
Due: none

feat(api-rs): wire the peer context endpoint
  api-rs/src/app.rs
  api-rs/tests/http.rs
Due: none

feat(api-rs): wire the test-webhook endpoint
  api-rs/src/app.rs
  api-rs/tests/http.rs
Due: none

fix(api-rs): bound json_repair recursion to stop worker stack overflows
  api-rs/src/json_parser.rs
  api-rs/src/json_repair/parser.rs
Due: none

chore(api-rs): trace deriver work-unit/item processing to locate crash
  api-rs/src/bin/deriver.rs
  api-rs/src/deriver/deriver.rs
  api-rs/src/deriver/queue_manager.rs
Due: none

fix(api-rs): guard parse_object/parse_array recursion (real deriver crash)
  api-rs/src/json_parser.rs
  api-rs/src/json_repair/array.rs
  api-rs/src/json_repair/object.rs
  api-rs/src/json_repair/parser.rs
Due: none

fix(api-rs): big deriver worker stack (stopgap) + dump crashing content
  api-rs/src/bin/deriver.rs
  api-rs/src/deriver/deriver.rs
Due: none

Revert "fix(api-rs): big deriver worker stack (stopgap) + dump crashing content"
  api-rs/src/bin/deriver.rs
  api-rs/src/deriver/deriver.rs
Due: none

fix(api-rs): stop infinite recursion in comprehensive JSON repair
  api-rs/src/json_parser.rs
Due: none

fix(api-rs): force JSON response_format for deriver (was emitting prose) (#2)
  api-rs/src/deriver/deriver.rs
  api-rs/src/llm/backends/openai.rs
  api-rs/src/llm/executor.rs
  api-rs/src/structured_output.rs
Due: none

fix(llm): stop capturing live LLM clients in Langfuse generation spans
  src/llm/executor.py
  src/llm/runtime.py
  src/telemetry/logging.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
