Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

Add Avrio deployment artifacts to gitignore
  .gitignore
Due: none

Add Honcho dashboard -- custom web UI for memory inspection
  Dockerfile.dashboard
  dashboard-backend.py
  dashboard-new.html
  dashboard.html
Due: none

fix: Address File Upload Validation, add compatibility shims, address review comments
  docs/v3/documentation/features/advanced/representation-scopes.mdx
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/session.py
  sdks/typescript/CHANGELOG.md
  sdks/typescript/__tests__/client.test.ts
  sdks/typescript/__tests__/helpers.ts
  sdks/typescript/__tests__/messages.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/__tests__/session.unit.test.ts
  sdks/typescript/__tests__/validation.test.ts
  sdks/typescript/src/client.ts
  sdks/typescript/src/conclusions.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/validation.ts
  tests/sdk/test_session.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

chore: Docs updates
  docs/changelog/introduction.mdx
  sdks/python/CHANGELOG.md
  sdks/python/src/honcho/__init__.py
  sdks/typescript/CHANGELOG.md
Due: basedpyright, pytest-python-sdk

fix: Convert session config from API format in Peer.sessions()
  sdks/typescript/src/peer.ts
Due: biome-check, typescript-check

fix(honcho): add ON CONFLICT DO NOTHING to create_messages to prevent seq constraint violations
  src/crud/message.py
Due: basedpyright, pytest-main

fix: Pass all args to Session constructor in Peer.sessions()
  sdks/typescript/src/peer.ts
Due: biome-check, typescript-check

fix: Preserve createdAt in Peer.refresh(), pass all data in session.peers()
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
Due: biome-check, typescript-check

docs: changelog for ts
  docs/changelog/introduction.mdx
Due: none

fix: only emit CleanupStaleItemsCompletedEvent if queue item was deleted
  src/deriver/consumer.py
  src/reconciler/queue_cleanup.py
Due: basedpyright, pytest-main

fix: only emit CleanupStaleItemsCompletedEvent if queue item was deleted (#454)
  src/deriver/consumer.py
  src/reconciler/queue_cleanup.py
Due: basedpyright, pytest-main

fix: Add JSON repair for truncated LLM responses across all providers and Gemini thinking budget support
  src/utils/clients.py
  tests/utils/test_length_finish_reason.py
Due: basedpyright, pytest-main

Tune dialectic cache layout for Gemini
  src/dialectic/core.py
  src/utils/prompt_cache_layouts.py
  tests/utils/test_prompt_cache_layouts.py
Due: basedpyright, pytest-main

fix(deriver): correct JSON schema for Qwen model structured output
  src/deriver/prompts.py
  src/utils/clients.py
Due: basedpyright, pytest-main

test(clients): add Qwen JSON mode shim tests
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

fix(representation): add missing deleted_at filter to working representation queries
  src/crud/representation.py
  tests/crud/test_representation_manager.py
Due: basedpyright, pytest-main

feat(models): add superseded_by column for document supersession tracking
  migrations/versions/a3f7b9d2c1e4_add_document_superseded_by.py
  src/models.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

refactor(crud): return document IDs from create_documents
  src/crud/document.py
  src/crud/representation.py
  tests/crud/test_document.py
Due: basedpyright, pytest-main

feat(tools): return created document IDs from create_observations
  src/utils/agent_tools.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

feat(crud): track supersession in dedup replacement
  src/crud/document.py
  tests/crud/test_document.py
Due: basedpyright, pytest-main

feat(reconciler): preserve superseded tombstones that have dependents
  src/crud/document.py
  tests/deriver/test_vector_reconciliation.py
Due: basedpyright, pytest-main

feat(tools): supersession support in delete_observations and get_reasoning_chain
  src/crud/__init__.py
  src/crud/document.py
  src/utils/agent_tools.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

Harden schema sanitization and prompt cache tests
  src/schemas.py
  tests/routes/test_validation_api.py
  tests/test_schema_validations.py
  tests/utils/test_prompt_cache_layouts.py
Due: basedpyright, pytest-main

docs(dreamer): update specialist prompt for supersession and add re-evaluation design doc
  docs/design/dream-time-reevaluation.md
  src/crud/document.py
  src/dreamer/specialists.py
  tests/dreamer/test_specialists.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

docs: add pi-honcho-memory community integration
  docs/docs.json
  docs/v3/guides/community/pi-honcho-memory.mdx
Due: none

fix(representation): add missing deleted_at filter to working representation queries (#456)
  src/crud/representation.py
  tests/crud/test_representation_manager.py
Due: basedpyright, pytest-main

feat: live llm integration tests
  pyproject.toml
  src/config.py
  src/llm/__init__.py
  src/llm/backend.py
  src/llm/backends/__init__.py
  src/llm/backends/anthropic.py
  src/llm/backends/gemini.py
  src/llm/backends/groq.py
  src/llm/backends/openai.py
  src/llm/backends/openai_compat.py
  src/llm/caching.py
  src/llm/capabilities.py
  src/llm/credentials.py
  src/llm/history_adapters.py
  src/llm/request_builder.py
  src/llm/structured_output.py
  src/utils/clients.py
  tests/__init__.py
  tests/conftest.py
  tests/live_llm/README.md
  tests/live_llm/__init__.py
  tests/live_llm/conftest.py
  tests/live_llm/model_matrix.py
  tests/live_llm/test_live_anthropic.py
  tests/live_llm/test_live_gemini.py
  tests/live_llm/test_live_openai.py
  tests/unit/llm/conftest.py
  tests/unit/llm/test_backends/test_anthropic.py
  tests/unit/llm/test_backends/test_gemini.py
  tests/unit/llm/test_backends/test_openai.py
  tests/unit/llm/test_capabilities.py
  tests/unit/llm/test_credentials.py
  tests/unit/llm/test_history_adapters.py
  tests/unit/llm/test_model_config.py
  tests/unit/llm/test_request_builder.py
Due: basedpyright, pytest-main

fix: Review Comments
  sdks/python/src/honcho/__init__.py
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/peer.py
  sdks/typescript/src/validation.ts
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check

feat: Consistent Model Config Protocol
  src/config.py
  src/deriver/deriver.py
  src/llm/backend.py
  src/llm/backends/anthropic.py
  src/llm/backends/gemini.py
  src/llm/backends/groq.py
  src/llm/backends/openai.py
  src/llm/backends/openai_compat.py
  src/llm/caching.py
  src/llm/request_builder.py
  src/llm/structured_output.py
  src/utils/clients.py
  src/utils/summarizer.py
  tests/deriver/test_deriver_processing.py
  tests/live_llm/conftest.py
  tests/live_llm/test_live_anthropic.py
  tests/live_llm/test_live_gemini.py
  tests/live_llm/test_live_openai.py
  tests/unit/llm/conftest.py
  tests/unit/llm/test_backends/test_anthropic.py
  tests/unit/llm/test_backends/test_gemini.py
  tests/unit/llm/test_backends/test_openai.py
  tests/unit/llm/test_credentials.py
  tests/unit/llm/test_model_config.py
  tests/unit/llm/test_request_builder.py
  tests/utils/test_clients.py
  tests/utils/test_summarizer.py
Due: basedpyright, pytest-main

fix: migrate the remaining app callers off the legacy llm_settings path
  src/config.py
  src/deriver/deriver.py
  src/dialectic/core.py
  src/dreamer/specialists.py
  src/utils/summarizer.py
  tests/deriver/test_deriver_processing.py
  tests/dialectic/test_model_config_usage.py
  tests/dreamer/test_model_config_usage.py
  tests/unit/llm/test_model_config.py
  tests/utils/test_summarizer.py
Due: basedpyright, pytest-main

fix: Docs and regression tests
  config.toml.example
  docs/v3/contributing/configuration.mdx
  tests/unit/llm/test_model_config.py
Due: basedpyright, pytest-main

fix: Inconsistencies in Docs, health endpoint, troubleshooting guide
  .env.template
  CONTRIBUTING.md
  Dockerfile
  README.md
  docker-compose.yml.example
  docs/docs.json
  docs/v3/contributing/configuration.mdx
  docs/v3/contributing/self-hosting.mdx
  docs/v3/contributing/troubleshooting.mdx
  src/main.py
Due: basedpyright, pytest-main

fix: refactor llm runtime path to model-config-only API
  src/config.py
  src/telemetry/reasoning_traces.py
  src/utils/clients.py
  tests/unit/llm/test_model_config.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

fix: refactor config to nested model-config source of truth
  src/config.py
  src/deriver/deriver.py
  src/dialectic/core.py
  src/utils/summarizer.py
  tests/deriver/test_deriver_processing.py
  tests/dialectic/test_model_config_usage.py
  tests/dreamer/test_model_config_usage.py
  tests/unit/llm/test_model_config.py
  tests/utils/test_summarizer.py
Due: basedpyright, pytest-main

fix: refactor llm streaming and tool dispatch through backends
  src/llm/backends/openai.py
  src/utils/clients.py
  tests/unit/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

fix: Add createAt and to peers call
  sdks/typescript/src/peer.ts
Due: biome-check, typescript-check

fix: cut over llm config to nested model_config only
  .env.template
  src/config.py
  tests/unit/llm/test_model_config.py
Due: basedpyright, pytest-main

fix: collapse vllm and custom into openai_compatible transport
  .env.template
  config.toml.example
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/llm/__init__.py
  src/llm/backends/openai_compat.py
  src/llm/credentials.py
  src/telemetry/reasoning_traces.py
  src/utils/clients.py
  src/utils/types.py
  tests/unit/llm/test_credentials.py
  tests/unit/llm/test_model_config.py
  tests/utils/test_length_finish_reason.py
Due: basedpyright, pytest-main

Refine deriver prompt examples
  src/deriver/prompts.py
Due: basedpyright, pytest-main

Fix empty search query validation
  src/schemas/api.py
  tests/routes/test_peers.py
  tests/test_schema_validations.py
Due: basedpyright, pytest-main

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
