Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

fix(llm): address 3 critical review issues from #692
  src/llm/api.py
  src/llm/nous_refresh.py
Due: basedpyright, pytest-main

bug fix
  src/dreamer/trees/__init__.py
Due: basedpyright, pytest-main

test: add tests for create_tree k-kwarg handling
  src/dreamer/trees/__init__.py
  tests/dreamer/test_trees.py
Due: basedpyright, pytest-main

fix: 套用自訂指示到 session summaries
  src/utils/summarizer.py
  tests/conftest.py
  tests/utils/test_summarizer.py
Due: basedpyright, pytest-main

feat(deriver): add optional external telemetry hook
  src/deriver/deriver.py
  src/external_telemetry.py
Due: basedpyright, pytest-main

fix(deriver): surface save_representation errors
  src/deriver/deriver.py
Due: basedpyright, pytest-main

fix(deriver): document minimal prompt JSON schema
  src/deriver/prompts.py
Due: basedpyright, pytest-main

fix: disable PyJWT built-in exp validation for ISO string exp
  src/security.py
Due: basedpyright, pytest-main

fix(openai-backend): fallback json_schema→json_object for providers that don't support structured output
  src/llm/backends/openai.py
Due: basedpyright, pytest-main

feat(openai-backend): skip json_schema when json_mode=True in extra_params
  src/llm/backends/openai.py
Due: basedpyright, pytest-main

fix(llm): use adaptive thinking for Opus 4.7+ Anthropic models
  src/llm/backends/anthropic.py
  tests/llm/test_backends/test_anthropic.py
Due: basedpyright, pytest-main

fix(llm): validate thinking inputs in the Anthropic backend
  src/llm/backends/anthropic.py
  tests/llm/test_backends/test_anthropic.py
Due: basedpyright, pytest-main

fix(llm): fail fast on deterministic thinking-input errors
  src/llm/api.py
  src/llm/backends/anthropic.py
  src/llm/tool_loop.py
  tests/llm/test_backends/test_anthropic.py
  tests/llm/test_thinking_validation_not_retried.py
Due: basedpyright, pytest-main

refactor(llm): simplify thinking retry-predicate plumbing
  src/llm/api.py
  src/llm/runtime.py
  src/llm/tool_loop.py
Due: basedpyright, pytest-main

test(llm): fix live Anthropic thinking assertion for adaptive models
  tests/live_llm/test_live_anthropic.py
Due: basedpyright, pytest-main

ci(deploy): trigger rebuild+redeploy on push to main
  .github/workflows/rebuild.yaml
Due: none

Skip persisting [Tool] Ran: breadcrumb messages at ingestion (#7)
  src/config.py
  src/routers/messages.py
  src/utils/message_filter.py
  tests/test_tool_breadcrumb_filtering.py
Due: basedpyright, pytest-main

Improve local Ollama handling for Honcho
  src/deriver/prompts.py
  src/dialectic/prompts.py
  src/llm/backends/openai.py
Due: basedpyright, pytest-main

feat: add generate_jwt.py script for creating scoped JWTs
  scripts/generate_jwt.py
Due: basedpyright

Merge Ollama sampling params into native chat options
  src/llm/backends/openai.py
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

docs: document generate_jwt.py in README auth setup section
  README.md
Due: none

Assert native Ollama post URL in test
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

fix: remove t='' override to preserve utc_now_iso default in JWTParams
  scripts/generate_jwt.py
Due: basedpyright

feat(db): add connection retry, adaptive deriver polling, and pool metrics
  src/config.py
  src/db.py
  src/dependencies.py
  src/deriver/__main__.py
  src/deriver/queue_manager.py
  src/main.py
  src/telemetry/__init__.py
  src/telemetry/prometheus/__init__.py
  src/telemetry/prometheus/metrics.py
  tests/test_dependencies.py
Due: basedpyright, pytest-main

feat(db): add acquisition counter and in-flight query gauge
  src/db.py
  src/deriver/__main__.py
  src/main.py
  src/telemetry/prometheus/metrics.py
  tests/test_db_resilience.py
Due: basedpyright, pytest-main

fix: address CodeRabbit review on PR #758
  src/db.py
  src/telemetry/prometheus/metrics.py
  tests/test_db_resilience.py
Due: basedpyright, pytest-main

fix(db): lazy retrying session + review fixes for connection backoff
  config.toml.example
  docs/v2/contributing/configuration.mdx
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/db.py
  src/dependencies.py
  src/deriver/queue_manager.py
  tests/test_db_resilience.py
  tests/test_dependencies.py
Due: basedpyright, pytest-main

fix(db): cover all DB-touching session methods; clear flag on close/reset
  src/config.py
  src/db.py
  tests/test_db_resilience.py
  tests/test_dependencies.py
Due: basedpyright, pytest-main

Add local embedding migration tooling
  docker-compose.local-embeddings.yml
  scripts/reembed_pgvector.py
  scripts/semantic_benchmark.py
Due: basedpyright

fix(llm): pass provider-specific OpenAI options
  src/llm/backends/openai.py
  src/llm/registry.py
  tests/llm/test_backends/test_openai.py
  tests/llm/test_registry.py
Due: basedpyright, pytest-main

fix(llm): pass OpenAI provider extra options
  src/llm/backends/openai.py
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

fix(llm): add Kimi coding User-Agent
  src/llm/registry.py
  tests/llm/test_registry.py
Due: basedpyright, pytest-main

fix(llm): tighten Kimi coding endpoint detection
  src/llm/registry.py
  tests/llm/test_registry.py
Due: basedpyright, pytest-main

Cut over Honcho embeddings to local bge-m3
  config.toml
  docker-compose.yml
Due: none

Connection Exponential Backoff (#758)
  config.toml.example
  docs/v2/contributing/configuration.mdx
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/db.py
  src/dependencies.py
  src/deriver/__main__.py
  src/deriver/queue_manager.py
  src/main.py
  src/telemetry/__init__.py
  src/telemetry/prometheus/__init__.py
  src/telemetry/prometheus/metrics.py
  tests/test_db_resilience.py
  tests/test_dependencies.py
Due: basedpyright, pytest-main

chore(docs): Update changelogs for v3.0.8
  CHANGELOG.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  pyproject.toml
Due: none

chore: update configuration docs
  .env.template
  config.toml.example
  docs/v3/contributing/configuration.mdx
  uv.lock
Due: none

v3.0.8 Release Candidate (#763)
  .env.template
  CHANGELOG.md
  config.toml.example
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v3/contributing/configuration.mdx
  pyproject.toml
  uv.lock
Due: none

fix(dedup): reinforce times_derived on duplicate detection
  src/crud/document.py
  src/crud/representation.py
Due: basedpyright, pytest-main

test(dedup): guard times_derived reinforcement + recency tiebreak
  tests/crud/test_document.py
Due: basedpyright, pytest-main
