Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

refactor(mock-provider): validate requests with Pydantic models
  CONTRIBUTING.md
  src/mock_provider/chat.py
  src/mock_provider/embeddings.py
  src/mock_provider/main.py
  src/mock_provider/schema_gen.py
  src/mock_provider/schemas.py
  tests/mock_provider/test_mock_provider.py
Due: basedpyright, pytest-main

feat(mock-provider): deterministic OpenAI-compatible endpoint for local and CI use
  CONTRIBUTING.md
  src/mock_provider/__init__.py
  src/mock_provider/chat.py
  src/mock_provider/coerce.py
  src/mock_provider/embeddings.py
  src/mock_provider/main.py
  src/mock_provider/schema_gen.py
  tests/conftest.py
  tests/mock_provider/test_honcho_contract.py
  tests/mock_provider/test_mock_provider.py
Due: basedpyright, pytest-main

docs: document hook-driven memory and honcho-memory skill in OpenCode integration
  docs/v3/guides/integrations/opencode.mdx
Due: none

feat(migrations): add tenant_id primitive migration (OSS prosumer-safe)
  migrations/versions/e5fe7f8bcf62_add_tenant_id_primitive.py
  scripts/bootstrap_shared_schema.py
  src/models.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_e5fe7f8bcf62_add_tenant_id_primitive.py
  tests/scripts/test_bootstrap_shared_schema.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

fix(mock-provider): honour include_usage, generate prefixItems tuples
  src/mock_provider/chat.py
  src/mock_provider/embeddings.py
  src/mock_provider/schema_gen.py
  src/mock_provider/schemas.py
  tests/mock_provider/test_mock_provider.py
Due: basedpyright, pytest-main

Update e5fe7f8bcf62_add_tenant_id_primitive.py
  migrations/versions/e5fe7f8bcf62_add_tenant_id_primitive.py
Due: pytest-alembic, ensure-alembic-coverage

feat(harness-plugin-core): simplify telemetry headers and HOME-first config path
  harness-plugin-core/README.md
  harness-plugin-core/src/config.ts
  harness-plugin-core/src/index.ts
  harness-plugin-core/src/telemetry.ts
  harness-plugin-core/tests/config.test.ts
  harness-plugin-core/tests/telemetry.test.ts
  harness-plugin-core/tsconfig.json
Due: none

feat(telemetry): inject client identity into event bodies
  src/main.py
  src/telemetry/client_context.py
  src/telemetry/emitter.py
  tests/telemetry/test_emitter.py
Due: basedpyright, pytest-main

fix(mock-provider): strict request booleans, bounded recursion, multipleOf
  src/mock_provider/schema_gen.py
  src/mock_provider/schemas.py
  tests/mock_provider/test_mock_provider.py
Due: basedpyright, pytest-main

fix(tests): keep the Discord report inside the webhook size limit
  tests/unified/runner.py
Due: basedpyright, pytest-main

chore: minor nits
  harness-plugin-core/src/config.ts
  harness-plugin-core/src/index.ts
Due: none

fix(tests): keep the Discord report short and link to the Actions run
  tests/unified/runner.py
  tests/unified/test_reporting.py
Due: basedpyright, pytest-main

docs(mock-provider): correct the reason fractional multipleOf is dropped
  src/mock_provider/schema_gen.py
Due: basedpyright, pytest-main

feat(dialectic): return the evidence a chat answer was built from
  docs/docs.json
  docs/v3/documentation/features/advanced/evidence.mdx
  docs/v3/documentation/features/chat.mdx
  src/dialectic/chat.py
  src/dialectic/core.py
  src/dialectic/workspace.py
  src/routers/peers.py
  src/routers/workspaces.py
  src/schemas/__init__.py
  src/schemas/api.py
  src/utils/agent_tools.py
  src/utils/evidence.py
  src/utils/sse.py
  tests/dialectic/test_evidence.py
  tests/routes/test_dialectic_evidence.py
  tests/utils/test_agent_tools.py
  tests/utils/test_evidence.py
Due: basedpyright, pytest-main

feat(sdk): surface dialectic evidence in the Python SDK
  sdks/python/src/honcho/__init__.py
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/api_types.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/types.py
  sdks/python/src/honcho/utils/sse.py
  tests/sdk/test_chat_evidence.py
Due: basedpyright, pytest-main, pytest-python-sdk

feat(sdk): surface dialectic evidence in the TypeScript SDK
  sdks/typescript/__tests__/evidence.unit.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/src/client.ts
  sdks/typescript/src/http/streaming.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/types/api.ts
  sdks/typescript/src/validation.ts
Due: biome-check, typescript-check

fix(api): say when a session summary is dropped for budget
  src/routers/sessions.py
  tests/routes/test_session_context_summary.py
  tests/unified/test_cases/config_summary_control.json
  tests/unified/test_cases/config_summary_control_deriver_off.json
Due: basedpyright, pytest-main

Update CONTRIBUTING.md with PR response time
  CONTRIBUTING.md
Due: none

docs(contributing): update CONTRIBUTING.md with PR response time
  CONTRIBUTING.md
Due: none

fix(api): report a dropped summary on the path get_context actually takes
  src/utils/summarizer.py
  tests/routes/test_session_context_summary.py
Due: basedpyright, pytest-main

fix(dialectic): record prefetch evidence only once the context is built
  src/dialectic/core.py
  tests/dialectic/test_evidence.py
Due: basedpyright, pytest-main

refactor(dialectic): collapse the per-level evidence flattening
  src/utils/evidence.py
  tests/utils/test_evidence.py
Due: basedpyright, pytest-main

feat(mock-provider): deterministic OpenAI-compatible endpoint for local and CI use (#1094)
  CONTRIBUTING.md
  src/mock_provider/__init__.py
  src/mock_provider/chat.py
  src/mock_provider/coerce.py
  src/mock_provider/embeddings.py
  src/mock_provider/main.py
  src/mock_provider/schema_gen.py
  src/mock_provider/schemas.py
  tests/conftest.py
  tests/mock_provider/test_honcho_contract.py
  tests/mock_provider/test_mock_provider.py
Due: basedpyright, pytest-main

fix(tests): drop the ignored observer from the config_summary fixtures
  tests/unified/test_cases/config_summary_control.json
  tests/unified/test_cases/config_summary_control_deriver_off.json
Due: none

docs for programmatically creating api key
  docs/v3/documentation/reference/platform.mdx
Due: none

chore: adtl reference to the create-key endpoint
  docs/v3/api-reference/endpoint/keys/create-key.mdx
Due: none

fix: enhance docs
  docs/v3/api-reference/endpoint/keys/create-key.mdx
Due: none

docs for programmatically creating api key (#1133)
  docs/v3/api-reference/endpoint/keys/create-key.mdx
  docs/v3/documentation/reference/platform.mdx
Due: none

refactor(dialectic): drop message content from evidence
  docs/v3/documentation/features/advanced/evidence.mdx
  src/schemas/api.py
  src/utils/evidence.py
  tests/utils/test_evidence.py
Due: basedpyright, pytest-main

refactor(sdk): drop message content from TypeScript evidence types
  sdks/typescript/__tests__/evidence.unit.test.ts
  sdks/typescript/src/types/api.ts
Due: biome-check, typescript-check

refactor(sdk): drop message content from Python evidence types
  sdks/python/src/honcho/api_types.py
Due: basedpyright, pytest-python-sdk

feat(harness-plugin-core): simplify telemetry headers and HOME-first config path (#1124)
  harness-plugin-core/README.md
  harness-plugin-core/src/config.ts
  harness-plugin-core/src/index.ts
  harness-plugin-core/src/telemetry.ts
  harness-plugin-core/tests/config.test.ts
  harness-plugin-core/tests/telemetry.test.ts
  harness-plugin-core/tsconfig.json
Due: none

fix(sandbox): refuse seed and reset through the wrong provider
  sandbox/README.md
  sandbox/sandbox.sh
Due: none

fix(sandbox): stamp seeded derived conclusions with the session
  sandbox/inject_conclusions.py
Due: none

feat(sandbox): seed conclusions at every reasoning level
  sandbox/README.md
  sandbox/fixture.json
  sandbox/inject_conclusions.py
  sandbox/sandbox.sh
  sandbox/seed.py
Due: none

feat(sandbox): committed ephemeral Honcho sandbox with one-command reset
  .gitignore
  sandbox/README.md
  sandbox/compose.mock.yml
  sandbox/compose.real.yml
  sandbox/compose.yml
  sandbox/fixture.json
  sandbox/image.env
  sandbox/init.sql
  sandbox/real.env.example
  sandbox/sandbox.sh
  sandbox/seed.py
Due: none

chore(sandbox): pin the published image that carries the mock provider
  sandbox/README.md
  sandbox/compose.mock.yml
  sandbox/image.env
  sandbox/sandbox.sh
Due: none

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
