Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

docs(a8): CLAUDE.md — the per-tenant vector namespace contract
  CLAUDE.md
Due: none

review: give a missing namespace key its own exception, and contain it per row
  CLAUDE.md
  src/crud/document.py
  src/exceptions.py
  src/reconciler/embed_now.py
  src/reconciler/sync_vectors.py
  src/vector_store/tenant_namespace.py
  tests/conftest.py
  tests/crud/test_session.py
  tests/crud/test_workspace.py
  tests/deriver/test_vector_reconciliation.py
  tests/vector_store/test_tenant_namespace.py
Due: basedpyright, pytest-main

test(a8): vector namespace isolation receipts
  tests/conftest.py
  tests/crud/test_workspace.py
  tests/deriver/test_vector_reconciliation.py
  tests/startup/test_embedding_validator.py
  tests/vector_store/test_tenant_namespace.py
Due: basedpyright, pytest-main

feat(a8): resolve the vector namespace prefix per tenant, not per process
  scripts/configure_embeddings.py
  src/crud/document.py
  src/crud/message.py
  src/crud/session.py
  src/crud/workspace.py
  src/deriver/scope_backfill.py
  src/reconciler/embed_now.py
  src/reconciler/sync_vectors.py
  src/startup/embedding_validator.py
  src/utils/search.py
  src/vector_store/__init__.py
  src/vector_store/tenant_namespace.py
Due: basedpyright, pytest-main

fix(a1): tenant-scope the document_sources table main added in #952
  migrations/versions/e5fe7f8bcf62_add_tenant_id_primitive.py
  src/crud/document.py
  src/deriver/scope_backfill.py
  src/models.py
  src/reconciler/backfill_document_sources.py
  src/startup/tenant_isolation_validator.py
  src/utils/filter.py
  tests/alembic/revisions/test_e5fe7f8bcf62_add_tenant_id_primitive.py
  tests/integration/test_rls_isolation.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

feat(c6): stop claiming a tenant's work when its derivation is paused
  migrations/versions/43d77d0c5846_add_tenant_derivation_paused.py
  src/backlog.py
  src/config.py
  src/crud/deriver.py
  src/crud/tenant.py
  src/derivation_pause.py
  src/deriver/queue_manager.py
  src/models.py
  src/routers/tenants.py
  src/schemas/__init__.py
  src/schemas/api.py
  src/schemas/internal.py
  src/telemetry/prometheus/metrics.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

docs(c6): the pause bit, the registry's mutation allowlist, and the refresh setting
  .env.template
  CLAUDE.md
  docs/v3/contributing/configuration.mdx
Due: none

test(c6): pause receipts — registry allowlist, seam source, fail-open
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_43d77d0c5846_add_tenant_derivation_paused.py
  tests/conftest.py
  tests/deriver/test_fair_scheduling.py
  tests/routes/test_auth_route_policy.py
  tests/routes/test_tenants.py
  tests/test_derivation_pause.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

chore(deps): shrink the runtime dependency footprint (#1201)
  .env.template
  docs/v3/contributing/configuration.mdx
  pyproject.toml
  src/dreamer/trees/base.py
  src/dreamer/trees/graph.py
  src/dreamer/trees/prototype.py
  src/dreamer/trees/sklearn_wrapper.py
  src/embedding_client.py
  src/llm/backends/__init__.py
  src/utils/files.py
  tests/routes/test_files.py
  uv.lock
Due: basedpyright, pytest-main

review: serialize tenant rows inside the session, harden the paused-set boot gate
  CLAUDE.md
  src/crud/deriver.py
  src/crud/tenant.py
  src/derivation_pause.py
  src/deriver/__main__.py
  src/deriver/queue_manager.py
  src/models.py
  src/routers/tenants.py
  src/schemas/api.py
  src/telemetry/prometheus/metrics.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_43d77d0c5846_add_tenant_derivation_paused.py
  tests/conftest.py
  tests/deriver/test_fair_scheduling.py
  tests/routes/test_tenants.py
  tests/test_derivation_pause.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

test(unified): make peer_isolation step 9 a deterministic assertion
  tests/unified/test_cases/peer_isolation_test.json
Due: none

test(unified): make peer_isolation step 9 a deterministic assertion (#1208)
  tests/unified/test_cases/peer_isolation_test.json
Due: none

test(unified): add evidence_contains assertion and use it in workspace chat fixtures
  tests/unified/README.md
  tests/unified/runner.py
  tests/unified/schema.py
  tests/unified/test_cases/workspace_chat_cross_peer.json
  tests/unified/test_cases/workspace_chat_from_messages.json
  tests/unified/test_cases/workspace_chat_from_observations.json
  tests/unified/test_cases/workspace_chat_scope.json
  tests/unified/test_evidence_assertion.py
  tests/unified/test_schema.py
Due: basedpyright, pytest-main

test(unified): reject vacuous evidence_contains conditions
  tests/unified/schema.py
  tests/unified/test_schema.py
Due: basedpyright, pytest-main

fix(llm): Allow Anthropic backend to set thinking-tool conflict policy
  src/llm/backends/anthropic.py
  tests/llm/test_backends/test_anthropic.py
Due: basedpyright, pytest-main

fix(dialectic): keep workspace chat's forced tool_choice until a recall tool runs
  src/dialectic/core.py
  src/dialectic/prompts.py
  src/dialectic/workspace.py
  src/llm/api.py
  src/llm/tool_loop.py
  src/utils/agent_tools.py
  tests/llm/test_tool_loop_gating.py
  tests/test_workspace_chat.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

feat(deriver): cite source messages on explicit conclusions
  migrations/versions/c4d8e2f6a1b3_add_document_source_messages_table.py
  src/crud/document.py
  src/crud/representation.py
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/models.py
  src/schemas/api.py
  src/schemas/internal.py
  src/utils/filter.py
  src/utils/representation.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_c4d8e2f6a1b3_add_document_source_messages_table.py
  tests/crud/test_document_source_messages.py
  tests/crud/test_representation_manager.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_representation_crud.py
  tests/integration/test_representation.py
  tests/routes/test_conclusions.py
  tests/utils/test_filter.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

feat(clients): surface source_message_ids across SDKs, MCP, and CLI
  CHANGELOG.md
  docs/snippets/cli-commands.mdx
  docs/v3/documentation/features/advanced/evidence.mdx
  docs/v3/documentation/features/advanced/using-filters.mdx
  docs/v3/openapi.json
  honcho-cli/CHANGELOG.md
  honcho-cli/src/honcho_cli/commands/conclusion.py
  honcho-cli/tests/test_conclusion_attribution.py
  mcp/CHANGELOG.md
  mcp/instructions.md
  mcp/src/tools/conclusions.test.ts
  mcp/src/tools/conclusions.ts
  mcp/src/types.ts
  sdks/python/CHANGELOG.md
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/api_types.py
  sdks/python/src/honcho/conclusions.py
  sdks/typescript/CHANGELOG.md
  sdks/typescript/__tests__/conclusions.test.ts
  sdks/typescript/src/conclusions.ts
  sdks/typescript/src/types/api.ts
  tests/sdk/test_conclusions.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

fix(llm): count only clean tool calls toward the forced-tool gate
  src/llm/tool_loop.py
  src/utils/agent_tools.py
  src/utils/types.py
  tests/llm/test_tool_loop_gating.py
Due: basedpyright, pytest-main

fix(llm): nudge instead of returning when a gated forced turn calls no tool
  src/llm/tool_loop.py
  tests/llm/test_tool_loop_gating.py
Due: basedpyright, pytest-main

fix(llm): treat an empty force_tools_until as no gate
  src/llm/tool_loop.py
  tests/llm/test_tool_loop_gating.py
Due: basedpyright, pytest-main

fix(evidence): Don't keep DB objects past their transaction
  src/utils/evidence.py
  tests/conftest.py
  tests/utils/test_evidence.py
Due: basedpyright, pytest-main

fix(llm): drop unsigned thinking blocks before replaying history to Anthropic
  src/llm/backends/anthropic.py
  tests/llm/test_backends/test_anthropic.py
Due: basedpyright, pytest-main

fix(crud): pin QueueItem deletes to the ambient tenant under MULTI_TENANT
  src/crud/deriver.py
  src/crud/session.py
  src/crud/workspace.py
  tests/crud/test_session.py
  tests/crud/test_workspace.py
Due: basedpyright, pytest-main

fix(migrations): restore the pre-tenant constraints in the tenant_id primitive downgrade
  migrations/versions/e5fe7f8bcf62_add_tenant_id_primitive.py
Due: pytest-alembic, ensure-alembic-coverage

fix(webhooks): resolve the ambient tenant once so QueueItem column and key agree
  src/webhooks/events.py
  tests/webhooks/test_webhook_delivery.py
Due: basedpyright, pytest-main

style(dependencies): compare contextvar tokens with is not None
  src/dependencies.py
Due: basedpyright, pytest-main

docs(models): document the QueueItemBatch primary-key invariant
  src/models.py
Due: basedpyright, pytest-main

docs(tenants): use OSS-neutral wording for "control plane"
  src/config.py
  src/routers/tenants.py
  src/schemas/api.py
Due: basedpyright, pytest-main

fix(schemas): validate tier against the two-value provisioner contract
  src/schemas/api.py
  tests/routes/test_tenants.py
Due: basedpyright, pytest-main

refactor(dreamer): make cancel_dreams_for_observed's tenant_id keyword-only
  src/dreamer/dream_scheduler.py
Due: basedpyright, pytest-main

fix(cache): fail closed on a tenant-less key instead of sharing the 'default' bucket
  src/cache/client.py
  tests/test_cache_key_namespace.py
Due: basedpyright, pytest-main

feat(startup): refuse to boot when the tenant engine's role can bypass RLS
  src/startup/tenant_isolation_validator.py
  tests/startup/test_tenant_isolation_validator.py
Due: basedpyright, pytest-main

fix(filter): make an empty link-id list match nothing
  mcp/CHANGELOG.md
  mcp/instructions.md
  sdks/python/CHANGELOG.md
  sdks/typescript/CHANGELOG.md
  src/utils/filter.py
  tests/utils/test_filter.py
Due: basedpyright, pytest-main

fix(dialectic): widen workspace recall across peers
  src/config.py
  src/dialectic/core.py
  src/dialectic/prompts.py
  src/dialectic/workspace.py
  src/utils/agent_tools.py
  tests/test_workspace_chat.py
Due: basedpyright, pytest-main

test(unified): count a peer card the run read toward conclusions_match
  tests/unified/README.md
  tests/unified/runner.py
  tests/unified/schema.py
  tests/unified/test_evidence_assertion.py
Due: basedpyright, pytest-main

fix(chromadb): address review feedback
  .env.template
  config.toml.example
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/vector_store/chroma.py
  tests/startup/test_embedding_validator.py
  tests/vector_store/conftest.py
  tests/vector_store/test_chroma.py
  tests/vector_store/test_chroma_config.py
  tests/vector_store/test_chroma_http.py
  tests/vector_store/test_namespace_dim_probes.py
Due: basedpyright, pytest-main

fix(migrations): drop the queue tenant_id stamp from the aggregate backfill
  migrations/versions/b7d2f4a81c39_add_queue_item_batches_aggregate.py
  tests/alembic/revisions/test_b7d2f4a81c39_add_queue_item_batches_aggregate.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

fix: make conclusion attribution consistent across the evidence and conclusions surfaces (#1193)
  docs/v3/openapi.json
  sdks/typescript/__tests__/conclusions.test.ts
  sdks/typescript/__tests__/evidence.unit.test.ts
  sdks/typescript/src/types/api.ts
  src/schemas/api.py
  src/utils/evidence.py
  tests/routes/test_conclusions.py
  tests/sdk/test_conclusions.py
  tests/utils/test_evidence.py
Due: biome-check, basedpyright, pytest-main, typescript-check

fix(mcp): add annotation hints to MCP tools
  mcp/src/server.test.ts
  mcp/src/tools/conclusions.ts
  mcp/src/tools/peers.ts
  mcp/src/tools/scopes.ts
  mcp/src/tools/sessions.ts
  mcp/src/tools/system.ts
  mcp/src/tools/workspace.ts
Due: none

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
