Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

fix: (mcp) WIP to sync with 3.0.0 conventions
  docs/docs.json
  mcp/package.json
  mcp/worker.ts
Due: none

fix: ensure orphaned sessions exist during downgrade for nullable session_name migration
  migrations/versions/e4eba9cfaa6f_make_document_session_name_nullable.py
Due: pytest-alembic, ensure-alembic-coverage

feat: make session_name nullable for documents and update related SDKs (#347)
  migrations/versions/e4eba9cfaa6f_make_document_session_name_nullable.py
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/api_types.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/conclusions.py
  sdks/typescript/__tests__/conclusions.test.ts
  sdks/typescript/src/client.ts
  sdks/typescript/src/conclusions.ts
  sdks/typescript/src/types/api.ts
  src/crud/document.py
  src/deriver/enqueue.py
  src/dreamer/orchestrator.py
  src/dreamer/specialists.py
  src/models.py
  src/schemas.py
  src/telemetry/events/dream.py
  src/utils/agent_tools.py
  src/utils/queue_payload.py
  src/utils/representation.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_e4eba9cfaa6f_make_document_session_name_nullable.py
  tests/routes/test_conclusions.py
  tests/sdk/test_conclusions.py
Due: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

fix: (mcp) Sync MCP with final API changes for 3.0.0
  mcp/worker.ts
  sdks/typescript/bun.lock
Due: none

chore: (docs) sync changelog and openapi spec
  docs/changelog/introduction.mdx
  docs/v3/openapi.json
Due: none

fix: RepresentationCompletedEvent -> input tokens to messages tokens
  src/deriver/deriver.py
Due: basedpyright, pytest-main

fix: fixing .mdx files to match openapi.json spec
  docs/bun.lock
  docs/docs.json
  docs/v3/api-reference/endpoint/conclusions/create-conclusions.mdx
  docs/v3/api-reference/endpoint/conclusions/delete-conclusion.mdx
  docs/v3/api-reference/endpoint/conclusions/list-conclusions.mdx
  docs/v3/api-reference/endpoint/conclusions/query-conclusions.mdx
  docs/v3/api-reference/endpoint/messages/create-messages-for-session.mdx
  docs/v3/api-reference/endpoint/metrics.mdx
  docs/v3/api-reference/endpoint/observations/create-observations.mdx
  docs/v3/api-reference/endpoint/observations/delete-observation.mdx
  docs/v3/api-reference/endpoint/observations/list-observations.mdx
  docs/v3/api-reference/endpoint/observations/query-observations.mdx
  docs/v3/api-reference/endpoint/peers/get-representation.mdx
  docs/v3/api-reference/endpoint/sessions/clone-session.mdx
  docs/v3/api-reference/endpoint/sessions/set-peer-config.mdx
  docs/v3/api-reference/endpoint/workspaces/get-deriver-status.mdx
  docs/v3/api-reference/endpoint/workspaces/get-queue-status.mdx
  docs/v3/api-reference/endpoint/workspaces/schedule-dream.mdx
  docs/v3/documentation/core-concepts/representation.mdx
  docs/v3/documentation/introduction/quickstart.mdx
  docs/v3/documentation/reference/sdk.mdx
  docs/v3/guides/discord.mdx
  docs/v3/openapi.json
Due: none

fix: RepresentationCompletedEvent -> input tokens to messages tokens (#349)
  src/deriver/deriver.py
Due: basedpyright, pytest-main

chore: Add script to estimate event creation
  tests/bench/calculate_expected_events.py
Due: basedpyright, pytest-main

v3.0.0 Release Candidate (#346)
  CHANGELOG.md
  docs/bun.lock
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v3/api-reference/endpoint/conclusions/create-conclusions.mdx
  docs/v3/api-reference/endpoint/conclusions/delete-conclusion.mdx
  docs/v3/api-reference/endpoint/conclusions/list-conclusions.mdx
  docs/v3/api-reference/endpoint/conclusions/query-conclusions.mdx
  docs/v3/api-reference/endpoint/messages/create-messages-for-session.mdx
  docs/v3/api-reference/endpoint/metrics.mdx
  docs/v3/api-reference/endpoint/observations/create-observations.mdx
  docs/v3/api-reference/endpoint/observations/delete-observation.mdx
  docs/v3/api-reference/endpoint/observations/list-observations.mdx
  docs/v3/api-reference/endpoint/observations/query-observations.mdx
  docs/v3/api-reference/endpoint/peers/get-representation.mdx
  docs/v3/api-reference/endpoint/sessions/clone-session.mdx
  docs/v3/api-reference/endpoint/sessions/set-peer-config.mdx
  docs/v3/api-reference/endpoint/workspaces/get-deriver-status.mdx
  docs/v3/api-reference/endpoint/workspaces/get-queue-status.mdx
  docs/v3/api-reference/endpoint/workspaces/schedule-dream.mdx
  docs/v3/documentation/core-concepts/representation.mdx
  docs/v3/documentation/introduction/quickstart.mdx
  docs/v3/documentation/reference/sdk.mdx
  docs/v3/guides/discord.mdx
  docs/v3/openapi.json
  examples/crewai/python/src/honcho_crewai/tools.py
  examples/langgraph/python/main.py
  examples/langgraph/typescript/main.ts
  mcp/package.json
  mcp/worker.ts
  sdks/typescript/bun.lock
  tests/bench/calculate_expected_events.py
Due: basedpyright, pytest-main

Documentation edits made through Mintlify web editor
  docs/v3/documentation/introduction/overview.mdx
Due: none

fix: updating vibecoding
  docs/v3/documentation/introduction/vibecoding.mdx
Due: none

feat: use messages from queue items for rep completed token count
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  tests/deriver/test_queue_processing.py
  tests/integration/test_token_metrics.py
Due: basedpyright, pytest-main

feat: use messages from queue items for rep completed token count (#350)
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  tests/deriver/test_queue_processing.py
  tests/integration/test_token_metrics.py
Due: basedpyright, pytest-main

fix: brooken links
  docs/v3/documentation/features/advanced/overview.mdx
  docs/v3/documentation/reference/sdk.mdx
  docs/v3/documentation/scratch/honcho-memory/quickstart.mdx
  docs/v3/documentation/scratch/local-vs-global.mdx
  docs/v3/guides/integrations/crewai.mdx
  docs/v3/guides/integrations/langgraph.mdx
  docs/v3/guides/migrations/mem0.mdx
  docs/v3/guides/overview.mdx
  docs/v3/guides/storing-data.mdx
  docs/v3/migrations/from-mem0.mdx
Due: none

fix: add migration for 'deriver' to 'reasoning' in ResolvedConfiguration
  src/schemas.py
  tests/test_schema_validations.py
Due: basedpyright, pytest-main

fix: add migration for 'deriver' to 'reasoning' in ResolvedConfiguration (#352)
  src/schemas.py
  tests/test_schema_validations.py
Due: basedpyright, pytest-main

Abigail/minor fix (#351)
  docs/v3/documentation/features/advanced/overview.mdx
  docs/v3/documentation/introduction/vibecoding.mdx
  docs/v3/documentation/reference/sdk.mdx
  docs/v3/documentation/scratch/honcho-memory/quickstart.mdx
  docs/v3/documentation/scratch/local-vs-global.mdx
  docs/v3/guides/integrations/crewai.mdx
  docs/v3/guides/integrations/langgraph.mdx
  docs/v3/guides/migrations/mem0.mdx
  docs/v3/guides/overview.mdx
  docs/v3/guides/storing-data.mdx
  docs/v3/migrations/from-mem0.mdx
Due: none

fix: adding n8n guide
  docs/docs.json
  docs/v3/guides/integrations/n8n.mdx
Due: none

fix: adding n8n guide (#353)
  docs/docs.json
  docs/v3/guides/integrations/n8n.mdx
Due: none

chore: (docs) changelog for patch version
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  pyproject.toml
  src/main.py
  uv.lock
Due: basedpyright, pytest-main

chore: fix types
  CHANGELOG.md
  docs/changelog/introduction.mdx
Due: none

v3.0.1 Patch (#354)
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  pyproject.toml
  src/main.py
  uv.lock
Due: basedpyright, pytest-main

fix: lint
  docs/v3/documentation/introduction/overview.mdx
Due: none

chore: (docs) Reconcile new SDK conventions in docs
  docs/v3/documentation/features/advanced/representation-scopes.mdx
  docs/v3/documentation/features/advanced/using-filters.mdx
  docs/v3/documentation/features/get-context.mdx
  docs/v3/documentation/reference/sdk.mdx
  docs/v3/documentation/scratch/honcho-memory/advanced-retrieval/get-context.mdx
  docs/v3/guides/discord.mdx
  docs/v3/guides/file-uploads.mdx
  docs/v3/guides/integrations/langgraph.mdx
  docs/v3/guides/migrations/mem0.mdx
  docs/v3/guides/telegram.mdx
  docs/v3/migrations/from-mem0.mdx
Due: none

chore: updating docs references to SDK.
  docs/SKILL.md
  docs/v3/documentation/features/advanced/representation-scopes.mdx
  docs/v3/documentation/features/chat.mdx
  docs/v3/guides/integrations/n8n.mdx
Due: none

chore: (docs) Reconcile new SDK conventions in docs (#355)
  docs/v3/documentation/features/advanced/representation-scopes.mdx
  docs/v3/documentation/features/advanced/using-filters.mdx
  docs/v3/documentation/features/get-context.mdx
  docs/v3/documentation/reference/sdk.mdx
  docs/v3/documentation/scratch/honcho-memory/advanced-retrieval/get-context.mdx
  docs/v3/guides/discord.mdx
  docs/v3/guides/file-uploads.mdx
  docs/v3/guides/integrations/langgraph.mdx
  docs/v3/guides/migrations/mem0.mdx
  docs/v3/guides/telegram.mdx
  docs/v3/migrations/from-mem0.mdx
Due: none

chore: final edits to docs and packages for SDK and API updates
  docs/v3/guides/integrations/n8n.mdx
  examples/crewai/python/pyproject.toml
  examples/crewai/python/src/honcho_crewai/__init__.py
  examples/crewai/python/src/honcho_crewai/tools.py
  examples/crewai/python/uv.lock
  examples/langgraph/python/pyproject.toml
  examples/langgraph/python/uv.lock
  examples/langgraph/typescript/bun.lock
  examples/langgraph/typescript/package.json
  examples/n8n/n8n.json
Due: none

chore: fixes from code review
  src/dialectic/core.py
Due: basedpyright, pytest-main

refactor: enhance specialist exploration and observation processes
  src/dreamer/orchestrator.py
  src/dreamer/specialists.py
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

feat: add thorough dream test
  tests/unified/test_cases/dream_knowledge_updates_and_patterns.json
Due: none

feat: phase 1: internal dialectic interactions saved
  migrations/versions/a8f2d4e6c9b1_add_dialectic_traces_table.py
  src/crud/__init__.py
  src/crud/dialectic_trace.py
  src/dialectic/core.py
  src/models.py
  src/schemas.py
  tests/test_dialectic_trace.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

feat: phase 2: workspace-level prompt self-modification
  src/crud/__init__.py
  src/crud/workspace.py
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/dialectic/chat.py
  src/dialectic/core.py
  src/dialectic/prompts.py
  src/routers/workspaces.py
  src/schemas.py
  tests/test_workspace_agent_config.py
Due: basedpyright, pytest-main

feat: phase 3: introspective meta-dreaming
  src/dreamer/introspection.py
  src/dreamer/orchestrator.py
  src/schemas.py
  tests/test_introspection.py
Due: basedpyright, pytest-main

feat: phase 4: developer feedback and interview
  src/dreamer/introspection.py
  src/feedback.py
  src/routers/workspaces.py
  src/schemas.py
  tests/test_feedback.py
Due: basedpyright, pytest-main

chore: type-checking cleanup, fix tests
  agentic_fde.md
  docs/v3/documentation/introduction/overview.mdx
  migrations/versions/a8f2d4e6c9b1_add_dialectic_traces_table.py
  src/crud/dialectic_trace.py
  src/dialectic/core.py
  src/dreamer/introspection.py
  src/feedback.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_a8f2d4e6c9b1_add_dialectic_traces_table.py
  tests/integration/test_token_metrics.py
  tests/routes/test_feedback.py
  tests/test_dialectic_trace.py
  tests/test_feedback.py
  tests/test_introspection.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

chore: (docs) fix typescript context() options method
  docs/v3/documentation/reference/sdk.mdx
Due: none

Updating Docs & Packages with 3.0.0 SDK (#356)
  docs/SKILL.md
  docs/v3/documentation/features/advanced/representation-scopes.mdx
  docs/v3/documentation/features/chat.mdx
  docs/v3/documentation/reference/sdk.mdx
  docs/v3/guides/integrations/n8n.mdx
  examples/crewai/python/pyproject.toml
  examples/crewai/python/src/honcho_crewai/__init__.py
  examples/crewai/python/src/honcho_crewai/tools.py
  examples/crewai/python/uv.lock
  examples/langgraph/python/pyproject.toml
  examples/langgraph/python/uv.lock
  examples/langgraph/typescript/bun.lock
  examples/langgraph/typescript/package.json
  examples/n8n/n8n.json
Due: none

feat: tests!
  agentic_fde.md
  src/feedback.py
  src/routers/workspaces.py
  tests/test_feedback.py
  tests/unified/README.md
  tests/unified/runner.py
  tests/unified/schema.py
  tests/unified/test_cases/agentic_fde_custom_deriver_rules.json
  tests/unified/test_cases/agentic_fde_custom_dialectic_rules.json
  tests/unified/test_cases/agentic_fde_feedback_updates_config.json
Due: basedpyright, pytest-main

chore: delete old unused test system
  tests/bench/peer_card_tests/add_nickname.json
  tests/bench/peer_card_tests/chitchat_only_no_change.json
  tests/bench/peer_card_tests/contradiction_update_location_amidst_noise.json
  tests/bench/peer_card_tests/create_basic_card.json
  tests/bench/peer_card_tests/large_card_no_change.json
  tests/bench/peer_card_tests/large_card_with_one_update_amidst_noise.json
  tests/bench/peer_card_tests/limit_signal.json
  tests/bench/peer_card_tests/multiple_changes.json
  tests/bench/peer_card_tests/no_bio_signal_empty_observations.json
  tests/bench/peer_card_tests/no_new_key_info.json
  tests/bench/peer_card_tests/non_first_person_no_change.json
  tests/bench/peer_card_tests/questions_only_no_change.json
  tests/bench/peer_card_tests/sarcasm_hyperbole_no_change.json
  tests/bench/peer_card_tests/third_party_only_no_change.json
  tests/bench/peer_card_tests/update_age.json
  tests/bench/peer_card_tests/update_location.json
  tests/bench/peer_card_tests/urls_emojis_no_change.json
  tests/bench/peer_card_tests/weather_news_no_change.json
  tests/bench/run_tests.py
  tests/bench/tests/3player.json
  tests/bench/tests/contradict1.json
  tests/bench/tests/long_summary.json
  tests/bench/tests/summary_and_query.json
  tests/bench/tests/summary_long_messages.json
  tests/bench/tests/summary_multi_session.json
  tests/bench/tests/summary_short_messages.json
  tests/bench/tests/summary_trivial.json
  tests/bench/tests/trivial.json
  tests/bench/tests/trivial_session_scoped.json
Due: basedpyright, pytest-main
