Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  # Basic file checks (run on all files)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
        files: \.(py|js|ts)$
      - id: mixed-line-ending
        args: ['--fix=lf']
      # Additional checks from suggestions
      - id: check-docstring-first
        files: \.py$
      - id: check-executables-have-shebangs
      - id: check-case-conflict

  # Python code formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter - only on Python directories
      - id: ruff
        args: [--fix]
        files: ^(src/|tests/|scripts/|migrations/|sdks/python/).*\.py$
      # Formatter - only on Python directories
      - id: ruff-format
        files: ^(src/|tests/|scripts/|migrations/|sdks/python/).*\.py$

  # Security checks - only on main src code (not tests/scripts)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ['-r']
        files: ^(src/|sdks/python/src/).*\.py$

  # Local hooks using your uv environment
  - repo: local
    hooks:
      # TypeScript linting with biome
      - id: biome-check
        name: biome check and format
        entry: bash -c 'cd sdks/typescript && bun run lint:fix'
        language: system
        files: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
        pass_filenames: false

      # Type checking with basedpyright - only on main Python code
      - id: basedpyright
        name: basedpyright
        entry: uv run basedpyright
        language: system
        files: ^(src/|tests/|sdks/python/|scripts/).*\.py$
        require_serial: true
        pass_filenames: false

      # Run main application tests
      - id: pytest-main
        name: pytest (main app)
        entry: uv run pytest tests/
        language: system
        files: ^(src/|tests/).*\.py$
        stages: [pre-push]
        pass_filenames: false

      # Run Python SDK tests (if they exist)
      - id: pytest-python-sdk
        name: pytest (Python SDK)
        entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
        language: system
        files: ^sdks/python/.*\.py$
        stages: [pre-push]
        pass_filenames: false

      # TypeScript build/test with bun
      - id: typescript-check
        name: TypeScript build and test
        entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
        language: system
        files: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
        stages: [pre-push]
        pass_filenames: false

      # TypeScript type checking with bun
      - id: typescript-typecheck
        name: TypeScript type check
        entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run typecheck; fi'
        language: system
        files: ^sdks/typescript/.*\.(ts|tsx)$
        pass_filenames: false

  # Documentation linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: ['--fix']
        files: \.(md|mdx)$

  # Commit message linting
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.13.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

v2.4.3 Release (#278)
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  pyproject.toml
  src/main.py
  uv.lock
Due: basedpyright, pytest-main

chore: tuning beam bench
  tests/bench/beam.py
  tests/bench/harness.py
Due: basedpyright, pytest-main

chore: coderabbit review
  tests/bench/beam.py
  tests/bench/harness.py
Due: basedpyright, pytest-main

fix: make to_openAI return correct type
  sdks/python/src/honcho/session_context.py
  sdks/typescript/src/session_context.ts
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check, typescript-typecheck

fix: ts sdk tests
  sdks/typescript/__tests__/session_context.test.ts
Due: biome-check, typescript-check, typescript-typecheck

docs: removing duplicate openapi doc
  docs/v2/openapi.documented.yml
Due: none

feat: Allow configurable Redis port for harness instances and update cleanup methods to be asynchronous.
  tests/bench/harness.py
Due: basedpyright, pytest-main

docs: adding crewAI integration guide
  docs/docs.json
  docs/v2/integrations/crewai.mdx
  examples/crewai/python/main.py
  examples/crewai/python/pyproject.toml
  examples/crewai/python/uv.lock
Due: none

fix: cleanup cache logs
  docs/v2/contributing/configuration.mdx
  src/config.py
  src/main.py
Due: basedpyright, pytest-main

docs: adding a honcho_crewai package
  examples/crewai/python/main.py
  examples/crewai/python/src/honcho_crewai/__init__.py
  examples/crewai/python/src/honcho_crewai/storage.py
  examples/crewai/python/tests/test_storage.py
Due: none

docs: Using session.search and session summaries to enhance the honcho storage class
  examples/crewai/python/src/honcho_crewai/storage.py
  examples/crewai/python/tests/test_storage.py
Due: none

docs: updating to use honcho_crewai package
  docs/v2/integrations/crewai.mdx
  examples/crewai/python/pyproject.toml
Due: none

fix: address cache thrashing
  src/crud/peer.py
  src/crud/session.py
  src/crud/workspace.py
  src/utils/summarizer.py
Due: basedpyright, pytest-main

fix: warm cache for new session
  src/crud/session.py
Due: basedpyright, pytest-main

fix: 11.24 checkpoint
  docs/docs.json
  docs/pnpm-lock.yaml
  docs/v2/documentation/honcho-context/quickstart.mdx
  docs/v2/documentation/honcho-context/retrieval/get-context.mdx
  docs/v2/documentation/honcho-context/retrieval/overview.mdx
  docs/v2/documentation/honcho-context/retrieval/search.mdx
  docs/v2/documentation/honcho-context/retrieval/using-filters.mdx
  docs/v2/documentation/honcho-context/storage/file-uploads.mdx
  docs/v2/documentation/honcho-context/storage/storing-data.mdx
  docs/v2/documentation/honcho-memory/advanced-storage/deriver.mdx
  docs/v2/documentation/honcho-memory/advanced-storage/representation.mdx
  docs/v2/documentation/honcho-memory/quickstart.mdx
  docs/v2/documentation/introduction/architecture.mdx
  docs/v2/documentation/introduction/overview.mdx
Due: none

docs: Added honcho_crewAI tools. Updated honcho_crewai tests to better match the specific integration. Built out the package definition more.
  examples/crewai/python/src/honcho_crewai/__init__.py
  examples/crewai/python/src/honcho_crewai/exceptions.py
  examples/crewai/python/src/honcho_crewai/tools.py
  examples/crewai/python/tests/test_basic.py
  examples/crewai/python/tests/test_storage.py
  examples/crewai/python/tests/test_tools.py
Due: none

docs: Adding all the honcho sdk parameters to crewAI tools, also adding tools and a simple example.
  examples/crewai/python/examples/simple_example.py
  examples/crewai/python/examples/tools_example.py
  examples/crewai/python/src/honcho_crewai/tools.py
Due: none

docs: adding logging to HonchoStorage class
  examples/crewai/python/src/honcho_crewai/storage.py
Due: none

feat: agentic deriver
  config.toml.example
  src/agent/core.py
  src/agent/tools.py
  src/config.py
  src/crud/__init__.py
  src/crud/message.py
  src/deriver/agent/__init__.py
  src/deriver/agent/core.py
  src/deriver/agent/prompts.py
  src/deriver/agent/worker.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/enqueue.py
  src/deriver/prompts.py
  src/deriver/queue_manager.py
  src/schemas.py
  src/utils/agent_tools.py
  src/utils/clients.py
  src/utils/config_helpers.py
  src/utils/queue_payload.py
  src/utils/types.py
  src/utils/work_unit.py
  tests/bench/peer_card_bench.py
  tests/deriver/conftest.py
  tests/deriver/test_deriver_processing.py
  tests/integration/test_enqueue.py
  tests/test_llm_mock.py
  tests/unified/test_cases/config_deriver_hierarchy.json
Due: basedpyright, pytest-main

docs: updating mdx file to match examples and fixing explanations
  docs/v2/integrations/crewai.mdx
Due: none

Docs: removing session summaries from search
  docs/v2/integrations/crewai.mdx
  examples/crewai/python/src/honcho_crewai/storage.py
Due: none

feat: dialectic agent and dreamer agent
  CLAUDE.md
  src/crud/__init__.py
  src/crud/document.py
  src/crud/message.py
  src/deriver/agent/core.py
  src/deriver/agent/prompts.py
  src/dialectic/agent/__init__.py
  src/dialectic/agent/core.py
  src/dialectic/agent/prompts.py
  src/dialectic/chat.py
  src/dreamer/agent.py
  src/routers/peers.py
  src/utils/agent_tools.py
  src/utils/clients.py
  tests/unified/runner.py
  tests/unified/test_cases/config_message_positive_override.json
  tests/unified/test_cases/dream_consolidate_reduces_documents.json
  tests/unified/test_cases/longmem_ancash.json
  tests/unified/test_cases/longmem_ancash_no_session.json
  tests/unified/test_cases/longmem_triple_e47becba_single-session-user.json
Due: basedpyright, pytest-main

chore: browbeat tests into passing
  src/main.py
  tests/conftest.py
  tests/deriver/conftest.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_queue_processing.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

docs: First draft of mem0 honcho migration
  docs/docs.json
  docs/v2/migrations/from-mem0.mdx
Due: none

docs: adding files package
  examples/crewai/python/LICENSE
  examples/crewai/python/README.md
  examples/crewai/python/examples/interactive_chat.py
  examples/crewai/python/pyproject.toml
Due: none

fix: nits
  src/crud/message.py
  src/deriver/agent/core.py
  src/dialectic/agent/prompts.py
  src/dialectic/chat.py
  src/utils/agent_tools.py
  src/utils/clients.py
  src/utils/representation.py
Due: basedpyright, pytest-main

docs: simplifying language specifically for theory-of-mind.
  CLAUDE.md
  README.md
  docs/v2/integrations/crewai.mdx
  docs/v2/integrations/langgraph.mdx
  examples/crewai/python/README.md
  examples/crewai/python/examples/tools_example.py
  examples/crewai/python/pyproject.toml
  examples/crewai/python/src/honcho_crewai/tools.py
  mcp/instructions.md
Due: none

chore: remove old code, update config files
  .env.template
  config.toml.example
  src/config.py
  src/deriver/agent/core.py
  src/deriver/agent/prompts.py
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/dialectic/__init__.py
  src/dialectic/agent/__init__.py
  src/dialectic/agent/prompts.py
  src/dialectic/chat.py
  src/dialectic/core.py
  src/dialectic/prompts.py
  src/dreamer/agent.py
  src/dreamer/consolidate.py
  src/dreamer/dreamer.py
  src/schemas.py
  src/utils/agent_tools.py
  src/utils/clients.py
  tests/conftest.py
Due: basedpyright, pytest-main

Removing honcho-ai/core references in API Reference where implemented by the honcho-ai package (#275)
  docs/docs.json
  docs/v2/openapi.documented.yml
  docs/v2/openapi.json
Due: none

chore: code rabbit suggestions.
  docs/v2/integrations/crewai.mdx
  examples/crewai/python/pyproject.toml
  examples/crewai/python/src/honcho_crewai/exceptions.py
  examples/crewai/python/src/honcho_crewai/storage.py
  examples/crewai/python/src/honcho_crewai/tools.py
  examples/crewai/python/uv.lock
Due: none

fix: simplify deriver
  src/deriver/agent/prompts.py
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

fix: overview draft, rough reorg
  docs/docs.json
  docs/images/reasoning.png
  docs/v2/documentation/advanced/configuration.mdx
  docs/v2/documentation/advanced/file-uploads.mdx
  docs/v2/documentation/advanced/queue-status.mdx
  docs/v2/documentation/advanced/search.mdx
  docs/v2/documentation/advanced/streaming-response.mdx
  docs/v2/documentation/advanced/using-filters.mdx
  docs/v2/documentation/core-concepts/deriver.mdx
  docs/v2/documentation/core-concepts/glossary.mdx
  docs/v2/documentation/core-concepts/representation.mdx
  docs/v2/documentation/features/dialectic-endpoint.mdx
  docs/v2/documentation/features/get-context.mdx
  docs/v2/documentation/features/local-vs-global.mdx
  docs/v2/documentation/features/summarizer.mdx
  docs/v2/documentation/features/working-rep.mdx
  docs/v2/documentation/honcho-context/quickstart.mdx
  docs/v2/documentation/honcho-context/storage/storing-data.mdx
  docs/v2/documentation/honcho-memory/advanced-storage/deriver.mdx
  docs/v2/documentation/honcho-memory/advanced-storage/representation.mdx
  docs/v2/documentation/introduction/architecture.mdx
  docs/v2/documentation/introduction/overview.mdx
  docs/v2/documentation/reference/guided-tutorial.mdx
  docs/v2/documentation/reference/storage.mdx
Due: none

chore: code rabbit
  README.md
  examples/crewai/python/src/honcho_crewai/__init__.py
  examples/crewai/python/src/honcho_crewai/storage.py
  examples/crewai/python/src/honcho_crewai/tools.py
  examples/crewai/python/uv.lock
Due: none

fix: removing nanoid crewai dependency
  docs/v2/integrations/crewai.mdx
  examples/crewai/python/pyproject.toml
  examples/crewai/python/src/honcho_crewai/storage.py
  examples/crewai/python/uv.lock
Due: none

docs: adding filtering capability to honcho crewai package and tool examples.
  docs/v2/integrations/crewai.mdx
  examples/crewai/python/src/honcho_crewai/storage.py
  examples/crewai/python/src/honcho_crewai/tools.py
  examples/crewai/python/tests/test_storage.py
  examples/crewai/python/tests/test_tools.py
Due: none

fix: remove factory class in favor of direct class instantiation
  docs/v2/integrations/crewai.mdx
  examples/crewai/python/examples/tools_example.py
  examples/crewai/python/src/honcho_crewai/__init__.py
  examples/crewai/python/src/honcho_crewai/tools.py
  examples/crewai/python/tests/test_basic.py
  examples/crewai/python/tests/test_tools.py
Due: none

docs: adding hybrid memory example
  docs/v2/integrations/crewai.mdx
  examples/crewai/python/examples/hybrid_memory_example.py
Due: none

fix: fixing redundent calls to honcho for saving message history
  examples/crewai/python/examples/hybrid_memory_example.py
Due: none

chore: code rabbit fixes
  examples/crewai/python/src/honcho_crewai/__init__.py
  examples/crewai/python/src/honcho_crewai/tools.py
Due: none
