Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

feat: add LiteLLM as AI gateway provider
  pyproject.toml
  src/config.py
  src/llm/backends/__init__.py
  src/llm/backends/litellm.py
  src/llm/registry.py
Due: basedpyright, pytest-main

test: add unit tests for LiteLLM backend
  tests/test_litellm_backend.py
Due: basedpyright, pytest-main

fix: remove default_query stream param causing streaming format response
  src/utils/clients.py
Due: basedpyright, pytest-main

fix: add stream=False to openai_params and handle parse() incompatibility
  src/utils/clients.py
Due: basedpyright, pytest-main

fix(deriver): scope search_messages by observed peer to prevent cross-peer bio leak
  src/crud/message.py
  src/utils/agent_tools.py
  tests/integration/test_message_embeddings.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

fix(json_parser): tolerate dict/list input in validate_and_repair_json
  src/utils/json_parser.py
  tests/utils/test_json_parser.py
Due: basedpyright, pytest-main

fix: src/config for dialectic level defaults
  src/config.py
Due: basedpyright, pytest-main

fix: add test
  tests/llm/test_model_config.py
Due: basedpyright, pytest-main

fix: test
  tests/llm/test_model_config.py
Due: basedpyright, pytest-main

fix: coerce string env vars to int for thinking_budget_tokens (fix #608)
  src/config.py
Due: basedpyright, pytest-main

fix: guard litellm import and fix type contract for LiteLLM provider
  src/llm/backends/litellm.py
  src/llm/registry.py
  src/llm/runtime.py
Due: basedpyright, pytest-main

feat: strip cloud dependencies — configurable BASE_URL, remove hardcoded Plastic Labs URLs
  pyproject.toml
  src/config.py
  src/main.py
  src/telemetry/emitter.py
Due: basedpyright, pytest-main

feat: self-hosted deployment — docker-compose with ParadeDB + Redis
  .dockerignore
  .env.example
  Dockerfile
  scripts/entrypoint.sh
Due: none

feat: multi-tenant isolation — Tenant model + JWT scoping
  migrations/001_add_tenants.sql
  src/crud/workspace.py
  src/main.py
  src/models.py
  src/routers/tenants.py
  src/schemas/__init__.py
  src/schemas/api.py
  src/security.py
Due: basedpyright, pytest-main

docs: agent integration patterns — Athena, Hermes, Multica
  INTEGRATION.md
Due: none

test: multi-tenancy + self-host config test suites
  tests/test_multi_tenancy.py
  tests/test_self_host_config.py
Due: basedpyright, pytest-main

fix: embedding resilience - save docs without embeddings on API failure
  src/crud/document.py
  src/crud/representation.py
  src/embedding_client.py
  src/schemas/internal.py
Due: basedpyright, pytest-main

fix: add dimensions parameter to OpenAI-compatible embeddings.create() calls (#625)
  src/embedding_client.py
Due: basedpyright, pytest-main

fix(deriver): break worker-pool deadlock on hung LLM calls
  src/config.py
  src/deriver/queue_manager.py
Due: basedpyright, pytest-main

docs: draft of design-patterns
  docs/v3/documentation/core-concepts/design-patterns.mdx
Due: none

fix(llm): ensure json keyword in messages for Alibaba/Qwen compatibility
  src/llm/backends/openai.py
Due: basedpyright, pytest-main

fix(config,llm): add OPENAI_BASE_URL, ANTHROPIC_BASE_URL, GEMINI_BASE_URL to LLMSettings and default clients
  src/config.py
  src/llm/registry.py
Due: basedpyright, pytest-main

docs: update plan with synced main state and promotion steps
  .kilo/plans/1778011039508-cosmic-rocket.md
Due: none

test: add FTS routing unit tests and schedule_dream 404 coverage
  tests/conftest.py
  tests/routes/test_workspaces.py
  tests/utils/test_search_fts_routing.py
Due: basedpyright, pytest-main

feat(retrieval): hybrid document search with RRF, MMR, and lexical rerank
  src/config.py
  src/crud/document.py
  src/utils/search.py
  tests/crud/test_document.py
  tests/test_retrieval.py
Due: basedpyright, pytest-main

docs: add deployment conventions for agents (ParadeDB sharing, branch strategy, OpenRouter-first)
  .kilo/plans/1778009322492-swift-tiger.md
  .kilo/plans/1778011039508-cosmic-rocket.md
  CLAUDE.md
Due: none

fix: pre-landing review fixes for feat/hybrid-retrieval
  migrations/versions/b2c3d4e5f6a7_add_documents_collection_level_index.py
  src/dreamer/dream_scheduler.py
  src/dreamer/orchestrator.py
  src/models.py
  src/routers/workspaces.py
  src/utils/search.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

docs: fix branch strategy — main=integration, stable=staging, prod=deploy
  .kilo/plans/1778011039508-cosmic-rocket.md
  CLAUDE.md
Due: none

fix: address Codex/Copilot review comments
  .kilo/plans/1778011039508-cosmic-rocket.md
  DEPLOYMENT.md
  README.md
  migrations/versions/a7b8c9d0e1f2_add_documents_content_gin_index.py
  src/config.py
  src/crud/document.py
  src/utils/search.py
  tests/crud/test_document.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

fix: apply max_distance filter to full-text branch in hybrid document search
  src/utils/search.py
Due: basedpyright, pytest-main

fix(retrieval): sort ts_rank descending in _build_fts_ranked_query
  src/utils/search.py
Due: basedpyright, pytest-main

docs: mark PR merged into stable, update promotion plan
  .kilo/plans/1778011039508-cosmic-rocket.md
Due: none

ci: replace upstream workflows with self-hosted pipeline
  .github/workflows/docker-build.yml
  .github/workflows/fly-deploy-prod.yml
  .github/workflows/fly-deploy.yml
  .github/workflows/start-fly-runner.yml
  .github/workflows/staticanalysis.yml
  .github/workflows/unified-tests.yml
  .github/workflows/unittest.yml
Due: none

docs: switch to external honcho setup model
  DEPLOYMENT.md
Due: none

fix(retrieval): unblock websearch_to_tsquery, add document GIN index, validate hybrid search
  .kilo/plans/1778011039508-cosmic-rocket.md
  DEPLOYMENT.md
  src/models.py
  src/utils/search.py
Due: basedpyright, pytest-main

docs: add self-host and Athena integration deployment guide
  DEPLOYMENT.md
Due: none

fix: graceful embedding fallback in dialectic search tools
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

fix(llm): inject system prompt with JSON schema for structured output
  src/llm/backends/openai.py
Due: basedpyright, pytest-main

fix(dev): skip lancedb on macOS Intel and guard optional import
  pyproject.toml
  src/vector_store/__init__.py
  uv.lock
Due: basedpyright, pytest-main

feat(openai): pass unrecognised extra_params through as extra_body
  src/llm/backends/openai.py
Due: basedpyright, pytest-main
