Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

fix(dreamer): reject malformed observation tool args instead of raising
  src/utils/agent_tools.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

feat(webhooks): carry the work unit's tenant_id in the signed body under MULTI_TENANT
  docs/v3/documentation/features/advanced/webhooks.mdx
  src/deriver/consumer.py
  src/exceptions.py
  src/webhooks/webhook_delivery.py
Due: basedpyright, pytest-main

test(webhooks): cover tenant_id threading, fail-closed, and the errored terminal state
  tests/deriver/test_queue_processing.py
  tests/webhooks/test_webhook_delivery.py
Due: basedpyright, pytest-main

Change default
  src/llm/backends/anthropic.py
  tests/llm/test_backends/test_anthropic.py
Due: basedpyright, pytest-main

fix(mcp): stop dropping chat calls that take longer than 10s or 60s
  mcp/CHANGELOG.md
  mcp/README.md
  mcp/src/config.test.ts
  mcp/src/config.ts
  mcp/src/http.test.ts
  mcp/src/http.ts
  mcp/src/stdio.ts
Due: none

review(webhooks): fail closed on empty tenant_id, split agent-comment regions
  src/exceptions.py
  src/webhooks/webhook_delivery.py
  tests/deriver/test_queue_processing.py
  tests/webhooks/test_webhook_delivery.py
Due: basedpyright, pytest-main

fix(mcp): stop dropping chat calls that take longer than 10s or 60s (#1218)
  mcp/CHANGELOG.md
  mcp/README.md
  mcp/src/config.test.ts
  mcp/src/config.ts
  mcp/src/http.test.ts
  mcp/src/http.ts
  mcp/src/stdio.ts
Due: none

fix(dialectic): gate workspace chat on a recall tool; assert retrieval via evidence in unified tests (#1210)
  src/config.py
  src/dialectic/core.py
  src/dialectic/prompts.py
  src/dialectic/workspace.py
  src/llm/api.py
  src/llm/tool_loop.py
  src/utils/agent_tools.py
  src/utils/types.py
  tests/llm/test_tool_loop_gating.py
  tests/test_workspace_chat.py
  tests/unified/README.md
  tests/unified/runner.py
  tests/unified/schema.py
  tests/unified/test_cases/workspace_chat_cross_peer.json
  tests/unified/test_cases/workspace_chat_from_messages.json
  tests/unified/test_cases/workspace_chat_from_observations.json
  tests/unified/test_cases/workspace_chat_scope.json
  tests/unified/test_evidence_assertion.py
  tests/unified/test_schema.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

fix(mcp): clean up instructions to remove redundant tools and explain usage modes
  mcp/instructions.md
Due: none

fix(mcp): add pagination to list_peers and fix remove_peers_from_session description
  mcp/src/tools/peers.ts
  mcp/src/tools/sessions.ts
Due: none

fix(evidence): Don't keep DB objects past their transaction (#1212)
  src/utils/evidence.py
  tests/conftest.py
  tests/utils/test_evidence.py
Due: basedpyright, pytest-main

fix(mcp): linting errors from mcp inspector
  mcp/src/tools/conclusions.ts
  mcp/src/tools/scopes.ts
  mcp/src/tools/sessions.ts
  mcp/src/tools/workspace.ts
Due: none

fix(llm): Allow Anthropic backend to set thinking-tool conflict policy (#1211)
  src/llm/backends/anthropic.py
  tests/llm/test_backends/test_anthropic.py
Due: basedpyright, pytest-main

fix(dreamer): reject malformed observation tool args instead of raising (#1217)
  src/utils/agent_tools.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

Fix MCP design via mcp inspector errors (#1219)
  mcp/instructions.md
  mcp/src/server.test.ts
  mcp/src/tools/conclusions.ts
  mcp/src/tools/peers.ts
  mcp/src/tools/scopes.ts
  mcp/src/tools/sessions.ts
  mcp/src/tools/system.ts
  mcp/src/tools/workspace.ts
Due: none

fix(sdk): parse observer_id and observed_id on Python EvidenceObservation
  sdks/python/src/honcho/api_types.py
  tests/sdk/test_chat_evidence.py
Due: basedpyright, pytest-main, pytest-python-sdk

chore: add changelog and version updates
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v3/openapi.json
  mcp/CHANGELOG.md
  mcp/package.json
  mcp/server.json
  pyproject.toml
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/typescript/CHANGELOG.md
  sdks/typescript/package.json
  sdks/typescript/src/api-version.ts
  uv.lock
Due: biome-check, typescript-check

fix(llm): translate bare TimeoutError to UpstreamLLMError; fix live timeout test
  src/llm/errors.py
  tests/live_llm/test_live_timeouts.py
  tests/llm/test_upstream_errors.py
  tests/telemetry/test_session_trace_identity.py
Due: basedpyright, pytest-main

fix(sdk): parse observer_id and observed_id on Python EvidenceObservation (#1220)
  sdks/python/src/honcho/api_types.py
  tests/sdk/test_chat_evidence.py
Due: basedpyright, pytest-main, pytest-python-sdk

fix(llm): translate bare TimeoutError to UpstreamLLMError; fix live timeout test (#1222)
  src/llm/errors.py
  tests/live_llm/test_live_timeouts.py
  tests/llm/test_upstream_errors.py
  tests/telemetry/test_session_trace_identity.py
Due: basedpyright, pytest-main

chore: add changelog and version updates (#1221)
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v3/openapi.json
  mcp/CHANGELOG.md
  mcp/package.json
  mcp/server.json
  pyproject.toml
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/typescript/CHANGELOG.md
  sdks/typescript/package.json
  sdks/typescript/src/api-version.ts
  uv.lock
Due: biome-check, typescript-check

feat(llm): Stop interleaving models; restart agent loop on failure
  CLAUDE.md
  src/llm/api.py
  src/llm/runtime.py
  src/llm/tool_loop.py
  tests/llm/test_telemetry_llm_call.py
  tests/llm/test_tool_loop_run_fallback.py
Due: basedpyright, pytest-main

Comment
  src/llm/runtime.py
Due: basedpyright, pytest-main

Comment
  src/llm/api.py
Due: basedpyright, pytest-main

feat(tenants): require vector_correlation_id on create; allow setting it once via PATCH
  CLAUDE.md
  src/crud/tenant.py
  src/routers/tenants.py
  src/schemas/api.py
Due: basedpyright, pytest-main

test(tenants): pin the required key on create and set-once on PATCH
  tests/routes/test_tenants.py
Due: basedpyright, pytest-main

review(tenants): pin that a 409 from a combined PATCH body applies nothing
  tests/routes/test_tenants.py
Due: basedpyright, pytest-main

review: lock the row for the set-once check; contract wording; Literal-safe tier values in tests
  CLAUDE.md
  src/crud/tenant.py
  src/schemas/api.py
  tests/routes/test_tenants.py
Due: basedpyright, pytest-main

fix(a8): embed_now is per-tenant, so run it on tracked_db
  src/models.py
  src/reconciler/embed_now.py
  tests/conftest.py
  tests/deriver/test_embed_now.py
  tests/routes/test_messages.py
Due: basedpyright, pytest-main

fix(deriver): harden against few-shot example leakage
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/utils/representation.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_prompts.py
Due: basedpyright, pytest-main

docs: add description frontmatter to v3 pages, remove stale pages
  docs/v3/contributing/guidelines.mdx
  docs/v3/contributing/license.mdx
  docs/v3/documentation/core-concepts/reasoning.mdx
  docs/v3/documentation/core-concepts/representation.mdx
  docs/v3/documentation/introduction/overview.mdx
  docs/v3/documentation/introduction/quickstart.mdx
  docs/v3/documentation/reference/storage.mdx
  docs/v3/documentation/scratch/honcho-memory/advanced-retrieval/get-context.mdx
  docs/v3/documentation/scratch/honcho-memory/quickstart.mdx
  docs/v3/documentation/scratch/local-vs-global.mdx
Due: none

fix(llm): recognize gpt-6 model family for max_completion_tokens
  src/llm/backends/openai.py
Due: basedpyright, pytest-main

feat(deriver): Adds retries to connecting to Redis at boot
  src/cache/client.py
  src/config.py
  tests/test_cache_connect_retry.py
Due: basedpyright, pytest-main

review: pass the process type to the isolation validator, drop INSTANCE_TYPE
  .env.template
  CLAUDE.md
  config.toml.example
  docker-compose.yml.example
  src/config.py
  src/deriver/__main__.py
  src/main.py
  src/startup/tenant_isolation_validator.py
  tests/startup/test_fresh_single_tenant_deploy.py
  tests/startup/test_tenant_isolation_validator.py
  tests/test_single_tenant_mode.py
Due: basedpyright, pytest-main

test(llm): cover gpt-6 in max_completion_tokens detection
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

docs: add description frontmatter to v3 pages, remove stale pages (#1231)
  docs/v3/contributing/guidelines.mdx
  docs/v3/contributing/license.mdx
  docs/v3/documentation/core-concepts/reasoning.mdx
  docs/v3/documentation/core-concepts/representation.mdx
  docs/v3/documentation/introduction/overview.mdx
  docs/v3/documentation/introduction/quickstart.mdx
  docs/v3/documentation/reference/storage.mdx
  docs/v3/documentation/scratch/honcho-memory/advanced-retrieval/get-context.mdx
  docs/v3/documentation/scratch/honcho-memory/quickstart.mdx
  docs/v3/documentation/scratch/local-vs-global.mdx
Due: none

fix(telemetry): backdate Langfuse generation start to the call's real duration
  src/telemetry/langfuse_exporter.py
  tests/telemetry/test_langfuse_exporter.py
Due: basedpyright, pytest-main

fix(telemetry): only pin the generation end time when its start was backdated
  src/telemetry/langfuse_exporter.py
  tests/telemetry/test_langfuse_exporter.py
Due: basedpyright, pytest-main

feat(models): adds index to session_peers for peer filtering
  migrations/versions/b8d2f4a6c9e1_index_session_peers_by_peer.py
  src/models.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_b8d2f4a6c9e1_index_session_peers_by_peer.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

chore(mcp): release 3.0.1
  mcp/src/server.ts
Due: none
