Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  # Basic file checks (run on all files)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
        files: \.(py|js|ts)$
      - id: mixed-line-ending
        args: ['--fix=lf']
      # Additional checks from suggestions
      - id: check-docstring-first
        files: \.py$
      - id: check-executables-have-shebangs
      - id: check-case-conflict

  # Python code formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter - only on Python directories
      - id: ruff
        args: [--fix]
        files: ^(src/|tests/|scripts/|migrations/|sdks/python/).*\.py$
      # Formatter - only on Python directories
      - id: ruff-format
        files: ^(src/|tests/|scripts/|migrations/|sdks/python/).*\.py$

  # Security checks - only on main src code (not tests/scripts)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ['-r']
        files: ^(src/|sdks/python/src/).*\.py$

  # Local hooks using your uv environment
  - repo: local
    hooks:
      # TypeScript linting with biome
      - id: biome-check
        name: biome check and format
        entry: bash -c 'cd sdks/typescript && bun run lint:fix'
        language: system
        files: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
        pass_filenames: false

      # Type checking with basedpyright - only on main Python code
      - id: basedpyright
        name: basedpyright
        entry: uv run basedpyright
        language: system
        files: ^(src/|tests/|sdks/python/|scripts/).*\.py$
        require_serial: true
        pass_filenames: false

      # Run main application tests
      - id: pytest-main
        name: pytest (main app)
        entry: uv run pytest tests/
        language: system
        files: ^(src/|tests/).*\.py$
        stages: [pre-push]
        pass_filenames: false

      # Run Python SDK tests (if they exist)
      - id: pytest-python-sdk
        name: pytest (Python SDK)
        entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
        language: system
        files: ^sdks/python/.*\.py$
        stages: [pre-push]
        pass_filenames: false

      # TypeScript build/test with bun
      - id: typescript-check
        name: TypeScript build and test
        entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
        language: system
        files: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
        stages: [pre-push]
        pass_filenames: false

      # TypeScript type checking with bun
      - id: typescript-typecheck
        name: TypeScript type check
        entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run typecheck; fi'
        language: system
        files: ^sdks/typescript/.*\.(ts|tsx)$
        pass_filenames: false

  # Documentation linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: ['--fix']
        files: \.(md|mdx)$

  # Commit message linting
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.13.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

Code Rabbit AGain
  README.md
  docs/v2/documentation/introduction/overview.mdx
Due: none

Docs Refresh (#200)
  README.md
  assets/honcho.svg
  docs/v2/documentation/core-concepts/architecture.mdx
  docs/v2/documentation/introduction/overview.mdx
Due: none

fix: CR comments
  sdks/python/CHANGELOG.md
  sdks/typescript/CHANGELOG.md
  sdks/typescript/src/session.ts
  sdks/typescript/src/session_context.ts
  sdks/typescript/src/validation.ts
  src/deriver/queue_payload.py
  tests/sdk/test_session.py
Due: biome-check, basedpyright, pytest-main, typescript-check, typescript-typecheck

fix: add message fetch for backwards compatibility
  src/deriver/consumer.py
Due: basedpyright, pytest-main

fix: backwards compatibility
  src/deriver/consumer.py
  src/deriver/queue_payload.py
  uv.lock
Due: basedpyright, pytest-main

fix: undo typescript sdk change -- requires core change
  sdks/typescript/src/session.ts
  sdks/typescript/src/session_context.ts
  sdks/typescript/src/validation.ts
Due: biome-check, typescript-check, typescript-typecheck

fix: make message_id str in SDKs
  docs/changelog/introduction.mdx
  sdks/python/CHANGELOG.md
  sdks/python/src/honcho/session_context.py
  sdks/typescript/CHANGELOG.md
  sdks/typescript/src/session_context.ts
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check, typescript-typecheck

feat: add optional JWT and webhook secrets to honcho instance creation
  docs/v2/documentation/introduction/vibecoding.mdx
  docs/v2/documentation/reference/platform.mdx
  pyproject.toml
  src/config.py
  src/crud/representation.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/dialectic/chat.py
  src/dialectic/prompts.py
  src/dialectic/utils.py
  src/routers/peers.py
  src/utils/clients.py
  src/utils/embedding_store.py
  src/utils/logging.py
  src/utils/summarizer.py
  src/utils/types.py
  tests/bench/peer_card_bench.py
  tests/conftest.py
  uv.lock
Due: basedpyright, pytest-main

Expose dialectic injection prompt in API layers
  sdks/python/src/honcho/peer.py
  sdks/typescript/src/peer.ts
  sdks/typescript/src/validation.ts
  src/dialectic/chat.py
  src/routers/peers.py
  src/schemas.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

Address chat argument payload
  sdks/python/src/honcho/peer.py
Due: basedpyright, pytest-python-sdk

Revert changes to python sdk
  sdks/python/src/honcho/peer.py
Due: basedpyright, pytest-python-sdk

Add dialectic injection
  src/dialectic/chat.py
  src/dialectic/prompts.py
  src/routers/peers.py
  src/schemas.py
Due: basedpyright, pytest-main

chore: ignore spurious warnings
  src/utils/clients.py
  src/utils/logging.py
Due: basedpyright, pytest-main

feat: add response format if using gpt-5 model family
  src/deriver/deriver.py
  src/dialectic/utils.py
  src/utils/clients.py
  src/utils/summarizer.py
  tests/bench/peer_card_bench.py
Due: basedpyright, pytest-main

feat: add response models to all apis except anthropic
  pyproject.toml
  src/utils/clients.py
  tests/bench/peer_card_bench.py
  uv.lock
Due: basedpyright, pytest-main

fix: raise NotImplementedError for response models in AsyncAnthropic client
  src/utils/clients.py
Due: basedpyright, pytest-main

refactor: wrap Message object
  sdks/python/src/honcho/async_client/client.py
  sdks/python/src/honcho/async_client/message.py
  sdks/python/src/honcho/async_client/pagination.py
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/message.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/typescript/__tests__/integration.test.ts
  sdks/typescript/__tests__/message.test.ts
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/__tests__/session_context.test.ts
  sdks/typescript/src/client.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/message.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/session_context.ts
  tests/sdk/test_message.py
  tests/sdk/test_session.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

chore: address review
  pyproject.toml
  src/crud/representation.py
  src/deriver/deriver.py
  src/utils/clients.py
Due: basedpyright, pytest-main

feat: add targeted peer card derivation and use in targeted dialectic
  src/crud/representation.py
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/dialectic/chat.py
  tests/deriver/test_representation_crud.py
Due: basedpyright, pytest-main

feat: add deriver status methods to session
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/session.py
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/src/session.ts
  tests/sdk/test_session.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

feat: targeted peer cards
  src/crud/representation.py
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/dialectic/chat.py
  tests/deriver/test_representation_crud.py
Due: basedpyright, pytest-main

chore: review cleanup
  docs/v2/documentation/introduction/vibecoding.mdx
  docs/v2/documentation/reference/platform.mdx
  src/crud/representation.py
  src/deriver/deriver.py
  src/deriver/prompts.py
Due: basedpyright, pytest-main

chore: Code Rabbit Comment cleanup
  docs/v2/documentation/reference/platform.mdx
  src/crud/representation.py
Due: basedpyright, pytest-main

feat: targeted peer cards (#204)
  docs/v2/documentation/introduction/vibecoding.mdx
  docs/v2/documentation/reference/platform.mdx
  src/crud/representation.py
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/dialectic/chat.py
  tests/deriver/test_representation_crud.py
Due: basedpyright, pytest-main

refactor: add token count to queue item table
  migrations/versions/394e7c39362d_add_token_count_to_queueitem_table.py
  src/models.py
Due: basedpyright, pytest-main

refactor: queue manager
  src/config.py
  src/deriver/__init__.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/deriver/queue_payload.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

[WIP] representation structure + deriver cleanup
  src/crud/representation.py
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/utils/embedding_store.py
  src/utils/formatting.py
  src/utils/logging.py
  src/utils/representation.py
  src/utils/shared_models.py
  tests/conftest.py
Due: basedpyright, pytest-main

feat: batch representation task processing
  src/deriver/deriver.py
  src/deriver/prompts.py
  tests/test_llm_mock.py
Due: basedpyright, pytest-main

fix: actually pass in token count from msg to queue item
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/routers/messages.py
Due: basedpyright, pytest-main

test: queue manager
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

chore: CR comments
  src/deriver/consumer.py
  src/deriver/deriver.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

typo: workspaceId in quickstart.mdx
  docs/v2/documentation/introduction/quickstart.mdx
Due: none

typo: workspaceId in quickstart.mdx (#207)
  docs/v2/documentation/introduction/quickstart.mdx
Due: none

feat: add configurable max message size, update tests and docs -- this fixes token overflow in deriver
  docs/v2/openapi.documented.yml
  src/config.py
  src/schemas.py
  src/utils/files.py
  tests/routes/test_validation_api.py
Due: basedpyright, pytest-main
