Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

fix(db): use pool connect event instead of server_settings connect_arg
  src/db.py
Due: basedpyright, pytest-main

fix(db): move HNSW event listener after engine creation for basedpyright
  src/db.py
Due: basedpyright, pytest-main

fix(db): use f-string for SET command (psycopg utility stmts dont support bind params)
  src/db.py
Due: basedpyright, pytest-main

fix(db): wrap SET in autocommit to avoid INTRANS when read_engine sets AUTOCOMMIT
  src/db.py
Due: basedpyright, pytest-main

fix(llm): preserve null content on OpenAI tool-call turns
  src/llm/backends/openai.py
  tests/llm/test_backends/test_openai.py
  tests/llm/test_history_adapters.py
  tests/llm/test_tool_loop_reasoning_content.py
Due: basedpyright, pytest-main

fix: only classify genuine oversize input as a token-limit error (#791)
  src/crud/document.py
  src/crud/representation.py
  src/embedding_client.py
  src/utils/agent_tools.py
  src/utils/search.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

test(live_llm): cover OpenAI null content tool-call replay
  tests/live_llm/README.md
  tests/live_llm/model_matrix.py
  tests/live_llm/test_live_openai.py
Due: basedpyright, pytest-main

fix: preserve session observer limit
  src/crud/session.py
  tests/crud/test_session.py
Due: basedpyright, pytest-main

fix(crud): preserve joined_at for active session peers (#1059)
  src/crud/session.py
  tests/crud/test_session.py
  tests/test_search.py
Due: basedpyright, pytest-main

fix(dialectic): revamp workspace and pair chat system prompts
  src/dialectic/core.py
  src/dialectic/prompts.py
  src/dialectic/workspace.py
  tests/test_dialectic_prompts.py
  tests/test_workspace_chat.py
Due: basedpyright, pytest-main

fix(dialectic): revamp workspace and pair chat system prompts (#1066)
  src/dialectic/core.py
  src/dialectic/prompts.py
  src/dialectic/workspace.py
  tests/test_dialectic_prompts.py
  tests/test_workspace_chat.py
Due: basedpyright, pytest-main

Running Honcho Locally via Honcho CLI (#1029)
  .gitignore
  docs/snippets/cli-commands.mdx
  docs/v3/documentation/reference/cli.mdx
  honcho-cli/README.md
  honcho-cli/pyproject.toml
  honcho-cli/src/honcho_cli/_help.py
  honcho-cli/src/honcho_cli/commands/stack.py
  honcho-cli/src/honcho_cli/local/__init__.py
  honcho-cli/src/honcho_cli/local/docker.py
  honcho-cli/src/honcho_cli/local/env.py
  honcho-cli/src/honcho_cli/local/health.py
  honcho-cli/src/honcho_cli/local/profile.py
  honcho-cli/src/honcho_cli/local/setup.py
  honcho-cli/src/honcho_cli/local/templates/__init__.py
  honcho-cli/src/honcho_cli/local/templates/docker-compose.yml
  honcho-cli/src/honcho_cli/local/templates/init.sql
  honcho-cli/src/honcho_cli/main.py
  honcho-cli/src/honcho_cli/output.py
  honcho-cli/tests/test_local.py
  honcho-cli/tests/test_setup.py
  honcho-cli/tests/test_start.py
  skills/honcho-cli/SKILL.md
Due: none

perf(cache): hash-tag the cache namespace so an instance uses one shard (#1058)
  src/cache/client.py
  src/crud/collection.py
  src/crud/peer.py
  src/crud/session.py
  src/crud/workspace.py
  tests/test_cache_key_namespace.py
Due: basedpyright, pytest-main

chore: bump honcho-cli to 0.1.3
  honcho-cli/CHANGELOG.md
  honcho-cli/pyproject.toml
  honcho-cli/src/honcho_cli/__init__.py
  uv.lock
Due: none

chore: bump honcho-cli to 0.1.3 (#1067)
  honcho-cli/CHANGELOG.md
  honcho-cli/pyproject.toml
  honcho-cli/src/honcho_cli/__init__.py
  uv.lock
Due: none

fix(scopes): scope observer sessions in SQL instead of a fetched name list
  src/crud/message.py
  src/utils/agent_tools.py
  tests/conftest.py
  tests/crud/test_session_scope_clauses.py
Due: basedpyright, pytest-main

fix(scopes): scope observer sessions in SQL instead of a fetched name list (#1065)
  src/crud/message.py
  src/utils/agent_tools.py
  tests/conftest.py
  tests/crud/test_session_scope_clauses.py
Due: basedpyright, pytest-main

fix(cli): write embedding base url in --setup
  honcho-cli/CHANGELOG.md
  honcho-cli/src/honcho_cli/local/setup.py
  honcho-cli/tests/test_setup.py
Due: none

feat(cli): surface local stack on the welcome screen
  honcho-cli/src/honcho_cli/_help.py
Due: none

chore: add changelog and version updates
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v3/openapi.json
  pyproject.toml
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/typescript/CHANGELOG.md
  sdks/typescript/package.json
  uv.lock
Due: biome-check, typescript-check

docs(llm): note content_override None sentinel semantics
  src/llm/backends/openai.py
Due: basedpyright, pytest-main

fix(db): address review feedback on HNSW iterative scan PR
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/db.py
  tests/conftest.py
  tests/test_hnsw_iterative_scan.py
Due: basedpyright, pytest-main

docs: add scopes to README architecture and fix changelog prefix
  CHANGELOG.md
  README.md
  docs/changelog/introduction.mdx
Due: none

release: add changelog and version updates (#1069)
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v3/openapi.json
  pyproject.toml
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/typescript/CHANGELOG.md
  sdks/typescript/package.json
  uv.lock
Due: biome-check, typescript-check

feat(docs): load the GTM container on every docs page
  docs/docs.json
Due: none

feat(docs): PostHog loads only with a granting consent answer
  docs/docs.json
  docs/posthog-consent.js
Due: none

Abigail/embedding OpenAI base url (#1068)
  honcho-cli/CHANGELOG.md
  honcho-cli/src/honcho_cli/_help.py
  honcho-cli/src/honcho_cli/local/setup.py
  honcho-cli/tests/test_setup.py
Due: none

docs: make honcho start the documented local path
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/changelog/compatibility-guide.mdx
  docs/v3/contributing/guidelines.mdx
  docs/v3/contributing/self-hosting.mdx
  docs/v3/contributing/troubleshooting.mdx
  docs/v3/documentation/introduction/overview.mdx
  docs/v3/documentation/introduction/quickstart.mdx
  docs/v3/documentation/introduction/vibecoding.mdx
  docs/v3/documentation/reference/cli.mdx
  docs/v3/guides/integrations/hermes.mdx
  honcho-cli/README.md
Due: none

fix(docker): ship pyproject.toml in the runtime image
  Dockerfile
Due: none

fix(docker): ship pyproject.toml in the runtime image (#1074)
  Dockerfile
Due: none

test(scopes): pin DREAM.ENABLED so scope-route tests ignore local config
  tests/routes/test_scope_route_policy.py
  tests/routes/test_scopes.py
Due: basedpyright, pytest-main

fix(windows): guard Unix-only APIs so the server and deriver start on native Windows
  src/deriver/queue_manager.py
  src/telemetry/reasoning_traces.py
Due: basedpyright, pytest-main

fix(tests): suppress basedpyright reportArgumentType on invalid-value tests
  tests/test_hnsw_iterative_scan.py
Due: basedpyright, pytest-main

fix(tests): suppress basedpyright reportPrivateUsage on private function tests
  tests/test_hnsw_iterative_scan.py
Due: basedpyright, pytest-main

feat(vector-store): add Milvus backend
  .env.template
  config.toml.example
  docs/v3/contributing/configuration.mdx
  pyproject.toml
  src/config.py
  src/startup/embedding_validator.py
  src/vector_store/__init__.py
  src/vector_store/milvus.py
  tests/conftest.py
  tests/llm/test_model_config.py
  tests/vector_store/test_milvus.py
  uv.lock
Due: basedpyright, pytest-main

fix(vector-store): normalize Milvus cosine scores
  src/vector_store/milvus.py
  tests/vector_store/test_milvus.py
Due: basedpyright, pytest-main

fix(vector-store): address Milvus review feedback
  .env.template
  CHANGELOG.md
  CLAUDE.md
  config.toml.example
  docs/changelog/introduction.mdx
  docs/v3/contributing/changing-embeddings.mdx
  docs/v3/contributing/configuration.mdx
  scripts/configure_embeddings.py
  src/config.py
  src/vector_store/milvus.py
  tests/conftest.py
  tests/llm/test_model_config.py
  tests/vector_store/test_milvus.py
Due: basedpyright, pytest-main

fix(vector-store): preserve Milvus server metadata
  src/vector_store/milvus.py
  tests/vector_store/test_milvus.py
Due: basedpyright, pytest-main

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
