Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

fix(llm): support per-request provider timeouts (#832)
  config.toml.example
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/llm/backends/anthropic.py
  src/llm/backends/gemini.py
  src/llm/backends/openai.py
  src/llm/request_builder.py
  tests/live_llm/test_live_timeouts.py
  tests/llm/test_backends/test_anthropic.py
  tests/llm/test_backends/test_gemini.py
  tests/llm/test_backends/test_openai.py
  tests/llm/test_request_builder.py
  tests/test_config.py
Due: basedpyright, pytest-main

feat: conclusion reverse traversal, source_ids filters, SDK batch fetch
  docs/v3/openapi.json
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/conclusions.py
  sdks/python/src/honcho/http/routes.py
  src/crud/document.py
  src/routers/conclusions.py
  src/utils/agent_tools.py
  src/utils/filter.py
  tests/routes/test_conclusions.py
  tests/sdk/test_conclusions.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main, pytest-python-sdk

feat(typescript): conclusion attribution parity with Python SDK
  sdks/typescript/__tests__/conclusions.test.ts
  sdks/typescript/src/conclusions.ts
  sdks/typescript/src/types/api.ts
Due: biome-check, typescript-check

fix: deterministic pagination order for derived conclusions
  src/crud/document.py
Due: basedpyright, pytest-main

fix(llm): set HTTP timeout on Gemini clients (#903)
  src/embedding_client.py
  src/llm/registry.py
  tests/llm/test_embedding_client.py
  tests/llm/test_registry.py
Due: basedpyright, pytest-main

feat(mcp): search conclusions via search tool
  mcp/bun.lock
  mcp/src/tools/conclusions.ts
  mcp/src/tools/workspace.ts
Due: none

fix(ci): clear basedpyright warnings from #903 tests; run static analysis on PRs
  .github/workflows/staticanalysis.yml
  tests/llm/test_embedding_client.py
  tests/llm/test_registry.py
Due: basedpyright, pytest-main

fix(ci): clear basedpyright warnings from #903 tests; run static analysis on PRs (#975)
  .github/workflows/staticanalysis.yml
  tests/llm/test_embedding_client.py
  tests/llm/test_registry.py
Due: basedpyright, pytest-main

fix(deriver): Prioritize deletion work
  src/deriver/queue_manager.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

fix: make embedding batch size configurable
  .env.template
  config.toml.example
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/embedding_client.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

test(embedding): assert provider batch-size defaults
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

test(embedding): cover Gemini batching and config fallbacks per review
  docs/v3/contributing/configuration.mdx
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

fix: add support for filtering to mcp
  mcp/src/tools/conclusions.ts
  mcp/src/tools/workspace.ts
Due: none

fix: resolve tiktoken encoding without constructing the embedding client (#955)
  src/embedding_client.py
Due: basedpyright, pytest-main

refactor: always resolve encoding from current config
  src/embedding_client.py
Due: basedpyright, pytest-main

test(crud): tighten re-add regression per review
  tests/crud/test_session.py
Due: basedpyright, pytest-main

fix(crud): preserve active session peer joined_at on re-add
  src/crud/session.py
  tests/crud/test_session.py
Due: basedpyright, pytest-main

test(search): add peer_perspective visibility regression for active re-adds
  tests/test_search.py
Due: basedpyright, pytest-main

chore: minor nits
  mcp/bun.lock
  mcp/package.json
  mcp/src/tools/workspace.ts
Due: none

fix: make embedding batch size configurable (#983)
  .env.template
  config.toml.example
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/embedding_client.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

fix: adding better error handling
  mcp/src/tools/workspace.ts
Due: none

review: SDK response_format parity, shared query sanitizer, annotations
  sdks/typescript/src/client.ts
  sdks/typescript/src/types/api.ts
  src/dialectic/chat.py
  src/schemas/api.py
Due: biome-check, basedpyright, pytest-main, typescript-check

review: fold active peers into workspace stats; trace + query bounds
  src/crud/workspace.py
  src/dialectic/prompts.py
  src/dialectic/workspace.py
  src/utils/agent_tools.py
  tests/test_workspace_chat.py
Due: basedpyright, pytest-main

fix(docker): copy uv build inputs for podman compatibility (#878)
  Dockerfile
Due: none

fix(deriver): stop extraction examples teaching fabricated inferences
  src/deriver/prompts.py
Due: basedpyright, pytest-main

docs: document pgvector preinstall for least-privilege DB roles
  docs/v3/contributing/self-hosting.mdx
  docs/v3/contributing/troubleshooting.mdx
Due: none

docs: clarify why docker compose avoids the pgvector privilege error
  docs/v3/contributing/troubleshooting.mdx
Due: none

fix(deriver): keep the stated duration in the NYC residence example
  src/deriver/prompts.py
Due: basedpyright, pytest-main

fix(crud): preserve active session peer joined_at on re-add
  src/crud/session.py
  tests/crud/test_session.py
  tests/test_search.py
Due: basedpyright, pytest-main

fix(deriver): update extraction examples (#985)
  src/deriver/prompts.py
Due: basedpyright, pytest-main

docs: document pgvector preinstall for least-privilege DB roles (#984)
  docs/v3/contributing/self-hosting.mdx
  docs/v3/contributing/troubleshooting.mdx
Due: none

fix(deriver): exclude agent self-narration from observation extraction
  src/deriver/prompts.py
Due: basedpyright, pytest-main

style(deriver): use the file's alice convention consistently in exclusions
  src/deriver/prompts.py
Due: basedpyright, pytest-main

fix(peers): preserve joined_at for active peers on set_peers upsert
  src/crud/session.py
Due: basedpyright, pytest-main

fix: add scheduled probe for mcp
  mcp/src/config.ts
  mcp/src/index.ts
  mcp/wrangler.toml
Due: none

fix(crud): preserve active peers in set-peers updates
  src/crud/session.py
  tests/crud/test_session.py
Due: basedpyright, pytest-main

fix(test): remove unused timestamp binding
  tests/crud/test_session.py
Due: basedpyright, pytest-main

fix(deriver): clear dangling session hint on pending dreams at session delete
  src/crud/session.py
  tests/crud/test_session.py
Due: basedpyright, pytest-main

fix(llm): surface invalid structured output
  src/llm/backends/anthropic.py
  src/llm/backends/gemini.py
  src/llm/backends/openai.py
  src/llm/structured_output.py
  tests/llm/test_backends/test_anthropic.py
  tests/llm/test_backends/test_gemini.py
  tests/llm/test_backends/test_openai.py
  tests/llm/test_structured_output.py
  tests/utils/test_length_finish_reason.py
Due: basedpyright, pytest-main

fix: isolate per-text embedding failures in reconciler
  src/reconciler/sync_vectors.py
Due: basedpyright, pytest-main

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
