Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

fix: allow partial dialectic reasoning level configs, merge in defaults
  src/config.py
Due: basedpyright, pytest-main

feat: add set peer card to SDK, bump version, document
  docs/changelog/compatibility-guide.mdx
  sdks/python/pyproject.toml
  sdks/python/src/honcho/__init__.py
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/peer.py
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/package.json
  sdks/typescript/src/peer.ts
  tests/routes/test_peers.py
  tests/sdk/sdk_integration_test.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

fix: pytest -> pytest -x
  .pre-commit-config.yaml
Due: none

chore: deprecate .card(), move to .getCard() / .get_card()
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/peer.py
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/src/peer.ts
  tests/sdk/sdk_integration_test.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

fix: get_or_create when crudding peer cards
  src/crud/peer_card.py
  tests/crud/test_peer_card.py
Due: basedpyright, pytest-main

feat: add redis to get collection + get session peer config
  src/crud/__init__.py
  src/crud/collection.py
  src/crud/session.py
  src/deriver/enqueue.py
Due: basedpyright, pytest-main

fix: reduce embedding calls
  src/dialectic/core.py
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

fix: delete session caches when soft-deleting session
  src/routers/sessions.py
Due: basedpyright, pytest-main

fix: batch embeddings in create observatiosn tool
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

fix: batch embeddings call in extract_preferences
  src/crud/message.py
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

fix: double embed in fallback for _handle_search_memory
  src/utils/agent_tools.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

chore: add more logging
  src/deriver/deriver.py
Due: basedpyright, pytest-main

chore: review nits
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/peer.py
  sdks/typescript/src/peer.ts
  sdks/typescript/src/validation.ts
  tests/crud/test_peer_card.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

chore: document .get_card / .set_card
  docs/v3/documentation/reference/sdk.mdx
  docs/v3/guides/migrations/mem0.mdx
  docs/v3/migrations/from-mem0.mdx
  tests/sdk/test_peer.py
  tests/unified/runner.py
Due: basedpyright, pytest-main

fix: claude comments
  src/crud/collection.py
  src/crud/session.py
  src/routers/sessions.py
Due: basedpyright, pytest-main

chore: (docs) update language from deriver to dreamer agent
  docs/v3/documentation/reference/sdk.mdx
Due: none

feat: workspace-level chat -- sdk routes -- docs -- update openapi.json
  docs/docs.json
  docs/v3/api-reference/endpoint/workspaces/chat.mdx
  docs/v3/documentation/features/chat.mdx
  docs/v3/documentation/reference/sdk.mdx
  docs/v3/openapi.json
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/http/routes.py
  sdks/typescript/src/client.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/types/api.ts
  src/crud/__init__.py
  src/crud/document.py
  src/dialectic/chat.py
  src/dialectic/prompts.py
  src/dialectic/workspace.py
  src/routers/workspaces.py
  src/schemas.py
  src/utils/agent_tools.py
  src/utils/representation.py
  tests/conftest.py
  tests/test_workspace_chat.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

fix: get_peer_card should not create peer/workspace
  src/crud/peer_card.py
Due: basedpyright, pytest-main

chore: parallelize tests for speed
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: basedpyright, pytest-main

chore: code review & cleanup
  docs/v3/documentation/reference/sdk.mdx
  src/dialectic/base.py
  src/dialectic/core.py
  src/dialectic/workspace.py
  src/routers/workspaces.py
  src/utils/agent_tools.py
  tests/integration/test_token_metrics.py
Due: basedpyright, pytest-main

Potential fix for code scanning alert no. 26: Information exposure through an exception
  src/routers/workspaces.py
Due: basedpyright, pytest-main

refactor: deduplicate code in agent_tools
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

chore: cleanup
  docs/v3/documentation/features/chat.mdx
  docs/v3/documentation/reference/sdk.mdx
  src/dialectic/base.py
  src/dialectic/chat.py
  src/dialectic/core.py
  src/routers/workspaces.py
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

fix: change api contract to return ResourceNotFoundException
  sdks/typescript/__tests__/peer.test.ts
  src/crud/peer_card.py
  src/dialectic/chat.py
  src/dreamer/specialists.py
  tests/crud/test_peer_card.py
  tests/sdk/sdk_integration_test.py
  tests/sdk/test_peer.py
Due: biome-check, basedpyright, pytest-main, typescript-check

fix: truncate all tables after each test
  tests/conftest.py
Due: basedpyright, pytest-main

chore: parallelize tests for speed (#374)
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: basedpyright, pytest-main

fix: change api contract to return ResourceNotFoundException (#375)
  sdks/typescript/__tests__/peer.test.ts
  src/crud/peer_card.py
  src/dialectic/chat.py
  src/dreamer/specialists.py
  tests/crud/test_peer_card.py
  tests/sdk/sdk_integration_test.py
  tests/sdk/test_peer.py
Due: biome-check, basedpyright, pytest-main, typescript-check

fix: PR nitpicks
  src/crud/peer_card.py
  src/routers/peers.py
Due: basedpyright, pytest-main

sdks: add set peer card function (#371)
  .pre-commit-config.yaml
  docs/changelog/compatibility-guide.mdx
  docs/v3/documentation/reference/sdk.mdx
  docs/v3/guides/migrations/mem0.mdx
  docs/v3/migrations/from-mem0.mdx
  sdks/python/pyproject.toml
  sdks/python/src/honcho/__init__.py
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/peer.py
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/package.json
  sdks/typescript/src/peer.ts
  sdks/typescript/src/validation.ts
  src/crud/peer_card.py
  src/dialectic/chat.py
  src/dreamer/specialists.py
  src/routers/peers.py
  tests/crud/test_peer_card.py
  tests/routes/test_peers.py
  tests/sdk/sdk_integration_test.py
  tests/sdk/test_peer.py
  tests/unified/runner.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

chore: (docs) update sdk changelogs
  docs/changelog/introduction.mdx
  sdks/python/CHANGELOG.md
  sdks/typescript/CHANGELOG.md
Due: none

docs: add teams and logging sections to Claude Code guide
  docs/v3/guides/integrations/claude-code.mdx
Due: none

fix: updating header
  docs/v3/guides/integrations/claude-code.mdx
Due: none

fix: minor typo
  docs/v3/guides/integrations/claude-code.mdx
Due: none

docs: add teams and logging sections to Claude Code guide (#376)
  docs/v3/guides/integrations/claude-code.mdx
Due: none

chore: add model to the github actionw orkflow
  .github/workflows/claude.yml
Due: none

chore: fix model arg to new syntax
  .github/workflows/claude.yml
Due: none

chore: add model to the github actionw orkflow (#377)
  .github/workflows/claude.yml
Due: none

feat: adjust workspace-level chat to scope by representation and fit honcho's data model -- add unified tests to confirm behaviors
  src/crud/__init__.py
  src/crud/document.py
  src/dialectic/prompts.py
  src/dialectic/workspace.py
  src/utils/agent_tools.py
  tests/test_workspace_chat.py
  tests/unified/runner.py
  tests/unified/schema.py
  tests/unified/test_cases/workspace_chat_cross_peer.json
  tests/unified/test_cases/workspace_chat_from_messages.json
  tests/unified/test_cases/workspace_chat_from_observations.json
Due: basedpyright, pytest-main

feat: implement async workspace deletion with active session checks
  sdks/typescript/__tests__/client.test.ts
  src/crud/__init__.py
  src/crud/workspace.py
  src/deriver/consumer.py
  src/deriver/enqueue.py
  src/routers/workspaces.py
  src/utils/queue_payload.py
  tests/crud/test_workspace.py
  tests/routes/test_workspaces.py
Due: biome-check, basedpyright, pytest-main, typescript-check

fix: return ObservationResult
  src/schemas.py
  src/utils/agent_tools.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
