Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

fix(sandbox): stop the seed retrying non-idempotent writes
  sandbox/seed.py
Due: none

refactor(sandbox): name the seeder's records and enforce its lint
  .pre-commit-config.yaml
  sandbox/fixture.json
  sandbox/inject_conclusions.py
  sandbox/seed.py
Due: none

feat(sandbox): give sandbox.sh a --help
  sandbox/sandbox.sh
Due: none

fix(sessions): harden activity ordering
  migrations/versions/cfaff339d519_add_session_last_message_at.py
  src/models.py
  src/schemas/api.py
  tests/alembic/revisions/test_cfaff339d519_add_session_last_message_at.py
  tests/routes/test_sessions.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

fix(api): make the OpenAPI servers list relative
  src/main.py
Due: basedpyright, pytest-main

feat(config): add MULTI_TENANT isolation flag (default off)
  src/config.py
Due: basedpyright, pytest-main

chore: Review updates
  src/vector_store/__init__.py
  src/vector_store/qdrant.py
  tests/vector_store/test_qdrant.py
Due: basedpyright, pytest-main

feat(db): bind request-scoped app.tenant for RLS (MULTI_TENANT)
  src/db.py
  src/dependencies.py
Due: basedpyright, pytest-main

feat(db): add service_db() RLS-bypass getter + service engine
  src/config.py
  src/db.py
  src/dependencies.py
Due: basedpyright, pytest-main

feat(deriver): route the queue/claim pool through service_db; tracked_db ambient tenant
  src/dependencies.py
  src/deriver/queue_manager.py
Due: basedpyright, pytest-main

feat: route cross-tenant reconciler/dreamer/enqueue paths through service_db
  src/deriver/enqueue.py
  src/dreamer/dream_scheduler.py
  src/reconciler/embed_now.py
  src/reconciler/queue_cleanup.py
  src/reconciler/scheduler.py
  src/reconciler/sync_vectors.py
Due: basedpyright, pytest-main

feat(deriver): tenant-namespace work_unit_key; bind the work unit's tenant
  src/deriver/queue_manager.py
  src/utils/work_unit.py
Due: basedpyright, pytest-main

feat(startup): boot tripwire for the multi-tenant half-states
  src/config.py
  src/deriver/__main__.py
  src/main.py
  src/startup/__init__.py
  src/startup/tenant_isolation_validator.py
Due: basedpyright, pytest-main

feat(models): default tenant_id from tenant_context (self-host -> "default")
  src/models.py
Due: basedpyright, pytest-main

test: green the suite on the A1 schema (conftest via alembic; composite-PK fixups)
  src/crud/peer.py
  src/crud/session.py
  src/crud/workspace.py
  tests/conftest.py
  tests/deriver/test_embed_now.py
  tests/deriver/test_enqueue_dream.py
  tests/deriver/test_vector_reconciliation.py
  tests/dreamer/test_dream_scheduler.py
  tests/reconciler/test_queue_cleanup.py
  tests/sdk_typescript/conftest.py
  tests/test_db_resilience.py
  tests/test_dependencies.py
Due: basedpyright, pytest-main

test: fail-closed tenant guard + flag-on RLS isolation proof
  tests/conftest.py
  tests/integration/test_rls_isolation.py
  tests/test_dependencies.py
Due: basedpyright, pytest-main

docs: oss-safe comment pass over the A2 tenant work
  src/crud/session.py
  tests/conftest.py
  tests/integration/test_rls_isolation.py
Due: basedpyright, pytest-main

test: pool-isolation + RLS index-use checks
  tests/deriver/test_pool_isolation.py
  tests/integration/test_rls_isolation.py
Due: basedpyright, pytest-main

feat(telemetry): inject client identity into event bodies (#1125)
  src/main.py
  src/telemetry/client_context.py
  src/telemetry/emitter.py
  tests/telemetry/test_emitter.py
Due: basedpyright, pytest-main

review: close 3 cross-tenant leaks + hardening from the A2 pre-merge review
  CLAUDE.md
  src/cache/client.py
  src/crud/collection.py
  src/db.py
  src/dependencies.py
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/dreamer/dream_scheduler.py
  src/models.py
  src/startup/tenant_isolation_validator.py
  src/utils/work_unit.py
  tests/conftest.py
  tests/test_cache_key_namespace.py
Due: basedpyright, pytest-main

refactor(utils): consolidate JSON narrowing helpers into src/utils/json_coerce.py
  src/llm/conversation.py
  src/mock_provider/chat.py
  src/mock_provider/schema_gen.py
  src/utils/config_helpers.py
  src/utils/json_coerce.py
  tests/mock_provider/test_mock_provider.py
  tests/utils/test_json_coerce.py
Due: basedpyright, pytest-main

feat: API endpoint can run timer logic instead of deriver
  src/backlog.py
  src/config.py
  src/crud/__init__.py
  src/crud/deriver.py
  src/deriver/queue_manager.py
  src/dreamer/dream_due.py
  src/dreamer/dream_scheduler.py
  src/main.py
  tests/deriver/test_queue_processing.py
  tests/dreamer/test_dreamer_integration.py
  tests/test_deriver_metrics.py
  tests/utils/test_retryable_errors.py
Due: basedpyright, pytest-main

refactor(utils): tighten json_coerce tests and config_helpers symmetry
  src/utils/config_helpers.py
  tests/utils/test_json_coerce.py
Due: basedpyright, pytest-main

Approximates deriver representation canceling dreams with DB calls
  src/dreamer/dream_due.py
  tests/dreamer/test_dream_due.py
Due: basedpyright, pytest-main

Formatting
  src/dreamer/dream_due.py
Due: basedpyright, pytest-main

Fixes static analysis check
  tests/deriver/test_queue_processing.py
  tests/test_deriver_metrics.py
Due: basedpyright, pytest-main

feat: Adds Qdrant Vector Search (#683)
  .env.template
  CHANGELOG.md
  config.toml.example
  docs/v3/contributing/configuration.mdx
  pyproject.toml
  src/config.py
  src/startup/embedding_validator.py
  src/vector_store/__init__.py
  src/vector_store/qdrant.py
  tests/vector_store/test_qdrant.py
  uv.lock
Due: basedpyright, pytest-main

review: apply agent-comment markers to the A2 diff
  src/cache/client.py
  src/config.py
  src/crud/collection.py
  src/crud/peer.py
  src/crud/session.py
  src/crud/workspace.py
  src/db.py
  src/dependencies.py
  src/deriver/enqueue.py
  src/deriver/queue_manager.py
  src/dreamer/dream_scheduler.py
  src/models.py
  src/startup/tenant_isolation_validator.py
  src/utils/work_unit.py
Due: basedpyright, pytest-main

review: scope the dreamer's deferred execution to its tenant
  src/dreamer/dream_scheduler.py
  tests/conftest.py
  tests/sdk_typescript/conftest.py
Due: basedpyright, pytest-main

Fixes
  docs/v3/contributing/configuration.mdx
  src/telemetry/prometheus/metrics.py
  tests/test_deriver_metrics.py
Due: basedpyright, pytest-main

feat(sandbox): committed ephemeral Honcho sandbox with one-command reset
  .gitignore
  .pre-commit-config.yaml
  sandbox/README.md
  sandbox/compose.mock.yml
  sandbox/compose.real.yml
  sandbox/compose.yml
  sandbox/fixture.json
  sandbox/image.env
  sandbox/init.sql
  sandbox/inject_conclusions.py
  sandbox/real.env.example
  sandbox/sandbox.sh
  sandbox/seed.py
Due: none

docs: document workspace-level chat
  README.md
  docs/docs.json
  docs/v3/api-reference/endpoint/workspaces/chat-workspace.mdx
  docs/v3/documentation/core-concepts/architecture.mdx
  docs/v3/documentation/core-concepts/design-patterns.mdx
  docs/v3/documentation/features/advanced/overview.mdx
  docs/v3/documentation/features/advanced/scopes.mdx
  docs/v3/documentation/features/advanced/search.mdx
  docs/v3/documentation/features/advanced/streaming-response.mdx
  docs/v3/documentation/features/advanced/structured-outputs.mdx
  docs/v3/documentation/features/chat.mdx
  docs/v3/documentation/introduction/quickstart.mdx
  docs/v3/documentation/reference/cli.mdx
  docs/v3/documentation/reference/platform.mdx
  docs/v3/documentation/reference/sdk.mdx
  docs/v3/openapi.json
Due: none

feat(mcp): expose scopes and pagination in the MCP server
  harness-plugin-core/README.md
  mcp/README.md
  mcp/bun.lock
  mcp/instructions.md
  mcp/package.json
  mcp/src/server.ts
  mcp/src/tools/peers.ts
  mcp/src/tools/scopes.ts
  mcp/src/tools/sessions.ts
Due: none

fix(sdk): normalize session activity timestamps
  sdks/python/src/honcho/session.py
  tests/sdk/test_session.py
Due: basedpyright, pytest-main, pytest-python-sdk

fix(workspaces): return 404 on delete when the row is gone but Redis still holds the workspace
  src/crud/__init__.py
  src/crud/workspace.py
  src/routers/workspaces.py
  tests/routes/test_workspace_delete_cache.py
Due: basedpyright, pytest-main

fix(llm): preserve reasoning content across tool turns (#1034)
  src/llm/history_adapters.py
  src/llm/tool_loop.py
  tests/llm/test_history_adapters.py
  tests/llm/test_tool_loop_reasoning_content.py
Due: basedpyright, pytest-main

fix(deriver): coerce bare-string explicit observations from json_object providers
  src/utils/representation.py
  tests/conftest.py
  tests/utils/test_representation.py
Due: basedpyright, pytest-main

fix(peer-card): refuse an over-cap card update instead of truncating it
  CHANGELOG.md
  src/dreamer/specialists.py
  src/utils/agent_tools.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

Fix: two-tier semantic dedup gate for near-duplicate observations (#729)
  src/config.py
  src/crud/document.py
  tests/crud/test_document.py
Due: basedpyright, pytest-main

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
