Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

docs: improve OpenClaw integration page
  docs/v3/guides/integrations/openclaw.mdx
Due: none

docs: add pi-honcho-memory community integration (#458)
  docs/docs.json
  docs/v3/guides/community/pi-honcho-memory.mdx
Due: none

ts SDK fix: adding strict checking (#421)
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/v2/documentation/core-concepts/configuration.mdx
  docs/v3/documentation/features/advanced/representation-scopes.mdx
  docs/v3/documentation/features/get-context.mdx
  docs/v3/documentation/reference/sdk.mdx
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/python/src/honcho/__init__.py
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/api_types.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/conclusions.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/typescript/CHANGELOG.md
  sdks/typescript/README.md
  sdks/typescript/__tests__/client.test.ts
  sdks/typescript/__tests__/helpers.ts
  sdks/typescript/__tests__/messages.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/__tests__/session.unit.test.ts
  sdks/typescript/__tests__/validation.test.ts
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  sdks/typescript/src/client.ts
  sdks/typescript/src/conclusions.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/types/api.ts
  sdks/typescript/src/validation.ts
  tests/sdk/test_session.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

feat: refactor llm config to explicit transports and bare model ids
  .env.template
  config.toml.example
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/embedding_client.py
  src/llm/__init__.py
  src/llm/backends/__init__.py
  src/llm/backends/anthropic.py
  src/llm/backends/gemini.py
  src/llm/backends/groq.py
  src/llm/backends/openai.py
  src/llm/backends/openai_compat.py
  src/llm/capabilities.py
  src/llm/credentials.py
  src/telemetry/reasoning_traces.py
  src/utils/clients.py
  src/utils/types.py
  tests/conftest.py
  tests/live_llm/conftest.py
  tests/live_llm/model_matrix.py
  tests/unit/llm/test_backends/test_anthropic.py
  tests/unit/llm/test_backends/test_gemini.py
  tests/unit/llm/test_backends/test_openai.py
  tests/unit/llm/test_capabilities.py
  tests/unit/llm/test_credentials.py
  tests/unit/llm/test_model_config.py
  tests/unit/llm/test_request_builder.py
  tests/utils/test_clients.py
  tests/utils/test_length_finish_reason.py
Due: basedpyright, pytest-main

fix: respect OPENAI_BASE_URL and allow custom embedding model for openai provider
  src/config.py
  src/embedding_client.py
Due: basedpyright, pytest-main

fix: use VECTOR_STORE.DIMENSIONS for SQLAlchemy vector column size
  src/models.py
Due: basedpyright, pytest-main

fix: vllm json_mode and explicit JSON schema in deriver prompt
  src/deriver/prompts.py
  src/utils/clients.py
Due: basedpyright, pytest-main

feat: retry on more httpx exceptions
  sdks/python/src/honcho/http/async_client.py
  sdks/python/src/honcho/http/client.py
Due: basedpyright, pytest-python-sdk

fix: use direct attribute access for OPENAI_EMBEDDING_MODEL
  src/embedding_client.py
Due: basedpyright, pytest-main

fix: replace hardcoded 1536 dims with settings.VECTOR_STORE.DIMENSIONS
  src/embedding_client.py
  src/models.py
Due: basedpyright, pytest-main

fix: enable json_mode for vllm provider unconditionally
  src/utils/clients.py
Due: basedpyright, pytest-main

fix: improve check_vector_dimensions() per CodeRabbit feedback
  src/main.py
  src/models.py
Due: basedpyright, pytest-main

fix: move check_vector_dimensions inside try/finally in lifespan
  src/main.py
Due: basedpyright, pytest-main

docs: updating agentic dev & MCP.mdx docs
  docs/v3/documentation/introduction/vibecoding.mdx
  docs/v3/guides/integrations/mcp.mdx
Due: none

docs: minor fix
  docs/v3/guides/integrations/mcp.mdx
Due: none

fix: adding codex
  docs/v3/guides/integrations/mcp.mdx
Due: none

fix(deriver): disable metrics to prevent port 9090 conflicts
  docker-compose.yml
Due: none

feat: support configurable embedding dimensions via VECTOR_STORE_DIMENSIONS
  src/embedding_client.py
  src/models.py
Due: basedpyright, pytest-main

fix: dialectic held connection
  src/dialectic/chat.py
  src/dialectic/core.py
  src/dreamer/orchestrator.py
  src/dreamer/specialists.py
  src/dreamer/surprisal.py
  src/utils/agent_tools.py
  tests/conftest.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

chore: updating with latest SDK
  mcp/package.json
  mcp/src/config.ts
  mcp/src/index.ts
  mcp/src/tools/sessions.ts
Due: none

docs: update
  docs/v3/guides/integrations/mcp.mdx
  mcp/instructions.md
  mcp/src/index.ts
  mcp/src/tools/sessions.ts
Due: none

fix: adding assistantName config
  mcp/src/config.ts
Due: none

chore: clarifying language
  docs/v3/guides/integrations/mcp.mdx
  mcp/README.md
  mcp/src/index.ts
Due: none

refactor: MCP server improvements (#379)
  docs/v3/documentation/introduction/vibecoding.mdx
  docs/v3/guides/integrations/mcp.mdx
  mcp/README.md
  mcp/bun.lock
  mcp/instructions.md
  mcp/package.json
  mcp/src/config.ts
  mcp/src/index.ts
  mcp/src/server.ts
  mcp/src/tools/conclusions.ts
  mcp/src/tools/peers.ts
  mcp/src/tools/sessions.ts
  mcp/src/tools/system.ts
  mcp/src/tools/workspace.ts
  mcp/src/types.ts
  mcp/tsconfig.json
  mcp/worker.ts
  mcp/wrangler.toml
Due: none

Add MiniMax as first-class LLM provider
  config.toml.example
  src/config.py
  src/utils/clients.py
  src/utils/types.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

fix: Inconsistencies in Docs, health endpoint, troubleshooting guide
  .env.template
  CONTRIBUTING.md
  Dockerfile
  README.md
  docker-compose.yml.example
  docs/docs.json
  docs/v3/contributing/configuration.mdx
  docs/v3/contributing/self-hosting.mdx
  docs/v3/contributing/troubleshooting.mdx
  src/main.py
Due: basedpyright, pytest-main

fix: (docs) maintain consistency on postgres db name
  .env.template
  README.md
  docker-compose.yml.example
  docs/v2/contributing/configuration.mdx
  docs/v2/contributing/self-hosting.mdx
  docs/v3/contributing/configuration.mdx
  docs/v3/contributing/self-hosting.mdx
  docs/v3/contributing/troubleshooting.mdx
  docs/v3/guides/integrations/hermes.mdx
Due: none

chore: (docs) update v2 contributing docs with updates db paths
  docs/v2/contributing/configuration.mdx
Due: none

fix(reconciler): prevent tombstone re-entry in cleanup and condition embedding NULL on vector delete success
  src/crud/document.py
  tests/deriver/test_vector_reconciliation.py
Due: basedpyright, pytest-main

fix(tools): derive created_levels from persisted documents, not input list
  src/utils/agent_tools.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

fix(tools): include contradiction level in reasoning chain source rendering
  src/utils/agent_tools.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

fix: add migration to alter vector column dimensions to match VECTOR_STORE.DIMENSIONS
  migrations/versions/Nj-2KD-Cc2XG_alter_vector_dimensions.py
Due: pytest-alembic, ensure-alembic-coverage

fix: address CodeRabbit review comments
  migrations/versions/Nj-2KD-Cc2XG_alter_vector_dimensions.py
Due: pytest-alembic, ensure-alembic-coverage

feat: add Jina AI as embedding provider
  src/config.py
  src/embedding_client.py
Due: basedpyright, pytest-main

feat: use configurable VECTOR_STORE_DIMENSIONS for embedding columns
  migrations/versions/fix_vector_dimensions.py
  src/main.py
  src/models.py
  tests/conftest.py
  tests/crud/test_document.py
  tests/deriver/test_vector_reconciliation.py
  tests/integration/test_message_embeddings.py
  tests/integration/test_representation.py
  tests/routes/test_conclusions.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

fix: address CodeRabbit review feedback
  migrations/versions/fix_vector_dimensions.py
  src/embedding_client.py
  src/main.py
  src/models.py
  tests/deriver/test_vector_reconciliation.py
  tests/integration/test_message_embeddings.py
  tests/integration/test_representation.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

feat: add support for custom embedding endpoints
  .env.template
  config.toml.example
  src/config.py
  src/embedding_client.py
Due: basedpyright, pytest-main

fix: move max_embedding_tokens_per_request back to __init__, add Jina retry transport
  src/embedding_client.py
Due: basedpyright, pytest-main

fix: validate Jina response length and reset singleton on close
  src/embedding_client.py
Due: basedpyright, pytest-main

docs: overhaul self-hosting docs for provider-agnostic setup
  .env.template
  config.toml.example
  docker-compose.yml.example
  docs/v3/contributing/configuration.mdx
  docs/v3/contributing/self-hosting.mdx
  docs/v3/contributing/troubleshooting.mdx
Due: none

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
