Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

chore: add upstream sync workflow
  .github/workflows/sync-upstream.yml
Due: none

docs: add portable agent skills
  .agents/skills/honcho-cli/SKILL.md
  .agents/skills/honcho-integration/SKILL.md
  .agents/skills/honcho-integration/references/bot-frameworks.md
  .agents/skills/honcho-integration/references/bot-frameworks/nanobot/client.py
  .agents/skills/honcho-integration/references/bot-frameworks/nanobot/honcho_tool.py
  .agents/skills/honcho-integration/references/bot-frameworks/nanobot/session.py
  .agents/skills/migrate-honcho-py/DETAILED-CHANGES.md
  .agents/skills/migrate-honcho-py/MIGRATION-CHECKLIST.md
  .agents/skills/migrate-honcho-py/SKILL.md
  .agents/skills/migrate-honcho-ts/DETAILED-CHANGES.md
  .agents/skills/migrate-honcho-ts/MIGRATION-CHECKLIST.md
  .agents/skills/migrate-honcho-ts/SKILL.md
Due: none

fix: never leak password through malformed-URL fallback
  src/cache/client.py
  tests/test_cache_redaction.py
Due: basedpyright, pytest-main

fix: redact secrets in query params and scheme-less URLs
  src/cache/client.py
  tests/test_cache_redaction.py
Due: basedpyright, pytest-main

fix(docker): copy uv build inputs for podman compatibility
  Dockerfile
Due: none

docs: adding codex doc
  docs/docs.json
  docs/v3/guides/integrations/codex.mdx
Due: none

fix: replace OpenAI SDK with raw HTTP to avoid Cloudflare WAF blocking, broaden exception handling, align vector dimensions at startup
  docker/entrypoint.sh
  src/crud/document.py
  src/embedding_client.py
  tests/alembic/revisions/test_b8183c5ffb48_codify_document_level_and_times_derived.py
  tests/crud/test_document.py
  tests/deriver/test_vector_reconciliation.py
  tests/llm/test_embedding_client.py
  tests/routes/test_conclusions.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

fix: address PR review comments — race condition, exception granularity, helper extraction, test fix
  docker/entrypoint.sh
  scripts/provision_db.py
  src/crud/document.py
  src/embedding_client.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

fix: address CodeRabbit review — deduplicate test fixtures, update docstring, wrap pgvector sync in try/except
  src/crud/document.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

fix: add db.rollback() and workspace_name to pgvector sync-state error path
  src/crud/document.py
Due: basedpyright, pytest-main

fix: add db.rollback() and workspace_name context to pgvector sync-state error handler
  src/crud/document.py
Due: basedpyright, pytest-main

docs: adding codex doc (#879)
  docs/docs.json
  docs/v3/guides/integrations/codex.mdx
Due: none

fix: apply session scoping to all working-representation query paths
  src/crud/representation.py
  src/routers/peers.py
  src/routers/sessions.py
  tests/crud/test_representation_manager.py
Due: basedpyright, pytest-main

feat: bare-list membership sugar in the filter DSL
  src/utils/filter.py
  src/vector_store/lancedb.py
  src/vector_store/turbopuffer.py
  tests/test_advanced_filters.py
Due: basedpyright, pytest-main

feat: session allowlist on dialectic and representation via filters
  src/crud/message.py
  src/dialectic/chat.py
  src/dialectic/core.py
  src/routers/peers.py
  src/schemas/api.py
  src/utils/agent_tools.py
  src/utils/filter.py
  tests/test_session_allowlist.py
Due: basedpyright, pytest-main

fix: enforce explicit-document session purity in dedup/merge paths
  src/crud/document.py
  src/utils/agent_tools.py
  tests/crud/test_document.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

feat: add card_refresh dream type for event-driven peer-card updates
  src/deriver/enqueue.py
  src/dreamer/orchestrator.py
  src/dreamer/specialists.py
  src/routers/workspaces.py
  src/schemas/api.py
  src/schemas/configuration.py
  src/telemetry/events/llm.py
  src/utils/agent_tools.py
  src/utils/queue_payload.py
  tests/dreamer/test_card_refresh.py
  tests/routes/test_workspaces.py
  tests/telemetry/test_events.py
Due: basedpyright, pytest-main

feat: add scopes CRUD routes and session-create scopes wiring
  src/crud/__init__.py
  src/crud/scope.py
  src/crud/session.py
  src/main.py
  src/routers/scopes.py
Due: basedpyright, pytest-main

feat: reserve scope__ peer namespace with kind flag and guardrails
  src/crud/message.py
  src/crud/peer.py
  src/routers/peers.py
  src/routers/sessions.py
  src/schemas/__init__.py
  src/schemas/api.py
  src/utils/scopes.py
Due: basedpyright, pytest-main

test: cover scopes facade, guardrails, and observer semantics
  tests/routes/test_scopes.py
Due: basedpyright, pytest-main

feat(scopes): scope resolution helper and read-route schemas
  src/crud/__init__.py
  src/crud/scope.py
  src/schemas/__init__.py
  src/schemas/api.py
Due: basedpyright, pytest-main

feat(scopes): wire the `scope` read option into the routes
  src/routers/peers.py
  src/routers/sessions.py
  src/routers/workspaces.py
Due: basedpyright, pytest-main

fix(llm): satisfy lowercase json_object prompt checks
  src/llm/backends/openai.py
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

style(llm): preserve JSON acronym in prompt
  src/llm/backends/openai.py
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

add .omc to gitignore
  .gitignore
Due: none

split config entry into 2
  .env.template
  config.toml.example
  docs/v3/contributing/configuration.mdx
  docs/v3/contributing/troubleshooting.mdx
  src/config.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/telemetry/events/representation.py
  tests/bench/calculate_expected_events.py
  tests/deriver/test_queue_processing.py
  tests/test_config.py
Due: basedpyright, pytest-main

fix: date dreamer conclusions to latest source observation
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

feat(cli): add device code oauth login for honcho servers
  honcho-cli/src/honcho_cli/commands/setup.py
  honcho-cli/src/honcho_cli/common.py
  honcho-cli/src/honcho_cli/config.py
  honcho-cli/src/honcho_cli/oauth.py
  honcho-cli/tests/conftest.py
  honcho-cli/tests/test_common.py
  honcho-cli/tests/test_config.py
  honcho-cli/tests/test_oauth.py
Due: none

prevent hammering with message tasks
  src/config.py
  src/reconciler/embed_now.py
  src/routers/messages.py
  src/telemetry/prometheus/metrics.py
  tests/deriver/test_embed_now.py
  tests/routes/test_messages.py
Due: basedpyright, pytest-main

rename to REPRESENTATION_BATCH_TARGET_INPUT_TOKENS
  .env.template
  config.toml.example
  docs/v3/contributing/configuration.mdx
  docs/v3/contributing/troubleshooting.mdx
  src/config.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/telemetry/events/representation.py
  tests/bench/calculate_expected_events.py
  tests/deriver/test_queue_processing.py
  tests/test_config.py
Due: basedpyright, pytest-main

add prometheus metric for in_flight
  src/reconciler/embed_now.py
  src/telemetry/prometheus/metrics.py
  tests/deriver/test_embed_now.py
Due: basedpyright, pytest-main

fix(cli): harden device-auth input validation and transport errors
  honcho-cli/src/honcho_cli/commands/setup.py
  honcho-cli/src/honcho_cli/oauth.py
  honcho-cli/tests/test_oauth.py
Due: none

instruct dreamer specialists to not output summaries
  src/dreamer/specialists.py
Due: basedpyright, pytest-main

instruct dreamer specialists to not output summaries (#894)
  src/dreamer/specialists.py
Due: basedpyright, pytest-main

Structured outputs for dialectic
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/api_types.py
  sdks/python/src/honcho/peer.py
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/validation.test.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/types/api.ts
  sdks/typescript/src/validation.ts
  src/dialectic/chat.py
  src/dialectic/core.py
  src/llm/backends/anthropic.py
  src/routers/peers.py
  src/schemas/api.py
  src/utils/schema_conversion.py
  tests/conftest.py
  tests/dialectic/test_structured_output.py
  tests/llm/test_backends/test_anthropic.py
  tests/routes/test_peers.py
  tests/sdk/test_peer.py
  tests/utils/test_schema_conversion.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

Fix unified-tests.yml secrets overrides
  .github/workflows/unified-tests.yml
Due: none

Revert "Structured outputs for dialectic"
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/api_types.py
  sdks/python/src/honcho/peer.py
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/validation.test.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/types/api.ts
  sdks/typescript/src/validation.ts
  src/dialectic/chat.py
  src/dialectic/core.py
  src/llm/backends/anthropic.py
  src/routers/peers.py
  src/schemas/api.py
  src/utils/schema_conversion.py
  tests/conftest.py
  tests/dialectic/test_structured_output.py
  tests/llm/test_backends/test_anthropic.py
  tests/routes/test_peers.py
  tests/sdk/test_peer.py
  tests/utils/test_schema_conversion.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

test(scopes): cover the `scope` read option end-to-end
  tests/conftest.py
  tests/routes/test_scope_reads.py
Due: basedpyright, pytest-main

feat: scope backfill-by-copy and removal reconciliation jobs
  src/crud/__init__.py
  src/crud/scope.py
  src/crud/session.py
  src/deriver/consumer.py
  src/deriver/enqueue.py
  src/deriver/scope_backfill.py
  src/routers/scopes.py
  src/schemas/__init__.py
  src/schemas/api.py
  src/utils/queue_payload.py
  src/utils/types.py
  src/utils/work_unit.py
Due: basedpyright, pytest-main

cleanup
  src/llm/backends/anthropic.py
  src/routers/peers.py
  src/schemas/api.py
Due: basedpyright, pytest-main

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
