Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

refactor(llm): consolidate structured-output repair, drop dead seam
  src/llm/backends/openai.py
  src/llm/structured_output.py
  tests/llm/test_backends/test_openai.py
Due: basedpyright, pytest-main

chore(queue): review cleanups for work-units endpoint
  docs/v3/documentation/features/advanced/queue-status.mdx
  sdks/typescript/src/types/api.ts
  src/crud/deriver.py
Due: biome-check, basedpyright, pytest-main, typescript-check

perf(reconciler): only trace Sentry transactions when work is found
  src/deriver/consumer.py
  src/reconciler/sync_vectors.py
  tests/deriver/test_vector_reconciliation.py
Due: basedpyright, pytest-main

perf(telemetry): drop infra/scrape transactions via a Sentry traces sampler
  src/telemetry/sentry.py
  tests/telemetry/test_sentry_sampler.py
Due: basedpyright, pytest-main

Filter noisy sentry traces/profiles (#834)
  src/deriver/consumer.py
  src/reconciler/sync_vectors.py
  src/telemetry/sentry.py
  tests/deriver/test_vector_reconciliation.py
  tests/telemetry/test_sentry_sampler.py
Due: basedpyright, pytest-main

fix(llm): drop StreamingResponseWithMetadata.__anext__ to prevent span leak
  src/llm/types.py
  tests/llm/test_telemetry_llm_call.py
Due: basedpyright, pytest-main

chore(llm): document intentional empty-body propagate_attributes block
  src/llm/runtime.py
Due: basedpyright, pytest-main

fix(llm): restore api.py types after __anext__ removal
  src/llm/api.py
Due: basedpyright, pytest-main

Track user and session ID on Langfuse traces (#814)
  .env.template
  src/deriver/deriver.py
  src/dialectic/core.py
  src/dreamer/specialists.py
  src/llm/api.py
  src/llm/executor.py
  src/llm/runtime.py
  src/llm/tool_loop.py
  src/llm/types.py
  src/telemetry/__init__.py
  src/telemetry/logging.py
  src/utils/agent_tools.py
  tests/conftest.py
  tests/llm/test_langfuse_trace_annotation.py
  tests/llm/test_telemetry_llm_call.py
  tests/unified/test_cases/dialectic_tool_calls.json
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

feat(api-rs): wire dream arm through the deriver worker
  api-rs/src/bin/deriver.rs
  api-rs/src/deriver/queue_manager.rs
  api-rs/tests/db.rs
Due: none

feat(api-rs): port check_and_schedule_dream (dream threshold gate)
  api-rs/src/db.rs
  api-rs/src/dreamer/mod.rs
  api-rs/src/dreamer/scheduler.rs
  api-rs/tests/db.rs
Due: none

feat(api-rs): wire check_and_schedule_dream into save_representation
  api-rs/src/bin/deriver.rs
  api-rs/src/deriver/deriver.rs
  api-rs/src/deriver/queue_manager.rs
  api-rs/src/representation_manager.rs
  api-rs/tests/db.rs
Due: none

feat(api-rs): read DREAM scheduling config from env in the worker
  api-rs/src/bin/deriver.rs
  api-rs/src/dreamer/scheduler.rs
Due: none

feat(api-rs): read worker model configs from env
  api-rs/src/bin/deriver.rs
  api-rs/src/deriver/deriver.rs
  api-rs/src/deriver/settings.rs
  api-rs/src/dreamer/orchestrator.rs
  api-rs/src/llm/mod.rs
  api-rs/src/summarizer.rs
Due: none

feat(api-rs): read reconciler interval from env
  api-rs/src/bin/deriver.rs
  api-rs/src/reconciler/scheduler.rs
Due: none

feat(api-rs): emit queue.empty webhook from the deriver worker
  api-rs/src/db.rs
  api-rs/src/deriver/queue_manager.rs
  api-rs/tests/db.rs
Due: none

feat(api-rs): inject peer cards into dialectic chat
  api-rs/src/app.rs
Due: none

feat(api-rs): get-or-create observer peer in dialectic chat
  api-rs/src/app.rs
Due: none

feat(api-rs): parse fallback chains + stop_sequences from env
  api-rs/src/llm/mod.rs
Due: none

feat(api-rs): add Gemini complete() over the generateContent REST API
  api-rs/src/llm/backends/gemini.rs
  api-rs/src/llm/executor.rs
Due: none

feat(api-rs): port the deterministic SSE streaming core
  api-rs/src/llm/mod.rs
  api-rs/src/llm/streaming.rs
Due: none

feat: add model config option for json_object mode (#820)
  .env.template
  docs/v3/contributing/configuration.mdx
  docs/v3/contributing/troubleshooting.mdx
  src/config.py
  src/llm/backends/openai.py
  src/llm/request_builder.py
  src/llm/runtime.py
  src/llm/structured_output.py
  tests/live_llm/model_matrix.py
  tests/live_llm/test_live_openai.py
  tests/llm/test_backends/test_openai.py
  tests/llm/test_model_config.py
Due: basedpyright, pytest-main

docs: add Goose MCP integration guide
  docs/v3/guides/integrations/mcp.mdx
Due: none

fix: compact honcho logging
  .env.template
  config.toml.example
  src/config.py
  src/crud/document.py
  src/deriver/enqueue.py
  src/dreamer/dream_scheduler.py
  src/reconciler/scheduler.py
  src/reconciler/sync_vectors.py
  src/telemetry/logging.py
Due: basedpyright, pytest-main

Add allowed hosts config and env parsing
  mcp-rs/src/main.rs
Due: none

docs: add Goose MCP integration guide (#831)
  docs/v3/guides/integrations/mcp.mdx
Due: none

feat(api-rs): wire live SSE streaming for dialectic chat
  api-rs/Cargo.lock
  api-rs/Cargo.toml
  api-rs/src/app.rs
  api-rs/src/dialectic_agent.rs
  api-rs/src/llm/backends/anthropic.rs
  api-rs/src/llm/backends/gemini.rs
  api-rs/src/llm/backends/openai.rs
  api-rs/src/llm/executor.rs
  api-rs/src/llm/http.rs
  api-rs/src/llm/streaming.rs
  api-rs/src/llm/tool_loop.rs
Due: none

feat(api-rs): port perspective-scoped session context
  api-rs/src/app.rs
  api-rs/src/db.rs
  api-rs/src/representation.rs
  api-rs/tests/db.rs
Due: none

feat: add route-level latency metrics
  src/main.py
  src/telemetry/prometheus/metrics.py
Due: basedpyright, pytest-main

feat(api-rs): port the file-upload text-extraction core
  api-rs/src/files.rs
Due: none

docs(api-rs): update chat handler comment for wired SSE streaming
  api-rs/src/app.rs
Due: none

feat(api-rs): wire the file-upload message endpoint
  api-rs/Cargo.lock
  api-rs/Cargo.toml
  api-rs/src/app.rs
  api-rs/src/db.rs
  api-rs/src/error.rs
  api-rs/tests/db.rs
  api-rs/tests/http.rs
Due: none

feat(api-rs): add Gemini embedding provider support
  api-rs/src/app.rs
  api-rs/src/bin/deriver.rs
  api-rs/src/config.rs
  api-rs/src/dialectic.rs
  api-rs/src/embedding.rs
Due: none

feat: add route-level latency metrics (#837)
  src/main.py
  src/telemetry/prometheus/metrics.py
Due: basedpyright, pytest-main

fix: guard ms/s metric formatting against non-numeric values
  src/telemetry/logging.py
Due: basedpyright, pytest-main

fix: compact honcho logging (#836)
  .env.template
  config.toml.example
  src/config.py
  src/crud/document.py
  src/deriver/enqueue.py
  src/dreamer/dream_scheduler.py
  src/reconciler/scheduler.py
  src/reconciler/sync_vectors.py
  src/telemetry/logging.py
Due: basedpyright, pytest-main

refactor: drive default headers from base-URL map, drop embedding path
  src/embedding_client.py
  src/llm/registry.py
  tests/llm/test_embedding_client.py
  tests/llm/test_registry.py
Due: basedpyright, pytest-main

feat: send OpenRouter app-attribution headers on OpenAI-compatible clients (#805)
  src/llm/registry.py
  tests/llm/test_registry.py
Due: basedpyright, pytest-main

chore: use git tags to fetch secrets for unified test
  .github/workflows/unified-tests.yml
Due: none

fix: test failure
  .github/workflows/unified-tests.yml
Due: none

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
