Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

fix: add test for memory bound
  tests/deriver/test_scope_backfill.py
Due: basedpyright, pytest-main

fix(deriver): reduce scope backfill memory usage (#1104)
  src/deriver/scope_backfill.py
  tests/deriver/test_scope_backfill.py
Due: basedpyright, pytest-main

fix(ci): install Python via uv on unified-test Fly runner
  .github/workflows/unified-tests.yml
Due: none

feat(harness-core): migrating v0 config to schema v1 on read
  harness-core/src/config.ts
  harness-core/tests/config.test.ts
  schemas/config/v1.json
Due: none

chore(harness-core): clean up
  harness-core/README.md
  harness-core/package.json
  harness-core/src/telemetry.ts
Due: none

chore(docs): Add explanation on deleting data and cloud vs local differences
  docs/docs.json
  docs/v3/api-reference/endpoint/keys/create-key.mdx
  docs/v3/documentation/features/advanced/deleting-data.mdx
  docs/v3/documentation/features/advanced/overview.mdx
  docs/v3/documentation/features/advanced/webhooks.mdx
  docs/v3/documentation/reference/platform.mdx
  docs/v3/documentation/reference/sdk.mdx
Due: none

feat(config): describe oauth and host overrides in the v1 schema
  schemas/config/v1.json
Due: none

fix(deriver): address review on deadlock retry and row-lock apply
  src/crud/document.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  tests/crud/test_document.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

chore: rename to harness-plugin-core
  harness-plugin-core/.gitignore
  harness-plugin-core/CHANGELOG.md
  harness-plugin-core/README.md
  harness-plugin-core/bun.lock
  harness-plugin-core/package.json
  harness-plugin-core/src/config.ts
  harness-plugin-core/src/index.ts
  harness-plugin-core/src/telemetry.ts
  harness-plugin-core/tests/config.test.ts
  harness-plugin-core/tests/telemetry.test.ts
  harness-plugin-core/tsconfig.json
Due: none

feat(harness-plugin-core): update telemetry headers on a live client.
  harness-plugin-core/README.md
  harness-plugin-core/src/index.ts
  harness-plugin-core/src/telemetry.ts
  harness-plugin-core/tests/telemetry.test.ts
Due: none

feat(api): Export deriver backlog as metrics from API endpoint
  src/backlog.py
  src/config.py
  src/crud/__init__.py
  src/crud/deriver.py
  src/deriver/queue_manager.py
  src/dreamer/dream_due.py
  src/main.py
  src/reconciler/embed_now.py
  src/reconciler/sync_vectors.py
  src/routers/deriver_metrics.py
  src/schemas/__init__.py
  src/schemas/internal.py
  src/telemetry/prometheus/metrics.py
  tests/crud/test_deriver_metrics_query.py
  tests/dreamer/test_dream_due.py
  tests/telemetry/test_metric_zero_init.py
  tests/test_deriver_metrics.py
Due: basedpyright, pytest-main

Removes comments
  src/telemetry/prometheus/metrics.py
  tests/telemetry/test_metric_zero_init.py
Due: basedpyright, pytest-main

Removes HTTP error
  src/routers/deriver_metrics.py
  tests/test_deriver_metrics.py
Due: basedpyright, pytest-main

chore(docs): Add explanation on deleting data and cloud vs local differences (#1114)
  docs/docs.json
  docs/v3/api-reference/endpoint/keys/create-key.mdx
  docs/v3/documentation/features/advanced/deleting-data.mdx
  docs/v3/documentation/features/advanced/overview.mdx
  docs/v3/documentation/features/advanced/webhooks.mdx
  docs/v3/documentation/reference/platform.mdx
  docs/v3/documentation/reference/sdk.mdx
Due: none

fix(mcp): re-check bearer on established HTTP sessions
  mcp/README.md
  mcp/src/http.test.ts
  mcp/src/http.ts
  mcp/tsconfig.json
Due: none

fix: add test and simplify queue query
  CLAUDE.md
  src/deriver/consumer.py
  src/deriver/queue_manager.py
  src/utils/queue_payload.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

chore(docs): Add section about harness integrations and deepseek harness to docs
  README.md
  docs/docs.json
  docs/v3/guides/integrations/deepseek-harness.mdx
Due: none

fix(deriver): fix create_documents deadlock (#1033)
  CLAUDE.md
  src/crud/document.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/utils/queue_payload.py
  src/utils/retryable_errors.py
  tests/crud/test_document.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_queue_processing.py
  tests/utils/test_retryable_errors.py
Due: basedpyright, pytest-main

chore: Add section about harness integrations and deepseek harness to docs
  README.md
  docs/docs.json
  docs/v3/guides/integrations/deepseek-harness.mdx
Due: none

chore(docs): Add section about harness integrations and deepseek harn… (#1116)
  README.md
  docs/docs.json
  docs/v3/guides/integrations/deepseek-harness.mdx
Due: none

chore: add changelog and version updates
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v3/openapi.json
  pyproject.toml
  uv.lock
Due: none

Comments
  src/backlog.py
  src/telemetry/prometheus/metrics.py
  tests/telemetry/test_metric_zero_init.py
  tests/test_deriver_metrics.py
Due: basedpyright, pytest-main

feat(models): make tenant_id a first-class primitive for shared-tenant schema
  migrations/versions/09dfcd158c6c_add_tenant_id_first_class_primitive_and_.py
  src/models.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

chore: add changelog and version updates (#1117)
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v3/openapi.json
  pyproject.toml
  uv.lock
Due: none

review: fix migration execution + index/FK consistency for tenant_id schema
  migrations/versions/09dfcd158c6c_add_tenant_id_first_class_primitive_and_.py
  scripts/bootstrap_shared_schema.py
  src/models.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

test: add shared-tenant schema bootstrap integration test
  tests/scripts/test_bootstrap_shared_schema.py
Due: basedpyright, pytest-main

feat(api): Export deriver backlog as metrics from API endpoint (#1115)
  src/backlog.py
  src/config.py
  src/crud/__init__.py
  src/crud/deriver.py
  src/deriver/queue_manager.py
  src/dreamer/dream_due.py
  src/main.py
  src/reconciler/embed_now.py
  src/reconciler/sync_vectors.py
  src/routers/deriver_metrics.py
  src/schemas/__init__.py
  src/schemas/internal.py
  src/telemetry/prometheus/metrics.py
  tests/crud/test_deriver_metrics_query.py
  tests/dreamer/test_dream_due.py
  tests/telemetry/test_metric_zero_init.py
  tests/test_deriver_metrics.py
Due: basedpyright, pytest-main

refactor: rename tenants.app_name to legacy_app_name; apply agent-comment markers
  scripts/bootstrap_shared_schema.py
  src/models.py
  tests/scripts/test_bootstrap_shared_schema.py
Due: basedpyright, pytest-main

docs(models,scripts): keep comments implementation-generic for public readers
  scripts/bootstrap_shared_schema.py
  src/models.py
Due: basedpyright, pytest-main

fix(dialectic): make workspace chat search before it answers
  src/dialectic/core.py
  src/dialectic/prompts.py
  src/dialectic/workspace.py
  tests/test_workspace_chat.py
Due: basedpyright, pytest-main

feat(docker): make API worker count configurable (#1088)
  .env.template
  docker/entrypoint.sh
  docs/v3/contributing/self-hosting.mdx
Due: none

fix(dialectic): make workspace chat search before it answers (#1120)
  src/dialectic/core.py
  src/dialectic/prompts.py
  src/dialectic/workspace.py
  tests/test_workspace_chat.py
Due: basedpyright, pytest-main

feat(sdk): add per-call peer chat timeout (#1098)
  docs/v3/documentation/reference/sdk.mdx
  sdks/python/CHANGELOG.md
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/peer.py
  tests/sdk/test_peer.py
Due: basedpyright, pytest-main, pytest-python-sdk

fix: nit cleaning claude command
  mcp/README.md
Due: none

Harness core (#1110)
  harness-plugin-core/.gitignore
  harness-plugin-core/CHANGELOG.md
  harness-plugin-core/README.md
  harness-plugin-core/bun.lock
  harness-plugin-core/package.json
  harness-plugin-core/src/config.ts
  harness-plugin-core/src/index.ts
  harness-plugin-core/src/telemetry.ts
  harness-plugin-core/tests/config.test.ts
  harness-plugin-core/tests/telemetry.test.ts
  harness-plugin-core/tsconfig.json
  schemas/config/v1.json
Due: none

feat(mcp): add stdio host for local clients (#1102)
  docker-compose.yml.example
  mcp/.dockerignore
  mcp/Dockerfile
  mcp/README.md
  mcp/bunfig.toml
  mcp/package.json
  mcp/src/config.ts
  mcp/src/http.test.ts
  mcp/src/http.ts
  mcp/src/stdio.ts
  mcp/tsconfig.json
Due: none

fix(tests): record why a unified test failed, not just that it did
  tests/unified/runner.py
Due: basedpyright, pytest-main

chore: Review updates
  CHANGELOG.md
  docs/changelog/introduction.mdx
  pyproject.toml
  src/startup/embedding_validator.py
  src/vector_store/__init__.py
  src/vector_store/qdrant.py
  tests/vector_store/test_qdrant.py
  uv.lock
Due: basedpyright, pytest-main

feat(llm): send stable x-opencode-session header to OpenCode Zen/Go endpoints
  src/llm/registry.py
Due: basedpyright, pytest-main
