Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

feat(config): make CORS allowed origins configurable via env (#697)
  .env.template
  src/config.py
  src/main.py
Due: basedpyright, pytest-main

feat: add generate_jwt.py script for creating scoped JWTs (#757)
  README.md
  scripts/generate_jwt.py
  tests/conftest.py
  tests/test_generate_jwt_script.py
Due: basedpyright, pytest-main

fix: harden immediate-embed fast path and cover its error branches
  docs/v3/documentation/features/advanced/search.mdx
  src/reconciler/embed_now.py
  tests/deriver/test_embed_now.py
  tests/deriver/test_vector_reconciliation.py
  tests/routes/test_messages.py
Due: basedpyright, pytest-main

fix: reset request_context in TRACING checkout-hook test
  tests/test_dependencies.py
Due: basedpyright, pytest-main

fix: stop mislabeling transient embedding errors as token-limit errors
  src/crud/document.py
  src/crud/representation.py
  src/embedding_client.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

fix: address review feedback — add custom_instructions to SummaryConfiguration
  sdks/python/src/honcho/api_types.py
  src/utils/summarizer.py
  uv.lock
Due: basedpyright, pytest-main, pytest-python-sdk

Fix Honcho deriver batching
  config.toml
Due: none

fix: address review feedback — add custom_instructions to server config; merge estimate helpers; revert uv.lock
  src/schemas/configuration.py
  src/utils/summarizer.py
  uv.lock
Due: basedpyright, pytest-main

fix: private ip address check for webhook creation
  src/schemas/api.py
Due: basedpyright, pytest-main

fix: forward custom_instructions in estimate_long; switch to lru_cache
  src/utils/summarizer.py
Due: basedpyright, pytest-main

docs: clarify SummaryConfiguration uses deriver token cap
  src/schemas/configuration.py
Due: basedpyright, pytest-main

fix(agent_tools): strip display-format "id:" prefix from model-supplied observation IDs
  src/utils/agent_tools.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

add read db (#773)
  CLAUDE.md
  config.toml.example
  src/config.py
  src/crud/document.py
  src/crud/message.py
  src/crud/representation.py
  src/db.py
  src/dependencies.py
  src/deriver/queue_manager.py
  src/dialectic/chat.py
  src/dialectic/core.py
  src/routers/conclusions.py
  src/routers/messages.py
  src/routers/peers.py
  src/routers/sessions.py
  src/routers/workspaces.py
  src/utils/agent_tools.py
  src/utils/search.py
  tests/conftest.py
  tests/integration/test_message_embeddings.py
  tests/sdk_typescript/conftest.py
  tests/startup/test_embedding_validator.py
  tests/test_db_resilience.py
  tests/test_dependencies.py
Due: basedpyright, pytest-main

Switch local embedding model away from bge-m3 NaNs
  config.toml
Due: none

feat(deriver): per-session observation cap on representation contributions (#9)
  src/config.py
  src/crud/__init__.py
  src/crud/document.py
  src/crud/representation.py
  tests/crud/test_document.py
  tests/crud/test_representation_manager.py
Due: basedpyright, pytest-main

fix: don't hold DB session across vector-store upserts
  src/reconciler/embed_now.py
  tests/routes/test_messages.py
Due: basedpyright, pytest-main

fix: align semantic-search function to filter null rows
  src/crud/message.py
  tests/integration/test_message_embeddings.py
Due: basedpyright, pytest-main

fix: strip WWW-Authenticate header from MCP handler responses
  mcp/src/index.ts
Due: none

style: wrap long function signatures to comply with 88-char line limit
  src/utils/summarizer.py
Due: basedpyright, pytest-main

fix: use json_object instead of json_schema in structured output fallback
  src/llm/backends/openai.py
Due: basedpyright, pytest-main

Add MseeP.ai badge to README.md
  README.md
Due: none

feat: defer embedding messages (#704)
  docs/v3/documentation/features/advanced/search.mdx
  src/config.py
  src/crud/message.py
  src/embedding_client.py
  src/reconciler/embed_now.py
  src/reconciler/sync_vectors.py
  src/routers/messages.py
  src/telemetry/events/llm.py
  tests/conftest.py
  tests/deriver/test_embed_now.py
  tests/deriver/test_vector_reconciliation.py
  tests/integration/test_message_embeddings.py
  tests/llm/test_embedding_client.py
  tests/routes/test_messages.py
Due: basedpyright, pytest-main

fix: private ip address check for webhook creation (#793)
  src/schemas/api.py
Due: basedpyright, pytest-main

fix(dedup): atomic reinforcement increment + deterministic tiebreak
  src/crud/document.py
  src/crud/representation.py
  tests/crud/test_representation_manager.py
Due: basedpyright, pytest-main

fix(dedup): reinforce times_derived on duplicate detection (#768)
  src/crud/document.py
  src/crud/representation.py
  tests/crud/test_document.py
  tests/crud/test_representation_manager.py
Due: basedpyright, pytest-main

fix: declare click as honcho-cli dependency (#787)
  honcho-cli/pyproject.toml
  honcho-cli/uv.lock
  uv.lock
Due: none

fix(agent_tools): strip whitespace remaining after "id:" prefix removal
  src/utils/agent_tools.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

feat: add queue purge endpoint for stranded work units
  src/main.py
  src/routers/queue.py
Due: basedpyright, pytest-main

docs: add README note about Honcho Rust fork and MCP port
  README.md
Due: none

fix: handle Gemini transport in simple_batch_embed by processing items individually
  src/embedding_client.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

fix: conditionally pass k kwarg in create_tree() for non-KNN tree types
  src/dreamer/surprisal.py
  tests/dreamer/test_trees.py
Due: basedpyright, pytest-main

fix: use np.isfinite instead of not np.isnan to catch inf values
  tests/dreamer/test_trees.py
Due: basedpyright, pytest-main

fix: raise ValueError when Gemini returns empty embeddings instead of silently skipping
  src/embedding_client.py
Due: basedpyright, pytest-main

feat: send OpenRouter app-attribution headers on OpenAI-compatible clients
  src/embedding_client.py
  src/llm/registry.py
  tests/llm/test_embedding_client.py
Due: basedpyright, pytest-main

Optimize deriver prompt prefix caching
  src/deriver/prompts.py
Due: basedpyright, pytest-main

docs: split honcho-mcp skill out of honcho-memory; address PR review
  .claude/skills/honcho-cli/SKILL.md
  .claude/skills/honcho-mcp/SKILL.md
  .claude/skills/honcho-memory/SKILL.md
  docs/v3/documentation/introduction/vibecoding.mdx
Due: none

Optimize dreamer prompt cache prefix
  src/dreamer/specialists.py
  tests/dreamer/test_model_config_usage.py
Due: basedpyright, pytest-main

fix: treat null observe_others as True in deriver and schema default
  src/deriver/enqueue.py
  src/schemas/configuration.py
Due: basedpyright, pytest-main
