Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

fix(openai-agents): address all CodeRabbit review comments on Python and TypeScript
  examples/openai-agents/python/main.py
  examples/openai-agents/python/tests/test_integration.py
  examples/openai-agents/python/tools/query_memory.py
  examples/openai-agents/python/tools/save_memory.py
  examples/openai-agents/typescript/main.ts
  examples/openai-agents/typescript/tools/getContext.ts
  examples/openai-agents/typescript/tools/queryMemory.ts
  examples/openai-agents/typescript/tools/saveMemory.ts
Due: none

fix(dream): remove search tools from specialist toolsets, add discovery budget enforcement
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

test(dream): add dream scheduler and specialist tests
  tests/dreamer/test_dream_scheduler.py
  tests/dreamer/test_specialists.py
Due: basedpyright, pytest-main

fix(dream): harden specialist loop, add trace_name, stale dream recovery, queue drain
  src/deriver/queue_manager.py
  src/dreamer/dream_scheduler.py
  src/dreamer/specialists.py
Due: basedpyright, pytest-main

fix(build): pre-seed tiktoken cache, skip uv python downloads, fix .dockerignore
  .dockerignore
  Dockerfile
Due: none

fix(models): use configurable VECTOR_STORE_DIMENSIONS instead of hardcoded 1536
  src/models.py
Due: basedpyright, pytest-main

docs: add Google-style docstrings to bring coverage from 71.7% to 83.2%
  src/config.py
  src/crud/deriver.py
  src/models.py
  src/schemas/api.py
  src/telemetry/prometheus/metrics.py
  src/utils/files.py
Due: basedpyright, pytest-main

feat(cli): add pixel-honcho icon to banner
  honcho-cli/src/honcho_cli/branding.py
Due: none

feat: support ANTHROPIC_BASE_URL for custom Anthropic-compatible endpoints
  src/config.py
  src/embedding_client.py
  src/models.py
  src/utils/clients.py
Due: basedpyright, pytest-main

fix: polish Honcho CLI wolcome panel and error messages
  .gitignore
  honcho-cli/src/honcho_cli/_help.py
  honcho-cli/src/honcho_cli/commands/conclusion.py
  honcho-cli/src/honcho_cli/commands/peer.py
Due: none

refactor: rename thinking validator to reflect transport scope
  src/config.py
Due: basedpyright, pytest-main

fix: honcho workspace inspect speed
  honcho-cli/src/honcho_cli/commands/peer.py
  honcho-cli/src/honcho_cli/commands/workspace.py
Due: none

fix(config): drop transport-specific thinking params when env override changes transport
  src/config.py
  tests/llm/test_model_config.py
Due: basedpyright, pytest-main

chore: minor fix to session pagination
  honcho-cli/src/honcho_cli/commands/session.py
Due: none

Allow thinking_budget_tokens=0 for non-Anthropic providers (MiniMax support)
  src/config.py
Due: basedpyright, pytest-main

fix(config): apply thinking-param strip to dialectic level merge too
  src/config.py
  tests/llm/test_model_config.py
Due: basedpyright, pytest-main

Route GPT-5 tool calls through OpenAI Responses
  src/utils/clients.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

fix: removing NDJSON output
  honcho-cli/README.md
  honcho-cli/src/honcho_cli/_help.py
  honcho-cli/src/honcho_cli/output.py
  honcho-cli/src/honcho_cli/skills/CONTEXT.md
  honcho-cli/tests/test_commands.py
Due: none

fix: default dialectic levels to MiniMax-M2.7 (custom) — no Anthropic fallback
  src/config.py
Due: basedpyright, pytest-main

fix(dreamer): threshold and time-guard semantics
  src/deriver/enqueue.py
  src/dreamer/dream_scheduler.py
  src/dreamer/orchestrator.py
Due: basedpyright, pytest-main

test(dreamer): threshold filter + last_dream_at relocation regression tests
  src/dreamer/dream_scheduler.py
  tests/deriver/test_enqueue_dream.py
  tests/dreamer/test_dream_scheduler.py
  tests/dreamer/test_dreamer_integration.py
Due: basedpyright, pytest-main

docs: add Paperclip integration guide
  docs/v3/guides/integrations/paperclip.mdx
Due: none

docs: update Paperclip integration guide (#572)
  docs/v3/guides/integrations/paperclip.mdx
Due: none

chore: consolidating honcho CLI's dula argv grammar onto Pattern A (command-first)
  honcho-cli/README.md
  honcho-cli/src/honcho_cli/_help.py
  honcho-cli/src/honcho_cli/commands/conclusion.py
  honcho-cli/src/honcho_cli/common.py
Due: none

chore: clean up imports
  honcho-cli/src/honcho_cli/commands/conclusion.py
  honcho-cli/src/honcho_cli/main.py
Due: none

fix: four `-s` consistency fixes applied
  honcho-cli/src/honcho_cli/commands/conclusion.py
  honcho-cli/src/honcho_cli/commands/peer.py
  honcho-cli/src/honcho_cli/commands/workspace.py
Due: none

chore: minor changes to memory rows
  honcho-cli/src/honcho_cli/_help.py
Due: none

fix(dreamer): preserve last_dream_document_count in completion write
  src/dreamer/orchestrator.py
  tests/dreamer/test_dreamer_integration.py
Due: basedpyright, pytest-main

fix(dreamer): address CodeRabbit feedback on b89997c
  src/deriver/enqueue.py
  src/dreamer/dream_scheduler.py
  tests/deriver/test_enqueue_dream.py
  tests/dreamer/test_dream_scheduler.py
  tests/dreamer/test_dreamer_integration.py
Due: basedpyright, pytest-main

fix(dreamer): session lookup symmetry + row lock on dream metadata RMW
  src/crud/collection.py
  src/deriver/enqueue.py
  src/dreamer/dream_scheduler.py
  src/dreamer/orchestrator.py
  tests/dreamer/test_dreamer_integration.py
Due: basedpyright, pytest-main

fix(dreamer): explicit-only count on manual schedule_dream route
  src/routers/workspaces.py
  tests/routes/test_workspaces.py
Due: basedpyright, pytest-main

docs(dreamer): document explicit-only invariant on enqueue_dream.document_count
  src/deriver/enqueue.py
Due: basedpyright, pytest-main

refactor(dreamer): rename current_document_count → current_explicit_count
  src/dreamer/dream_scheduler.py
Due: basedpyright, pytest-main

Address PR feedback: revert pgvector defaults, drop package-lock, add max_messages test
  sdks/typescript/package-lock.json
  src/crud/document.py
  src/routers/conclusions.py
  tests/routes/test_sessions.py
Due: biome-check, basedpyright, pytest-main, typescript-check

feat: implement language preservation guidelines across prompts and summaries
  src/deriver/prompts.py
  src/dreamer/specialists.py
  src/utils/agent_tools.py
  src/utils/summarizer.py
  tests/utils/test_language_preservation_prompts.py
Due: basedpyright, pytest-main

feat(mcp): read HONCHO_API_URL env var to support self-hosted Honcho
  mcp/.dev.vars.example
  mcp/.gitignore
  mcp/README.md
  mcp/src/config.ts
  mcp/src/index.ts
Due: none

fix(json): extract structured payloads from noisy model output
  src/utils/json_parser.py
  tests/utils/test_json_parser.py
Due: basedpyright, pytest-main

fix(deriver): normalize PromptRepresentation inputs safely
  src/utils/representation.py
  tests/deriver/test_representation_crud.py
Due: basedpyright, pytest-main

fix(clients): harden structured-output fallback paths
  src/deriver/prompts.py
  src/utils/clients.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

fix: strip markdown code fences from MiniMax JSON responses
  src/utils/clients.py
Due: basedpyright, pytest-main
