Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run typecheck; fi'
  language: system
  pass_filenames: false

Adding crewAI integration guide (#279)
  CLAUDE.md
  README.md
  docs/docs.json
  docs/v2/integrations/crewai.mdx
  docs/v2/integrations/langgraph.mdx
  examples/crewai/python/LICENSE
  examples/crewai/python/README.md
  examples/crewai/python/examples/hybrid_memory_example.py
  examples/crewai/python/examples/interactive_chat.py
  examples/crewai/python/examples/simple_example.py
  examples/crewai/python/examples/tools_example.py
  examples/crewai/python/pyproject.toml
  examples/crewai/python/src/honcho_crewai/__init__.py
  examples/crewai/python/src/honcho_crewai/exceptions.py
  examples/crewai/python/src/honcho_crewai/storage.py
  examples/crewai/python/src/honcho_crewai/tools.py
  examples/crewai/python/tests/test_basic.py
  examples/crewai/python/tests/test_storage.py
  examples/crewai/python/tests/test_tools.py
  examples/crewai/python/uv.lock
  mcp/instructions.md
Due: none

feat: dialectic agent prompt updates, re-introduce non_agent deriver, eval tweaks
  .env.template
  config.toml.example
  src/config.py
  src/deriver/consumer.py
  src/deriver/non_agent/deriver.py
  src/deriver/non_agent/prompts.py
  src/deriver/queue_manager.py
  src/dialectic/core.py
  src/dialectic/prompts.py
  tests/bench/beam.py
  tests/bench/longmem.py
Due: basedpyright, pytest-main

feat: get context page
  docs/v2/documentation/features/get-context.mdx
  docs/v2/documentation/introduction/overview.mdx
Due: none

docs: updating migration guide comparisons
  docs/v2/migrations/from-mem0.mdx
Due: none

feat: fast deriver, dreamer, then dialectic
  .env.template
  config.toml.example
  src/config.py
  src/deriver/agent/prompts.py
  src/deriver/consumer.py
  src/deriver/enqueue.py
  src/deriver/legacy_deriver/deriver.py
  src/deriver/legacy_deriver/prompts.py
  src/deriver/non_agent/__init__.py
  src/deriver/non_agent/deriver.py
  src/deriver/non_agent/prompts.py
  src/dialectic/prompts.py
  src/dreamer/agent.py
  src/dreamer/dream_scheduler.py
  src/routers/workspaces.py
  src/schemas.py
  src/utils/agent_tools.py
  src/utils/clients.py
  src/utils/queue_payload.py
  src/utils/representation.py
  tests/bench/beam.py
  tests/bench/incorrect_beam_qs.txt
Due: basedpyright, pytest-main

fix: reorder again
  docs/docs.json
  docs/v2/cookbooks/discord.mdx
  docs/v2/cookbooks/placeholder.mdx
  docs/v2/cookbooks/telegram.mdx
  docs/v2/documentation/core-concepts/deriver.mdx
  docs/v2/documentation/core-concepts/representation.mdx
  docs/v2/documentation/features/advanced/configuration.mdx
  docs/v2/documentation/features/advanced/overview.mdx
  docs/v2/documentation/features/advanced/queue-status.mdx
  docs/v2/documentation/features/advanced/search.mdx
  docs/v2/documentation/features/advanced/streaming-response.mdx
  docs/v2/documentation/features/advanced/summarizer.mdx
  docs/v2/documentation/features/advanced/using-filters.mdx
  docs/v2/documentation/features/chat.mdx
  docs/v2/documentation/features/dialectic-endpoint.mdx
  docs/v2/documentation/features/get-context.mdx
  docs/v2/documentation/scratch/honcho-memory/advanced-retrieval/get-context.mdx
  docs/v2/documentation/scratch/honcho-memory/quickstart.mdx
  docs/v2/documentation/scratch/local-vs-global.mdx
  docs/v2/documentation/scratch/working-rep.mdx
  docs/v2/guides/file-uploads.mdx
  docs/v2/guides/integrations/mcp.mdx
  docs/v2/guides/migrations/mem0.mdx
Due: none

fix: tweaks across the board
  src/config.py
  src/deriver/non_agent/deriver.py
  src/deriver/non_agent/prompts.py
  src/dialectic/core.py
  src/dialectic/prompts.py
  src/dreamer/agent.py
  src/dreamer/dream_scheduler.py
  src/utils/agent_tools.py
  src/utils/clients.py
  tests/bench/longmem.py
Due: basedpyright, pytest-main

fix: version bump, api/sdk updates
  pyproject.toml
  sdks/python/honcho_core-1.5.1-py3-none-any.whl
  sdks/python/src/honcho/async_client/client.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/session.py
  sdks/typescript/bun.lock
  sdks/typescript/dist.tar.gz
  sdks/typescript/src/session.ts
  sdks/typescript/src/validation.ts
  src/main.py
  src/routers/messages.py
  src/schemas.py
  src/utils/files.py
  tests/routes/test_files.py
  tests/sdk/test_file_uploads.py
  tests/unified/runner.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

feat: add baseline tests
  src/dialectic/core.py
  src/utils/clients.py
  tests/bench/beam.py
  tests/bench/beam_baseline.py
  tests/bench/beam_common.py
  tests/bench/longmem.py
  tests/bench/longmem_baseline.py
  tests/bench/longmem_common.py
Due: basedpyright, pytest-main

docs: simplifying structure and suggestions
  docs/v2/migrations/from-mem0.mdx
Due: none

fix conditional cache invalidation (#280)
  docs/v2/contributing/configuration.mdx
  src/config.py
  src/crud/peer.py
  src/crud/session.py
  src/crud/workspace.py
  src/main.py
  src/utils/summarizer.py
Due: basedpyright, pytest-main

fix: observation endpoints, deletion queue, sdk observation implementation
  sdks/python/honcho_core-1.6.0-py3-none-any.whl
  sdks/python/pyproject.toml
  sdks/python/src/honcho/__init__.py
  sdks/python/src/honcho/async_client/client.py
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/observations.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/python/src/honcho/types.py
  sdks/typescript/src/index.ts
  sdks/typescript/src/observations.ts
  sdks/typescript/src/peer.ts
  src/deriver/consumer.py
  src/deriver/enqueue.py
  src/main.py
  src/routers/peers.py
  src/routers/sessions.py
  src/schemas.py
  src/utils/queue_payload.py
  src/utils/types.py
  src/utils/work_unit.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

chore: Fix migration order
  migrations/versions/110bdf470272_rename_deriver_disabled_to_deriver_.py
Due: none

fix: Use published stainless sdks
  sdks/python/honcho_core-1.5.1-py3-none-any.whl
  sdks/python/honcho_core-1.6.0-py3-none-any.whl
  sdks/python/pyproject.toml
  sdks/python/src/honcho/types.py
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  sdks/typescript/src/observations.ts
  sdks/typescript/src/pagination.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/representation.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/types.ts
  sdks/typescript/src/validation.ts
  src/crud/session.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

chore: (docs) update api-reference
  .github/workflows/unittest.yml
  docs/docs.json
  docs/package.json
  docs/v2/api-reference/endpoint/observations/delete-observation.mdx
  docs/v2/api-reference/endpoint/observations/list-observations.mdx
  docs/v2/api-reference/endpoint/observations/query-observations.mdx
  docs/v2/api-reference/endpoint/peers/get-peer-context.mdx
  docs/v2/api-reference/endpoint/peers/set-peer-card.mdx
  docs/v2/api-reference/endpoint/workspaces/trigger-dream.mdx
  docs/v2/openapi.json
Due: none

fix: (docs) update based on api and sdk changes
  docs/v2/documentation/core-concepts/configuration.mdx
  docs/v2/documentation/core-concepts/features/get-context.mdx
  docs/v2/documentation/core-concepts/features/storing-data.mdx
  docs/v2/documentation/core-concepts/features/working-rep.mdx
  docs/v2/documentation/reference/sdk.mdx
Due: none

feat: truncation in tools and client, tweaks for evals
  src/config.py
  src/crud/__init__.py
  src/crud/message.py
  src/dialectic/core.py
  src/dialectic/prompts.py
  src/dreamer/agent.py
  src/utils/agent_tools.py
  src/utils/clients.py
  tests/bench/beam_baseline.py
  tests/bench/longmem_baseline.py
Due: basedpyright, pytest-main

fix: Code Rabbit Comments
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/observations.py
  sdks/python/src/honcho/session.py
  sdks/python/src/honcho/types.py
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/src/observations.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/representation.ts
  sdks/typescript/src/validation.ts
  src/crud/document.py
  src/deriver/consumer.py
  src/deriver/queue_manager.py
  src/dreamer/consolidate.py
  src/dreamer/dream_scheduler.py
  src/routers/observations.py
  src/utils/work_unit.py
  tests/crud/test_document.py
  tests/sdk/test_file_uploads.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

fix: Code Rabbit Final Nits
  sdks/python/src/honcho/__init__.py
  sdks/python/src/honcho/types.py
  sdks/typescript/src/client.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
  src/config.py
  src/deriver/consumer.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

fix: dream scheduler
  src/utils/work_unit.py
Due: basedpyright, pytest-main

fix: SDK model type consistency
  sdks/typescript/__tests__/metadata_caching.test.ts
  sdks/typescript/src/client.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
Due: biome-check, typescript-check, typescript-typecheck

feat: add locomo, fix longmem judge!!!
  tests/bench/.gitignore
  tests/bench/locomo.py
  tests/bench/locomo_baseline.py
  tests/bench/locomo_common.py
  tests/bench/longmem.py
  tests/bench/longmem_baseline.py
  tests/bench/longmem_common.py
Due: basedpyright, pytest-main

fix: locomo f1 is trash, use llm judge
  tests/bench/locomo.py
  tests/bench/locomo_baseline.py
  tests/bench/locomo_common.py
Due: basedpyright, pytest-main

feat: Add session cloning to Ergonomic SDKs
  docs/v2/documentation/reference/platform.mdx
  docs/v2/documentation/reference/sdk.mdx
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/session.py
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/src/session.ts
  src/crud/session.py
  tests/sdk/test_session.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

chore: (docs) Changelog Updates
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/python/src/honcho/__init__.py
  sdks/typescript/CHANGELOG.md
  sdks/typescript/package.json
  uv.lock
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check

docs: Simplifying API comparsion
  docs/v2/migrations/from-mem0.mdx
Due: none

docs: verifying code and simplfying
  docs/v2/migrations/from-mem0.mdx
Due: none

fix: concept pages, reorg, first pass
  docs/docs.json
  docs/images/architecture.png
  docs/images/reasoning.png
  docs/v2/documentation/core-concepts/architecture.mdx
  docs/v2/documentation/core-concepts/deriver.mdx
  docs/v2/documentation/core-concepts/reasoning.mdx
  docs/v2/documentation/core-concepts/representation.mdx
  docs/v2/documentation/features/advanced/queue-status.mdx
  docs/v2/documentation/introduction/overview.mdx
  docs/v2/documentation/introduction/quickstart.mdx
  docs/v2/guides/storing-data.mdx
  src/schemas.py
Due: basedpyright, pytest-main

fix: quick updates
  docs/images/perspectives.jpeg
  docs/v2/documentation/core-concepts/architecture.mdx
  docs/v2/documentation/core-concepts/reasoning.mdx
  docs/v2/guides/storing-data.mdx
Due: none

fix: move perspective taking to representation
  docs/v2/documentation/core-concepts/architecture.mdx
  docs/v2/documentation/core-concepts/representation.mdx
Due: none

fix: update to main changes
  docs/v2/documentation/features/advanced/configuration.mdx
  docs/v2/documentation/features/get-context.mdx
  docs/v2/documentation/reference/sdk.mdx
  docs/v2/documentation/scratch/working-rep.mdx
  docs/v2/guides/storing-data.mdx
Due: none

docs: emphasizing the quality of honcho
  docs/v2/migrations/from-mem0.mdx
Due: none

docs: organizing guides. Added guides from main and migration branch.
  docs/docs.json
  docs/v2/guides/discord.mdx
  docs/v2/guides/integrations/crewai.mdx
  docs/v2/guides/integrations/langgraph.mdx
  docs/v2/guides/integrations/mcp.mdx
  docs/v2/guides/migrations/mem0.mdx
  docs/v2/guides/telegram.mdx
Due: none

feat: trace creation
  scripts/jsonl_to_json.py
  src/config.py
  src/deriver/non_agent/deriver.py
  src/utils/clients.py
  src/utils/finetuning_traces.py
Due: basedpyright, pytest-main

fix: various tweaks
  docs/v2/documentation/core-concepts/architecture.mdx
  docs/v2/documentation/core-concepts/reasoning.mdx
  docs/v2/documentation/features/advanced/configuration.mdx
  docs/v2/documentation/features/chat.mdx
  docs/v2/documentation/features/get-context.mdx
  docs/v2/documentation/introduction/overview.mdx
  docs/v2/documentation/introduction/quickstart.mdx
  docs/v2/documentation/reference/sdk.mdx
  docs/v2/documentation/scratch/working-rep.mdx
  docs/v2/guides/storing-data.mdx
Due: none

feat: Add Observation Creation Endpoints and SDK Cleanup
  docs/docs.json
  docs/v2/api-reference/endpoint/observations/create-observations.mdx
  docs/v2/documentation/reference/sdk.mdx
  sdks/python/pyproject.toml
  sdks/python/src/honcho/__init__.py
  sdks/python/src/honcho/async_client/client.py
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/base.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/observations.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/python/src/honcho/types.py
  sdks/typescript/__tests__/client.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  sdks/typescript/src/client.ts
  sdks/typescript/src/observations.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/types.ts
  sdks/typescript/src/validation.ts
  src/crud/__init__.py
  src/crud/document.py
  src/routers/observations.py
  src/schemas.py
  tests/routes/test_observations.py
  tests/sdk/test_client.py
  tests/sdk/test_file_uploads.py
  tests/sdk/test_observations.py
  tests/sdk/test_session.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check, typescript-typecheck

docs: minor textual changes
  docs/v2/migrations/from-mem0.mdx
Due: none

feat: init turbopuffer and lanceDB
  migrations/versions/f1a2b3c4d5e6_remove_embedding_columns_for_vector_store.py
  pyproject.toml
  src/config.py
  src/crud/document.py
  src/crud/message.py
  src/crud/representation.py
  src/crud/workspace.py
  src/models.py
  src/utils/search.py
  src/vector_store/__init__.py
  src/vector_store/lancedb.py
  src/vector_store/turbopuffer.py
  uv.lock
Due: basedpyright, pytest-main

fix: remove destructive embedding migration
  migrations/versions/f1a2b3c4d5e6_add_chunk_index_to_message_embeddings.py
  migrations/versions/f1a2b3c4d5e6_remove_embedding_columns_for_vector_store.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_f1a2b3c4d5e6_add_chunk_index_to_message_embeddings.py
Due: basedpyright, pytest-main

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
  typescript-typecheck: any of: ^sdks/typescript/.*\.(ts|tsx)$
