Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

fix: add reasoning_level param, validate
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/peer.py
  sdks/typescript/src/peer.ts
  sdks/typescript/src/validation.ts
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check

fix: remove hard-delete from critical path and make PgVectorStore deletions a no-op
  src/crud/document.py
  src/vector_store/pgvector.py
  tests/crud/test_document.py
  tests/routes/test_observations.py
Due: basedpyright, pytest-main

fix: use soft-delete pattern for duplicate detection
  src/crud/document.py
Due: basedpyright, pytest-main

fix: steps toward deprecating MessageEmbedding table
  src/crud/message.py
  src/crud/session.py
  src/deriver/vector_reconciliation.py
Due: basedpyright, pytest-main

chore: code rabbit nitpicks
  src/config.py
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

fix: add unique index for pending dreams in queue
  migrations/versions/7c0d9a4e3b1f_add_unique_index_for_pending_dreams.py
  src/config.py
  src/deriver/enqueue.py
  src/models.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

fix: revert removal of surprisal in dreamer config
  src/config.py
Due: basedpyright, pytest-main

fix: include_most_derived -> include_most_frequent
  docs/v2.6.0-alpha/documentation/features/advanced/representation-scopes.mdx
  docs/v2.6.0-alpha/documentation/features/get-context.mdx
  docs/v2.6.0-alpha/documentation/reference/sdk.mdx
  sdks/python/pyproject.toml
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/conclusions.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/typescript/__tests__/integration.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  sdks/typescript/src/conclusions.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/representation.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/validation.ts
  src/routers/peers.py
  src/routers/sessions.py
  src/schemas.py
  tests/integration/test_representation.py
  tests/routes/test_peers.py
  tests/routes/test_sessions.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

fix: validate anthropic thinking budget minimums, correct gemini-3-flash-preview model string
  src/config.py
Due: basedpyright, pytest-main

fix: use real stainless releases, update to match
  sdks/python/pyproject.toml
  sdks/python/src/honcho/async_client/client.py
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/async_client/session.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/conclusions.py
  sdks/python/src/honcho/peer.py
  sdks/python/src/honcho/session.py
  sdks/typescript/__tests__/client.test.ts
  sdks/typescript/__tests__/integration.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  sdks/typescript/src/client.ts
  sdks/typescript/src/conclusions.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
  src/config.py
  src/utils/agent_tools.py
  src/utils/config_helpers.py
  tests/sdk/test_client.py
  tests/sdk/test_session.py
  tests/unified/runner.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

feat: add honcho-agno integration package
  examples/agno/python/.env.template
  examples/agno/python/LICENSE
  examples/agno/python/README.md
  examples/agno/python/examples/multi_tool_example.py
  examples/agno/python/examples/simple_example.py
  examples/agno/python/pyproject.toml
  examples/agno/python/src/honcho_agno/__init__.py
  examples/agno/python/src/honcho_agno/exceptions.py
  examples/agno/python/src/honcho_agno/tools.py
  examples/agno/python/tests/test_tools.py
  examples/agno/python/uv.lock
Due: none

README and docs updates (#308)
  README.md
  docs/SKILL.md
  docs/v2.6.0-alpha/documentation/introduction/overview.mdx
  docs/v2.6.0-alpha/documentation/introduction/quickstart.mdx
  docs/v2.6.0-alpha/documentation/introduction/vibecoding.mdx
Due: none

chore: docstring cleanup
  sdks/python/src/honcho/conclusions.py
  sdks/python/src/honcho/peer.py
  sdks/typescript/src/conclusions.ts
  sdks/typescript/src/peer.ts
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check

fix: remove composite and pgvector store -> make more specific
  .env.template
  config.toml.example
  src/config.py
  src/crud/document.py
  src/crud/message.py
  src/crud/session.py
  src/crud/workspace.py
  src/deriver/vector_reconciliation.py
  src/main.py
  src/utils/search.py
  src/vector_store/__init__.py
  src/vector_store/composite.py
  src/vector_store/lancedb.py
  src/vector_store/pgvector.py
  src/vector_store/turbopuffer.py
  src/vector_store/utils.py
  tests/conftest.py
  tests/deriver/test_vector_reconciliation.py
Due: basedpyright, pytest-main

feat: make dreamer and dialectic actually respect settings around using peer card
  sdks/python/src/honcho/conclusions.py
  src/dialectic/chat.py
  src/dialectic/prompts.py
  src/dreamer/dream_scheduler.py
  src/dreamer/orchestrator.py
  src/dreamer/specialists.py
  src/schemas.py
  src/utils/agent_tools.py
Due: basedpyright, pytest-main, pytest-python-sdk

chore: code review, use new stainless releases
  sdks/python/pyproject.toml
  sdks/python/src/honcho/conclusions.py
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  src/dreamer/orchestrator.py
  src/utils/config_helpers.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

chore: re-add n8n
  docs/docs.json
Due: none

chore: fix tests to match core sdk
  sdks/typescript/__tests__/client.test.ts
  sdks/typescript/__tests__/integration.test.ts
  sdks/typescript/__tests__/metadata_caching.test.ts
  sdks/typescript/__tests__/pagination.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/session.test.ts
Due: biome-check, typescript-check

fix: migration order
  migrations/versions/119a52b73c60_support_external_embeddings.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_119a52b73c60_support_external_embeddings.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

fix: Upgrade Dockerfile and uv
  .github/workflows/unified-tests.yml
  Dockerfile
  pyproject.toml
Due: none

fix: swap to reasoning config in unified test files, handle new representation output format
  src/config.py
  tests/unified/test_cases/config_deriver_hierarchy.json
  tests/unified/test_cases/config_message_positive_override.json
  tests/unified/test_cases/config_peercard_control.json
  tests/unified/test_cases/config_summary_control_deriver_off.json
  tests/unified/test_cases/message_deriver_disabled.json
  tests/unified/test_cases/observation_2peer_both_observe_me_false.json
  tests/unified/test_cases/observation_2peer_default.json
  tests/unified/test_cases/observation_2peer_observe_me_false_blocks_observation.json
  tests/unified/test_cases/observation_2peer_observe_me_false_but_can_still_observe_others.json
  tests/unified/test_cases/observation_2peer_unidirectional_alice_observes_bob.json
  tests/unified/test_cases/observation_2peer_unidirectional_bob_observes_alice.json
  tests/unified/test_cases/observation_3peer_multiple_observers_one_observed.json
  tests/unified/test_cases/observation_3peer_one_observer_multiple_observed.json
  tests/unified/test_cases/observation_3peer_selective_observation.json
  tests/unified/test_cases/observation_4peer_complex_matrix.json
  tests/unified/test_cases/observation_asymmetric_visibility.json
  tests/unified/test_cases/observation_isolation_between_sessions.json
  tests/unified/test_cases/session_deriver_disabled.json
  tests/unified/test_cases/workspace_deriver_disabled.json
Due: basedpyright, pytest-main

fix: Maintain this binding for pagination (#289)
  sdks/typescript/__tests__/integration.test.ts
  sdks/typescript/__tests__/pagination.test.ts
  sdks/typescript/src/pagination.ts
Due: biome-check, typescript-check

fix: shorten reconciliation cycle + fix 'IN' equality check
  .env.template
  src/deriver/queue_manager.py
  src/deriver/vector_reconciliation.py
  src/vector_store/lancedb.py
  src/vector_store/turbopuffer.py
  tests/integration/test_message_embeddings.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

Missing Commits from previous merge (#321)
  .github/workflows/unified-tests.yml
  Dockerfile
  pyproject.toml
  sdks/typescript/__tests__/client.test.ts
  sdks/typescript/__tests__/integration.test.ts
  sdks/typescript/__tests__/metadata_caching.test.ts
  sdks/typescript/__tests__/pagination.test.ts
  sdks/typescript/__tests__/peer.test.ts
  sdks/typescript/__tests__/session.test.ts
Due: biome-check, typescript-check

fix: resolve bugs in dream scheduling -- message from a peer should cancel all dreams observing them, and document counts should be checked at moment of dream, not in enqueue. clean up and test
  src/deriver/enqueue.py
  src/dreamer/__init__.py
  src/dreamer/dream_scheduler.py
  tests/dreamer/__init__.py
  tests/dreamer/test_dream_scheduler.py
Due: basedpyright, pytest-main

fixes: update unified tests, bugs in dream scheduling (#322)
  src/config.py
  src/deriver/enqueue.py
  src/dreamer/__init__.py
  src/dreamer/dream_scheduler.py
  tests/dreamer/__init__.py
  tests/dreamer/test_dream_scheduler.py
  tests/unified/test_cases/config_deriver_hierarchy.json
  tests/unified/test_cases/config_message_positive_override.json
  tests/unified/test_cases/config_peercard_control.json
  tests/unified/test_cases/config_summary_control_deriver_off.json
  tests/unified/test_cases/message_deriver_disabled.json
  tests/unified/test_cases/observation_2peer_both_observe_me_false.json
  tests/unified/test_cases/observation_2peer_default.json
  tests/unified/test_cases/observation_2peer_observe_me_false_blocks_observation.json
  tests/unified/test_cases/observation_2peer_observe_me_false_but_can_still_observe_others.json
  tests/unified/test_cases/observation_2peer_unidirectional_alice_observes_bob.json
  tests/unified/test_cases/observation_2peer_unidirectional_bob_observes_alice.json
  tests/unified/test_cases/observation_3peer_multiple_observers_one_observed.json
  tests/unified/test_cases/observation_3peer_one_observer_multiple_observed.json
  tests/unified/test_cases/observation_3peer_selective_observation.json
  tests/unified/test_cases/observation_4peer_complex_matrix.json
  tests/unified/test_cases/observation_asymmetric_visibility.json
  tests/unified/test_cases/observation_isolation_between_sessions.json
  tests/unified/test_cases/session_deriver_disabled.json
  tests/unified/test_cases/workspace_deriver_disabled.json
Due: basedpyright, pytest-main

fix: coderabbit comments
  migrations/versions/119a52b73c60_support_external_embeddings.py
  src/crud/document.py
  src/crud/message.py
  src/deriver/vector_reconciliation.py
  src/exceptions.py
  src/vector_store/lancedb.py
  tests/integration/test_message_embeddings.py
  tests/routes/test_conclusions.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

fix: add test for migration 7c0d9a4e3b1f
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_7c0d9a4e3b1f_add_unique_index_for_pending_dreams.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

(feat) Add Oolong Benchmarks
  pyproject.toml
  tests/bench/oolong.py
  tests/bench/oolong_common.py
Due: basedpyright, pytest-main

(fix) Address issues to fix basedpyright and coderabbit comments
  tests/bench/oolong.py
  tests/bench/oolong_common.py
  uv.lock
Due: basedpyright, pytest-main

(fix) Address basedpyrwright additional warnings
  tests/bench/oolong_common.py
Due: basedpyright, pytest-main

feat: add tool_choice to dialectic level settings, fix: `extra-high` label to `max`
  .env.template
  .github/workflows/unittest.yml
  CHANGELOG.md
  config.toml.example
  sdks/python/pyproject.toml
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/peer.py
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  sdks/typescript/src/peer.ts
  sdks/typescript/src/validation.ts
  src/config.py
  src/dialectic/core.py
  src/schemas.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

(fix) Address additional coderabbit issues
  tests/bench/oolong.py
  tests/bench/oolong_common.py
Due: basedpyright, pytest-main

feat: refactor to use ReconcilerScheduler
  .env.template
  config.toml.example
  migrations/versions/119a52b73c60_support_external_embeddings.py
  src/config.py
  src/deriver/consumer.py
  src/deriver/queue_manager.py
  src/reconciler/__init__.py
  src/reconciler/queue_cleanup.py
  src/reconciler/scheduler.py
  src/reconciler/sync_vectors.py
  src/schemas.py
  src/utils/queue_payload.py
  src/utils/types.py
  tests/alembic/revisions/test_119a52b73c60_support_external_embeddings.py
  tests/deriver/test_vector_reconciliation.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

feat: add tool_choice to dialectic level settings, fix: `extra-high` label to `max`
  .env.template
  .github/workflows/unittest.yml
  config.toml.example
  sdks/python/pyproject.toml
  sdks/python/src/honcho/async_client/peer.py
  sdks/python/src/honcho/peer.py
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  sdks/typescript/src/peer.ts
  sdks/typescript/src/validation.ts
  src/config.py
  src/dialectic/core.py
  src/schemas.py
  uv.lock
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

fix: CR / opus comments
  src/reconciler/sync_vectors.py
  src/vector_store/lancedb.py
  tests/conftest.py
  tests/deriver/test_vector_reconciliation.py
Due: basedpyright, pytest-main

fix: work unit key and reserve system workspace
  config.toml.example
  src/reconciler/scheduler.py
  src/reconciler/sync_vectors.py
  src/schemas.py
  src/utils/work_unit.py
Due: basedpyright, pytest-main
