Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

feat: adding more support for command-level flags, also including workarounds for getting raw SDK info
  examples/granola/honcho_granola.py
  honcho-cli/src/honcho_cli/commands/conclusion.py
  honcho-cli/src/honcho_cli/commands/key.py
  honcho-cli/src/honcho_cli/commands/message.py
  honcho-cli/src/honcho_cli/commands/peer.py
  honcho-cli/src/honcho_cli/commands/session.py
  honcho-cli/src/honcho_cli/commands/workspace.py
  honcho-cli/src/honcho_cli/common.py
Due: none

feat: adding gmail-honcho script
  examples/gmail/gmail_to_honcho.py
Due: none

feat: adding mail tutorial
  docs/docs.json
  docs/v3/guides/gmail.mdx
Due: none

fix: simplifying script
  docs/v3/guides/gmail.mdx
  examples/gmail/gmail_to_honcho.py
Due: none

chore: cr updates
  mcp/README.md
  mcp/instructions.md
  mcp/src/config.ts
  mcp/src/index.ts
Due: none

chore: cr
  mcp/instructions.md
Due: none

fix: sig restructure and simplification
  examples/granola/honcho_granola.py
Due: none

docs: updating for clarity
  docs/v3/guides/granola.mdx
Due: none

chore: cr
  examples/granola/honcho_granola.py
Due: none

fix: cleaning up script
  examples/granola/honcho_granola.py
Due: none

feat: adding gmail guide
  docs/docs.json
  docs/v3/guides/gmail.mdx
  examples/gmail/honcho_gmail.py
Due: none

refactor: replace globals with param passing, add Granola rate limit retry, surface unparseable transcripts
  examples/granola/honcho_granola.py
Due: none

chore: cr
  docs/v3/guides/gmail.mdx
  examples/gmail/honcho_gmail.py
Due: none

Optimize prompt prefix caching
  scripts/compare_prefix_cache.py
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/dialectic/core.py
  src/utils/clients.py
  src/utils/summarizer.py
  tests/utils/test_clients.py
  tests/utils/test_summarizer.py
Due: basedpyright, pytest-main

Improve prefix cache eval harness
  scripts/compare_prefix_cache.py
Due: basedpyright

Track Gemini cache token metrics
  src/utils/clients.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

Implement deriver custom instructions
  src/deriver/deriver.py
  src/deriver/prompts.py
  src/schemas.py
  tests/deriver/test_deriver_processing.py
  tests/deriver/test_prompts.py
  tests/utils/test_config_helpers.py
Due: basedpyright, pytest-main

Fix summarizer cache test typing
  tests/utils/test_summarizer.py
Due: basedpyright, pytest-main

Fix custom instruction test typing
  tests/deriver/test_deriver_processing.py
  tests/utils/test_config_helpers.py
Due: basedpyright, pytest-main

Fix basedpyright warnings in cacheable system blocks
  src/utils/clients.py
Due: basedpyright, pytest-main

Harden cache probe namespaces and docstrings
  scripts/compare_prefix_cache.py
Due: basedpyright

Address cache probe and Gemini review feedback
  scripts/compare_prefix_cache.py
  src/deriver/prompts.py
  src/utils/clients.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

Fix remaining prefix cache review issues
  scripts/compare_prefix_cache.py
  src/deriver/prompts.py
  src/utils/clients.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

Preserve Gemini tool context during provider fallback
  src/utils/clients.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

Use Gemini function names for tool responses
  src/utils/clients.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

chore: improving structure
  docs/v3/guides/integrations/mcp.mdx
  docs/v3/guides/overview.mdx
Due: none

chore: cleaning up vibecoding
  docs/v3/documentation/introduction/vibecoding.mdx
Due: none

fix: add observability to docker compose + get docker compose into a usable state
  .env.template
  docker-compose.yml.example
  docker/entrypoint.sh
  docker/grafana-datasource.yml
  docker/prometheus.yml
Due: none

Align custom instruction tests with split deriver prompts
  src/deriver/prompts.py
  tests/deriver/test_deriver_processing.py
Due: basedpyright, pytest-main

fix: adding example script and added more of a natural flow/progression
  docs/v3/guides/gmail.mdx
  docs/v3/guides/granola.mdx
Due: none

docs: updating vibecoding and integrations page to better match thier target audience
  docs/docs.json
  docs/v3/documentation/introduction/vibecoding.mdx
  docs/v3/guides/integrations/mcp.mdx
  docs/v3/guides/overview.mdx
Due: none

docs: adding keywords
  docs/v3/documentation/introduction/vibecoding.mdx
Due: none

fix: init.sql location
  docker-compose.yml.example
Due: none

Add SillyTavern integration docs
  docs/docs.json
  docs/v3/guides/integrations/sillytavern.mdx
Due: none

fix: align self-hosting config and docs
  .env.template
  README.md
  config.toml.example
  docker-compose.yml.example
  docs/v3/contributing/configuration.mdx
  docs/v3/contributing/self-hosting.mdx
  src/config.py
  tests/setup_examples/conftest.py
  tests/setup_examples/test_setup_examples.py
Due: basedpyright, pytest-main

fix(files): handle empty json uploads safely
  src/utils/files.py
  tests/routes/test_files.py
  tests/utils/test_files.py
Due: basedpyright, pytest-main

fix(files): normalize invalid json upload errors
  src/utils/files.py
  tests/utils/test_files.py
Due: basedpyright, pytest-main

fix(files): restore file processing error import
  src/utils/files.py
Due: basedpyright, pytest-main
