Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

fix: adding additional clarity when updating peercards
  src/deriver/deriver.py
Due: basedpyright, pytest-main

fix: adding additional clarity when updating peercards (#304)
  src/deriver/deriver.py
Due: basedpyright, pytest-main

Append trace generation utility
  tests/bench/trace.py
Due: basedpyright, pytest-main

Add PVD mvp implementation
  .env.template
  src/config.py
  src/dialectic/core.py
  src/dialectic/prompts.py
  src/dialectic/pvd/__init__.py
  src/dialectic/pvd/classifier.py
  src/dialectic/pvd/parameters.py
  src/dialectic/pvd/probability.py
  src/dialectic/pvd/retrieval.py
  src/dialectic/pvd/scoring.py
  src/utils/agent_tools.py
Due: basedpyright, pytest-main

fix: adding logging as a fixture on honcho_llm_call and supporting dialectic loging.
  src/deriver/non_agent/deriver.py
  src/dialectic/core.py
  src/utils/clients.py
  src/utils/finetuning_traces.py
Due: basedpyright, pytest-main

(feat) Append explicit bench to benchmark collection
  tests/bench/explicit.py
Due: basedpyright, pytest-main

chore: clean up types
  src/config.py
  src/dreamer/orchestrator.py
  src/dreamer/surprisal.py
  src/dreamer/trees/__init__.py
  src/dreamer/trees/base.py
  src/dreamer/trees/covertree.py
  src/dreamer/trees/graph.py
  src/dreamer/trees/lsh.py
  src/dreamer/trees/prototype.py
  src/dreamer/trees/rptree.py
  src/dreamer/trees/sklearn_wrapper.py
Due: basedpyright, pytest-main

fix: Address coderabbit issues
  tests/bench/explicit.py
Due: basedpyright, pytest-main

fix: address basedpyright issues
  tests/bench/explicit.py
Due: basedpyright, pytest-main

fix: address basedpywright warnings
  pyproject.toml
Due: none

feat: add explicit bench
  tests/bench/explicit.py
Due: basedpyright, pytest-main

fix: address additional basepyright issues
  tests/bench/explicit.py
Due: basedpyright, pytest-main

fix: adding logging as a fixture on honcho_llm_call and supporting dialectic loging. (#305)
  src/deriver/non_agent/deriver.py
  src/dialectic/core.py
  src/utils/clients.py
  src/utils/finetuning_traces.py
Due: basedpyright, pytest-main

fix: lock on db for tool calls
  src/deriver/agent/core.py
  src/dialectic/core.py
  src/dreamer/specialists.py
  src/utils/agent_tools.py
  tests/bench/explicit.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

docs: initial updates
  README.md
  docs/v2.6.0-alpha/documentation/introduction/overview.mdx
  docs/v2.6.0-alpha/documentation/introduction/quickstart.mdx
Due: none

chore: bump redis (#302)
  pyproject.toml
  uv.lock
Due: none

chore: clean up experimental derivers
  .env.template
  config.toml.example
  src/config.py
  src/deriver/agent/__init__.py
  src/deriver/agent/core.py
  src/deriver/agent/prompts.py
  src/deriver/agent/worker.py
  src/deriver/consumer.py
  src/deriver/deriver.py
  src/deriver/legacy_deriver/deriver.py
  src/deriver/legacy_deriver/prompts.py
  src/deriver/non_agent/__init__.py
  src/deriver/prompts.py
  src/deriver/queue_manager.py
  tests/bench/obex.py
  tests/conftest.py
  tests/deriver/test_queue_processing.py
Due: basedpyright, pytest-main

fix: Update MCP Server to latest SDK version
  mcp/bun.lock
  mcp/package.json
  mcp/worker.ts
Due: none

fix: Force primitive creation to avoid race conditions
  mcp/worker.ts
Due: none

Update MCP Worker (#311)
  mcp/bun.lock
  mcp/package.json
  mcp/worker.ts
Due: none

chore: fix broken link
  README.md
Due: none

chore: coderabbit review cleanup
  migrations/versions/66e08642ecd6_merge_heads.py
  migrations/versions/d429de0e5338_adopt_peer_paradigm.py
  scripts/jsonl_to_json.py
  sdks/python/src/honcho/async_client/client.py
  sdks/python/src/honcho/client.py
  src/crud/document.py
  src/crud/message.py
  src/deriver/deriver.py
  src/deriver/enqueue.py
  src/dreamer/dream_scheduler.py
  src/dreamer/orchestrator.py
  src/dreamer/trees/__init__.py
  src/dreamer/trees/covertree.py
  src/dreamer/trees/graph.py
  src/dreamer/trees/prototype.py
  src/exceptions.py
  src/routers/workspaces.py
  src/schemas.py
  src/utils/agent_tools.py
  tests/alembic/revisions/test_f1a2b3c4d5e6_add_reasoning_tree_columns.py
  tests/bench/longmem.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk

feat: add streaming support to agentic dialectic
  src/crud/message.py
  src/dialectic/chat.py
  src/dialectic/core.py
  src/dreamer/surprisal.py
  src/routers/peers.py
  src/utils/agent_tools.py
  src/utils/clients.py
  src/utils/filter.py
  src/utils/formatting.py
  src/utils/search.py
  tests/bench/beam.py
Due: basedpyright, pytest-main

feat: prometheus token tracking for deriver and dialectic
  src/deriver/deriver.py
  src/dialectic/core.py
  src/prometheus.py
  src/utils/summarizer.py
  src/utils/tokens.py
  tests/integration/test_token_metrics.py
Due: basedpyright, pytest-main

fix: self-loops for isolated nodes
  src/dreamer/trees/graph.py
Due: basedpyright, pytest-main

chore: PascalCase for prometheus parameter typing
  src/deriver/deriver.py
  src/dialectic/core.py
  src/prometheus.py
  src/utils/summarizer.py
  src/utils/tokens.py
Due: basedpyright, pytest-main

fix: summary creation if start_message_id > end_message_id
  src/utils/summarizer.py
Due: basedpyright, pytest-main

fix: change start_id calculation
  src/utils/summarizer.py
Due: basedpyright, pytest-main

fix: use resolved configuration
  src/utils/summarizer.py
Due: basedpyright, pytest-main

feat: add reasoning levels to dialectic agent
  .env.template
  config.toml.example
  src/config.py
  src/dialectic/chat.py
  src/dialectic/core.py
  src/prometheus.py
  src/routers/peers.py
  src/schemas.py
  src/utils/clients.py
  tests/dialectic/__init__.py
  tests/integration/test_token_metrics.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

chore: delete old file, add new fake env vars in unittest.yml
  .env.template
  .github/workflows/unittest.yml
  src/utils/peer_card.py
Due: basedpyright, pytest-main

fix: all fields needed for dialectic reasoning level configs
  .github/workflows/unittest.yml
  src/config.py
Due: basedpyright, pytest-main

feat: track dreaming usage in prometheus
  src/deriver/deriver.py
  src/dialectic/core.py
  src/dreamer/specialists.py
  src/prometheus.py
  src/utils/summarizer.py
  src/utils/tokens.py
Due: basedpyright, pytest-main

chore: Create backwards compatabile conclusion and queue endpoints
  src/crud/__init__.py
  src/crud/deriver.py
  src/crud/document.py
  src/main.py
  src/routers/conclusions.py
  src/routers/observations.py
  src/routers/workspaces.py
  src/schemas.py
Due: basedpyright, pytest-main

fix: use message_seq_in_session
  src/crud/__init__.py
  src/crud/message.py
  src/utils/summarizer.py
Due: basedpyright, pytest-main

fix: clean up method
  src/crud/message.py
  src/utils/summarizer.py
Due: basedpyright, pytest-main

fix: add UNIFIED_TEST_LOG_LEVEL env var; default to WARNING
  tests/unified/runner.py
Due: basedpyright, pytest-main

fix: skip if latest summary on session covers through message_id
  src/utils/summarizer.py
Due: basedpyright, pytest-main

chore: [WIP] rename api routes, clean up api generally -- TODO rebuild stainless + hit sdk with same treatment
  src/crud/peer.py
  src/crud/session.py
  src/crud/webhook.py
  src/crud/workspace.py
  src/deriver/deriver.py
  src/deriver/enqueue.py
  src/main.py
  src/routers/conclusions.py
  src/routers/messages.py
  src/routers/observations.py
  src/routers/peers.py
  src/routers/sessions.py
  src/routers/webhooks.py
  src/routers/workspaces.py
  src/schemas.py
  src/utils/types.py
  tests/bench/beam.py
  tests/bench/locomo.py
  tests/bench/longmem.py
  tests/deriver/conftest.py
  tests/integration/test_enqueue.py
  tests/integration/test_token_metrics.py
  tests/routes/test_conclusions.py
  tests/routes/test_files.py
  tests/routes/test_messages.py
  tests/routes/test_peers.py
  tests/routes/test_queue_status.py
  tests/routes/test_scoped_api.py
  tests/routes/test_sessions.py
  tests/routes/test_validation_api.py
  tests/routes/test_webhooks.py
  tests/routes/test_workspaces.py
  tests/test_advanced_filters.py
  tests/unified/runner.py
  tests/unified/schema.py
Due: basedpyright, pytest-main
