Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$

refactor(agent-tools): remove dead DREAMER_TOOLS and unexposed tools (#1308)
  .env.template
  config.toml.example
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/dialectic/core.py
  src/dialectic/workspace.py
  src/dreamer/specialists.py
  src/telemetry/events/agent.py
  src/utils/agent_tools.py
  tests/llm/test_agent_tool_schemas.py
  tests/test_workspace_chat.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

docs(contributing): add Hermes issue template and issue-filing rules
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/6-hermes.yml
  CONTRIBUTING.md
  docs/v3/contributing/guidelines.mdx
Due: none

refactor(telemetry): share custom-instruction event fields via a mixin
  src/telemetry/events/agent.py
  src/telemetry/events/base.py
  src/telemetry/events/dialectic.py
  src/telemetry/events/dream.py
  src/telemetry/events/representation.py
Due: basedpyright, pytest-main

docs(contributing): replace the docs mirror with a pointer to CONTRIBUTING.md
  CONTRIBUTING.md
  docs/v3/contributing/guidelines.mdx
Due: none

feat(telemetry): record custom instructions in CloudEvents and Langfuse (#1309)
  docs/v3/contributing/configuration.mdx
  src/deriver/deriver.py
  src/dialectic/chat.py
  src/dialectic/core.py
  src/dialectic/workspace.py
  src/dreamer/specialists.py
  src/llm/capture.py
  src/llm/types.py
  src/schemas/configuration.py
  src/telemetry/events/agent.py
  src/telemetry/events/base.py
  src/telemetry/events/dialectic.py
  src/telemetry/events/dream.py
  src/telemetry/events/representation.py
  src/telemetry/events/trace.py
  src/telemetry/langfuse_exporter.py
  src/telemetry/trace_exporter.py
  src/utils/config_helpers.py
  src/utils/summarizer.py
  tests/deriver/test_deriver_processing.py
  tests/telemetry/test_langfuse_exporter.py
  tests/telemetry/test_trace_events.py
  tests/utils/test_config_helpers.py
Due: basedpyright, pytest-main

docs(contributing): send vulnerabilities to SECURITY.md from the Hermes template
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/6-hermes.yml
Due: none

docs(migrations): sharpen the Mem0 migration page
  docs/v3/guides/migrations/mem0.mdx
Due: none

docs(contributing): point agents at the issue rules and route integration reports
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/3-feature-request.yml
  .github/ISSUE_TEMPLATE/4-integration-request.yml
  CLAUDE.md
  CONTRIBUTING.md
  skills/pre-pr/SKILL.md
Due: none

docs(hermes): describe the plugin as a catalog install from this repo
  docs/v3/guides/integrations/hermes.mdx
  hermes-plugin-honcho/HANDOFF.md
  hermes-plugin-honcho/README.md
Due: none

feat(runtime): add a single launcher for the api, deriver and migrate processes (DEV-2964)
  src/runtime.py
  tests/test_runtime.py
Due: basedpyright, pytest-main

feat(cli): add native start backend (DEV-2965)
  honcho-cli/README.md
  honcho-cli/src/honcho_cli/commands/stack.py
  honcho-cli/src/honcho_cli/local/docker.py
  honcho-cli/src/honcho_cli/local/native.py
  honcho-cli/src/honcho_cli/local/profile.py
  honcho-cli/src/honcho_cli/local/supervisor.py
  honcho-cli/tests/test_native.py
Due: none

feat(mock): package provider and support native and Compose presets (DEV-2966)
  .dockerignore
  Dockerfile
  honcho-cli/README.md
  honcho-cli/pyproject.toml
  honcho-cli/src/honcho_cli/commands/stack.py
  honcho-cli/src/honcho_cli/local/docker.py
  honcho-cli/src/honcho_cli/local/env.py
  honcho-cli/src/honcho_cli/local/health.py
  honcho-cli/src/honcho_cli/local/mock.py
  honcho-cli/src/honcho_cli/local/native.py
  honcho-cli/src/honcho_cli/local/profile.py
  honcho-cli/src/honcho_cli/local/supervisor.py
  honcho-cli/tests/test_mock.py
  honcho-cli/tests/test_native.py
  packages/mock-provider/README.md
  packages/mock-provider/pyproject.toml
  packages/mock-provider/src/honcho_mock_provider/__init__.py
  packages/mock-provider/src/honcho_mock_provider/__main__.py
  packages/mock-provider/src/honcho_mock_provider/chat.py
  packages/mock-provider/src/honcho_mock_provider/embeddings.py
  packages/mock-provider/src/honcho_mock_provider/json_coerce.py
  packages/mock-provider/src/honcho_mock_provider/main.py
  packages/mock-provider/src/honcho_mock_provider/schema_gen.py
  packages/mock-provider/src/honcho_mock_provider/schemas.py
  packages/mock-provider/tests/test_package.py
  pyproject.toml
  src/mock_provider/chat.py
  src/mock_provider/embeddings.py
  src/mock_provider/main.py
  src/mock_provider/schema_gen.py
  src/mock_provider/schemas.py
  uv.lock
Due: basedpyright, pytest-main

refactor(reconciler): gate sync_vectors via has_pending, require task payloads
  src/reconciler/scheduler.py
  tests/reconciler/test_backfill.py
  tests/reconciler/test_sync_vectors_enqueue_gate.py
Due: basedpyright, pytest-main

feat(reconciler): generic predicate-driven backfill task (#1275)
  src/deriver/consumer.py
  src/reconciler/backfill.py
  src/reconciler/backfill_document_sources.py
  src/reconciler/scheduler.py
  src/schemas/internal.py
  src/telemetry/events/__init__.py
  src/telemetry/events/reconciliation.py
  src/telemetry/prometheus/metrics.py
  src/utils/queue_payload.py
  tests/conftest.py
  tests/reconciler/test_backfill.py
  tests/reconciler/test_backfill_document_sources.py
  tests/reconciler/test_sync_vectors_enqueue_gate.py
  tests/telemetry/test_events.py
  tests/telemetry/test_metric_zero_init.py
Due: basedpyright, pytest-main

refactor(reconciler): drop retire_after field, count only productive batches
  src/reconciler/backfill.py
  src/telemetry/events/reconciliation.py
  src/utils/work_unit.py
  tests/reconciler/test_backfill.py
Due: basedpyright, pytest-main

docs(hermes-plugin): add catalog banner
  hermes-plugin-honcho/docs/banner.png
Due: none

docs(hermes-plugin): add catalog banner (#1316)
  hermes-plugin-honcho/docs/banner.png
Due: none

docs(contributing): apply review feedback on the Hermes template and docs
  .github/ISSUE_TEMPLATE/6-hermes.yml
  docs/v3/guides/integrations/hermes.mdx
Due: none

docs(contributing): add Hermes issue template and issue-filing rules (#1310)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/3-feature-request.yml
  .github/ISSUE_TEMPLATE/4-integration-request.yml
  .github/ISSUE_TEMPLATE/6-hermes.yml
  CLAUDE.md
  CONTRIBUTING.md
  docs/v3/contributing/guidelines.mdx
  docs/v3/guides/integrations/hermes.mdx
  hermes-plugin-honcho/HANDOFF.md
  hermes-plugin-honcho/README.md
  skills/pre-pr/SKILL.md
Due: none

ci: verify clean Python package installs (DEV-2968)
  .github/workflows/clean-install.yml
  CONTRIBUTING.md
  scripts/check_clean_install.py
  scripts/smoke_installed_package.py
  sdks/python/pyproject.toml
  sdks/python/src/honcho/types.py
  sdks/python/src/honcho/utils/datetime.py
  sdks/python/src/honcho/utils/file_upload.py
  uv.lock
Due: basedpyright, pytest-python-sdk

fix(summarizer): give summaries headroom under their cap and reject degenerate output
  .env.template
  config.toml.example
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/telemetry/prometheus/metrics.py
  src/utils/summarizer.py
  tests/integration/test_token_metrics.py
  tests/llm/test_model_config.py
  tests/routes/test_session_context_summary.py
  tests/telemetry/test_metric_zero_init.py
  tests/utils/test_summarizer.py
Due: basedpyright, pytest-main

feat(kilo-honcho): add Kilo Code plugin forked from opencode-honcho
  kilo-honcho/.gitignore
  kilo-honcho/CHANGELOG.md
  kilo-honcho/LICENSE
  kilo-honcho/README.md
  kilo-honcho/bun.lock
  kilo-honcho/package.json
  kilo-honcho/skills/honcho-memory/SKILL.md
  kilo-honcho/src/core.ts
  kilo-honcho/src/honcho-client.ts
  kilo-honcho/src/import.ts
  kilo-honcho/src/index.ts
  kilo-honcho/src/server.ts
  kilo-honcho/src/tui.ts
  kilo-honcho/src/tui/commands.ts
  kilo-honcho/src/tui/dialogs.ts
  kilo-honcho/src/tui/kilo.ts
  kilo-honcho/tests/context-injection.test.js
  kilo-honcho/tests/conversation-ingestion.test.js
  kilo-honcho/tests/honcho-setup.test.js
  kilo-honcho/tests/import-sdk.test.js
  kilo-honcho/tests/peer-topology.test.js
  kilo-honcho/tests/session-strategy.test.js
  kilo-honcho/tests/telemetry-headers.test.js
  kilo-honcho/tests/tool-capture.test.js
  kilo-honcho/tests/tui-behavior.test.js
  kilo-honcho/tsconfig.json
Due: none

fix(kilo-honcho): keep recall out of Kilo's history and flush on exit
  kilo-honcho/src/index.ts
  kilo-honcho/tests/context-injection.test.js
Due: none

fix(kilo-honcho): stop writing expanded API keys into the shared config
  kilo-honcho/src/index.ts
  kilo-honcho/tests/honcho-setup.test.js
Due: none

ci(kilo-honcho): typecheck, build and test the package on changes
  .github/workflows/kilo-honcho.yml
Due: none

fix(kilo-honcho): give each user peer its own Honcho session
  kilo-honcho/CHANGELOG.md
  kilo-honcho/src/core.ts
  kilo-honcho/src/import.ts
  kilo-honcho/src/index.ts
  kilo-honcho/src/tui/commands.ts
  kilo-honcho/tests/import-sdk.test.js
  kilo-honcho/tests/session-strategy.test.js
Due: none

docs(integrations): add the Kilo Code guide
  README.md
  docs/docs.json
  docs/snippets/integrations-catalog.jsx
  docs/v3/guides/integrations/kilo.mdx
  kilo-honcho/README.md
Due: none

refactor(agent_tools): share truncation metadata between snippet and tool-output paths
  src/utils/agent_tools.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

fix(search_messages): truncate at whole-snippet boundaries and surface the signal (#1265)
  src/utils/agent_tools.py
  tests/utils/test_agent_tools.py
Due: basedpyright, pytest-main

docs(hermes): update tool table and context injection to match plugin
  docs/v3/guides/integrations/hermes.mdx
Due: none

chore: add changelog and version updates
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v3/openapi.json
  mcp/CHANGELOG.md
  mcp/package.json
  mcp/server.json
  pyproject.toml
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/typescript/CHANGELOG.md
  sdks/typescript/package.json
  sdks/typescript/src/api-version.ts
  uv.lock
Due: biome-check, typescript-check

chore: add changelog and version updates (#1321)
  CHANGELOG.md
  README.md
  docs/changelog/compatibility-guide.mdx
  docs/changelog/introduction.mdx
  docs/docs.json
  docs/v3/openapi.json
  mcp/CHANGELOG.md
  mcp/package.json
  mcp/server.json
  pyproject.toml
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/typescript/CHANGELOG.md
  sdks/typescript/package.json
  sdks/typescript/src/api-version.ts
  uv.lock
Due: biome-check, typescript-check

fix(kilo-honcho): make /honcho:status match what the server uses
  docs/v3/guides/integrations/kilo.mdx
  kilo-honcho/CHANGELOG.md
  kilo-honcho/README.md
  kilo-honcho/src/tui/commands.ts
  kilo-honcho/src/tui/kilo.ts
  kilo-honcho/tests/honcho-setup.test.js
  kilo-honcho/tests/tui-behavior.test.js
Due: none

test(document): pin rescoped external candidates to the per-document fetch
  tests/crud/test_document.py
Due: basedpyright, pytest-main

perf(deriver): batch semantic dedup candidate lookups (#1202)
  src/crud/document.py
  tests/crud/test_document.py
Due: basedpyright, pytest-main

docs(changelog): correct ChromaDB modes and add removed settings for 3.3.0
  CHANGELOG.md
  docs/changelog/introduction.mdx
Due: none

fix(summarizer): give summaries headroom under their cap and reject degenerate output (#1318)
  .env.template
  config.toml.example
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/telemetry/prometheus/metrics.py
  src/utils/summarizer.py
  tests/integration/test_token_metrics.py
  tests/llm/test_model_config.py
  tests/routes/test_session_context_summary.py
  tests/telemetry/test_metric_zero_init.py
  tests/utils/test_summarizer.py
Due: basedpyright, pytest-main

docs(changelog): correct ChromaDB modes and add removed settings for 3.3.0 (#1322)
  CHANGELOG.md
  docs/changelog/introduction.mdx
Due: none

docs(changelog): add #1318 and #1202 to 3.3.0
  CHANGELOG.md
  docs/changelog/introduction.mdx
Due: none

docs(changelog): add #1318 and #1202 to 3.3.0 (#1323)
  CHANGELOG.md
  docs/changelog/introduction.mdx
Due: none
