Repository plastic-labs/honcho: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

biome-check:
  name: biome check and format
  entry: bash -c 'cd sdks/typescript && bun run lint:fix'
  language: system
  pass_filenames: false

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system
  require_serial: true
  pass_filenames: false

pytest-main:
  name: pytest (main app)
  entry: uv run pytest tests/ --ignore=tests/alembic/
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-alembic:
  name: pytest (alembic migrations)
  entry: uv run python scripts/run_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: true
  require_serial: true

ensure-alembic-coverage:
  name: ensure alembic migration test coverage
  entry: uv run python scripts/ensure_alembic_tests.py
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest-python-sdk:
  name: pytest (Python SDK)
  entry: bash -c 'if [ -d "sdks/python/tests" ]; then cd sdks/python && uv run pytest; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

typescript-check:
  name: TypeScript build and test
  entry: bash -c 'if [ -f "sdks/typescript/package.json" ]; then cd sdks/typescript && bun run build && bun run test; fi'
  language: system
  stages:
  - pre-push
  pass_filenames: false

feat: refactor benchmark runners to share common functionality
  tests/bench/beam.py
  tests/bench/locomo.py
  tests/bench/longmem.py
  tests/bench/runner_common.py
Due: basedpyright, pytest-main

add: adding script for testing reasoning levels
  chat_levels_comparison/chat_levels_20260121_140317.json
  chat_levels_comparison/chat_levels_20260121_140317.txt
  chat_levels_comparison/chat_levels_20260121_140949.json
  chat_levels_comparison/chat_levels_20260121_140949.txt
  chat_levels_comparison/chat_levels_20260121_142844.json
  chat_levels_comparison/chat_levels_20260121_142844.txt
  scripts/test_reasoning_levels.py
Due: basedpyright

fix: moving script
  test_chat_levels.py
Due: none

fix: update last_user_message handling to use message content instead of ID
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/session.py
  sdks/typescript/src/session.ts
Due: biome-check, basedpyright, pytest-python-sdk, typescript-check

fix: standardize config vs configuration
  .claude/skills/migrate-honcho-py/MIGRATION-CHECKLIST.md
  .claude/skills/migrate-honcho-py/SKILL.md
  .claude/skills/migrate-honcho-ts/DETAILED-CHANGES.md
  .claude/skills/migrate-honcho-ts/MIGRATION-CHECKLIST.md
  .claude/skills/migrate-honcho-ts/SKILL.md
  docs/v3/contributing/configuration.mdx
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/session.py
  sdks/typescript/__tests__/session.test.ts
  sdks/typescript/src/peer.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/validation.ts
  tests/routes/test_conclusions.py
  tests/sdk/test_session.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

feat: enhance dialectic cost calculator with two-phase support
  scripts/dialectic_cost_calculator.py
  src/config.py
  src/dialectic/core.py
  src/telemetry/events/__init__.py
  src/telemetry/events/dialectic.py
  src/utils/clients.py
  tests/telemetry/test_events.py
Due: basedpyright, pytest-main

fix: honcho chat queries the user peer, uses agno architecture
  examples/agno/python/README.md
  examples/agno/python/examples/multi_peer_example.py
  examples/agno/python/examples/simple_example.py
  examples/agno/python/src/honcho_agno/tools.py
Due: none

fix: removing unnecessary code and adding config for observing
  examples/agno/python/examples/multi_tool_example.py
  examples/agno/python/examples/simple_example.py
  examples/agno/python/tests/test_tools.py
Due: none

fix: minor clarifications
  examples/agno/python/README.md
  examples/agno/python/examples/simple_example.py
  examples/agno/python/src/honcho_agno/__init__.py
  examples/agno/python/src/honcho_agno/tools.py
Due: none

fix: adding peer targets
  examples/agno/python/src/honcho_agno/tools.py
Due: none

feat: refactor LLM client layer and update provider identifiers
  CHANGELOG.md
  src/config.py
  src/deriver/deriver.py
  src/dialectic/core.py
  src/dreamer/specialists.py
  src/utils/clients.py
  src/utils/llm/__init__.py
  src/utils/llm/adapters/__init__.py
  src/utils/llm/adapters/anthropic.py
  src/utils/llm/adapters/base.py
  src/utils/llm/adapters/google.py
  src/utils/llm/adapters/groq.py
  src/utils/llm/adapters/openai.py
  src/utils/llm/adapters/openai_common.py
  src/utils/llm/adapters/openrouter.py
  src/utils/llm/adapters/vllm.py
  src/utils/llm/core.py
  src/utils/llm/history.py
  src/utils/llm/models.py
  src/utils/llm/registry.py
  src/utils/llm/tool_loop.py
  src/utils/summarizer.py
  src/utils/types.py
  tests/bench/obex.py
  tests/conftest.py
  tests/integration/test_token_metrics.py
  tests/utils/test_clients.py
Due: basedpyright, pytest-main

feat: enhance validation of output token limits in DialecticSettings
  src/config.py
  src/dialectic/core.py
Due: basedpyright, pytest-main

fix: add _total suffix to metrics (OpenMetrics convention)
  src/telemetry/otel/metrics.py
  tests/integration/test_token_metrics.py
Due: basedpyright, pytest-main

fix: add _total suffix to metrics (OpenMetrics convention) (#340)
  src/telemetry/otel/metrics.py
  tests/integration/test_token_metrics.py
Due: basedpyright, pytest-main

fix: increase timeout on test runners
  tests/bench/runner_common.py
Due: basedpyright, pytest-main

refactor: update semantic search parameter from `last_user_message` to `search_query` across documentation and SDKs
  docs/v2/documentation/core-concepts/features/get-context.mdx
  docs/v2/documentation/reference/sdk.mdx
  docs/v3/documentation/features/get-context.mdx
  docs/v3/documentation/reference/sdk.mdx
  docs/v3/openapi.json
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/session.py
  sdks/typescript/src/session.ts
  sdks/typescript/src/types/api.ts
  sdks/typescript/src/validation.ts
  src/routers/sessions.py
  tests/bench/beam.py
  tests/bench/locomo.py
  tests/bench/longmem.py
  tests/routes/test_sessions.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

chore: openapi v3 formatted how we like it
  docs/v3/openapi.json
Due: none

fix: reorder docs, update examples in README, update skills
  .claude/skills/migrate-honcho-py/MIGRATION-CHECKLIST.md
  .claude/skills/migrate-honcho-py/SKILL.md
  .claude/skills/migrate-honcho-ts/DETAILED-CHANGES.md
  .claude/skills/migrate-honcho-ts/MIGRATION-CHECKLIST.md
  .claude/skills/migrate-honcho-ts/SKILL.md
  README.md
  docs/docs.json
Due: none

fix: message type option in sdk reference
  docs/v3/documentation/reference/sdk.mdx
Due: none

chore: update remaining getcontext and representation language
  README.md
Due: none

refactor: update semantic search parameter from `last_user_message` to `search_query` across documentation and SDKs (#341)
  .claude/skills/migrate-honcho-py/MIGRATION-CHECKLIST.md
  .claude/skills/migrate-honcho-py/SKILL.md
  .claude/skills/migrate-honcho-ts/DETAILED-CHANGES.md
  .claude/skills/migrate-honcho-ts/MIGRATION-CHECKLIST.md
  .claude/skills/migrate-honcho-ts/SKILL.md
  README.md
  docs/docs.json
  docs/v2/documentation/core-concepts/features/get-context.mdx
  docs/v2/documentation/reference/sdk.mdx
  docs/v3/documentation/features/get-context.mdx
  docs/v3/documentation/reference/sdk.mdx
  docs/v3/openapi.json
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/session.py
  sdks/typescript/src/session.ts
  sdks/typescript/src/types/api.ts
  sdks/typescript/src/validation.ts
  src/routers/sessions.py
  tests/bench/beam.py
  tests/bench/locomo.py
  tests/bench/longmem.py
  tests/routes/test_sessions.py
Due: biome-check, basedpyright, pytest-main, pytest-python-sdk, typescript-check

chore: refactor test runners to be cleaner, deduplicate code, add params for testing remote servers
  tests/bench/beam.py
  tests/bench/locomo.py
  tests/bench/longmem.py
  tests/bench/runner_common.py
Due: basedpyright, pytest-main

fix: don't expose metrics endpoints for fly to scrape
  fly.toml
Due: none

fix: don't expose metrics endpoints for fly to scrape (#342)
  fly.toml
Due: none

fix: turn off summaries on test runs directly
  tests/bench/beam.py
  tests/bench/locomo.py
  tests/bench/longmem.py
  tests/bench/run_tests.py
  tests/bench/runner_common.py
Due: basedpyright, pytest-main

fix: bump memory from 512mb to 1gb
  fly.toml
Due: none

fix: bump memory from 512mb to 1gb (#343)
  fly.toml
Due: none

feat: replace OTEL with Prometheus
  fly.toml
  pyproject.toml
  src/config.py
  src/deriver/__main__.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/dialectic/core.py
  src/dreamer/specialists.py
  src/main.py
  src/routers/messages.py
  src/routers/peers.py
  src/telemetry/__init__.py
  src/telemetry/otel/__init__.py
  src/telemetry/otel/metrics.py
  src/telemetry/prometheus/__init__.py
  src/telemetry/prometheus/metrics.py
  src/utils/summarizer.py
  src/utils/tokens.py
  tests/integration/test_token_metrics.py
  tests/telemetry/test_emit_function.py
  uv.lock
Due: basedpyright, pytest-main

fix: clean Redis URL by removing query parameters in cache client and update flush mode logging in benchmark runner
  src/cache/client.py
  tests/bench/runner_common.py
Due: basedpyright, pytest-main

fix: second pass of docs and cleanup
  .env.template
  .gitignore
  README.md
  config.toml.example
  docker-compose.yml.example
  docs/v3/contributing/configuration.mdx
  src/config.py
  src/deriver/__main__.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/dialectic/core.py
  src/dreamer/specialists.py
  src/main.py
  src/routers/messages.py
  src/routers/peers.py
  src/telemetry/prometheus/metrics.py
  src/utils/summarizer.py
  src/utils/tokens.py
  tests/integration/test_token_metrics.py
  tests/telemetry/conftest.py
Due: basedpyright, pytest-main

switch OTEL metrics to prometheus (#344)
  .env.template
  .gitignore
  README.md
  config.toml.example
  docker-compose.yml.example
  docs/v3/contributing/configuration.mdx
  fly.toml
  pyproject.toml
  src/config.py
  src/deriver/__main__.py
  src/deriver/deriver.py
  src/deriver/queue_manager.py
  src/dialectic/core.py
  src/dreamer/specialists.py
  src/main.py
  src/routers/messages.py
  src/routers/peers.py
  src/telemetry/__init__.py
  src/telemetry/otel/__init__.py
  src/telemetry/otel/metrics.py
  src/telemetry/prometheus/__init__.py
  src/telemetry/prometheus/metrics.py
  src/utils/summarizer.py
  src/utils/tokens.py
  tests/integration/test_token_metrics.py
  tests/telemetry/conftest.py
  tests/telemetry/test_emit_function.py
  uv.lock
Due: basedpyright, pytest-main

chore: lazy-load imports
  src/dreamer/trees/graph.py
  src/dreamer/trees/sklearn_wrapper.py
  src/vector_store/__init__.py
Due: basedpyright, pytest-main

fix: lazy-load pdfplumber
  src/utils/files.py
Due: basedpyright, pytest-main

fix: (docs) update changelog and examples
  CHANGELOG.md
  docs/changelog/introduction.mdx
  examples/crewai/python/src/honcho_crewai/tools.py
  examples/langgraph/python/main.py
  examples/langgraph/typescript/main.ts
Due: none

chore: lazy-load imports (#345)
  src/dreamer/trees/graph.py
  src/dreamer/trees/sklearn_wrapper.py
  src/utils/files.py
  src/vector_store/__init__.py
Due: basedpyright, pytest-main

chore: (docs) Add note on Vector Stores
  CHANGELOG.md
Due: none

feat: make session_name nullable for documents and update related SDKs
  migrations/versions/e4eba9cfaa6f_make_document_session_name_nullable.py
  sdks/python/src/honcho/aio.py
  sdks/python/src/honcho/api_types.py
  sdks/python/src/honcho/client.py
  sdks/python/src/honcho/conclusions.py
  sdks/typescript/__tests__/conclusions.test.ts
  sdks/typescript/src/client.ts
  sdks/typescript/src/conclusions.ts
  sdks/typescript/src/types/api.ts
  src/crud/document.py
  src/deriver/enqueue.py
  src/dreamer/orchestrator.py
  src/dreamer/specialists.py
  src/models.py
  src/schemas.py
  src/telemetry/events/dream.py
  src/utils/agent_tools.py
  src/utils/queue_payload.py
  src/utils/representation.py
  tests/routes/test_conclusions.py
  tests/sdk/test_conclusions.py
Due: biome-check, basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage, pytest-python-sdk, typescript-check

chore: add migration test
  migrations/versions/e4eba9cfaa6f_make_document_session_name_nullable.py
  tests/alembic/revisions/__init__.py
  tests/alembic/revisions/test_e4eba9cfaa6f_make_document_session_name_nullable.py
Due: basedpyright, pytest-main, pytest-alembic, ensure-alembic-coverage

Path conditions:
  biome-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json|jsonc)$
  basedpyright: any of: ^(src/|tests/|sdks/python/|scripts/).*\.py$
  pytest-main: any of: ^(src/|tests/).*\.py$
  pytest-alembic: any of: ^(migrations/versions/.*\.py|tests/alembic/.*\.py)$
  ensure-alembic-coverage: any of: ^(migrations/versions/.*\.py|tests/alembic/revisions/.*\.py)$
  pytest-python-sdk: any of: ^sdks/python/.*\.py$
  typescript-check: any of: ^sdks/typescript/.*\.(js|ts|jsx|tsx|json)$
